<template>
  <div id="manageAsset">
    <v-card class="pa-0 ma-0" elevation="1" tile color="white" height="72">
      <v-container grid-list-xs>
        <v-row no-gutters>
          <v-col cols="12" md="9" style="font-size: 1.6rem">
            <v-row no-gutters>
              <v-col cols="12" md="3" class="hidden-sm-and-down"
                >จัดการผู้ใช้งาน</v-col
              >
            </v-row>
          </v-col>
          <v-col cols="12" md="3" class="px-1">
            <v-btn
              height="40"
              block
              outlined
              color="blue"
              justify-center
              @click="openInsertUser()"
              >เพิ่มผู้ใช้งาน</v-btn
            ></v-col
          >
        </v-row>
      </v-container>
    </v-card>
    <v-container grid-list-xs>
      <v-text-field
        class="pb-3"
        v-model="search"
        append-icon="mdi-magnify"
        label="ค้นหาผู้ใช้งาน"
        single-line
        hide-details
        color="blue"
      ></v-text-field>
      <v-data-table
        :headers="headers"
        :items="userdata"
        :items-per-page="5"
        class="elevation-1"
        :search="search"
      >
        <template v-slot:[`item.edit`]="{ item }">
          <v-btn @click="openUpdateUser(item)" text rounded
            ><v-icon color="blue">create</v-icon></v-btn
          >
        </template>

        <template v-slot:[`item.role_id`]="{ item }">
          <v-chip
            class="ma-2 white--text"
            v-if="item.role_id == 1"
            color="blue"
          >
            แอดมิน
          </v-chip>
          <v-chip class="ma-2" v-if="item.role_id == 2" color="yellow">
            ผู้ใช้งาน
          </v-chip>
        </template>

        <template v-slot:[`item.active`]="{ item }">
          <v-switch
            v-model="item.is_active"
            inset
            color="blue darken-1"
            @click="checkIsActive(item.is_active, item)"
          ></v-switch>
        </template>
      </v-data-table>
    </v-container>

    <v-dialog max-width="900" persistent v-model="dialog.insert">
      <v-card class="pa-3">
        <v-card
          class="pa-2 mb-5 white--text"
          color="blue"
          style="font-size: 1.3rem"
          >เพิ่ม</v-card
        >
        <v-form v-model="valid" ref="form" lazy-validation>
          <v-row no-gutters class="pb-5">
            <v-col cols="12">
              <v-text-field
                v-model="dialog.data.name"
                counter
                maxlength="50"
                prepend-icon="person"
                label="ชื่อ-นามสกุล"
                color="blue"
                required
              ></v-text-field>
            </v-col>
            <v-col cols="12" md="6">
              <v-select
                v-model="dialog.data.position"
                :items="position"
                item-text="position_name"
                return-object
                color="blue"
                prepend-icon="view_list"
                label="แผนก"
                required
              ></v-select>
            </v-col>
            <v-col cols="12" md="6">
              <v-select
                v-model="dialog.data.role"
                :items="role"
                item-text="name"
                return-object
                color="blue"
                prepend-icon="swap_vert"
                label="สิทธิ์"
                required
              ></v-select>
            </v-col>
            <v-col cols="12" md="6">
              <v-text-field
                v-model="dialog.data.username"
                counter
                color="blue"
                prepend-icon="text_snippet"
                maxlength="50"
                label="ชื่อบัญชี"
                required
              ></v-text-field>
            </v-col>
            <v-col cols="12" md="6">
              <v-text-field
                v-model="dialog.data.password"
                counter
                color="blue"
                prepend-icon="list"
                maxlength="50"
                label="รหัสผ่าน"
                required
              ></v-text-field>
            </v-col>
          </v-row>
          <v-row no-gutters>
            <v-col cols="12" class="hidden-sm-and-down">
              <v-btn outlined class="mr-4 px-5" @click="closeInsert()"
                >ปิด</v-btn
              >
              <v-btn
                color="blue"
                :disabled="!valid"
                outlined
                class="mr-4 px-8 white--text"
                @click="validate()"
                >เพิ่ม</v-btn
              >
            </v-col>
            <v-col cols="6" class="hidden-md-and-up pa-1">
              <v-btn block outlined @click="closeInsert()">ปิด</v-btn>
            </v-col>
            <v-col cols="6" class="hidden-md-and-up pa-1">
              <v-btn
                color="blue"
                block
                outlined
                :disabled="!valid"
                class="white--text"
                @click="validate()"
                >เพิ่ม</v-btn
              >
            </v-col>
          </v-row>
        </v-form>
      </v-card>
    </v-dialog>

    <v-dialog max-width="900" persistent v-model="dialog.update">
      <v-card class="pa-3">
        <v-card
          class="pa-2 mb-5 white--text"
          color="blue"
          style="font-size: 1.3rem"
          >แก้ไข</v-card
        >
        <v-row no-gutters class="pb-5">
          <v-col cols="12">
            <v-text-field
              v-model="dialog.data.name"
              counter
              maxlength="50"
              prepend-icon="person"
              label="ชื่อ-นามสกุล"
              required
              :rules="userRule"
            ></v-text-field>
          </v-col>
          <v-col cols="12" md="6">
            <v-select
              v-model="dialog.data.position"
              :items="position"
              item-text="position_name"
              return-object
              color="blue"
              prepend-icon="pan_tool"
              :rules="[(v) => !!v || 'กรุณาเลือกสิทธิ์']"
              label="สิทธิ์"
              required
            ></v-select>
          </v-col>
          <v-col cols="12" md="6">
            <v-select
              v-model="dialog.data.role"
              :items="role"
              item-text="name"
              return-object
              color="blue"
              prepend-icon="swap_vert"
              :rules="[(v) => !!v || 'กรุณาเลือกสิทธิ์']"
              label="สิทธิ์"
              required
            ></v-select>
          </v-col>
          <v-col cols="12" md="6">
            <v-text-field
              v-model="dialog.data.username"
              counter
              color="blue"
              prepend-icon="text_snippet"
              maxlength="50"
              label="ชื่อบัญชี"
              required
              :rules="userRule"
            ></v-text-field>
          </v-col>
          <v-col cols="12" md="6">
            <v-text-field
              v-model="dialog.data.password"
              counter
              color="blue"
              prepend-icon="list"
              maxlength="50"
              label="รหัสผ่าน"
              required
              :rules="userRule"
            ></v-text-field>
          </v-col>
        </v-row>

        <v-row no-gutters>
          <v-col cols="12" class="hidden-sm-and-down">
            <v-btn outlined class="mr-4 px-5" @click="closeUpdate()">ปิด</v-btn>
            <v-btn
              color="blue"
              outlined
              class="mr-4 px-8 white--text"
              @click="UpdateUserdata()"
              >บันทึก</v-btn
            >
          </v-col>
          <v-col cols="6" class="hidden-md-and-up pa-1">
            <v-btn block outlined @click="closeUpdate()">ปิด</v-btn>
          </v-col>
          <v-col cols="6" class="hidden-md-and-up pa-1">
            <v-btn
              color="blue"
              block
              outlined
              class="white--text"
              @click="UpdateUserdata()"
              >บันทึก</v-btn
            >
          </v-col>
        </v-row>
      </v-card>
    </v-dialog>

    <v-dialog width="300" v-model="dialog.userUnUsed">
      <v-card class="pa-3">
        <v-card
          class="pa-2 mb-5 white--text"
          color="red"
          style="font-size: 1.3rem"
          >ปิดการใช้งานหรือไม่</v-card
        >
        {{ dialog.data }}
        <v-row no-gutters>
          <v-col cols="6" md="6" class="pr-1">
            <v-btn block outlined height="2.5rem" @click="closeDisibleUser()">
              ยกเลิก
            </v-btn>
          </v-col>
          <v-col cols="6" md="6" class="pl-1">
            <v-btn
              block
              outlined
              color="red"
              height="2.5rem"
              @click="DisibleUserdata()"
            >
              ปิดใช้งาน
            </v-btn>
          </v-col>
        </v-row>
      </v-card>
    </v-dialog>

    <v-dialog width="300" v-model="dialog.userUsed">
      <v-card class="pa-3">
        <v-card
          class="pa-2 mb-5 white--text"
          color="light-green"
          style="font-size: 1.3rem"
          >ต้องการเปิดใช้งานหรือไม่</v-card
        >
        {{ dialog.data }}
        <v-row no-gutters>
          <v-col cols="6" md="6" class="pr-1">
            <v-btn block outlined height="2.5rem" @click="closeOnUser()">
              ปิด
            </v-btn>
          </v-col>
          <v-col cols="6" md="6" class="pl-1">
            <v-btn
              block
              outlined
              color="light-green"
              height="2.5rem"
              @click="onUserdata()"
            >
              เปิดใช้งาน
            </v-btn>
          </v-col>
        </v-row>
      </v-card>
    </v-dialog>

    <v-snackbar
      persistent
      v-model="snackbar"
      :timeout="3000"
      top
      right
      color="light-green"
    >
      <v-row no-gutters>
        <v-col cols="2" style="font-size: 1.1rem" class="text--white"
          ><v-icon large>check_circle</v-icon></v-col
        >
        <v-col
          cols="9"
          style="font-size: 1.1rem"
          class="text--white"
          align-self="center"
          >{{ resmessage }}</v-col
        >
        <v-col cols="1" align="right">
          <v-btn fab small text @click.native="snackbar = false"
            ><v-icon small>close</v-icon></v-btn
          >
        </v-col>
      </v-row>
    </v-snackbar>
  </div>
</template>

<script>
import api from "../../../services/asset";
export default {
  data() {
    return {
      snackbar: false,
      position: [],
      role: [
        { id: 1, name: "แอดมิน" },
        { id: 2, name: "ผู้ใช้งาน" },
      ],
      search: "",
      valid: true,
      resmessage: "",
      userdata: [],
      dialog: {
        data: {
          user_code: "",
          name: "",
          username: "",
          password: "",
          position: { id: "", position_name: "" },
          role: { id: "", position_name: "" },
        },
        userUnUsed: false,
        userUsed: false,
        temp: [],
        insert: false,
        update: false,
        delete: false,
      },
      headers: [
        { text: "สถานะ", value: "active" },
        { text: "รหัสผู้ใช้", value: "user_code" },
        { text: "ชื่อ-นามสกุล", value: "name" },
        { text: "แผนก", value: "position_name" },
        { text: "ชื่อบัญชี", value: "username" },
        { text: "รหัสผ่าน", value: "password" },
        { text: "สิทธิ์", value: "role_id" },
        { text: "แก้ไข", value: "edit", align: "center" },
      ],
      userRule: [(v) => !!v || "กรุณากรอกข้อมูล"],
    };
  },
  methods: {
    validate() {
      if (this.$refs.form.validate() == true) {
        this.InsertUserdata();
      } else {
        //
      }
    },
    openInsertUser() {
      this.dialog.insert = true;
      this.ListDepartmantdata();
    },
    closeInsert() {
      this.dialog.data = {
        active: "",
        id: "",
        is_active: "",
        name: "",
        password: "",
        user_code: "",
        username: "",
        department: "",
        role_id: "",
      };
      this.dialog.insert = false;
      this.listUserdata();
    },
    InsertUserdata() {
      api.InsertUser(
        this.$store.state.header,
        {
          name: this.dialog.data.name,
          position_id: this.dialog.data.position.id,
          role_id: this.dialog.data.role.id,
          username: this.dialog.data.username,
          password: this.dialog.data.password,
        },
        (result) => {
          this.resmessage = result.message;
          this.snackbar = true;
          this.dialog.temp = [];
          this.dialog.insert = false;
          this.dialog.data = [];
          this.listUserdata();
        },
        (error) => {
          console.log(error);
        }
      );
    },
    openUpdateUser(val) {
      this.dialog.update = true;
      this.SelectUserdata(val);
      this.ListDepartmantdata();
    },
    SelectUserdata(val) {
      api.SelectUser(
        this.$store.state.header,
        {
          user_code: val.user_code,
        },
        (result) => {
          this.dialog.data = result.data;
        },
        (error) => {
          console.log(error);
        }
      );
    },
    UpdateUserdata() {
      api.UpdateUser(
        this.$store.state.header,
        {
          user_code: this.dialog.data.user_code,
          name: this.dialog.data.name,
          position_id: this.dialog.data.position.id,
          role_id: this.dialog.data.role.id,
          username: this.dialog.data.username,
          password: this.dialog.data.password,
        },
        (result) => {
          this.resmessage = result.message;
          this.snackbar = true;
          this.dialog.update = false;
          this.dialog.data = [];
          this.listUserdata();
        },
        (error) => {
          console.log(error);
        }
      );
    },
    closeUpdate() {
      location. reload()
      // this.dialog.update = false;
      // this.listUserdata();
    },
    checkIsActive(val, val2) {
      if (val == true) {
        this.onUserdata(val2);
      } else {
        this.DisibleUserdata(val2);
      }
    },
    DisibleUserdata(val) {
      api.ChangeUserStatus(
        this.$store.state.header,
        {
          user_code: val.user_code,
          status: 0,
        },
        (result) => {
          this.resmessage = result.message;
          this.snackbar = true;
          this.dialog.userUnUsed = false;
        },
        (error) => {
          console.log(error);
        }
      );
    },
    onUserdata(val) {
      api.ChangeUserStatus(
        this.$store.state.header,
        {
          user_code: val.user_code,
          status: 1,
        },
        (result) => {
          this.resmessage = result.message;
          this.snackbar = true;
          this.dialog.userUsed = false;
        },
        (error) => {
          console.log(error);
        }
      );
    },
    listUserdata() {
      api.ListUser(
        this.$store.state.header,
        {
          id: 0,
        },
        (result) => {
          this.userdata = result.data;
        },
        (error) => {
          console.log(error);
        }
      );
    },
    ListDepartmantdata() {
      api.ListDepartment(
        {
          id: 0,
        },
        (result) => {
          console.log(result);
          this.position = result.data;
        },
        (error) => {
          console.log(error);
        }
      );
    },
  },
  mounted() {
    this.listUserdata();
  },
};
</script>