<template>
  <div>
    <v-card class="pa-3">
      <div align="right" class="hidden-md-and-up">
        <v-icon color="black" @click="cancelDetailAssetItem()">cancel</v-icon>
      </div>
      <v-card
        class="pa-2 mb-3 white--text hidden-sm-and-down"
        color="blue darken-1"
        style="font-size: 1.5rem"
        ><v-row no-gutters
          >รายละเอียด <v-spacer></v-spacer
          ><v-icon color="white" @click="cancelDetailAssetItem()"
            >cancel</v-icon
          ></v-row
        >
      </v-card>
      <v-row no-gutters class="mb-5">
        <v-col cols="12" md="5" align="center">
          <v-img
            class="hidden-sm-and-down mb-0"
            max-height="420"
            max-width="90%"
            :src="
              itemData.image_url == ''
                ? 'https://firebasestorage.googleapis.com/v0/b/np-storage-it.appspot.com/o/IT_ASSET-2021-01-29%3A13%3A35%3A121?alt=media'
                : itemData.image_url
            "
          />
          <v-img
            class="hidden-md-and-up mb-0"
            max-height="300"
            max-width="90%"
            :src="
              itemData.image_url == ''
                ? 'https://firebasestorage.googleapis.com/v0/b/np-storage-it.appspot.com/o/IT_ASSET-2021-01-29%3A13%3A35%3A121?alt=media'
                : itemData.image_url
            "
          />
        </v-col>
        <v-col cols="12" md="7">
          <v-row no-gutters>
            <v-col cols="12" style="font-size: 2rem" class="hidden-sm-and-down"
              >{{ itemData.name }}
              <v-icon color="red" @click="openDeleteAssetItem(itemData)"
                >delete</v-icon
              ></v-col
            >
          </v-row>
          <v-row no-gutters>
            <v-col cols="12" style="font-size: 1.5rem" class="hidden-md-and-up"
              >{{ itemData.name }}
              <v-icon color="red" @click="openDeleteAssetItem(itemData)"
                >delete</v-icon
              ></v-col
            >
            <v-col cols="12" style="font-size: 1.3rem">ข้อมูลทั่วไป</v-col>
            <v-col cols="12">
              <div class="hidden-md-and-up">
                <v-icon>widgets</v-icon> : {{ itemData.id }}
              </div>
              <div class="hidden-sm-and-down">
                รหัสสินทรัพย์ : {{ itemData.id }}
              </div>
            </v-col>
            <v-col cols="12">
              <div class="hidden-md-and-up">
                <v-icon>description</v-icon> : {{ itemData.description }}
                {{ itemData.detail }}
              </div>
              <div class="hidden-sm-and-down">
                รายละเอียด : {{ itemData.description }}
              </div>
            </v-col>
            <v-col cols="12" md="6">
              <div class="hidden-md-and-up">
                <v-icon>view_list</v-icon> : {{ itemData.category_name }}
              </div>
              <div class="hidden-sm-and-down">
                หมวดหมู่ : {{ itemData.category_name }}
              </div>
            </v-col>
            <v-col cols="12" md="6">
              <div class="hidden-md-and-up">
                <v-icon>view_stream</v-icon> : {{ itemData.sub_category_name }}
              </div>
              <div class="hidden-sm-and-down">
                ประเภท : {{ itemData.sub_category_name }}
              </div>
            </v-col>
            <v-col cols="12" md="6">
              <div v-if="itemData.serial_number !== ''">
                <div class="hidden-md-and-up">
                  <v-icon>qr_code</v-icon> : {{ itemData.serial_number }}
                </div>
                <div class="hidden-sm-and-down">
                  ซีเรียว : {{ itemData.serial_number }}
                </div>
              </div>
            </v-col>
            <v-col cols="12" md="6">
              <div v-if="itemData.available !== 0">
                <div class="hidden-md-and-up">
                  <v-icon>mdi-map-marker</v-icon> : {{ itemData.location }}
                </div>
                <div class="hidden-sm-and-down">
                  ที่เก็บ : {{ itemData.location }}
                </div>
              </div>
            </v-col>
            <v-col cols="12">
              <div class="hidden-md-and-up">
                <v-icon>engineering</v-icon> : {{ itemData.contact }}
              </div>
              <div class="hidden-sm-and-down">
                ข้อมูลซ่อมบำรุง : {{ itemData.contact }}
              </div>
            </v-col>
            <v-col cols="12" style="font-size: 1.3rem" class="pt-2"
              >การรับประกัน</v-col
            >
            <v-col cols="12">
              <div v-if="itemData.started_warranty == ''">
                <div class="hidden-md-and-up">
                  <v-icon color="green">security</v-icon> : ไม่มีการรับประกัน
                </div>
                <div class="hidden-sm-and-down">
                  การรับประกัน : ไม่มีการรับประกัน
                </div>
              </div>
              <div v-else>
                <div v-if="itemData.warranty === 'หมดประกันแล้ว'">
                  <v-row no-gutters>
                    <v-col cols="12" md="6">
                      <div class="hidden-md-and-up">
                        <v-icon>event_note</v-icon> :
                        {{ dateFormatDMY(itemData.started_warranty) }}
                      </div>
                      <div class="hidden-sm-and-down">
                        วันเริ่มรับประกัน :
                        {{ dateFormatDMY(itemData.started_warranty) }}
                      </div>
                    </v-col>
                    <v-col cols="12" md="6">
                      <div class="hidden-md-and-up">
                        <v-icon>event_available</v-icon> :
                        {{ dateFormatDMY(itemData.warranty_date) }}
                      </div>
                      <div class="hidden-sm-and-down">
                        สุดการกรับประกัน :
                        {{ dateFormatDMY(itemData.warranty_date) }}
                      </div>
                    </v-col>
                    <v-col cols="12" md="6">
                      <div class="hidden-md-and-up">
                        <v-icon>schedule</v-icon> :
                        {{ itemData.warranty_month }} เดือน
                      </div>
                      <div class="hidden-sm-and-down">
                        รับประกัน : {{ itemData.warranty_month }} เดือน
                      </div>
                    </v-col>
                    <v-col cols="12" md="6">
                      <div class="hidden-md-and-up">
                        <v-icon color="red">dangerous</v-icon> :
                        {{ itemData.warranty }}
                      </div>
                      <div class="hidden-sm-and-down red--text">
                        {{ itemData.warranty }}
                      </div>
                    </v-col>
                  </v-row>
                </div>
                <div v-else>
                  <v-row no-gutters>
                    <v-col cols="12" md="6">
                      <div class="hidden-md-and-up">
                        <v-icon>event_note</v-icon> :
                        {{ dateFormatDMY(itemData.started_warranty) }}
                      </div>
                      <div class="hidden-sm-and-down">
                        วันเริ่มรับประกัน :
                        {{ dateFormatDMY(itemData.started_warranty) }}
                      </div>
                    </v-col>
                    <v-col cols="12" md="6">
                      <div class="hidden-md-and-up">
                        <v-icon>event_available</v-icon> :
                        {{ dateFormatDMY(itemData.warranty_date) }}
                      </div>
                      <div class="hidden-sm-and-down">
                        สุดการกรับประกัน :
                        {{ dateFormatDMY(itemData.warranty_date) }}
                      </div>
                    </v-col>
                    <v-col cols="12" md="6">
                      <div class="hidden-md-and-up">
                        <v-icon>schedule</v-icon> :
                        {{ itemData.warranty_month }} เดือน
                      </div>
                      <div class="hidden-sm-and-down">
                        รับประกัน : {{ itemData.warranty_month }} เดือน
                      </div>
                    </v-col>
                    <v-col cols="12" md="6">
                      <div class="hidden-md-and-up">
                        <v-icon color="green">security</v-icon> :
                        {{ itemData.warranty }}
                      </div>
                      <div class="hidden-sm-and-down green--text">
                        เหลือประกันอีก : {{ itemData.warranty }}
                      </div>
                    </v-col>
                  </v-row>
                </div>
              </div>
            </v-col>
            <v-col cols="12" style="font-size: 1.3rem" class="pt-2"
              >ค่าเสื่อมสินทรัพย์</v-col
            >
            <v-col cols="12">
              <v-row no-gutters>
                <v-col cols="12" md="6">
                  <div class="hidden-md-and-up">
                    <v-icon>monetization_on</v-icon> : {{ itemData.prices }} บาท
                  </div>
                  <div class="hidden-sm-and-down">
                    ราคาสินทรัพย์ : {{ itemData.prices }} บาท
                  </div>
                </v-col>
                <v-col cols="12" md="6">
                  <div class="hidden-md-and-up">
                    <v-icon>trending_down</v-icon> : {{ itemData.percents }} %
                    ต่อปี
                  </div>
                  <div class="hidden-sm-and-down">
                    ค่าเสื่อม : {{ itemData.percents }} % ต่อปี
                  </div>
                </v-col>
                <v-col cols="12" md="6">
                  <div class="hidden-md-and-up">
                    <v-icon>money_off</v-icon> : {{ price_now }} บาท
                  </div>
                  <div class="hidden-sm-and-down">
                    มูลค่าสินทรัพย์คงเหลือ :
                    {{ itemData.calculated_prices }} บาท
                  </div>
                </v-col>
              </v-row>
            </v-col>
            <v-col cols="12">
              <div v-if="itemData.available === 0">
                สถานที่ล่าสุด
                <v-card>
                  <GmapMap
                    v-bind:center="itemData.position[0]"
                    v-bind:zoom="15"
                    map-type-id="terrain"
                    style="width: 100%; height: 150px"
                  >
                    <GmapMarker
                      v-bind:key="index"
                      v-bind:position="itemData.position[0]"
                      v-bind:clickable="true"
                    />
                  </GmapMap>
                </v-card>
              </div>
            </v-col>
            <v-col cols="12">
              <v-row no-gutters>
                <v-col cols="12" class="hidden-sm-and-down"
                  >บาร์โค้ด {{ itemData.barcode }}
                  <v-btn fab text small color="grey">
                    <v-icon color="red" @click="openPrintQrcode(itemData.id)">
                      local_printshop</v-icon
                    >
                  </v-btn>
                </v-col>
                <v-col cols="12" class="pt-2 hidden-sm-and-down">
                  <barcode
                    v-bind:value="itemData.barcode"
                    height="80"
                    width="2"
                  ></barcode
                ></v-col>
                <v-col cols="12" class="pt-2 hidden-md-and-up"
                  ><barcode
                    v-bind:value="itemData.barcode"
                    height="60"
                  ></barcode
                ></v-col>
              </v-row>
            </v-col>

            <v-col cols="12" md="6" class="pa-1">
              <v-btn
                small
                block
                color="black"
                outlined
                :disabled="itemData.available == 0"
                style="height: 35px"
                @click="cancelDetailAssetItem()"
                >ปิด</v-btn
              >
            </v-col>
            <v-col cols="12" md="6" class="pa-1">
              <v-btn
                small
                block
                outlined
                color="red"
                style="height: 35px"
                @click="openUpdateAssetItem(itemData)"
                >แก้ไข</v-btn
              >
            </v-col>
          </v-row>
        </v-col>
      </v-row>
    </v-card>

    <v-dialog
      transition="dialog-top-transition"
      max-width="1100"
      v-model="Update_group"
    >
      <UpdateAssetItemDamage
        :AssetItem="group_data"
        @close="closeUpdateAssetItem"
        @cancel="cancelUpdate"
      />
    </v-dialog>

    <v-dialog
      transition="dialog-top-transition"
      max-width="500"
      v-model="Delete_group"
    >
      <DeleteAssetItemDamage
        :AssetItem="group_data"
        @close="closeDeleteAssetItem"
        @cancel="cancelDelete"
      />
    </v-dialog>
  </div>
</template>

<script>
import VueBarcode from "vue-barcode";
import api from "../../services/asset";
import UpdateAssetItemDamage from "../../components/AssetItemDamage/UpdateAssetItemDamage.vue";
import DeleteAssetItemDamage from "../../components/AssetItemDamage/DeleteAssetItemDamage.vue";
export default {
  name: "DetailAssetItem",
  props: ["Asset"],
  data() {
    return {
      itemData: [],
      group_data: [],
      itemID: this.Asset,
      Update_group: false,
      Delete_group: false,
      dataclose: false,
      switch1: true,
      depreciation: "",
      price_now: "",
    };
  },
  components: {
    UpdateAssetItemDamage,
    DeleteAssetItemDamage,
    barcode: VueBarcode,
  },
  methods: {
    openPrintQrcode(val) {
      window.open("/PrintQrcodeMaintenance/" + val);
    },
    calpriced() {
      try {
        api.Caldateprice(
          this.$store.state.header,
          {
            buyingdate: this.itemData.buying_date,
            percents: parseFloat(this.itemData.percents),
            prices: parseFloat(this.itemData.prices),
          },
          (result) => {
            this.calprice = result.data;
            (this.depreciation = this.calprice.percent),
              (this.price_now = this.calprice.priced);
          },
          (error) => {
            console.log(error);
          }
        );
      } catch (error) {
        console.log(error);
      }
    },
    openUpdateAssetItem(val) {
      this.group_data = val;
      this.Update_group = true;
    },
    openDeleteAssetItem(val) {
      this.group_data = val;
      this.Delete_group = true;
    },
    cancelDetailAssetItem() {
      this.$emit("cancel", this.dataclose);
    },
    closeUpdateAssetItem(close) {
      this.Update_group = close;
      this.$emit("close", this.dataclose, this.itemData.asset_id);
    },
    closeDeleteAssetItem(close) {
      this.Delete_group = close;
      this.$emit("close", this.dataclose);
    },
    cancelUpdate(cancel) {
      this.Update_group = cancel;
    },
    cancelDelete(cancel) {
      this.Delete_group = cancel;
    },
    AssetItemDetaildata() {
      try {
        api.ListAssetItemDetail(
          this.$store.state.header,
          {
            id: this.itemID,
          },
          (result) => {
            this.itemData = result.data[0];
          },
          (error) => {
            console.log(error);
          }
        );
      } catch (error) {
        console.log(error);
      }
    },
  },
  watch: {
    Asset(val) {
      if (val) {
        this.itemID = val;
        this.AssetItemDetaildata();
      }
    },
  },
  mounted() {
    this.AssetItemDetaildata();
  },
};
</script>

<style scoped>
.botton {
  background: linear-gradient(90.75deg, #00b9f8 5.43%, #3780ee 84.26%), #c4c4c4;
}
</style>
