<template>
  <div>
    <v-card class="pa-3">
      <div align="right" class="hidden-md-and-up">
        <v-icon color="black" class="pa-2" @click="closegroup()">cancel</v-icon>
      </div>
      <v-card
        class="pa-3 white--text hidden-sm-and-down mb-3"
        color="red darken-1"
        style="font-size: 1.5rem"
        >แก้ไข</v-card
      >
      <v-form v-model="valid1" ref="form" lazy-validation>
        <v-row no-gutters>
          <v-col cols="12" md="6">
            <v-text-field
              v-model="AssetItem.serial_number"
              counter
              :disabled="headerdata.types == 0"
              prepend-icon="qr_code"
              maxlength="25"
              hint="ความยาวหมวดหมู่ไม่เกิน 25 ตัวอักษร"
              label="Serial Number"
              color="red darken-1"
              requiblue
              darken-1
            ></v-text-field>
          </v-col>
          <v-col cols="12" md="6">
            <v-select
              prepend-icon="mdi-map-marker"
              color="red darken-1"
              v-model="Locationdata"
              :items="Location"
              item-text="name"
              return-object
              label="สถานที่เก็บ"
              requiblue
              darken-1
            ></v-select>
          </v-col>
          <v-col cols="12" md="9">
            <v-textarea
              color="red darken-1"
              prepend-icon="article"
              v-model="AssetItem.detail"
              label="รายละเอียดเพิ่มเติม"
            ></v-textarea>
          </v-col>
          <v-col cols="12" md="3">
            <div class="pl-3">
              แก้ไขรูปภาพ
              <v-col cols="12">
                <v-img
                  height="100%"
                  width="90%"
                  :src="
                    urlfile == ''
                      ? 'https://firebasestorage.googleapis.com/v0/b/np-storage-it.appspot.com/o/IT_ASSET-2021-01-29%3A13%3A35%3A121?alt=media'
                      : urlfile
                  "
                  @click="$refs.fileUpload.click()"
                ></v-img>
                <input
                  color="light-red darken-3"
                  type="file"
                  class="form-control-file"
                  id="fileUpload"
                  ref="fileUpload"
                  hidden
                  @change="testimg"
                />
              </v-col>
            </div>
          </v-col>
          <v-col cols="12" md="12">
            <v-subheader class="pl-0">
              สภาพสินทรัพย์ (สภาพดีเริ่มจาก 10)</v-subheader
            >
            <v-slider
              class="pr-1"
              color="red darken-1"
              v-model="AssetItem.conditions"
              prepend-icon="build"
              :thumb-size="24"
              max="10"
              min="0"
              thumb-label="always"
            ></v-slider>
          </v-col>
          <v-col cols="12" md="12">
            <v-text-field
              v-model="AssetItem.contact"
              prepend-icon="person"
              label="ข้อมูลซ่อมบำรุง"
              counter
              color="red darken-1"
              maxlength="100"
              required
            ></v-text-field>
          </v-col>
          <v-col cols="12">
            <v-switch
              v-model="v0"
              label="คำนวนค่าเสื่อมสินทรัพย์"
              color="red darken-1"
            ></v-switch>
            <v-banner v-model="v0" single-line transition="slide-y-transition">
              <v-row no-gutters>
                <v-col cols="12" md="3">
                  <v-menu
                    v-model="menu1"
                    :close-on-content-click="false"
                    :nudge-right="40"
                    transition="scale-transition"
                    offset-y
                    min-width="auto"
                  >
                    <template v-slot:activator="{ on, attrs }">
                      <v-text-field
                        v-model="buying_date"
                        label="วันที่ซื้อ"
                        prepend-icon="event"
                        v-bind="attrs"
                        v-on="on"
                        color="red darken-1"
                      ></v-text-field>
                    </template>
                    <v-date-picker
                      v-model="buying_date"
                      @input="menu1 = false"
                      color="red darken-1"
                    ></v-date-picker>
                  </v-menu>
                </v-col>
                <v-col cols="12" md="3">
                  <v-text-field
                    v-model="price_buying"
                    prepend-icon="monetization_on"
                    type="number"
                    :disabled="buying_date == ''"
                    color="red darken-1"
                    :rules="[(v) => !!v || 'กรุณากรอกราคาสินทรัพย์']"
                    hint="ราคาสินทรัพย์ ณ วันที่ซื้อ"
                    label="ราคาสินทรัพย์"
                  ></v-text-field>
                </v-col>
                <v-col cols="12" md="3">
                  <v-text-field
                    v-model="depreciation"
                    prepend-icon="trending_down"
                    maxlength="7"
                    color="red darken-1"
                    hint="ค่าเสื่อม ณ วันที่ซื้อถึงปัจจุบัน"
                    label="ค่าเสื่อมสะสม"
                    readonly
                    darken-1
                  ></v-text-field>
                </v-col>
                <v-col cols="12" md="3">
                  <v-text-field
                    v-model="price_now"
                    prepend-icon="money_off"
                    maxlength="7"
                    color="red darken-1"
                    hint="ราคาหลังหลักค่าเสื่อม"
                    label="ราคาสุทธิ"
                    readonly
                    darken-1
                  ></v-text-field>
                </v-col>
              </v-row>
            </v-banner>
          </v-col>
          <v-col cols="12">
            <v-switch
              v-model="v1"
              label="การปรับประกัน"
              color="red darken-1"
            ></v-switch>
            <v-banner v-model="v1" single-line transition="slide-y-transition">
              <v-row no-gutters>
                <v-col cols="12" md="4">
                  <v-menu
                    v-model="menu2"
                    :close-on-content-click="false"
                    :nudge-right="40"
                    transition="scale-transition"
                    offset-y
                    min-width="auto"
                  >
                    <template v-slot:activator="{ on, attrs }">
                      <v-text-field
                        v-model="started_warranty"
                        label="วันเริ่มรับประกัน"
                        prepend-icon="security"
                        color="red darken-1"
                        v-bind="attrs"
                        v-on="on"
                      ></v-text-field>
                    </template>
                    <v-date-picker
                      v-model="started_warranty"
                      @input="menu2 = false"
                      color="red darken-1"
                    ></v-date-picker>
                  </v-menu>
                </v-col>
                <v-col cols="12" md="4">
                  <v-text-field
                    v-model="warranty_month"
                    prepend-icon="schedule"
                    maxlength="2"
                    color="red darken-1"
                    type="number"
                    onkeypress="return event.keyCode === 8 || event.charCode >= 48 && event.charCode <= 57"
                    hint="จำนวนเดือน"
                    label="ระยะเวลารับประกัน (เดือน)"
                  ></v-text-field>
                </v-col>
                <v-col cols="12" md="4">
                  <v-text-field
                    v-model="warranty_date"
                    prepend-icon="security"
                    label="ประกันหมด"
                    color="red darken-1"
                    readonly
                  ></v-text-field>
                </v-col>
              </v-row>
            </v-banner>
          </v-col>
        </v-row>
        <v-row no-gutters>
          <v-col cols="12" class="hidden-sm-and-down">
            <v-btn outlined class="mr-4" @click="closegroup()">ปิด</v-btn>
            <v-btn
              :disabled="!valid1"
              outlined
              color="red"
              class="mr-4 white--text"
              @click="validate1"
              >บันทึก</v-btn
            >
          </v-col>
          <v-col cols="6" class="hidden-md-and-up pa-1">
            <v-btn color="black" block outlined @click="closegroup()"
              >ปิด</v-btn
            >
          </v-col>
          <v-col cols="6" class="hidden-md-and-up pa-1">
            <v-btn
              :disabled="!valid1"
              outlined
              color="red"
              block
              class="white--text"
              @click="validate1"
              >บันทึก</v-btn
            >
          </v-col>
        </v-row>
      </v-form>
    </v-card>

    <v-dialog persistent max-width="300" v-model="Update_group">
      <PopupUpdate />
    </v-dialog>

    <v-dialog max-width="450" v-model="Error_group">
      <PopupErrorInputiden />
    </v-dialog>

    <v-dialog max-width="450" v-model="ErrorRespon_group">
      <PopupResponError />
    </v-dialog>
  </div>
</template>

<script>
import api from "../../services/asset";
import PopupUpdate from "../Popup/PopupUpdate";
import PopupErrorInputiden from "../Popup/PopupErrorInputiden";
import PopupResponError from "../Popup/PopupResponError";
export default {
  name: "UpdateAssetItem",
  props: ["AssetItem"],
  data() {
    return {
      Locationdata: "",
      price_now: this.AssetItem.priced,
      depreciation: "",
      ErrorRespon_group: false,
      warranty_month: this.AssetItem.warranty_month,
      warranty_date: this.AssetItem.warranty_date,
      warranty: this.AssetItem.warranty,
      price_buying: this.AssetItem.prices,
      buying_date: this.AssetItem.buying_date,
      started_warranty: this.AssetItem.started_warranty,
      Location: [],
      headerdata: [],
      dataclose: false,
      Update_group: false,
      Error_group: false,
      valid1: true,
      v0: true,
      v1: false,
      e1: 1,
      menu1: "",
      menu2: "",
      response: "",
      imagefile: "",
      urlfile: this.AssetItem.image_url,
      urlFromApi: "",
    };
  },
  components: { PopupUpdate, PopupErrorInputiden, PopupResponError },
  methods: {
    validate1() {
      this.openUpdate();
      if (this.$refs.form.validate() == true) {
        this.checkdataUpload();
      } else {
        this.v1 = true;
      }
    },
    checkdataUpload() {
      if (this.headerdata.types == 1 && this.AssetItem.serial_number == "") {
        alert("กรุณากรอก Serial Number");
      } else {
        this.checkimgdata();
      }
    },
    HaederAssetdata() {
      try {
        api.HaederAsset(
          this.$store.state.header,
          {
            id: parseInt(this.AssetItem.asset_id),
          },
          (result) => {
            this.headerdata = result.data;
            this.caldate(this.month_warranty);
            this.calpriced(this.price_buying);
          },
          (error) => {
            console.log(error);
          }
        );
      } catch (error) {
        console.log(error);
      }
    },
    SelectLocationAssetItemdata() {
      try {
        api.SelectLocationAssetItem(
          this.$store.state.header,
          {
            id: this.AssetItem.location_id,
          },
          (result) => {
            this.Locationdata = result.data;
          },
          (error) => {
            console.log(error);
          }
        );
      } catch (error) {
        console.log(error);
      }
    },
    ListLocationAssetItemdata() {
      try {
        api.LocationAssetItem(
          this.$store.state.header,
          {
            id: 0,
          },
          (result) => {
            this.Location = result.data;
          },
          (error) => {
            console.log(error);
          }
        );
      } catch (error) {
        console.log(error);
      }
    },
    ListAssetItemDetaildata() {
      try {
        api.ListAssetItemDetail(
          this.$store.state.header,
          {
            id: parseInt(this.Asset),
          },
          (result) => {
            this.Assetdetail = result.data;
          },
          (error) => {
            console.log(error);
          }
        );
      } catch (error) {
        console.log(error);
      }
    },
    checkimgdata() {
      this.openUpdate();
      if (this.AssetItem.image_url === this.urlfile) {
        this.UpdateAssetItemdata(this.urlfile);
      } else {
        this.uploadimage();
      }
    },

    testimg() {
      try {
        const formData = new FormData();
        formData.append("file", this.selectedFile);
        formData.append("type", "customer");
        this.imagefile = document.querySelector("#fileUpload");
        this.urlfile = URL.createObjectURL(this.imagefile.files[0]);
      } catch (error) {
        console.log(error);
      }
    },
    uploadimage() {
      try {
        const header = {
          headers: {
            "Content-Type": "multipart/form-data",
          },
        };
        const formData = new FormData();
        formData.append("file", this.imagefile.files[0]);
        api.genItem(
          header,
          formData,
          (result) => {
            if (result.response === "success") {
              this.urlFromApi = result.data.url;
              this.UpdateAssetItemdata(this.urlFromApi);
            } else {
              // result.message
            }
          },
          (error) => {
            alert(JSON.stringify(error));
          }
        );
      } catch (error) {
        console.log(error);
      }
    },
    UpdateAssetItemdata(val) {
      try {
        api.UpdateAssetItem(
          this.$store.state.header,
          {
            id: parseInt(this.AssetItem.id),
            asset_id: this.AssetItem.asset_id,
            location_id: this.Locationdata.id,
            serial_number: this.AssetItem.serial_number,
            detail: this.AssetItem.detail,
            conditions: this.AssetItem.conditions,
            buying_date: this.buying_date,
            prices: parseFloat(this.price_buying),
            calculated_prices: this.price_now,
            started_warranty: this.started_warranty,
            warranty_month: parseInt(this.warranty_month),
            warranty_date: this.warranty_date,
            contact: this.AssetItem.contact,
            edited_by: sessionStorage.user_code,
            image_url: val,
          },
          (result) => {
            this.response = result.response;
            if (this.response === "success") {
              this.closeUpdate();
              this.closeUpdategroup();
            } else {
              this.closeUpdate();
              this.ErrorRespon_group = true;
              setTimeout(() => {
                this.ErrorRespon_group = false;
              }, 2000);
            }
          },
          (error) => {
            console.log(error);
          }
        );
      } catch (error) {
        console.log(error);
      }
    },
    caldate(val) {
      try {
        api.CaldateWarrant(
          this.$store.state.header,
          {
            start_date: this.AssetItem.started_warranty,
            month: parseInt(val),
          },
          (result) => {
            this.warranty_date = result.data;
          },
          (error) => {
            console.log(error);
          }
        );
      } catch (error) {
        console.log(error);
      }
    },
    caldatestart(val) {
      try {
        api.CaldateWarrant(
          this.$store.state.header,
          {
            start_date: val,
            month: parseInt(this.warranty_month),
          },
          (result) => {
            this.warranty_date = result.data;
          },
          (error) => {
            console.log(error);
          }
        );
      } catch (error) {
        console.log(error);
      }
    },
    calpriced(val) {
      try {
        api.Caldateprice(
          this.$store.state.header,
          {
            buyingdate: this.buying_date,
            percents: parseFloat(this.headerdata.percents),
            prices: parseFloat(val),
          },
          (result) => {
            this.calprice = result.data;
            (this.depreciation = this.calprice.percent + " %"),
              (this.price_now = this.calprice.priced);
          },
          (error) => {
            console.log(error);
          }
        );
      } catch (error) {
        console.log(error);
      }
    },
    calpricedate(val) {
      try {
        api.Caldateprice(
          this.$store.state.header,
          {
            buyingdate: val,
            percents: parseFloat(this.headerdata.percents),
            prices: parseFloat(this.AssetItem.price_buying),
          },
          (result) => {
            this.calprice = result.data;
            (this.depreciation = this.calprice.percent + " %"),
              (this.price_now = this.calprice.priced);
          },
          (error) => {
            console.log(error);
          }
        );
      } catch (error) {
        console.log(error);
      }
    },
    openUpdate() {
      this.Update_group = true;
    },
    closeUpdate() {
      this.Update_group = false;
    },
    openError() {
      this.Error_group = true;
    },
    closeError() {
      this.Error_group = false;
    },
    closegroup() {
      // this.resetdata();
      location.reload()
      this.$emit("cancel", this.dataclose);
    },
    closeUpdategroup() {
      // this.resetdata();
      location.reload()
      this.$emit("close", this.dataclose, this.Asset);
    },
    resetdata() {
      (this.Locationdata = ""),
        (this.price_now = this.AssetItem.priced),
        (this.depreciation = ""),
        (this.ErrorRespon_group = false),
        (this.warranty_month = this.AssetItem.warranty_month),
        (this.warranty_date = this.AssetItem.warranty_date),
        (this.warranty = this.AssetItem.warranty),
        (this.price_buying = this.AssetItem.prices),
        (this.buying_date = this.AssetItem.buying_date),
        (this.Location = []),
        (this.headerdata = []),
        (this.dataclose = false),
        (this.Update_group = false),
        (this.Error_group = false),
        (this.valid1 = true),
        (this.v0 = true),
        (this.v1 = false),
        (this.e1 = 1),
        (this.menu1 = ""),
        (this.menu2 = ""),
        (this.response = ""),
        (this.imagefile = ""),
        (this.urlfile = this.AssetItem.image_url),
        (this.urlFromApi = "");
    },
  },
  watch: {
    AssetItem(val) {
      if (val) {
        this.AssetItem = val;
        this.urlfile = val.image_url;
        this.ListLocationAssetItemdata();
        this.SelectLocationAssetItemdata();
        this.HaederAssetdata();
      }
    },
    warranty_month(val) {
      if (val) {
        clearTimeout(this.timeout);
        const self = this;
        this.timeout = setTimeout(function () {
          self.caldate(val);
        }, 300);
      }
    },
    started_warranty(val) {
      if (val) {
        clearTimeout(this.timeout);
        const self = this;
        this.timeout = setTimeout(function () {
          self.caldatestart(val);
        }, 300);
      }
    },
    price_buying(val) {
      if (val) {
        clearTimeout(this.timeout);
        const self = this;
        this.timeout = setTimeout(function () {
          self.calpriced(val);
        }, 300);
      }
    },
    buying_date(val) {
      if (val) {
        clearTimeout(this.timeout);
        const self = this;
        this.timeout = setTimeout(function () {
          self.calpricedate(val);
        }, 300);
      }
    },
  },
  mounted() {
    this.HaederAssetdata();
    this.ListLocationAssetItemdata();
    this.SelectLocationAssetItemdata();
  },
};
</script>

<style scoped>
.botton {
  background: linear-gradient(90.75deg, #00b9f8 5.43%, #3780ee 84.26%), #c4c4c4;
}
</style>
