<template>
  <div>
    <v-card class="pa-3">
      <div align="right" class="hidden-md-and-up" @click="closDetail()"><v-icon color="black"  class="pa-2">cancel</v-icon></div>
      <v-card class="pa-2 mb-3 white--text font-size:2rem, hidden-sm-and-down" color="red" style="font-size: 1.5rem">รายละเอียด</v-card>
      <v-row no-gutters class="mb-5">
        <v-col cols="12" md="5" align="center">
          <v-img :src="dataAsset.url" class="hidden-sm-and-down mb-0" max-height="420" max-width="90%"></v-img>
          <v-img :src="dataAsset.url" class="hidden-md-and-up mb-0" max-height="300" max-width="90%"></v-img>
        </v-col>
        <v-col cols="12" md="7">
          <v-row no-gutters>
            <v-col cols="12" style="font-size: 2.5rem" class="hidden-sm-and-down">{{dataAsset.name}}</v-col>
          </v-row>
          <v-row no-gutters>
            <v-col cols="12" style="font-size: 1.5rem" class="hidden-md-and-up">{{dataAsset.name}}</v-col>

            <v-col cols="12" class="pt-2 hidden-sm-and-down"> รายละเอียด {{ dataAsset.description }}</v-col>
            <v-col cols="12" md="6" class="pt-2 hidden-md-and-up" ><v-icon>description</v-icon> : {{ dataAsset.description }}</v-col>

            <v-col cols="12" md="6" class="pt-2 hidden-sm-and-down" >หมวดหมู่ {{ dataAsset.category_name }}</v-col>
            <v-col cols="12" md="6" class="pt-2 hidden-md-and-up"> <v-icon>view_list</v-icon> : {{ dataAsset.category_name }} </v-col>

            <v-col cols="12" md="6" class="pt-2 hidden-sm-and-down"> ประเภท {{ dataAsset.sub_category_name }} </v-col>
            <v-col cols="12" md="6" class="pt-2 hidden-md-and-up"> <v-icon>view_stream</v-icon> : {{ dataAsset.sub_category_name }} </v-col>

            <v-col cols="12" md="6" class="pt-2 hidden-sm-and-down"> ค่าเสื่อม {{ dataAsset.percents }} % ต่อปี </v-col>
            <v-col cols="12" class="pt-2 hidden-md-and-up">
              <v-icon>trending_down</v-icon> : {{dataAsset.percents}} % ต่อปี</v-col>

            <v-col cols="12" class="pt-2 hidden-sm-and-down" ><barcode v-bind:value="dataAsset.barcode"></barcode></v-col>
            <v-col cols="12" class="pt-2 hidden-md-and-up"> <barcode v-bind:value="dataAsset.barcode" height="60"></barcode></v-col>

          </v-row>
        </v-col>
      </v-row>
    </v-card>

  </div>
</template>

<script>
import VueBarcode from 'vue-barcode';
export default {
  name: "AssetDetail",
  props: ["SendAssetData"],
  data() {
    return {
      dataAsset: this.SendAssetData,
      dataclose: false,
      group_data: [],
    };
  },
  components: {'barcode': VueBarcode },
  methods: {
    closDetail() {
      this.$emit("close", this.dataclose);
    },
  },
  watch: {
    SendAssetData(val) {
      if (val) {
        this.dataAsset = this.$props.SendAssetData;
      }
    },
  },
  mounted(){
  },
};
</script>
