<template>
  <div>
    <v-card class="pa-5">
      <div id="map" style="height: 500px" ></div>
      <v-btn color="success" class="mt-5" block @click="sendposition()">ปิด</v-btn>
    </v-card>
  </div>
</template>
<script src="https://polyfill.io/v3/polyfill.min.js?features=default"></script>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyA1VRCYRmLKIy_sEcDdHsrIjnljRpIXyxA&callback=initMap&libraries=&v=weekly" defer></script>
<script>
export default {
  data: () => ({
    map: null,
    position: {},
    data_detail: null,
    defPosition: { lat: 18.807993528073183, lng: 99.01390420890557 },
  }),
  methods: {
    sendposition(){
      if(this.data_detail === null){
        this.$emit("close", this.defPosition);
        // console.log('defPosition',this.defPosition)
      }else{
        this.$emit("close", this.data_detail);
        // console.log('data_detail',this.data_detail)

      }
    },
    initMap() {
      // In the following example, markers appear when the user clicks on the map.
      // The markers are stored in an array.
      // The user can then click an option to hide, show or delete the markers.
      let map;
      let markers = [];
      let test = {};
      const haightAshbury = { lat: 18.807993528073183, lng: 99.01390420890557 };
      const myLatlng = { lat: -25.363, lng: 131.044 };
      map = new google.maps.Map(document.getElementById("map"), {
        zoom: 15,
        center: haightAshbury,
        mapTypeId: "terrain",
      });

      addMarker(this.defPosition)
      // This event listener will call addMarker() when the map is clicked.
      map.addListener("click", (event) => {
          deleteMarkers();
          addMarker(event.latLng);
          this.position = JSON.stringify(event.latLng);
          test = JSON.parse(this.position);
          this.data_detail = test;
          this.addMarkerTest(test)
      }).bind(this);
      // Adds a marker at the center of the map.

      // Adds a marker to the map and push to the array.
      function addMarker(location) {
        const marker = new google.maps.Marker({
          position: location,
          map: map,
        });
        markers.push(marker);
      }
      // Sets the map on all markers in the array.
      function setMapOnAll(map) {
        for (let i = 0; i < markers.length; i++) {
          markers[i].setMap(map);
        }
      }
      // Removes the markers from the map, but keeps them in the array.
      function clearMarkers() {
        setMapOnAll(null);
      }
      // Shows any markers currently in the array.
      function showMarkers() {
        setMapOnAll(map);
      }
      // Deletes all markers in the array by removing references to them.
      function deleteMarkers() {
        clearMarkers();
        markers = [];
      }
    },
    // Adds a marker to the map and push to the array.
    addMarkerTest(location) {
      console.log(location)
    },

    // Sets the map on all markers in the array.
    setMapOnAll(map) {
      for (let i = 0; i < markers.length; i++) {
        markers[i].setMap(map);
      }
    },
  },
  mounted() {
    setTimeout(() => {
      this.initMap();
      this.setMapOnAll();
    }, 500);
  },
  created() {
    sessionStorage.pageActive = 1;
  },
};
</script>
