<template>
  <div>
  
    <v-card color="white" class="pa-6">
      <v-row no-gutters justify="center">
        <v-img src="../../../src/assets/delete.png" max-width="40%"></v-img>
          <v-col cols="12" class="grey--text py-2" style="text-align:center; font-size:1rem;" >
            ต้องการลบ "{{ subcateData.sname }}" หรือไม่
        </v-col>
          <v-col cols="6"  class="pa-1">
            <v-btn block outlined height="2.5rem" @click="cancelDeletegroup()">
              ยกเลิก
            </v-btn>
          </v-col>
          <v-col cols="6"  class="pa-1">
            <v-btn block outlined color="red" height="2.5rem" @click="DeleteSubCategorydata()">
              ลบ
            </v-btn>
          </v-col>
        </v-row>
    </v-card>

    <v-dialog persistent max-width="300" v-model="Delete_group">
      <PopupDelete />
    </v-dialog>
  </div>
</template>

<script>
import PopupDelete from "../Popup/PopupDelete";
import api from "../../services/asset";
export default {
  name: "DeleteSubCatgory",
  props: ["subcategoryData"],
  data() {
    return {
      subcateData: this.subcategoryData,
      subCategoryitem: [],
      response: "",
      Delete_group: false,
      dataclose: false,
    };
  },
  components: { PopupDelete },
  methods: {
    closeDeletegroup() {
      this.$emit("close", this.dataclose, this.subcateData.category_id);
      setTimeout(() => {
        let message = this.rndStr(6);
        this.message = message;
      }, 500);
    },
    cancelDeletegroup() {
      this.$emit("cancel", this.dataclose);
      setTimeout(() => {
        let message = this.rndStr(6);
        this.message = message;
      }, 500);
    },
    DeleteSubCategorydata() {
      this.Delete_group = true;
      api.DeleteSubCategory(
        this.$store.state.header,
        {
          id: parseInt(this.subcateData.id),
        },
        (result) => {
          this.subCategoryitem = result.data;
          this.Delete_group = false;
          this.closeDeletegroup();
        },
        (error) => {
          console.log(error);
        }
      );
    },
  },
  watch: {
    subcategoryData(val) {
      if (val) {
        this.subcateData = this.subcategoryData;
      }
    },
  },
  mounted() {
  },
};
</script>
