<template>
  <v-app>
    <v-main>
      <div>
        <Navbar/>
      </div>
        <router-view></router-view>
    </v-main>
  </v-app>
</template>


<script>
import Navbar from "./nav";
import auth from "../../services/auth";
export default {
  name: "full",
  components: {Navbar},
  data: () => ({
    user: sessionStorage.userAccess,
    loggedIn: auth.loggedIn(),
  }),
  methods : {
    checkAuth() {
      this.user = parseInt(sessionStorage.userAccess)
    }
  },
  created() {
    auth.onChange = loggedIn => {
      this.loggedIn = loggedIn;
    };
  },
  mounted(){
    this.checkAuth()
       auth.onChange = loggedIn => {
      this.loggedIn = loggedIn;
    };
    if (!this.loggedIn) {
            this.$router.push('/login');
    }

  },
  watch:{
    user(val){
      if(val){
        this.user = val
      }
    },
     loggedIn: function() {
      if (!this.loggedIn) {
        this.$router.push('/login');
        return;
      }
    }
  },
};
</script>