<template>
  <div>
    <nav>
      <v-toolbar dense height="40" elevate-on-scroll>
        <v-btn icon @click="drawer = !drawer" color="blue">
          <v-icon color="black">list</v-icon>
        </v-btn>
        <v-spacer></v-spacer>
        <img src="../../../src/assets/logo.png" height="30" />
        <v-spacer></v-spacer>
        <div class="black--text" style="font-size: 15px">
          <v-icon color="black" size="20" class="pr-1">{{ iconstatus }}</v-icon
          >{{ userAccess == 1 ? "เจ้าหน้าที่" : "ผู้ใช้งาน" }}
        </div>
      </v-toolbar>

      <v-navigation-drawer app v-model="drawer" width="320" elevation="10">
        <!--sidebar -->
        <v-card elevation="10" class="mx-auto" :color="colornav">
          <v-list-item two-line>
            <v-list-item-avatar color="white" size="60">
              <v-img src="../../../src/assets/profile.png"></v-img>
            </v-list-item-avatar>

            <v-list-item-content>
              <v-list-item-title class="white--text" style="font-size: 20px"
                >{{ accountName }}
              </v-list-item-title>

              <v-list-item-subtitle class="white--text" style="font-size: 16px">
                <div v-if="userAccess == 2" class="pt-2">
                  <v-btn small outlined color="white" @click="goAccount()">
                    <v-icon class="pr-1">person </v-icon> ข้อมูลส่วนตัว
                  </v-btn>
                </div>
              </v-list-item-subtitle>
            </v-list-item-content>
          </v-list-item>
          <v-card-actions>
            <v-btn outlined color="white" block @click="logout()">
              ออกจากระบบ</v-btn
            >
          </v-card-actions>
        </v-card>
        <v-card class="mx-auto pink--text" max-width="400" flat>
          <v-list>
            <v-list-item-group :color="colornav">
              <v-list-item
                v-for="subItem in items"
                :key="subItem.title"
                @click="$router.push('/' + subItem.link)"
              >
                <v-list-item-icon
                  ><v-icon sm>{{ subItem.action }}</v-icon></v-list-item-icon
                >
                <v-list-item-content>
                  <v-list-item-title style="font-size: 0.9rem"
                    >{{ subItem.title }}
                    <v-chip
                      small
                      v-if="
                        subItem.title == 'คำขอเบิกใช้/ส่งคืน' &&
                        $store.state.approve != 0
                      "
                      color="yellow"
                      style="font-weight: 900"
                      class="ml-3"
                      >{{ $store.state.approve }}
                    </v-chip>
                    <v-chip
                      small
                      v-if="
                        subItem.title == 'แจ้งซ่อม' &&
                        $store.state.maintenance != 0
                      "
                      color="yellow"
                      style="font-weight: 900"
                      class="ml-3"
                      >{{ $store.state.maintenance }}</v-chip
                    >
                    <v-chip
                      small
                      v-if="
                        subItem.title == 'จัดการคำขอ' &&
                        $store.state.approve != 0
                      "
                      color="yellow"
                      style="font-weight: 900"
                      class="ml-3"
                      >{{ $store.state.approve }}</v-chip
                    >
                  </v-list-item-title>
                </v-list-item-content>
              </v-list-item>
            </v-list-item-group>
          </v-list>
        </v-card>
        <template v-slot:append>
          <v-card tile elevation="1" height="35" class="pt-2 px-3" align="right">
             เวอร์ชั่น 0.1.0
            <!-- <v-row no-gutters>
              <v-col cols="6" align="center" class="pt-2">
                <v-btn block text @click="$router.push('/tutorial')">
                  <v-icon class="pr-2" color="grey darken-1">info</v-icon
                  >คู่มือการใช้งาน
                </v-btn>
              </v-col>
              <v-col cols="6" align="center" class="pt-3">
                เวอร์ชั่น 0.1.0
              </v-col>
            </v-row> -->
          </v-card>
        </template>
      </v-navigation-drawer>
    </nav>

    <v-snackbar
      persistent
      v-model="snackbar"
      :timeout="3000"
      top
      right
      color="light-green"
    >
      <v-row no-gutters>
        <v-col cols="2" style="font-size: 1.1rem" class="text--white"
          ><v-icon large>check_circle</v-icon></v-col
        >
        <v-col
          cols="9"
          style="font-size: 1.1rem"
          class="text--white"
          align-self="center"
          >{{ resmessage }}</v-col
        >
        <v-col cols="1" align="right">
          <v-btn fab small text @click.native="snackbar = false"
            ><v-icon small>close</v-icon></v-btn
          >
        </v-col>
      </v-row>
    </v-snackbar>
  </div>
</template>

<script>
import auth from "../../services/auth";
import api from "../../services/asset";
export default {
  name: "Navbar",
  components: {},
  data() {
    return {
      valid: true,
      resmessage: "",
      snackbar: false,
      userAccess: "",
      iconstatus: "",
      drawer: false,
      search: "",
      accountName: "",
      colornav: "",
      items: [],
      item_user: [
        {
          action: "work",
          title: "สินทรัพย์ทั้งหมด",
          active: true,
          link: "Asset",
        },
        {
          action: "inventory",
          title: "สินทรัพย์ของฉัน",
          active: true,
          link: "Inventory",
        },
        {
          action: "content_paste",
          title: "คำขอเบิกใช้/ส่งคืน",
          active: true,
          link: "AssetHistory",
        },
        {
          action: "construction",
          title: "แจ้งซ่อม",
          active: true,
          link: "MaintenanceAsset",
        },
      ],
      item_admin: [
        {
          action: "dashboard",
          title: "Dashboard",
          active: true,
          link: "Dashboard",
        },
        {
          action: "work",
          title: "จัดการข้อมูลสินทรัพย์",
          active: true,
          link: "manageAsset",
        },
        {
          action: "work_off",
          title: "จัดการข้อมูลสินทรัพย์เสียหาย",
          active: true,
          link: "manageAssetDamage",
        },
        {
          action: "more",
          title: "จัดการหมวดหมู่/ประเภท",
          active: true,
          link: "manageCategory",
        },
        {
          action: "content_paste",
          title: "จัดการคำขอ",
          active: true,
          link: "manageApproveAsset",
        },
        {
          action: "construction",
          title: "แจ้งซ่อม",
          active: true,
          link: "manageMaintenanceAsset",
        },
        {
          action: "account_circle",
          title: "จัดการผู้ใช้งาน",
          active: true,
          link: "manageAccount",
        },
        //  {
        //   action: "description",
        //   title: "ตรวจเช็ค",
        //   active: true,
        //   link: "report",
        // },
      ],
    };
  },
  methods: {
    goAccount() {
      this.$router.push("/Account/" + sessionStorage.user_code);
    },
    adminBarNoti() {
      try {
        api.Notify(
          this.$store.state.header,
          {
            id: "",
          },
          (result) => {
            this.$store.state.approve = result.data.qty_1_2;
            this.$store.state.maintenance = result.data.qty_3;
          },
          (error) => {
            console.log(error);
          }
        );
      } catch (error) {
        console.log(error);
      }
    },
    userBarNoti() {
      try {
        api.Notify(
          this.$store.state.header,
          {
            id: sessionStorage.user_code,
          },
          (result) => {
            this.$store.state.approve = result.data.qty_1_2;
            this.$store.state.maintenance = result.data.qty_3;
          },
          (error) => {
            console.log(error);
          }
        );
      } catch (error) {
        console.log(error);
      }
    },
    logout() {
      auth.logout();
      this.$router.push("/login");
    },
  },
  mounted() {
    this.accountName = sessionStorage.name;
    this.userAccess = sessionStorage.userAccess;
    if (sessionStorage.userAccess == 1) {
      this.items = this.item_admin;
      this.adminBarNoti();
      this.colornav = "blue";
      this.iconstatus = "admin_panel_settings";
    } else {
      this.colornav = "yellow darken-2";
      this.items = this.item_user;
      this.iconstatus = "account_circle";
      this.userBarNoti();
    }
  },

  created() {},
};
</script>
