<template>
  <div>
    <v-card class="pa-3">
      <div align="right" class="hidden-md-and-up" ><v-icon color="black" @click="closDetail()" class="pb-2">cancel</v-icon></div>
      <v-card class="pa-2 mb-3 white--text hidden-sm-and-down" color="blue darken-1" style="font-size: 1.5rem"><v-row no-gutters>รายละเอียด
         <v-spacer></v-spacer><v-icon color="white" @click="closDetail()">cancel</v-icon></v-row>
      </v-card>
      <v-row no-gutters class="mb-5">
        <v-col cols="12" md="5" align="center">
          <v-img :src="dataAsset.url" class="hidden-sm-and-down mb-0" max-height="420" max-width="90%" ></v-img>
          <v-img :src="dataAsset.url" class="hidden-md-and-up mb-0" max-height="300" max-width="90%"></v-img>
        </v-col>
        <v-col cols="12" md="7">
          <v-row no-gutters>
            <v-col cols="12" style="font-size: 2rem" class="hidden-sm-and-down">{{dataAsset.name}} <v-icon color="red" @click="openDeleteAsset(dataAsset)">delete</v-icon></v-col>
          </v-row>
          <v-row no-gutters>
            <v-col cols="12" style="font-size: 1.5rem" class="hidden-md-and-up">{{dataAsset.name}} <v-icon color="red" @click="openDeleteAsset(dataAsset)">delete</v-icon></v-col>
            <v-col cols="12" class="pt-2 hidden-sm-and-down"> รายละเอียด {{ dataAsset.description }}</v-col>
            <v-col cols="12" md="6" class="pt-2 hidden-md-and-up" ><v-icon>description</v-icon> : {{ dataAsset.description }}</v-col>
            <v-col cols="12" md="6" class="pt-2 hidden-sm-and-down" >หมวดหมู่ {{ dataAsset.category_name }}</v-col>
            <v-col cols="12" md="6" class="pt-2 hidden-md-and-up"> <v-icon>view_list</v-icon> : {{ dataAsset.category_name }} </v-col>
            <v-col cols="12" md="6" class="pt-2 hidden-sm-and-down"> ประเภท {{ dataAsset.sub_category_name }} </v-col>
            <v-col cols="12" md="6" class="pt-2 hidden-md-and-up"> <v-icon>view_stream</v-icon> : {{ dataAsset.sub_category_name }} </v-col>
            <v-col cols="12" md="6" class="pt-2 green--text"> <v-icon color="green">check_circle</v-icon>สินทรัพย์ดี {{ dataAsset.qty }} หน่วย</v-col>
            <v-col cols="12" md="6" class="pt-2 red--text"> <v-icon color="red">cancel</v-icon> สินทรัพย์เสียหาย {{ dataAsset.qty_damage }} หน่วย </v-col>
            <v-col cols="12" md="6" class="pt-2 hidden-sm-and-down"> ค่าเสื่อม {{ dataAsset.percents }} % ต่อปี </v-col>
            <v-col cols="12" class="pt-2 hidden-md-and-up"><v-icon>trending_down</v-icon> : {{dataAsset.percents}} % ต่อปี</v-col>
            <v-col cols="12" class="pt-2 hidden-sm-and-down" ><barcode v-bind:value="dataAsset.barcode"></barcode></v-col>
            <v-col cols="12" class="pt-2 hidden-md-and-up"> <barcode v-bind:value="dataAsset.barcode" height="60"></barcode></v-col>
            <v-col cols="12" md="6" class="pa-1">
              <v-btn small block outlined :disabled="dataAsset.available == 0" color="black" style="height: 35px" @click="closDetail()" >ปิด</v-btn>
            </v-col>
            <v-col cols="12" md="6" class="pa-1">
              <v-btn small block outlined color="blue" style="height:35px" @click="openUpdateAsset(dataAsset)" >แก้ไข</v-btn>
            </v-col>
          </v-row>
        </v-col>
      </v-row>
    </v-card>

    <v-dialog
      persistent
      max-width="900"
      v-model="Update_group"
    >
      <UpdateAsset
        :SendAssetData="group_data"
        @close="closeUpdate"
        @cancel="cancelUpdate"
      />
    </v-dialog>

    <v-dialog max-width="500" v-model="Delete_group">
      <DeleteAsset
        :SendAssetData="group_data"
        @close="closeDelete"
        @cancel="cancelDelete"
      />
    </v-dialog>
  </div>
</template>

<script>
import VueBarcode from 'vue-barcode';
import UpdateAsset from "../../components/Asset/UpdateAsset.vue";
import DeleteAsset from "../../components/Asset/DeleteAsset.vue";
export default {
  name: "AssetDetail",
  props: ["SendAssetData"],
  data() {
    return {
      dataAsset: this.SendAssetData,
      Update_group: false,
      Delete_group: false,
      dataclose: false,
      group_data: [],
    };
  },
  components: { UpdateAsset, DeleteAsset,'barcode': VueBarcode },
  methods: {
    openUpdateAsset(val) {
      this.group_data = val;
      this.Update_group = true;
    },
    openDeleteAsset(val) {
      this.group_data = val;
      this.Delete_group = true;
    },
    closeUpdate(value) {
      this.Update_group = value;
      this.closeDelete(value);
    },

    closeDelete(value) {
      this.Delete_group = value;
      this.$emit("close", this.dataclose);
      this.closDetail();
    },
    closDetail() {
      this.$emit("close", this.dataclose);
    },
    cancelUpdate(value) {
      this.Update_group = value;
    },
    cancelDelete(value) {
      this.Delete_group = value;
    },
  },
  watch: {
    SendAssetData(val) {
      if (val) {
        this.dataAsset = this.$props.SendAssetData;
      }
    },
  },
  mounted(){
  },
};
</script>

<style scoped>
.botton {
  background: linear-gradient(90.75deg, #00b9f8 5.43%, #3780ee 84.26%), #c4c4c4;
}
</style>
