<template>
  <div>
    <v-card>
      <v-stepper v-model="e1">
        <div align="right" class="pa-2 hidden-md-and-up">
          <v-icon color="black" @click="cancelInsertgroup()">cancel</v-icon>
        </div>
        <v-stepper-header class="hidden-sm-and-down">
          <v-stepper-step :complete="e1 > 1" step="1" color="blue">
            ข้อมูลสินทรัพย์
          </v-stepper-step>
          <v-divider></v-divider>
          <v-stepper-step :complete="e1 > 2" step="2" color="blue">
            รูปภาพ / บาร์โค้ด
          </v-stepper-step>
          <v-divider></v-divider>
          <v-stepper-step step="3" color="blue">
            รายละเอียดทั้งหมด
          </v-stepper-step>
        </v-stepper-header>
        <div style="font-size: 1.5rem" class="px-4 hidden-md-and-up">
          เพิ่มสินทรัพย์
        </div>
        <v-stepper-items>
          <v-stepper-content step="1" class="pa-3">
            <v-card flat>
              <v-form v-model="valid1" ref="form" lazy-validation>
                <v-row no-gutters>
                  <v-col cols="12" md="12">
                    <v-text-field
                      v-model="assetname"
                      :rules="assetnameRules"
                      :counter="50"
                      label="ชื่อสินทรัพย์"
                      prepend-icon="source"
                      color="blue"
                      required
                    ></v-text-field>
                  </v-col>
                  <v-col cols="12" md="6">
                    <v-select
                      v-model="typeSNdata"
                      :items="typeSN"
                      item-text="name"
                      return-object
                      prepend-icon="qr_code"
                      :rules="[(v) => !!v || 'กรุณาเลือก']"
                      label="ซีเรียวโค้ด"
                      color="blue darken-1"
                      required
                      @change="setsnname(typeSNdata)"
                    ></v-select>
                  </v-col>
                  <v-col cols="12" md="6">
                    <v-text-field
                      type="number"
                      required
                      :counter="3"
                      prepend-icon="trending_down"
                      v-model="depreciation"
                      :rules="depreciationRules"
                      onkeypress="return event.keyCode === 8 || event.charCode >= 48 && event.charCode <= 57"
                      label="ค่าเสื่อม % ต่อปี"
                      hint="กรอกตัวเลขระหว่าง 0-100"
                      color="blue"
                    ></v-text-field>
                  </v-col>
                  <v-col cols="12" sm="6">
                    <v-autocomplete
                      clearable
                      v-model="Categorydata"
                      :items="CategoryList"
                      item-text="name"
                      return-object
                      color="blue"
                      prepend-icon="view_list"
                      :rules="[(v) => !!v || 'กรุณาเลือกหมวดหมู่']"
                      label="หมวดหมู่"
                      required
                      deletable-chips
                      @change="ListSubCategorydata()"
                    ></v-autocomplete>
                  </v-col>
                  <v-col cols="12" sm="6">
                    <v-autocomplete
                      clearable
                      v-model="SubCategorydata"
                      :items="SubCategoryList"
                      item-text="sname"
                      return-object
                      color="blue"
                      prepend-icon="view_stream"
                      :rules="[(v) => !!v || 'กรุณาเลือกประเภท']"
                      label="ประเภท"
                      required
                      deletable-chips
                      :disabled="Categorydata === null"
                      @change="setsubname(SubCategorydata)"
                    ></v-autocomplete>
                  </v-col>
                  <v-col cols="12" sm="12">
                    <v-textarea
                      prepend-icon="description"
                      v-model="description"
                      :counter="200"
                      label="คำอธิบาย"
                      color="blue"
                      required
                    ></v-textarea>
                  </v-col>
                </v-row>
                <v-row no-gutters>
                  <v-col cols="12" class="hidden-sm-and-down">
                    <v-btn outlined class="mr-4" @click="cancelInsertgroup()"
                      >ปิด</v-btn
                    >
                    <v-btn
                      outlined
                      :disabled="!valid1"
                      color="blue"
                      class="mr-4 white--text"
                      @click="validate1"
                      >ถัดไป</v-btn
                    >
                  </v-col>
                  <v-col cols="6" class="hidden-md-and-up pa-1">
                    <v-btn
                      color="black"
                      block
                      outlined
                      @click="cancelInsertgroup()"
                      >ปิด</v-btn
                    >
                  </v-col>
                  <v-col cols="6" class="hidden-md-and-up pa-1">
                    <v-btn
                      :disabled="!valid1"
                      color="blue"
                      block
                      outlined
                      class="white--text"
                      @click="validate1"
                      >ถัดไป</v-btn
                    >
                  </v-col>
                </v-row>
              </v-form>
            </v-card>
          </v-stepper-content>
          <v-stepper-content step="2" class="pa-3">
            <v-card flat>
              <v-form>
                <v-row no-gutters>
                  <v-col cols="12" sm="6">
                    <v-row no-gutters>
                      <v-col cols="12"> รูปภาพ </v-col>
                      <v-col cols="12">
                        <div class="hidden-md-and-up">
                          <v-img
                            width="100%"
                            :src="
                              urlfile == ''
                                ? 'https://firebasestorage.googleapis.com/v0/b/np-storage-it.appspot.com/o/IT_ASSET-2021-01-29%3A13%3A35%3A121?alt=media'
                                : urlfile
                            "
                            @click="$refs.fileUpload.click()"
                          />
                        </div>
                        <div class="hidden-sm-and-down">
                          <v-img
                            width="50%"
                            :src="
                              urlfile == ''
                                ? 'https://firebasestorage.googleapis.com/v0/b/np-storage-it.appspot.com/o/IT_ASSET-2021-01-29%3A13%3A35%3A121?alt=media'
                                : urlfile
                            "
                            @click="$refs.fileUpload.click()"
                          />
                        </div>
                        <input
                          color="blue"
                          type="file"
                          class="form-control-file"
                          id="fileUpload"
                          ref="fileUpload"
                          hidden
                          @change="testimg"
                        />
                      </v-col>
                    </v-row>
                  </v-col>
                  <v-col cols="12" sm="6">
                    <v-text-field
                      required
                      v-model="barcodest"
                      counter
                      maxlength="25"
                      label="บาร์โค้ด"
                      color="blue"
                    ></v-text-field>
                    <v-row class="pa-0 ma-0">
                      <v-col cols="12" class="pa-0 ma-0" style="height: 200px">
                        <v-btn
                          color="blue"
                          outlined
                          class="white--text"
                          block
                          @click="genbarcode()"
                          >Barcode</v-btn
                        >
                        <barcode
                          v-bind:value="barcodest"
                          v-model="barcodest"
                        ></barcode>
                      </v-col>
                    </v-row>
                  </v-col>
                </v-row>
              </v-form>
            </v-card>
            <v-row no-gutters>
              <v-col cols="12" class="hidden-sm-and-down">
                <v-btn outlined class="mr-4" @click="e1 = 1">ย้อนกลับ</v-btn>
                <v-btn
                  color="blue"
                  outlined
                  class="mr-4 px-7"
                  @click="e1 = 3"
                  :disabled="barcodest === ''"
                  >ถัดไป</v-btn
                >
              </v-col>
              <v-col cols="6" class="hidden-md-and-up pa-1">
                <v-btn block outlined @click="cancelInsertgroup()"
                  >ย้อนกลับ</v-btn
                >
              </v-col>
              <v-col cols="6" class="hidden-md-and-up pa-1">
                <v-btn
                  color="blue"
                  block
                  outlined
                  @click="e1 = 3"
                  :disabled="barcodest === ''"
                  >ถัดไป</v-btn
                >
              </v-col>
            </v-row>
          </v-stepper-content>
          <v-stepper-content step="3" class="pa-3">
            <v-card flat>
              <v-form>
                <v-row no-gutters>
                  <v-col cols="12" md="4" class="py-1">
                    <div class="hidden-md-and-up">
                      <v-icon>source</v-icon> : {{ assetname }}
                    </div>
                    <div class="hidden-sm-and-down">
                      ชื่อสินทรัพย์: {{ assetname }}
                    </div>
                  </v-col>
                  <v-col cols="12" md="4" class="py-1">
                    <div class="hidden-md-and-up">
                      <v-icon>qr_code</v-icon> : {{ typeSNname }}
                    </div>
                    <div class="hidden-sm-and-down">
                      ซีเรียว: {{ typeSNname }}
                    </div>
                  </v-col>
                  <v-col cols="12" md="4" class="py-1">
                    <div class="hidden-md-and-up">
                      <v-icon>trending_down</v-icon> : {{ depreciation }}
                    </div>
                    <div class="hidden-sm-and-down">
                      ค่าเสื่อม: {{ depreciation }} % ต่อปี
                    </div>
                  </v-col>
                  <v-col cols="12" md="6" class="py-1">
                    <div class="hidden-md-and-up">
                      <v-icon>view_list</v-icon> : {{ Categoryname }}
                    </div>
                    <div class="hidden-sm-and-down">
                      หมวดหมู่: {{ Categoryname }}
                    </div>
                  </v-col>
                  <v-col cols="12" md="6" class="py-1">
                    <div class="hidden-md-and-up">
                      <v-icon>view_stream</v-icon> : {{ SubCategoryname }}
                    </div>
                    <div class="hidden-sm-and-down">
                      ประเภท: {{ SubCategoryname }}
                    </div>
                  </v-col>
                  <v-col cols="12" md="12" class="py-1">
                    <div class="hidden-md-and-up">
                      <v-icon>description</v-icon> : {{ description }}
                    </div>
                    <div class="hidden-sm-and-down">
                      รายละเอียด : {{ description }}
                    </div>
                  </v-col>
                  <v-col cols="12" md="6" class="py-1">
                    รูป:
                    <div class="hidden-md-and-up">
                      <v-img
                        width="100%"
                        :src="
                          urlfile == ''
                            ? 'https://firebasestorage.googleapis.com/v0/b/np-storage-it.appspot.com/o/IT_ASSET-2021-01-29%3A13%3A35%3A121?alt=media'
                            : urlfile
                        "
                      />
                    </div>
                    <div class="hidden-sm-and-down">
                      <v-img
                        width="50%"
                        :src="
                          urlfile == ''
                            ? 'https://firebasestorage.googleapis.com/v0/b/np-storage-it.appspot.com/o/IT_ASSET-2021-01-29%3A13%3A35%3A121?alt=media'
                            : urlfile
                        "
                      />
                    </div>
                  </v-col>
                  <v-col cols="12" md="6" class="py-1">
                    บารโค้ด: {{ barcodest }}
                    <div>
                      <barcode v-bind:value="barcodest"></barcode>
                    </div>
                  </v-col>
                </v-row>
              </v-form>
            </v-card>
            <v-row no-gutters>
              <v-col cols="12" class="hidden-sm-and-down">
                <v-btn outlined class="mr-4" @click="e1 = 1">ย้อนกลับ</v-btn>
                <v-btn
                  color="blue"
                  outlined
                  class="mr-4 px-8 white--text"
                  @click="checkdataUpload()"
                  >เพิ่ม</v-btn
                >
              </v-col>
              <v-col cols="6" class="hidden-md-and-up pa-1">
                <v-btn block outlined @click="e1 = 2">ย้อนกลับ</v-btn>
              </v-col>
              <v-col cols="6" class="hidden-md-and-up pa-1">
                <v-btn
                  color="blue"
                  block
                  outlined
                  class="white--text"
                  @click="checkdataUpload()"
                  >เพิ่ม</v-btn
                >
              </v-col>
            </v-row>
          </v-stepper-content>
        </v-stepper-items>
      </v-stepper>
    </v-card>

    <v-dialog persistent max-width="300" v-model="Insert_group">
      <PopupInsert />
    </v-dialog>

    <v-dialog max-width="450" v-model="ErrorInputiden_group">
      <PopupErrorInputiden />
    </v-dialog>

    <v-dialog max-width="450" v-model="ErrorRespon_group">
      <PopupResponError />
    </v-dialog>
  </div>
</template>

<script>
import VueBarcode from "vue-barcode";
import moment from "moment";
import api from "../../services/asset";
import PopupInsert from "../Popup/PopupInsert";
import PopupErrorInputiden from "../Popup/PopupErrorInputiden.vue";
import PopupResponError from "../Popup/PopupResponError.vue";
export default {
  name: "InsertAsset",
  data() {
    return {
      AssetdataInsertitem: null,
      dataclose: false,
      Insert_group: false,
      ErrorInputiden_group: false,
      ErrorRespon_group: false,
      e1: 1,
      CategoryList: [],
      Categorydata: null,
      Categoryname: "",
      SubCategoryList: [],
      SubCategorydata: null,
      SubCategoryname: "",
      barcodest: "",
      imagefile: "",
      urlfile:
        "https://firebasestorage.googleapis.com/v0/b/np-storage-it.appspot.com/o/IT_ASSET-2021-01-29%3A13%3A35%3A121?alt=media",
      img:
        "https://firebasestorage.googleapis.com/v0/b/np-storage-it.appspot.com/o/IT_ASSET-2021-01-29%3A13%3A35%3A121?alt=media",
      urlFromApi: "",
      itemImg: "",
      genimg: "",
      typeSN: [
        { id: 1, name: "มี" },
        { id: 0, name: "ไม่มี" },
      ],
      typeSNdata: null,
      typeSNname: "",
      barcode: "",
      time: "",
      response: "",
      valid1: true,
      assetname: "",
      assetnameRules: [
        (v) => !!v || "กรุณากรอกชื่อสินทรัพย์",
        (v) => (v && v.length <= 50) || "ความยาวตัวอักษรไม่เกิน 50 ตัว",
      ],
      depreciation: "",
      depreciationRules: [
        (v) => (v >= 0 && v <= 100) || "กรอกตัวเลขตั้งแต่ 0 - 100",
      ],
      description: "",
      descriptionRules: [
        (v) => !!v || "กรุณากรอกรายละเอียด",
        (v) => (v && v.length <= 200) || "ความยาวตัวอักษรไม่เกิน 200 ตัว",
      ],
    };
  },
  components: {
    PopupInsert,
    PopupErrorInputiden,
    PopupResponError,
    barcode: VueBarcode,
  },
  methods: {
    validate1() {
      this.$refs.form.validate();
      if (this.$refs.form.validate() == true) {
        this.e1 = 2;
      }
    },
    setsnname(val) {
      this.typeSNname = val.name;
    },
    setsubname(val) {
      this.SubCategoryname = val.sname;
    },
    resetdata() {
      this.AssetdataInsertitem = null;
      this.dataclose = false;
      this.Insert_group = false;
      this.ErrorInputiden_group = false;
      this.ErrorRespon_group = false;
      this.e1 = 1;
      this.CategoryList = [];
      this.Categorydata = null;
      this.Categoryname = "";
      this.SubCategoryList = [];
      this.SubCategorydata = null;
      this.SubCategoryname = "";
      this.barcodest = "";
      this.imagefile = "";
      this.urlfile =
        "https://firebasestorage.googleapis.com/v0/b/np-storage-it.appspot.com/o/IT_ASSET-2021-01-29%3A13%3A35%3A121?alt=media";
      this.img =
        "https://firebasestorage.googleapis.com/v0/b/np-storage-it.appspot.com/o/IT_ASSET-2021-01-29%3A13%3A35%3A121?alt=media";
      this.urlFromApi = "";
      this.itemImg = "";
      this.genimg = "";
      this.typeSN = [
        { id: 1, name: "มี" },
        { id: 0, name: "ไม่มี" },
      ];
      this.typeSNdata = null;
      this.typeSNname = "";
      this.barcode = "";
      this.time = "";
      this.response = "";
      this.valid1 = true;
      this.assetname = "";
      this.depreciation = "";
      this.description = "";
      this.ListCategorydata();
    },
    checkdataUpload() {
      if (
        this.assetname == "" ||
        this.typeSNdata == "" ||
        this.Categorydata == "" ||
        this.SubCategorydata == "" ||
        this.barcodest == ""
      ) {
        this.ErrorInputiden_group = true;
        setTimeout(() => {
          this.ErrorInputiden_group = false;
        }, 2000);
      } else {
        this.checkimgdata();
      }
    },
    openLoading() {
      this.Insert_group = true;
    },
    closeLoading() {
      this.Insert_group = false;
    },
    cancelInsertgroup() {
      this.resetdata();
      this.$emit("cancel", this.dataclose);
    },
    closeInsertgroup() {
      this.$emit("close", this.dataclose, this.AssetdataInsertitem);
      this.resetdata();
    },
    ListSubCategorydata() {
      this.Categoryname = this.Categorydata.name;
      api.ListSubCategory(
        this.$store.state.header,
        {
          id: this.Categorydata.id,
        },
        (result) => {
          this.SubCategoryList = result.data;
        },
        (error) => {
          console.log(error);
        }
      );
    },
    checkimgdata() {
      if (this.urlfile === this.img) {
        this.InsertAssetdataNoing();
      } else {
        this.uploadimage();
      }
    },
    async testimg() {
      try {
        const formData = new FormData();
        formData.append("file", this.selectedFile);
        formData.append("type", "customer");
        this.imagefile = document.querySelector("#fileUpload");
        this.urlfile = URL.createObjectURL(this.imagefile.files[0]);
      } catch (error) {
        console.log(error);
      }
    },
    uploadimage() {
      this.openLoading();
      const header = {
        headers: {
          "Content-Type": "multipart/form-data",
        },
      };
      const formData = new FormData();
      formData.append("file", this.imagefile.files[0]);
      api.genItem(
        header,
        formData,
        (result) => {
          if (result.response === "success") {
            this.urlFromApi = result.data.url;
            this.InsertAssetdata();
          } else {
            // result.message
          }
        },
        (error) => {
          alert(JSON.stringify(error));
        }
      );
    },
    InsertAssetdata() {
      let payload = {
        name: this.assetname,
        category_id: this.Categorydata.id,
        sub_category_id: this.SubCategorydata.id,
        barcode: this.barcodest,
        description: this.description,
        url: this.urlFromApi,
        types: this.typeSNdata.id,
        percents: parseFloat(this.depreciation),
        user_code: sessionStorage.user_code,
      };
      api.InsertAsset(
        this.$store.state.header,
        payload,
        (result) => {
          this.response = result.response;
          this.AssetdataInsertitem = result.data;
          this.closeLoading();
          this.closeInsertgroup();
        },
        (error) => {
          console.log(error);
        }
      );
    },
    InsertAssetdataNoing() {
      try {
        let payload = {
          name: this.assetname,
          category_id: this.Categorydata.id,
          sub_category_id: this.SubCategorydata.id,
          barcode: this.barcodest,
          description: this.description,
          url: this.img,
          types: this.typeSNdata.id,
          percents: parseFloat(this.depreciation),
          user_code: sessionStorage.user_code,
        };
        api.InsertAsset(
          this.$store.state.header,
          payload,
          (result) => {
            this.response = result.response;
            this.AssetdataInsertitem = result.data;
            this.closeLoading();
            this.closeInsertgroup();
          },
          (error) => {
            console.log(error);
          }
        );
      } catch (error) {
        this.closeLoading();
      }
    },
    ListCategorydata() {
      api.ListCategory(
        this.$store.state.header,
        {
          id: null,
        },
        (result) => {
          this.CategoryList = result.data;
        },
        (error) => {
          console.log(error);
        }
      );
    },

    genbarcode() {
      this.time = Date();
      this.barcode = moment(this.time).format("YYMMDDhhmmss");
      this.barcodest = "NP" + this.barcode;
    },
  },
  mounted() {
    this.ListCategorydata();
  },
};
</script>

<style scoped>
.botton {
  background: linear-gradient(90.75deg, #00b9f8 5.43%, #3780ee 84.26%), #c4c4c4;
}
</style>
