<template>
  <div>
    <v-card>
      <v-stepper v-model="e1">
        <div align="right" class="hidden-md-and-up"><v-icon  color="black" class="pa-2" @click="cancelUpdategroup()">cancel</v-icon></div>
        <v-stepper-header class="hidden-sm-and-down">
          <v-stepper-step :complete="e1 > 1" step="1" color="blue">
            ข้อมูลสินทรัพย์
          </v-stepper-step>
          <v-divider></v-divider>
          <v-stepper-step :complete="e1 > 2" step="2" color="blue">
            รูปภาพ / บาร์โค้ด
          </v-stepper-step>
          <v-divider></v-divider>
          <v-stepper-step step="3" color="blue"> รายละเอียดทั้งหมด </v-stepper-step>
        </v-stepper-header>
      <div style="font-size:1.5rem;" class="px-4 hidden-md-and-up">แก้ไข</div>
        <v-stepper-items>
          <v-stepper-content step="1" class="pa-3">
            <v-card flat>
              <v-form v-model="valid" ref="form" lazy-validation>
                <v-row no-gutters>
                  <v-col cols="12" md="8" >
                    <v-text-field
                      v-model="headerdata.name"
                      :rules="assetnameRules"
                      :counter="50"
                      prepend-icon="source"
                      label="ชื่อสินทรัพย์"
                      color="light-blue darken-3"
                      required
                    ></v-text-field>
                  </v-col>
                  <v-col cols="12" md="4" >
                    <v-text-field
                      v-model="headerdata.percents"
                      :rules="depreciationRules"
                      :counter="3"
                      type='number'
                      onkeypress="return event.keyCode === 8 || event.charCode >= 48 && event.charCode <= 57"
                      prepend-icon="trending_down"
                      label="ค่าเสื่อม % ต่อปี"
                      hint="กรอกตัวเลขระหว่าง 0-100"
                      color="light-blue darken-3"
                      required
                    ></v-text-field>
                  </v-col>
                  <v-col cols="12" md="6">
                    <v-select
                      v-model="Categorydata"
                      :items="CategoryList"
                      item-text="name"
                      return-object
                      prepend-icon="view_list"
                      :rules="[(v => !!v && v != '') || 'กรุณาเลือกหมวดหมู่']"
                      label="หมวดหมู่"
                      color="light-blue darken-3"
                      required
                      @change="ListSubCategorydata(Categorydata)"
                    ></v-select>
                  </v-col>
                  <v-col cols="12" md="6" >
                    <v-select
                      v-model="SubCategorydata"
                      :items="SubCategoryList"
                      item-text="sname"
                      :rules="[v => !!v || 'กรุณาเลือกประเภท']"
                      return-object
                      required
                      color="light-blue darken-3"
                      prepend-icon="view_stream"
                      label="ประเภท"
                    ></v-select>
                  </v-col>
                  <v-col cols="12" md="12" >
                    <v-textarea
                      required
                      prepend-icon="description"
                      color="light-blue darken-3"
                      maxlength="200"
                      name="input-7-4"
                      label="รายละเอียด"
                      v-model="headerdata.description"
                    ></v-textarea>
                  </v-col>
                </v-row>
              </v-form>
            </v-card>
                <v-row no-gutters>
                    <v-col cols="12" class="hidden-sm-and-down" >
                    <v-btn text outlined color="black" class="mr-4 " @click="cancelUpdategroup()">ยกเลิก</v-btn>
                     <v-btn  outlined :disabled="!valid" color="blue" class="mr-4" @click="validate">ถัดไป</v-btn>
                  </v-col>
                  <v-col cols="6" class="hidden-md-and-up pa-1" >
                    <v-btn outlined color="black" class="mr-4 " block @click="cancelUpdategroup()">ยกเลิก</v-btn>
                  </v-col>
                  <v-col cols="6" class="hidden-md-and-up pa-1">
                    <v-btn outlined :disabled="!valid" color="blue" block class="mr-4" @click="validate">ถัดไป</v-btn>
                  </v-col>
                </v-row>
          </v-stepper-content>

          <v-stepper-content step="2" class="pa-3">
            <v-card flat>
              <v-form>
                <v-row no-gutters>
                  <v-col cols="12" sm="6" >
                   <v-row no-gutters> 
                    <v-col cols="12">
                        รูปภาพ
                    </v-col>
                    <v-col cols="12">
                        <v-img
                      height="100%"
                      width="90%"
                      :src="
                        urlfile == ''
                          ? 'https://firebasestorage.googleapis.com/v0/b/np-storage-it.appspot.com/o/IT_ASSET-2021-01-29%3A13%3A35%3A121?alt=media'
                          : urlfile
                      "
                      @click="$refs.fileUpload.click()"
                    ></v-img>
                    <input
                      color="light-blue darken-3"
                      type="file"
                      class="form-control-file"
                      id="fileUpload"
                      ref="fileUpload"
                      hidden
                      @change="testimg"
                    />
                    </v-col>
                   </v-row>
                  </v-col>
                  <v-col cols="12" sm="6" >
                    <v-text-field
                      required
                      disabled
                      v-model="headerdata.barcode"
                      counter
                      maxlength="25"
                      label="บาร์โค้ด"
                      color="light-blue darken-3"
                    ></v-text-field>
                    <barcode v-bind:value="headerdata.barcode"></barcode>
                  </v-col>
                </v-row>
              </v-form>
            </v-card>
            <v-row no-gutters class="pt-4">
                    <v-col cols="12" class="hidden-sm-and-down" >
                    <v-btn text outlined color="black" class="mr-4 " @click="e1 = 1">ย้อนกลับ</v-btn>
                     <v-btn  outlined color="blue" class="mr-4" @click="e1 = 3" >ถัดไป</v-btn>
                  </v-col>
                  <v-col cols="6" class="hidden-md-and-up pa-1" >
                    <v-btn outlined color="black" class="mr-4 " block @click="e1 = 1">ย้อนกลับ</v-btn>
                  </v-col>
                  <v-col cols="6" class="hidden-md-and-up pa-1">
                    <v-btn outlined color="blue" block class="mr-4" @click="e1 = 3">ถัดไป</v-btn>
                  </v-col>
                </v-row>
          </v-stepper-content>

          <v-stepper-content step="3" class="pa-2">
            <v-card flat>
              <v-form>
                <v-row no-gutters>
                  <v-col cols="12" md="12" class="px-2 py-2">
                    ชื่อสินทรัพย์: {{ headerdata.name }}
                  </v-col>
                  <v-col cols="12" md="6" class="px-2 py-2">
                    หมวดหมู่: {{ Categorydata.name }}
                  </v-col>
                  <v-col cols="12" md="6" class="px-2 py-2">
                    ประเภท: {{ SubCategorydata.sname }}
                  </v-col>
                  <v-col cols="12" md="12" class="px-2 py-2">
                    รายละเอียด : {{ headerdata.description }}
                  </v-col>
                  <v-col cols="12" md="6" class="px-2 py-2">
                    รูป:
                    <div>
                      <v-img height="100%" width="90%" :src="urlfile" ></v-img>
                    </div>
                  </v-col>
                  <v-col cols="12" md="6" class="px-2 py-2">
                    บารโค้ด: {{ headerdata.barcode }}
                    <div>
                        <barcode v-bind:value="headerdata.barcode"></barcode>
                    </div>
                  </v-col>
                </v-row>
              </v-form>
            </v-card>
                <v-row no-gutters class="pt-4">
                    <v-col cols="12" class="hidden-sm-and-down" >
                    <v-btn text outlined color="black" class="mr-4 " @click="e1 = 2">ย้อนกลับ</v-btn>
                     <v-btn  outlined color="blue" class="mr-4" @click="checkdataUpload()" >บันทึก</v-btn>
                  </v-col>
                  <v-col cols="6" class="hidden-md-and-up pa-1" >
                    <v-btn outlined color="black" class="mr-4 " block @click="e1 = 2">ย้อนกลับ</v-btn>
                  </v-col>
                  <v-col cols="6" class="hidden-md-and-up pa-1">
                    <v-btn outlined color="blue" block class="mr-4" @click="checkdataUpload()">บันทึก</v-btn>
                  </v-col>

                </v-row>
          </v-stepper-content>
        </v-stepper-items>
      </v-stepper>
    </v-card>

    <v-dialog persistent max-width="300" v-model="Update_group">
      <PopupUpdate />
    </v-dialog>

    <v-dialog max-width="500" v-model="ErrorInputiden_group">
      <PopupErrorInputiden />
    </v-dialog>

    <v-dialog max-width="450" v-model="ErrorRespon_group">
      <PopupResponError />
    </v-dialog>
  </div>
</template>

<script>
import VueBarcode from 'vue-barcode';
import api from "../../services/asset";
import PopupErrorInputiden from "../Popup/PopupErrorInputiden";
import PopupResponError from "../Popup/PopupResponError.vue";
import PopupUpdate from "../Popup/PopupUpdate";
export default {
  name: "UpdateAsset",
  props: ["SendAssetData"],
  data() {
    return {
      headerdata: [],
      dataclose: false,
      Update_group: false,
      ErrorRespon_group: false,
      ErrorInputiden_group: false,
      e1: 1,
      CategoryList: [],
      Categorydata: [],
      SubCategoryList: [],
      SubCategorydata: [],
      imagefile: "",
      urlfile: "",
      urlFromApi: "",
      valid: false,
      assetnameRules: [
        v => !!v || 'กรุณากรอกชื่อสินทรัพย์',
        v => (v && v.length <= 50) || 'ความยาวตัวอักษรไม่เกิน 50 ตัว',
      ],
      depreciationRules: [
        v => ( v >= 0 && v <= 100) || "กรอกตัวเลขตั้งแต่ 0 - 100",
      ],
      descriptionRules: [
        v => !!v || 'กรุณากรอกรายละเอียด',
        v => (v && v.length <= 200) || 'ความยาวตัวอักษรไม่เกิน 200 ตัว',
      ],
    };
  },
  components: { PopupUpdate, PopupErrorInputiden, PopupResponError ,'barcode': VueBarcode},
  methods: {
    validate() {
        this.$refs.form.validate()
        if(this.$refs.form.validate() == true){
          this.e1 = 2
        }
      },
    HaederAssetdata() {
      api.HaederAsset(
        this.$store.state.header,
        {
          id: parseInt(this.SendAssetData.id),
        },
        (result) => {
          this.headerdata = result.data;
          this.urlfile = this.headerdata.url
        },
        (error) => {
          console.log(error);
        }
      );
    },
    checkdataUpload() {
      if (
        this.headerdata.name == "" ||
        this.Categorydata == "" ||
        this.SubCategorydata == "" ||
        this.headerdata.description == ""
      ){
        this.ErrorInputiden_group = true;
        setTimeout(() => {
          this.ErrorInputiden_group = false;
        }, 2000);
      } else {
        this.checkimgdata();
      }
    },
    resetdata() {
      this.dataclose= false,
      this.Update_group= false,
      this.ErrorRespon_group= false,
      this.ErrorInputiden_group= false,
      this.e1= 1,
      this.imagefile= "",
      this.urlfile= this.headerdata.url,
      this.urlFromApi= "",
      this.valid= true,
      this.SelectCategoryID();
      this.SelectSubCategoryIDdata();
      this.HaederAssetdata()
    },
    openUpdate() {
      this.Update_group = true;
    },
    closeUpdate() {
      this.Update_group = false;
    },
    cancelUpdategroup() {
      this.$emit("cancel", this.dataclose);
      this.resetdata();
    },
    closeUpdategroup() {
      this.$emit("close", this.dataclose);
      this.resetdata();
    },

    ListCategorydata() {
      api.ListCategory(
        this.$store.state.header,
        {
          id: null,
        },
        (result) => {
          this.CategoryList = result.data;
        },
        (error) => {
          console.log(error);
        }
      );
    },

    ListSubCategorydataFrist() {
      api.ListSubCategory(
        this.$store.state.header,
        {
          id: this.SendAssetData.category_id,
        },
        (result) => {
          this.SubCategoryList = result.data;
        },
        (error) => {
          console.log(error);
        }
      );
    },
    ListSubCategorydata(val) {
      api.ListSubCategory(
        this.$store.state.header,
        {
          id: val.id,
        },
        (result) => {
          this.SubCategoryList = result.data;
        },
        (error) => {
          console.log(error);
        }
      );
    },
    SelectCategoryID() {
      api.SelectCategory(
        this.$store.state.header,
        {
          id: this.SendAssetData.category_id,
        },
        (result) => {
          this.Categorydata = result.data;
          
        },
        (error) => {
          console.log(error);
        }
      );
    },

    SelectSubCategoryIDdata() {
      api.SelectSubCategory(
        this.$store.state.header,
        {
          id: this.SendAssetData.sub_category_id,
        },
        (result) => {
          this.SubCategorydata = result.data;
        },
        (error) => {
          console.log(error);
        }
      );
    },
    checkimgdata() {
      this.openUpdate();
      if (this.SendAssetData.url === this.urlfile) {
        this.UpdateAssetdataNoImg();
      } else {
        this.uploadimage();
      }
    },

    testimg() {
      const formData = new FormData();
      formData.append("file", this.selectedFile);
      formData.append("type", "customer");
      this.imagefile = document.querySelector("#fileUpload");
      this.urlfile = URL.createObjectURL(this.imagefile.files[0]);
    },
    uploadimage() {
      const header = {
        headers: {
          "Content-Type": "multipart/form-data",
        },
      };
      const formData = new FormData();
      formData.append("file", this.imagefile.files[0]);
      api.genItem(
        header,
        formData,
        (result) => {
          if (result.response === "success") {
            this.urlFromApi = result.data.url;
            this.UpdateAssetdata();
          } else {
            // result.message
          }
        },
        (error) => {
          alert(JSON.stringify(error));
        }
      );
    },
    UpdateAssetdata() {
      let payload = {
        id: this.headerdata.id,
        name: this.headerdata.name,
        category_id: this.Categorydata.id,
        sub_category_id: this.SubCategorydata.id,
        description: this.headerdata.description,
        url: this.urlFromApi,
        percents:parseFloat(this.headerdata.percents),
        user_code: sessionStorage.user_code,
      };
      api.UpdateAsset(
        this.$store.state.header,
        payload,
        (result) => {
          this.asset = result;
          this.closeUpdate();
          this.closeUpdategroup();
          this.resetdata();
        },
        (error) => {
          console.log(error);
        }
      );
    },
    UpdateAssetdataNoImg() {
      let payload = {
        id: this.headerdata.id,
        name: this.headerdata.name,
        category_id: this.Categorydata.id,
        sub_category_id: this.SubCategorydata.id,
        description: this.headerdata.description,
        url: this.headerdata.url,
        percents:parseFloat(this.headerdata.percents),
        user_code: sessionStorage.user_code,
      };
      api.UpdateAsset(
        this.$store.state.header,
        payload,
        (result) => {
          this.asset = result;
          this.closeUpdate();
          this.closeUpdategroup();
          this.resetdata();
        },
        (error) => {
          console.log(error);
        }
      );
    },
  },
  watch: {
    SendAssetData(val) {
      if (val) {
        this.SendAssetData = val
        this.ListCategorydata();
        this.SelectCategoryID();
        this.SelectSubCategoryIDdata();
        this.ListSubCategorydataFrist();
        this.HaederAssetdata();
      }
    },
  },
  mounted() {
    this.ListCategorydata();
    this.SelectCategoryID();
    this.SelectSubCategoryIDdata();
    this.ListSubCategorydataFrist();
    this.HaederAssetdata();
  },
};
</script>

<style scoped>
.botton {
  background: linear-gradient(90.75deg, #00b9f8 5.43%, #3780ee 84.26%), #c4c4c4;
}
</style>


