<template>
  <div id="Category">
    <v-card class="pa-0 ma-0" elevation="1" tile color="white">
      <v-container grid-list-xs>
        <v-row no-gutters>
          <v-col cols="12" style="font-size: 1.5rem"> เพิ่มรายงาน </v-col>
        </v-row>
      </v-container>
    </v-card>
    <v-container grid-list-xs>
      <div style="font-size: 1.2rem">
        ข้อมูลรายงาน
        <v-icon @click="test(hiddenheader.hide)">{{
          hiddenheader.hide != true ? "visibility_off" : "visibility"
        }}</v-icon>
      </div>
      <v-row no-gutters>
        <v-banner v-model="hiddenheader.hide" single-line class="pa-0 mb-3">
          dfgdfgdfgdfgdfgdfgdfgd
        </v-banner>

        <v-col cols="12" md="9">
          <v-text-field
            prepend-icon="description"
            v-model="reportName"
            label="ชื่อรายงน"
            color="blue"
          ></v-text-field>
        </v-col>
        <v-col cols="12" md="3">
          <v-text-field
            v-model="date"
            prepend-icon="date_range"
            label="วันที่ตรวจเช็ค"
            color="blue"
            readonly
          ></v-text-field>
        </v-col>
        <v-col cols="12" md="6">
          <v-text-field
            :value="username"
            prepend-icon="people"
            label="ผู้ทำรายการ"
            color="blue"
            readonly
          ></v-text-field>
        </v-col>
        <v-col cols="12" md="6">
          <v-text-field
            :value="position"
            prepend-icon="admin_panel_settings"
            label="แผนก"
            color="blue"
            readonly
          ></v-text-field>
        </v-col>
      </v-row>
      <v-row no-gutters>
        <v-col cols="12">
          <div style="font-size: 1.2rem">ค้นหา</div>
        </v-col>
        <v-col cols="12">
          <v-text-field
            class=""
            v-model="Assetname"
            prepend-icon="assignment"
            label="คำที่ใช้ค้นหา"
            color="blue"
          ></v-text-field>
        </v-col>
        <v-col cols="12">
          ค้นหา สถานที่
          <v-row no-gutters>
            <v-col cols="12" md="6">
              <v-radio-group v-model="check" mandatory row class="pa-0">
                <v-radio
                  label="ทั้งหมด"
                  value="0"
                  color="blue"
                  @click="v0 = false"
                ></v-radio>
                <v-radio
                  label="กำลังใช้งาน"
                  color="blue"
                  value="2"
                  @click="v0 = false"
                ></v-radio>
                <v-radio
                  label="ในคลัง"
                  color="blue"
                  value="1"
                  @click="v0 = true"
                ></v-radio>
              </v-radio-group>
            </v-col>

            <v-col cols="12">
              <v-banner v-model="v0" single-line class="pa-0 mb-3">
                <v-select
                  v-model="locationData"
                  :items="locationList"
                  item-text="name"
                  return-object
                  label="สถานที่เก็บ"
                  color="blue darken-1"
                  required
                  @change="ListSubCategorydata(categoryData.id)"
                ></v-select>
              </v-banner>
            </v-col>
          </v-row>
        </v-col>
        <v-col cols="12" md="6">
          ค้นหาด้วย หมวดหมู่ / ประเภท
          <v-row no-gutters>
            <v-col cols="12" md="6">
              <v-select
                v-model="categoryData"
                :items="CategoryList"
                item-text="name"
                return-object
                prepend-icon="view_list"
                label="หมวดหมู่"
                color="blue darken-1"
                required
                @change="ListSubCategorydata(categoryData.id)"
              ></v-select>
            </v-col>
            <v-col cols="12" md="6">
              <v-select
                v-model="SubCategoryData"
                :items="SubCategoryList"
                item-text="sname"
                return-object
                prepend-icon="view_stream"
                label="ประเภท"
                color="blue darken-1"
                required
              ></v-select>
            </v-col>
          </v-row>
        </v-col>
        <v-col cols="12" md="6">
          ค้นหาด้วยราคา
          <v-row no-gutters>
            <v-col cols="12">
              <v-radio-group v-model="check2" mandatory row class="pa-0">
                <v-radio
                  label="ทุกราคา"
                  value="2"
                  color="blue"
                  @click="(v1 = false), allprice()"
                ></v-radio>
                <v-radio
                  label="เลือกช่วงราคา"
                  color="blue"
                  value="3"
                  @click="(v1 = true), selectprice()"
                ></v-radio>
              </v-radio-group>
            </v-col>
            <v-col cols="12">
              <v-banner v-model="v1" single-line class="pa-0">
                <v-row no-gutters>
                  <v-col cols="6">
                    <v-text-field
                      v-model="price.min"
                      label="เริ่มต้น"
                      class="px-1"
                      :disabled="disible == 1"
                      color="blue"
                    ></v-text-field>
                  </v-col>
                  <v-col cols="6">
                    <v-text-field
                      :disabled="disible == '1'"
                      v-model="price.max"
                      label="ถึง"
                      class="px-1"
                      color="blue"
                    ></v-text-field>
                  </v-col>
                </v-row>
              </v-banner>
            </v-col>
          </v-row>
        </v-col>
        <!-- {{ categoryData }}{{ SubCategoryData }} -->
        <v-col cols="12" class="hidden-sm-and-down">
          <v-btn
            color="blue"
            class="mr-3 px-6 white--text"
            @click="checkdata()"
          >
            ค้นหา</v-btn
          ><v-btn color="blue" outlined @click="reset()">ล้างข้อมูลค้นหา</v-btn>
        </v-col>
        <v-col cols="12" class="hidden-md-and-up">
          <v-row no-gutters>
            <v-col cols="6" class="pr-1">
              <v-btn
                color="blue"
                class="white--text"
                block
                @click="checkdata()"
              >
                ค้นหา</v-btn
              >
            </v-col>
            <v-col cols="6" class="pl-1">
              <v-btn color="blue" outlined block @click="reset()"
                >ล้างข้อมูลค้นหา</v-btn
              >
            </v-col>
          </v-row>
        </v-col>
      </v-row>
      <v-divider class="my-3"></v-divider>
      <div v-if="assetitemdata.length == 0" align="center">ไม่พบข้อมูล</div>
      <div v-if="assetitemdata.length !== 0">
        <v-simple-table dense>
          <template v-slot:default>
            <thead>
              <tr>
                <th class="text-left">รหัส</th>
                <th class="text-left">ชื่อ</th>
                <th class="text-left">ที่เก็บ</th>
                <th class="text-left">เลือก</th>
                <th class="text-left">หมายเหตุ</th>
              </tr>
            </thead>
            <tbody>
              <tr v-for="item in assetitemdata" :key="item.s">
                <td class="my-0">{{ item.id }}</td>
                <td class="my-0">{{ item.assetname }}</td>
                <td class="my-0">{{ item.location }}</td>
                <td class="my-0">
                  <v-checkbox color="blue" v-model="item.check"></v-checkbox>
                </td>
                <td class="my-0" style="width: 200px">
                  <v-text-field
                    :value="item.message"
                    width="40"
                    color="blue"
                    class="px-1"
                    dense
                    hide-details
                  ></v-text-field>
                </td>
              </tr>
            </tbody>
          </template>
        </v-simple-table>
        <v-row no-gutters>
          <v-col cols="12" class="pr-1">
            <v-btn color="blue" class="white--text" block @click="InsertReportData()">  บันทึก </v-btn>
          </v-col>
        </v-row>
      </div>
    </v-container>
  </div>
</template>

<script>
import api from "../../../services/asset";
export default {
  name: "Category",
  data() {
    return {
      check: 0,
      check2: null,
      v0: false,
      v1: false,
      disible: "",
      reportName: "",
      Assetname: "",
      available: "",
      locationData: { id: 0, name: "" },
      locationList: [],
      CategoryList: [],
      categoryData: { id: 0, name: "" },
      SubCategoryList: [],
      SubCategoryData: { id: 0, category_id: 0, name: "", sname: "" },
      hiddenheader: {
        hide: false,
        icon: "visibility",
      },
      assetitemdata: [
        {
          id: "1",
          assetname: "Keyboard",
          serial_number: "KAQ464981498",
          location: "ห้องIT",
          message: "",
          check: false,
        },
        {
          id: "2",
          assetname: "Apple",
          serial_number: "DA58464DAF925",
          location: "ห้องเก็บของ",
          message: "",
          check: false,
        },
        {
          id: "3",
          assetname: "SK2",
          serial_number: "DA58464DAF925",
          location: "ชั้นวางของIT",
          message: "",
          check: false,
        },
        {
          id: "4",
          assetname: "MOUSE",
          serial_number: "ไม่มี",
          location: "ชั้นวางของIT",
          message: "",
          check: false,
        },
      ],
      AssetItemGroup: [],
      username: sessionStorage.name,
      date: new Date().toISOString().substr(0, 10),
      position: "IT",
      price: {
        max: 100000000,
        min: 0,
      },
      datasearch: {
        keyword: "",
        statusID: 0,
        locationID: 0,
        categoryID: 0,
        subCategoryID: 0,
        maxPrice: 0,
        minPrice: 0,
      },
    };
  },
  components: {},
  methods: {
    test(val){
      console.log(val)
    },
    checkdata() {
      this.datasearch.keyword = this.Assetname;
      this.datasearch.maxPrice = this.price.max;
      this.datasearch.minPrice = this.price.min;
      this.datasearch.statusID = parseInt(this.check);
      if (this.categoryData.id == 0) {
        this.datasearch.categoryID = 0;
      } else {
        this.datasearch.categoryID = this.categoryData.id;
      }
      if (this.check !== 0) {
        this.datasearch.locationID = 0;
      } else {
        this.datasearch.locationID = this.locationData.id;
      }
      if (this.SubCategoryData.id == 0) {
        this.datasearch.subCategoryID = 0;
      } else {
        this.datasearch.subCategoryID = this.SubCategoryData.id;
      }
      console.log(this.datasearch);
    },
    InsertReportData() {
      const payload = {
        keyword: this.datasearch.keyword
      }
      console.log(payload)
      // api.InsertReport(
      //   this.$store.state.header,
      //   {
      //     id: 0,
      //   },
      //   (result) => {
      //     this.locationList = result.data;
      //   },
      //   (error) => {
      //     console.log(error);
      //   }
      // );
    },
    allprice() {
      setTimeout(() => {
        this.price.min = 0;
        this.price.max = 100000000;
      }, 100);
    },
    selectprice() {
      this.price.min = 0;
      this.price.max = 0;
    },
    ListLocation() {
      api.LocationAssetItem(
        this.$store.state.header,
        {
          id: 0,
        },
        (result) => {
          this.locationList = result.data;
        },
        (error) => {
          console.log(error);
        }
      );
    },
    ListCategorydata() {
      api.ListCategory(
        this.$store.state.header,
        {
          id: null,
        },
        (result) => {
          this.CategoryList = result.data;
        },
        (error) => {
          console.log(error);
        }
      );
    },
    ListSubCategorydata(val) {
      this.SubCategoryData = {};
      api.ListSubCategory(
        this.$store.state.header,
        {
          id: parseInt(val),
        },
        (result) => {
          this.SubCategoryList = result.data;
        },
        (error) => {
          console.log(error);
        }
      );
    },
    ListAllAssetitemdata() {
      api.ListAllAssetItem(
        this.$store.state.header,
        {
          id: null,
        },
        (result) => {
          this.assetitemdata = result.data;
        },
        (error) => {
          console.log(error);
        }
      );
    },
    reset() {
      location.reload();
    },
  },
  watch: {},
  mounted() {
    this.ListLocation();
    this.ListCategorydata();
  },
  created() {},
};
</script>

<style lang="scss" scoped>
.button {
  font-size: 1.25rem;
  height: 2.5rem;
  background: linear-gradient(90.75deg, #00b9f8 5.43%, #3780ee 84.26%), #c4c4c4;
}
</style>
