<template>
  <div id="Category">
    <v-card class="pa-0 ma-0" elevation="1" tile color="white">
      <v-container grid-list-xs>
        <div class="hidden-sm-and-down">
          <v-row no-gutters>
            <v-col cols="9">
              <v-row>
                <v-col cols="12" style="font-size: 1.5rem"> รายงาน </v-col>
              </v-row>
            </v-col>
            <v-col cols="3">
              <v-btn
                block
                color="blue"
                outlined
                @click="$router.push('/InsertReport')"
              >
                เพิ่มรายการตรวจเช็ค
              </v-btn></v-col
            >
          </v-row>
        </div>
        <div class="hidden-md-and-up">
          <v-row no-gutters>
            <v-col cols="9">
              <v-row>
                <v-col cols="12" style="font-size: 1.5rem"> รายงาน </v-col>
                <v-fab-transition>
                  <v-btn
                    small
                    color="blue"
                    fab
                    dark
                    absolute
                    bottom
                    right
                    @click="$router.push('/InsertReport')"
                  >
                    <v-icon>mdi-plus</v-icon>
                  </v-btn>
                </v-fab-transition>
              </v-row>
            </v-col>
          </v-row>
        </div>
      </v-container>
    </v-card>

    <v-container grid-list-xs>
      <v-text-field
        class="pb-3"
        v-model="searchReport"
        append-icon="mdi-magnify"
        label="ค้นหารายการตรวจเช็ค"
        single-line
        color="blue"
        hide-details
      ></v-text-field>
      <v-data-table
        :headers="reportHeader"
        :items="reportdata"
        class="elevation-1"
        :items-per-page="4"
        :search="searchReport"
      >
        <template v-slot:[`item.edit`]="{ item }">
          <v-icon @click="delete item.id">local_printshop</v-icon>
        </template>
      </v-data-table>

      <v-snackbar v-model="snackbar" :timeout="4000" top right color="success">
        <v-row no-gutters>
          <v-col cols="2" style="font-size: 1.1rem" class="text--white"
            ><v-icon large>check_circle</v-icon></v-col
          >
          <v-col
            cols="9"
            style="font-size: 1.1rem"
            class="text--white"
            align-self="center"
            >ทำรายการสำเร็จ</v-col
          >
          <v-col cols="1" align="right">
            <v-btn fab small text @click.native="snackbar = false"
              ><v-icon small>close</v-icon></v-btn
            >
          </v-col>
        </v-row>
      </v-snackbar>
    </v-container>

    <v-container grid-list-xs v-if="reportdata.length == 0">
      <div
        style="
          text-align: center;
          color: #c0c0c0;
          font-size: 20px;
          padding-top: 235px;
        "
        class="hidden-sm-and-down"
      >
        " ไม่มีข้อมูล "
      </div>
      <div
        style="
          text-align: center;
          color: #c0c0c0;
          font-size: 15px;
          padding-top: 220px;
        "
        class="hidden-md-and-up"
      >
        " ไม่มีข้อมูล "
      </div>
    </v-container>
  </div>
</template>

<script>
import api from "../../../services/asset";
export default {
  name: "Category",
  data() {
    return {
      snackbar: false,
      searchReport: "",
      reportdata: [
        {
          id: "000001",
          date: "1/3/2564",
          name: "ตรวจเช็คสินค้าประเภท อุปกรณ์คอมพิวเตอร์",
          username: "Nuttapon Jenwathanyukit",
        },
        {
          id: "000002",
          date: "25/2/2564",
          name: "ตรวจเช็คสินค้าประเภท อุปกรณ์ IT",
          username: "Nuttapon Jenwathanyukit",
        },
      ],
      reportHeader: [
        { text: "ลำดับ", value: "id" },
        { text: "วันที่", value: "date" },
        { text: "ชื่อ", value: "name" },
        { text: "ผู้ตรวจสอบ", value: "username" },
        { text: "", value: "edit" },
      ],
    };
  },
  components: {},
  methods: {
    ListReportdata() {
      api.ListReport(
        this.$store.state.header,
        {
          id: 0,
        },
        (result) => {
          this.reportdata = result.data;
        },
        (error) => {
          console.log(error);
        }
      );
    },
    adminBarNoti() {
      try {
        api.Notify(
          this.$store.state.header,
          {
            id: "",
          },
          (result) => {
            this.$store.state.approve = result.data.qty_1_2;
            this.$store.state.maintenance = result.data.qty_3;
          },
          (error) => {
            console.log(error);
          }
        );
      } catch (error) {
        console.log(error);
      }
    },
  },

  mounted() {
    this.adminBarNoti();
    // this.ListReportdata();
  },
  created() {},
};
</script>

<style lang="scss" scoped>
.button {
  font-size: 1.25rem;
  height: 2.5rem;
  background: linear-gradient(90.75deg, #00b9f8 5.43%, #3780ee 84.26%), #c4c4c4;
}
</style>
