<template>
  <div id="listAssetitemDamage">
    <v-card class="pa-0 ma-0" elevation="1" tile color="white">
      <v-container grid-list-xs>
        <div class="hidden-sm-and-down">
          <v-row no-gutters>
            <v-col cols="2" class="hidden-md-and-up">
              <v-img :src="headerdata.url" height="110" />
            </v-col>
            <v-col cols="1" class="hidden-sm-and-down">
              <v-img :src="headerdata.url" height="80%" width="80%" />
            </v-col>
            <v-col cols="10">
              <v-row>
                <v-col cols="12" md="9" style="font-size: 1.5rem">
                  <div>{{ headerdata.name }}</div>
                  <div style="font-size: 1rem">
                    <v-icon color="black">description</v-icon>
                    {{ headerdata.description }}
                  </div>
                  <div style="font-size: 1rem">
                    <v-icon color="black">view_week</v-icon>
                    {{ headerdata.barcode }}
                  </div>
                  <div style="font-size: 1rem">
                    <v-icon color="black">inventory</v-icon>
                    {{ headerdata.qty }} หน่วย ( เสีย
                    {{ headerdata.qty_damage }} หน่วย)
                  </div>
                </v-col>

                <v-col cols="12" md="3" class="pa-2">
                  <v-btn
                    block
                    outlined
                    large
                    class="red--text"
                    @click="openInsertAssetItem(headerdata)"
                    >เพิ่มจำนวน</v-btn
                  >
                  <v-btn
                    block
                    outlined
                    large
                    class="black--text mt-2"
                    @click="print_qrcode = true"
                    ><v-icon class="pr-2">print</v-icon>ปรินส์ QRCODE</v-btn
                  >
                </v-col>
              </v-row>
            </v-col>
          </v-row>
        </div>
        <div class="hidden-md-and-up">
          <v-row no-gutters>
            <v-col cols="1"
              ><v-icon
                color="black"
                class="pt-6"
                @click="$router.push('/manageAssetDamage')"
                >keyboard_arrow_left</v-icon
              ></v-col
            >
            <v-col cols="3" class="pa-2"
              ><v-img :src="headerdata.url" height="80" width="90"
            /></v-col>
            <v-col cols="8">
              <v-row>
                <v-col cols="12" md="9" style="font-size: 1rem">
                  <div>{{ headerdata.name }}</div>
                  <div style="font-size: 0.8rem">
                    <v-icon color="black" small>view_week</v-icon>
                    {{ headerdata.barcode }}
                  </div>
                  <div style="font-size: 0.8rem">
                    <v-icon color="black" small>inventory</v-icon>
                    {{ headerdata.qty }} หน่วย ( เสีย
                    {{ headerdata.qty_damage }} หน่วย)
                  </div>
                </v-col>
              </v-row></v-col
            >
            <v-fab-transition>
              <v-btn
                small
                color="red"
                fab
                dark
                absolute
                bottom
                right
                @click="openInsertAssetItem(headerdata)"
              >
                <v-icon>mdi-plus</v-icon>
              </v-btn>
            </v-fab-transition>
          </v-row>
        </div>
      </v-container>
    </v-card>

    
    <v-container grid-list-xs>
      <v-row class="ma-2">
        <v-expansion-panels style="justify-content: left">
          <v-col
            cols="12"
            md="4"
            class="pa-1"
            v-for="(Asset, i) in AssetListitem"
            :key="i"
          >
            <v-expansion-panel>
              <v-row align="center" no-gutters>
                <v-col cols="9" md="9">
                  <v-expansion-panel-header
                    class="pa-0 pl-5"
                    style="font-size: 1rem; border-left: solid red 3px"
                  >
                    <div
                      style="
                        white-space: nowrap;
                        overflow: hidden;
                        text-overflow: ellipsis;
                      "
                      v-if="Asset.serial_number == ''"
                    >
                      <div>
                        <v-icon color="black" class="pa-0"> widgets </v-icon>
                        {{ Asset.id }}
                      </div>
                    </div>
                    <div
                      v-else
                      style="
                        white-space: nowrap;
                        overflow: hidden;
                        text-overflow: ellipsis;
                      "
                    >
                      <v-icon color="black" class="pa-0"> qr_code</v-icon>
                      {{ Asset.serial_number }}
                    </div>
                  </v-expansion-panel-header>
                </v-col>
                <v-col cols="1" md="1">
                  <div v-if="Asset.conditions >= 7">
                    <v-progress-circular
                      max="10"
                      :rotate="360"
                      :size="25"
                      :width="4"
                      :value="Asset.conditions * 10"
                      color="blue"
                    >
                      <div style="font-size: 13px">
                        {{ Asset.conditions }}
                      </div>
                    </v-progress-circular>
                  </div>
                  <div v-if="Asset.conditions >= 4 && Asset.conditions <= 6">
                    <v-progress-circular
                      max="10"
                      :rotate="360"
                      :size="25"
                      :width="4"
                      :value="Asset.conditions * 10"
                      color="yellow darken-1"
                    >
                      <div style="font-size: 13px">
                        {{ Asset.conditions }}
                      </div>
                    </v-progress-circular>
                  </div>
                  <div v-if="Asset.conditions >= 0 && Asset.conditions <= 3">
                    <v-progress-circular
                      max="10"
                      :rotate="360"
                      :size="25"
                      :width="4"
                      :value="Asset.conditions * 10"
                      color="red"
                    >
                      <div style="font-size: 13px">
                        {{ Asset.conditions }}
                      </div>
                    </v-progress-circular>
                  </div>
                </v-col>
                <v-col cols="1" md="2">
                  <v-tooltip bottom>
                    <template v-slot:activator="{ on: tooltip }">
                      <v-btn
                        fab
                        text
                        small
                        color="grey"
                        v-bind="attrs"
                        v-on="{ tooltip }"
                        @click="openDetailAssetItem(Asset.id)"
                      >
                        <v-icon color="black"> article </v-icon>
                      </v-btn>
                    </template>
                    <span>ดูรายละเอียด</span>
                  </v-tooltip>
                </v-col>
              </v-row>

              <v-expansion-panel-content>
                <v-row class="pt-4">
                  <v-col cols="12" sm="6" class="pa-1">
                    <v-icon color="red darken-1">location_on</v-icon
                    >{{ Asset.location }}
                  </v-col>
                  <v-col cols="12" sm="6" class="pa-1">
                    <div v-if="Asset.warranty == ''">
                      <v-icon color="red">security</v-icon> ไม่มีประกัน
                    </div>
                    <div v-if="Asset.warranty != ''">
                      <v-icon color="red">security</v-icon> {{ Asset.warranty }}
                    </div>
                  </v-col>
                  <v-col cols="12" class="pa-1">
                    <v-btn
                      color="blue"
                      outlined
                      block
                      @click="changeStatus(Asset.id)"
                      >พร้อมใช้</v-btn
                    ></v-col
                  >
                </v-row>
              </v-expansion-panel-content>
            </v-expansion-panel>
          </v-col>
        </v-expansion-panels>
      </v-row>
    </v-container>

    <v-dialog max-width="1000" v-model="print_qrcode">
      <v-card class="pa-3">
        <div align="right" class="hidden-md-and-up" @click="closDetail()">
          <v-icon color="black" class="pa-2">cancel</v-icon>
        </div>
        <div class="hidden-md-and-up">เลือกสินทรัพย์</div>
        <v-text-field
          v-model="serachbarcode"
          placeholder="ค้นหาสินทรัพย์"
          color="blue darken-1 "
          class="pa-1"
          outlined
        ></v-text-field>
        <v-responsive class="overflow-y-auto" max-height="400">
          <v-responsive>
            <v-lazy
              v-model="isActive"
              :options="{
                threshold: 0.5,
              }"
              color="blue  darken-1"
              min-height="300"
              transition="fade-transition"
            >
              <v-row class="ma-2">
                <v-expansion-panels style="justify-content: left">
                  <v-col
                    cols="12"
                    md="4"
                    class="pa-1"
                    v-for="(Asset, i) in AssetListitem"
                    :key="i"
                  >
                    <v-expansion-panel
                      class="pl-3"
                      style="border-left: 5px solid red"
                    >
                      <v-row align="center" no-gutters>
                        <v-col cols="10" md="10">
                          <div
                            style="
                              white-space: nowrap;
                              overflow: hidden;
                              text-overflow: ellipsis;
                            "
                            v-if="Asset.serial_number == ''"
                          >
                            <div>
                              <v-icon color="black" class="pa-0">
                                widgets</v-icon
                              >
                              {{ Asset.id }}
                            </div>
                          </div>
                          <div
                            v-else
                            style="
                              white-space: nowrap;
                              overflow: hidden;
                              text-overflow: ellipsis;
                            "
                          >
                            <v-icon color="black" class="pa-0"> qr_code</v-icon>
                            {{ Asset.serial_number }}
                          </div>
                        </v-col>
                        <v-col cols="2" md="2">
                          <v-checkbox
                            color="red"
                            v-model="AssetItemGroup"
                            :value="Asset.id"
                          ></v-checkbox>
                        </v-col>
                      </v-row>
                    </v-expansion-panel>
                  </v-col>
                </v-expansion-panels>
              </v-row>
            </v-lazy>
          </v-responsive>
        </v-responsive>
        <v-row no-gutters>
          <v-col cols="12">
            <v-btn color="red" outlined width="100" @click="closeprint()"
              >ปิด</v-btn
            >
            <v-btn color="black" class="ml-5" outlined @click="printBarcode()">
              <v-icon>print</v-icon> ปรินส์ {{ AssetItemGroup.length }}
            </v-btn>
          </v-col>
        </v-row>
      </v-card>
    </v-dialog>

    <v-dialog max-width="900" v-model="Insert_group">
      <InsertAssetItemDamage
        :Asset="group_data"
        @close="closeInsertAssetItem"
        @cancel="cancelInsert"
      />
    </v-dialog>

    <v-dialog max-width="900" v-model="Update_group">
      <UpdateAssetItemDamage
        :AssetItem="group_data"
        @close="closeUpdateAssetItem"
        @cancel="cancelUpdate"
      />
    </v-dialog>

    <v-dialog max-width="900" v-model="Detail_group">
      <DetailAssetItemDamage
        :Asset="group_data"
        @close="closeDetailAssetItem"
        @cancel="cancelDetail"
      />
    </v-dialog>

    <v-snackbar
      persistent
      v-model="snackbar"
      :timeout="3000"
      top
      right
      color="light-green"
    >
      <v-row no-gutters>
        <v-col cols="2" style="font-size: 1.1rem" class="text--white"
          ><v-icon large>check_circle</v-icon></v-col
        >
        <v-col
          cols="9"
          style="font-size: 1.1rem"
          class="text--white"
          align-self="center"
          >{{ resmessage }}</v-col
        >
        <v-col cols="1" align="right">
          <v-btn fab small text @click.native="snackbar = false"
            ><v-icon small>close</v-icon></v-btn
          >
        </v-col>
      </v-row>
    </v-snackbar>
  </div>
</template>

<script>
import InsertAssetItemDamage from "../../../components/AssetItemDamage/InsertAssetItemDamage.vue";
import UpdateAssetItemDamage from "../../../components/AssetItemDamage/UpdateAssetItemDamage.vue";
import DetailAssetItemDamage from "../../../components/AssetItemDamage/DetailAssetItemDamage.vue";
import api from "../../../services/asset";
export default {
  name: "listAssetitem",
  data() {
    return {
      resmessage: "",
      snackbar: false,
      AssetItemGroup: [],
      serachbarcode: "",
      group_data: "",
      isActive: false,
      Insert_group: false,
      Update_group: false,
      Detail_group: false,
      print_qrcode: false,
      Asset_id: this.$route.params.id,
      AssetListitem: [],
      assetdetailID: 0,
      Assetdetail: [],
      headerdata: [],
      clickAssetData: [],
      attrs: "",
    };
  },
  components: {
    InsertAssetItemDamage,
    UpdateAssetItemDamage,
    DetailAssetItemDamage,
  },
  methods: {
    openInsertAssetItem(val) {
      this.group_data = val;
      this.Insert_group = true;
    },
    openUpdateAssetItem(val) {
      this.group_data = val;
      this.Update_group = true;
    },
    openDetailAssetItem(val) {
      this.group_data = val;
      this.Detail_group = true;
    },
    closeInsertAssetItem(close, assetid) {
      console.log("FFF")
      this.Insert_group = close;
      this.ListAssetItemDamageData(assetid);
      this.HaederAssetdata(assetid);
    },
    closeUpdateAssetItem(close, assetid) {
      this.Update_group = close;
      this.ListAssetItemDamageData(assetid);
      this.HaederAssetdata(assetid);
    },
    closeDetailAssetItem(close, assetid) {
      this.Detail_group = close;
      this.HaederAssetdata(assetid);
    },
    cancelInsert(close) {
      this.Insert_group = close;
    },
    cancelUpdate(close) {
      this.Update_group = close;
    },
    cancelDetail(close) {
      this.Detail_group = close;
    },
    changeStatus(val) {
      api.ChangStatusDamage(
        this.$store.state.header,
        {
          id: parseInt(val),
          user_code: sessionStorage.user_code,
        },
        (result) => {
          this.snackbar = true;
          this.resmessage = result.message;
          this.ListAssetItemDamageData();
        },
        (error) => {
          console.log(error);
        }
      );
    },
    ListAssetItemDamageData() {
      api.ListAssetItemDamage(
        this.$store.state.header,
        {
          id: parseInt(this.Asset_id),
        },
        (result) => {
          this.AssetListitem = result.data;
        },
        (error) => {
          console.log(error);
        }
      );
    },
    HaederAssetdata() {
      api.HaederAsset(
        this.$store.state.header,
        {
          id: parseInt(this.Asset_id),
        },
        (result) => {
          this.headerdata = result.data;
        },
        (error) => {
          console.log(error);
        }
      );
    },
    ListAssetItemDetaildata(val) {
      api.ListAssetItemDetail(
        this.$store.state.header,
        {
          id: val.id,
        },
        (result) => {
          this.Assetdetail = result.data[0];
        },
        (error) => {
          console.log(error);
        }
      );
    },
    ListSerachAssetItem(val) {
      api.SerachAssetItem(
        this.$store.state.header,
        {
          id: this.Asset_id,
          keyword: val,
        },
        (result) => {
          this.AssetListitem = result.data;
        },
        (error) => {
          console.log(error);
        }
      );
    },
    printBarcode() {
      window.open("/PrintQrcodeMaintenance/" + this.AssetItemGroup);
      this.closeprint();
    },
    closeprint() {
      this.AssetItemGroup = [];
      this.print_qrcode = false;
    },
    adminBarNoti() {
      try {
        api.Notify(
          this.$store.state.header,
          {
            id: "",
          },
          (result) => {
            this.$store.state.approve = result.data.qty_1_2;
            this.$store.state.maintenance = result.data.qty_3;
          },
          (error) => {
            console.log(error);
          }
        );
      } catch (error) {
        console.log(error);
      }
    },
  },
  mounted() {
    this.adminBarNoti();
    this.HaederAssetdata();
    this.ListAssetItemDamageData();
  },
  watch: {
    serachbarcode(val) {
      if (val) {
        clearTimeout(this.timeout);
        const self = this;
        this.timeout = setTimeout(function () {
          self.ListSerachAssetItem(val);
        }, 1000);
      } else if (val == "") {
        this.ListAssetItem();
      }
    },
  },
};
</script>

<style lang="scss" scoped>
.button {
  font-size: 1.25rem;
  height: 2.5rem;
  background: linear-gradient(90.75deg, #ff4444 5.43%, #fa0000 84.26%), #c4c4c4;
}
</style>
