<template>
  <div id="manageAsset">
    <v-card class="pa-0 ma-0" elevation="1" tile color="white">
      <v-container grid-list-xs>
        <v-row no-gutters>
          <v-col cols="12" md="12" style="font-size: 1.7rem">
            <v-row no-gutters>
              <v-col cols="12" md="3" class="hidden-sm-and-down"
                ><v-card link flat @click="ListAssetdata()"
                  >สินทรัพย์เสียหาย</v-card
                ></v-col
              >
              <v-col cols="2" md="1" class="px-1">
                <v-menu
                  bottom
                  :offset-y="offset"
                  :nudge-width="200"
                  transition="slide-y-transition"
                >
                  <v-list class="pa-0">
                    <v-list-item class="px-0">
                      <v-btn light block text @click="ListAssetdata()">
                        All
                      </v-btn>
                    </v-list-item>
                  </v-list>
                  <template v-slot:activator="{ on, attrs }">
                    <v-btn
                      class="hidden-sm-and-down pa-0"
                      height="50"
                      large
                      color="grey"
                      text
                      v-bind="attrs"
                      v-on="on"
                      @click="ListCateAndsubcate()"
                    >
                      หมวดหมู่
                    </v-btn>
                  </template>
                  <v-list class="pt-0">
                    <v-list-item
                      v-for="cate in CategoryList"
                      :key="cate.id"
                      class="px-0"
                    >
                      <v-menu
                        open-on-hover
                        bottom
                        :offset-x="offset"
                        :nudge-width="50"
                        transition="slide-x-transition"
                      >
                        <template v-slot:activator="{ on, attrs }">
                          <v-btn
                            color="black"
                            dark
                            v-bind="attrs"
                            v-on="on"
                            block
                            text
                            @click="SearchAssetBycatdata(cate), (keyh = cate)"
                          >
                            {{ cate.name }}
                          </v-btn>
                        </template>
                        <v-list>
                          <v-list-item v-for="(sub, id) in cate.subs" :key="id">
                            <v-list-item-title>
                              <v-btn
                                color="black"
                                block
                                text
                                @click="SearchAssetBySubcatdata(sub)"
                              >
                                {{ sub.sub_category_name }}
                              </v-btn></v-list-item-title
                            >
                          </v-list-item>
                        </v-list>
                      </v-menu>
                    </v-list-item>
                  </v-list>
                </v-menu>
                <v-btn
                  class="hidden-md-and-up"
                  fab
                  text
                  small
                  color="black"
                  @click.stop="cartdrawer = !cartdrawer"
                >
                  <v-icon color="black"> inventory</v-icon>
                </v-btn>
              </v-col>
              <v-col cols="10" md="8"
                ><v-text-field
                  v-model="search"
                  hide-details
                  solo
                  label="ค้นหา สินทรัพย์ด้วยชื่อ , บาร์โค้ด"
                ></v-text-field
              ></v-col>
            </v-row>
          </v-col>
        </v-row>
      </v-container>
    </v-card>

    <v-container grid-list-xs>
      <v-row no-gutters class="pb-4">
        <v-col cols="12" md="10">
          <span
            style="font-size: 1.2rem"
            class="hidden-sm-and-down"
            v-if="keytype == 1"
          >
            ค้นหา : {{ keysearch }}
          </span>
          <span
            style="font-size: 0.9rem"
            class="hidden-md-and-up"
            v-if="keytype == 1"
          >
            ค้นหา : {{ keysearch }}
          </span>
          <span
            style="font-size: 1.2rem"
            class="hidden-sm-and-down"
            v-if="keytype == 2"
            >ค้นหา : {{ keysearch }}
          </span>
          <span
            style="font-size: 0.9rem"
            class="hidden-md-and-up"
            v-if="keytype == 2"
            >ค้นหา : {{ keysearch }}
          </span>
          <span
            style="font-size: 1.2rem"
            class="hidden-sm-and-down"
            v-if="keytype == 0 && keysearch == ''"
            >{{ search != "" ? "ผลลัพธ์ :" : "สินทรัพย์ทั้งหมด" }}
            {{ search }}</span
          >
          <span
            style="font-size: 0.9rem"
            class="hidden-md-and-up"
            v-if="keytype == 0 && keysearch == ''"
            >{{ search != "" ? "ผลลัพธ์ :" : "สินทรัพย์ทั้งหมด" }}
            {{ search }}</span
          >
        </v-col>
      </v-row>
      <v-item-group active-class="primary " v-if="AssetList.length != 0">
        <v-row no-gutters>
          <v-col
            cols="6"
            md="3"
            lg="2"
            class="pa-1"
            v-for="AssList in AssetList"
            :key="AssList.id"
          >
            <v-card class="mx-auto cardhover" max-width="400" >
              <v-card
                class="pa-2"
                @click="golistAssetitem(AssList.id)"
                style="border: 0px"
              >
                <v-img
                  class="white--text align-end hidden-sm-and-down"
                  height="200px"
                  :src="AssList.url"
                ></v-img>
                <v-img
                  class="white--text align-end hidden-md-and-up"
                  height="150px"
                  :src="AssList.url"
                ></v-img>
                <div
                  style="
                    font-size: 16px;
                    font-weight: bold;
                    white-space: nowrap;
                    overflow: hidden;
                    text-overflow: ellipsis;
                  "
                >
                  {{ AssList.name }}
                </div>
                <div style="font-size: 14px">
                  <div
                    style="
                      white-space: nowrap;
                      overflow: hidden;
                      text-overflow: ellipsis;
                    "
                  >
                    <v-icon color="gray" class="pr-2">view_week</v-icon>
                    {{ AssList.barcode }}
                  </div>
                </div>
                <div style="font-size: 14px">{{ AssList.category_name }}</div>
                <div style="font-size: 14px">
                  <v-list-item-icon class="ma-0">{{
                    AssList.sub_category_name
                  }}</v-list-item-icon>
                </div>
                <div style="font-size: 14px" class="red--text">
                  <v-icon class="pr-2" color="red">cancel</v-icon> เสียหาย
                  {{ AssList.qty }} หน่วย
                </div>
              </v-card>

              <v-row no-gutters>
                <v-col cols="12" class="pa-1">
                  <v-btn
                    color="black"
                    text
                    block
                    style="font-size: 0.7rem"
                    @click="openAssetDetail(AssList)"
                    ><v-icon color="black">analytics</v-icon>
                    ดูข้อมูลเพิ่มเติม</v-btn
                  >
                </v-col>
              </v-row>
            </v-card>
          </v-col>
        </v-row>
      </v-item-group>
    </v-container>

    <v-container grid-list-xs v-if="AssetList.length == 0">
      <div
        style="
          text-align: center;
          color: #c0c0c0;
          font-size: 20px;
          padding-top: 183px;
        "
        class="hidden-sm-and-down"
      >
        " ไม่มีสินทรัพย์ "
      </div>
      <div
        style="
          text-align: center;
          color: #c0c0c0;
          font-size: 15px;
          padding-top: 180px;
        "
        class="hidden-md-and-up"
      >
        " ไม่มีสินทรัพย์ "
      </div>
    </v-container>

    <v-navigation-drawer v-model="cartdrawer" absolute temporary width="320">
      <v-stepper v-model="e1">
        <v-stepper-items>
          <v-stepper-content step="1" class="pa-0">
            <v-card :style="heighttext">
              <v-list>
                <v-list-item>
                  <v-list-item-title>ค้นหาประเภท</v-list-item-title>
                </v-list-item>
              </v-list>
              <v-divider></v-divider>
              <v-list-item-title
                class="pl-4 pt-5 pb-2"
                @click="ListAssetdata(), (cartdrawer = false)"
                >ทั้งหมด</v-list-item-title
              >
              <v-row
                no-gutters
                class="pl-4 py-2"
                v-for="cate in CategoryList"
                :key="cate.id"
              >
                <v-col
                  cols="10"
                  @click="SearchAssetBycatdata(cate), (cartdrawer = false)"
                  >{{ cate.name }}</v-col
                ><v-col cols="2"
                  ><v-icon @click="(e1 = 2), (subdata = cate.subs)"
                    >keyboard_arrow_right</v-icon
                  ></v-col
                >
              </v-row>
            </v-card>
          </v-stepper-content>

          <v-stepper-content step="2" class="pa-1">
            <v-card :style="heighttext">
              <v-list>
                <v-list-item>
                  <v-icon @click="e1 = 1" class="pr-2"
                    >keyboard_arrow_left</v-icon
                  ><v-list-item-title>ประเภท</v-list-item-title>
                </v-list-item>
              </v-list>
              <v-divider></v-divider>
              <v-row
                no-gutters
                class="pl-4 py-2"
                v-for="subcat in subdata"
                :key="subcat.id"
              >
                <v-col
                  cols="12"
                  @click="
                    SearchAssetBySubcatdata(subcat),
                      (e1 = 1),
                      (cartdrawer = false)
                  "
                  >{{ subcat.sub_category_name }}</v-col
                >
              </v-row>
            </v-card>
          </v-stepper-content>
        </v-stepper-items>
      </v-stepper>
    </v-navigation-drawer>

    <v-dialog max-width="900" v-model="Detail_group">
      <AssetDetail :SendAssetData="group_data" @close="closeDetail" />
    </v-dialog>
  </div>
</template>

<script>
import AssetDetail from "../../../components/AssetDamage/DetailAssetDamage.vue";
import api from "../../../services/asset";
export default {
  name: "manageAsset",
  data() {
    return {
      e1: 1,
      selection: {},
      search: "",
      searchcate: [],
      searchsubcate: [],
      length: null,
      AssetList: [],
      Insert_group: false,
      Detail_group: false,
      group_data: {},
      CategoryList: [],
      SubCategoryList: [],
      offset: true,
      cartdrawer: false,
      heighttext: "",
      subdata: [],
      keytype: 0,
      keysearch: "",
    };
  },
  components: {
    AssetDetail,
  },
  methods: {
    handleResize() {
      this.heighttext = "height:" + window.innerHeight + "px;";
    },
    openAssetDetail(val) {
      this.group_data = val;
      this.Detail_group = true;
    },
    closeDetail(val) {
      this.ListAssetdata();
      this.Detail_group = val;
    },
    golistAssetitem(val) {
      this.$router.push("../listAssetitemDamage/" + val);
    },
    ListCateAndsubcate() {
      api.SerachAssetCatSub(
        this.$store.state.header,
        {
          id: null,
        },
        (result) => {
          this.CategoryList = result.data;
        },
        (error) => {
          console.log(error);
        }
      );
    },
    ListAssetdata() {
      this.keytype = 0;
      this.keysearch = "";
      api.ListAssetDamage(
        this.$store.state.header,
        {
          id: null,
        },
        (result) => {
          this.AssetList = result.data;
        },
        (error) => {
          console.log(error);
        }
      );
    },
    SearchAssetdata(val) {
      if (val && val != "") {
        api.SerachAsset(
          this.$store.state.header,
          {
            keyword: val,
            active: 1,
            limit: 25,
            status: 0,
          },
          (result) => {
            this.AssetList = result.data;
          },
          (error) => {
            alert(error);
            console.log(error);
          }
        );
      } else {
        this.ListAssetdata();
      }
    },
    SearchAssetBycatdata(val) {
      this.keytype = 1;
      this.keysearch = val.name;
      api.SerachAssetBycat(
        this.$store.state.header,
        {
          category_id: val.id,
          sub_category_id: null,
          status: 0,
        },
        (result) => {
          this.AssetList = result.data;
        },
        (error) => {
          console.log(error);
        }
      );
    },
    SearchAssetBySubcatdata(val) {
      this.keytype = 2;
      this.keysearch = val.category_name + " > " + val.sub_category_name;
      api.SerachAssetBycat(
        this.$store.state.header,
        {
          category_id: val.category_id,
          sub_category_id: val.id,
          status: 0,
        },
        (result) => {
          this.AssetList = result.data;
        },
        (error) => {
          console.log(error);
        }
      );
    },
    adminBarNoti() {
      try {
        api.Notify(
          this.$store.state.header,
          {
            id: "",
          },
          (result) => {
            this.$store.state.approve = result.data.qty_1_2;
            this.$store.state.maintenance = result.data.qty_3;
          },
          (error) => {
            console.log(error);
          }
        );
      } catch (error) {
        console.log(error);
      }
    },
  },
  watch: {
    search(val) {
      this.keytype = 0;
      clearTimeout(this.timeout);
      const self = this;
      this.timeout = setTimeout(function () {
        self.SearchAssetdata(val);
      }, 150);
    },
  },
  mounted() {
    this.ListCateAndsubcate();
    this.ListAssetdata();
    this.handleResize();
    this.adminBarNoti();
  },
  created() {},
};
</script>

<style lang="scss" scoped>
.cardhover{
    box-shadow: 0.5px 0.5px 10px rgba(192, 192, 192, 0.8);
    transition: 0.1s;
}
.cardhover:hover{
    background-color: #fcb7b7;
    border: 0px;
    transform: scale(1.05);
}
</style>
