<template>
  <div>
    <v-card>
      <v-card class="pa-3 white--text" color="red" style="font-size: 1.5rem"
        >ยันยันการลบ</v-card
      >
      <v-card>
        <v-row no-gutters class="pa-3">
          <v-col cols="12" class="text-center red--text" style="font-size:3rem;">
            {{ message }}
          </v-col>
          <v-col cols="12">
            <v-text-field
              class="px-4"
              v-model="code"
              label="กรุณากรอกข้อตวามตามรูปภาพ"
              solo
            ></v-text-field>
          </v-col>
          <v-col cols="12" md="6" class="pa-1">
            <v-btn block outlined height="2.5rem" @click="cancelDeletegroup()">
              ยกเลิก
            </v-btn>
          </v-col>

          <v-col cols="12" md="6" class="pa-1">
            <v-btn block outlined color="red" height="2.5rem" @click="checkdata()">
              ยืนยัน
            </v-btn>
          </v-col>
        </v-row>
      </v-card>
    </v-card>
    <v-dialog persistent max-width="300" v-model="Delete_group">
      <PopupDelete />
    </v-dialog>
    <v-dialog persistent max-width="400" v-model="Confirm_group">
      <PopupConfirmerror />
    </v-dialog>
  </div>
</template>

<script>
import PopupDelete from "../Popup/PopupDelete";
import PopupConfirmerror from "../Popup/PopupConfirmerror";
import api from "../../services/asset";
export default {
  name: "DeleteSubCatgory",
  props: ["AssetItem"],
  data() {
    return {
      AssetItemdata: [],
      response: "",
      Delete_group: false,
      dataclose: false,
      Confirm_group: false,
      message: "",
      code: "",
    };
  },
  components: { PopupDelete, PopupConfirmerror },
  methods: {
    rndStr(len) {
      let text = "";
      let chars = "abcdefghijklmnopqrstuvwxyz";
      for (let i = 0; i < len; i++) {
        text += chars.charAt(Math.floor(Math.random() * chars.length));
      }
      return text;
    },
    checkdata() {
      if (this.code === this.message) {
        this.DeleteAssetItemdata();
      } else {
        this.Confirm_group = true;
        setTimeout(() => {
          this.Confirm_group = false;
        }, 1000);
      }
    },
    closeDeletegroup() {
      this.$emit("close", this.dataclose);
      setTimeout(() => {
        let message = this.rndStr(6);
        this.message = message;
      }, 500);
    },
    cancelDeletegroup() {
      this.$emit("cancel", this.dataclose);
      setTimeout(() => {
        let message = this.rndStr(6);
        this.message = message;
      }, 500);
    },
    openDelete() {
      this.Delete_group = true;
    },
    closeDelete() {
      this.Delete_group = false;
    },
    DeleteAssetItemdata() {
      this.openDelete();
      api.DeleteAssetItem(
        this.$store.state.header,
        {
          id: parseInt(this.AssetItem.id),
        },
        (result) => {
          this.response = result.response;
          this.closeDelete();
          this.closeDeletegroup();
        },
        (error) => {
          console.log(error);
        }
      );
    },
  },
  watch: {
    AssetItem(val) {
      if (val) {
        this.AssetItemdata = this.AssetItem;
        let message = this.rndStr(6);
        this.message = message;
      }
    },
  },
  mounted() {
    let message = this.rndStr(6);
    this.message = message;
  },
};
</script>
