<template>
  <div>
    <v-card>
      <v-stepper v-model="e1">
        <div align="right" class="hidden-md-and-up pa-2">
          <v-icon color="black" @click="cancelInsertgroup()">cancel</v-icon>
        </div>
        <v-stepper-header class="hidden-sm-and-down">
          <v-stepper-step :complete="e1 > 1" step="1" color="blue">
            ข้อมูลสินทรัพย์
          </v-stepper-step>
          <v-divider></v-divider>
          <v-stepper-step step="2" color="blue">
            รายละเอียดทั้งหมด
          </v-stepper-step>
        </v-stepper-header>
        <div style="font-size: 1.5rem" class="px-4 hidden-md-and-up">
          เพิ่มสินทรัพย์
        </div>
        <v-stepper-items>
          <v-stepper-content step="1" class="pa-3">
            <v-card flat>
              <v-form v-model="valid1" ref="form" lazy-validation>
                <v-row no-gutters>
                  <v-col cols="12" md="4">
                    <v-text-field
                      color="blue darken-1"
                      v-model="item.SerialNumber"
                      prepend-icon="qr_code"
                      counter
                      :disabled="Asset.types == 0"
                      maxlength="25"
                      hint="ความยาวหมวดหมู่ไม่เกิน 25 ตัวอักษร"
                      label="Serial Number"
                      required
                    ></v-text-field>
                  </v-col>
                  <v-col cols="12" md="4">
                    <v-select
                      v-model="item.Locationdata"
                      :items="Location"
                      item-text="name"
                      return-object
                      prepend-icon="mdi-map-marker"
                      :rules="[(v) => !!v || 'กรุณาเลือกสถานที่เก็บ']"
                      label="สถานที่เก็บ"
                      color="blue darken-1"
                      required
                    ></v-select>
                  </v-col>
                  <v-col cols="12" md="4">
                    <v-select
                      color="blue darken-1"
                      v-model="item.statusdata"
                      :rules="[(v) => !!v || 'กรุณาเลือกสถานะสินทรัพย์']"
                      prepend-icon="cached"
                      :items="status"
                      item-text="name"
                      return-object
                      label="สถานะ"
                      required
                    ></v-select>
                  </v-col>
                  <v-col cols="12" md="9">
                    <v-textarea
                      prepend-icon="article"
                      v-model="item.description"
                      label="รายละเอียดเพิ่มเติม"
                      color="blue darken-1"
                    ></v-textarea>
                  </v-col>

                  <v-col cols="12" md="3">
                    <div class="pl-2">
                      เพิ่มรูปภาพ
                      <v-img
                        width="60%"
                        :src="
                          urlfile == ''
                            ? 'https://firebasestorage.googleapis.com/v0/b/np-storage-it.appspot.com/o/IT_ASSET-2021-01-29%3A13%3A35%3A121?alt=media'
                            : urlfile
                        "
                        @click="$refs.fileUpload.click()"
                      />
                      <input
                        color="blue"
                        type="file"
                        class="form-control-file"
                        id="fileUpload"
                        ref="fileUpload"
                        hidden
                        @change="testimg"
                      />
                    </div>
                  </v-col>

                  <v-col cols="12" md="12">
                    <v-subheader class="pl-0">
                      สภาพสินทรัพย์ (สภาพดีเริ่มจาก 10)</v-subheader
                    >
                    <v-slider
                      class="pr-1"
                      color="blue darken-1"
                      v-model="condition"
                      prepend-icon="build"
                      :thumb-size="24"
                      max="10"
                      min="0"
                      thumb-label="always"
                    ></v-slider>
                  </v-col>
                  <v-col cols="12" md="12">
                    <v-text-field
                      v-model="item.maintain"
                      prepend-icon="person"
                      label="ข้อมูลซ่อมบำรุง"
                      counter
                      color="blue darken-1"
                      maxlength="100"
                      required
                    ></v-text-field>
                  </v-col>
                  <v-col cols="12">
                    <v-switch
                      v-model="v1"
                      label="คำนวนค่าเสื่อมสินทรัพย์ (กรุณากรอก)"
                      color="blue darken-1"
                    ></v-switch>
                    <v-banner
                      v-model="v1"
                      single-line
                      transition="slide-y-transition"
                    >
                      <v-row no-gutters>
                        <v-col cols="12" md="3">
                          <v-menu
                            v-model="menu2"
                            :close-on-content-click="false"
                            :nudge-right="40"
                            transition="scale-transition"
                            offset-y
                            min-width="auto"
                          >
                            <template v-slot:activator="{ on, attrs }">
                              <v-text-field
                                v-model="buying_date"
                                label="วันที่ซื้อ"
                                prepend-icon="event"
                                readonly
                                :rules="[(v) => !!v || 'กรุณาเลือกวันซื้อ']"
                                v-bind="attrs"
                                v-on="on"
                                color="blue darken-1"
                              ></v-text-field>
                            </template>
                            <v-date-picker
                              v-model="buying_date"
                              @input="menu2 = false"
                              color="blue darken-1"
                            ></v-date-picker>
                          </v-menu>
                        </v-col>
                        <v-col cols="12" md="3">
                          <v-text-field
                            v-model="price_buying"
                            prepend-icon="monetization_on"
                            maxlength="7"
                            type="number"
                            :rules="[(v) => !!v || 'กรุณากรอกราคาสินทรัพย์']"
                            :disabled="buying_date == ''"
                            onkeypress="return event.keyCode === 8 || event.charCode >= 48 && event.charCode <= 57"
                            hint="ราคาสินทรัพย์ ณ วันที่ซื้อ"
                            label="ราคาสินทรัพย์"
                            color="blue darken-1"
                            required
                          ></v-text-field>
                        </v-col>
                        <v-col cols="12" md="3">
                          <v-text-field
                            v-model="item.depreciation"
                            prepend-icon="trending_down"
                            maxlength="7"
                            readonly
                            hint="ค่าเสื่อม ณ วันที่ซื้อถึงปัจจุบัน"
                            label="ค่าเสื่อมสะสม"
                            color="blue darken-1"
                            required
                          ></v-text-field>
                        </v-col>

                        <v-col cols="12" md="3">
                          <v-text-field
                            v-model="item.price_now"
                            prepend-icon="money_off"
                            maxlength="7"
                            readonly
                            hint="ราคาหลังหลักค่าเสื่อมสะสม"
                            label="มูลค่าสินทรัพย์คงเหลือ"
                            color="blue darken-1"
                            required
                          ></v-text-field>
                        </v-col>
                      </v-row>
                    </v-banner>
                  </v-col>

                  <v-col cols="12">
                    <v-switch
                      v-model="v0"
                      label="การรับประกัน (ถ้ามี)"
                      color="blue darken-1"
                    ></v-switch>
                    <v-banner
                      v-model="v0"
                      single-line
                      transition="slide-y-transition"
                    >
                      <v-row no-gutters>
                        <v-col cols="12" md="4">
                          <v-menu
                            v-model="menu1"
                            :close-on-content-click="false"
                            :nudge-right="40"
                            color="blue darken-1"
                            transition="scale-transition"
                            offset-y
                            min-width="auto"
                          >
                            <template v-slot:activator="{ on, attr }">
                              <v-text-field
                                v-model="start_warranty"
                                label="วันเริ่มรับประกัน"
                                prepend-icon="event"
                                color="blue darken-1"
                                readonly
                                v-bind="attr"
                                v-on="on"
                              ></v-text-field>
                            </template>
                            <v-date-picker
                              v-model="start_warranty"
                              @input="menu1 = false"
                              color="blue darken-1"
                            ></v-date-picker>
                          </v-menu>
                        </v-col>
                        <v-col cols="12" md="4">
                          <v-text-field
                            color="blue darken-1"
                            v-model="month_warranty"
                            prepend-icon="schedule"
                            maxlength="2"
                            type="number"
                            onkeypress="return event.keyCode === 8 || event.charCode >= 48 && event.charCode <= 57"
                            :disabled="start_warranty == ''"
                            hint="จำนวนเดือน"
                            label="ระยะเวลารับประกัน (เดือน)"
                            required
                          ></v-text-field>
                        </v-col>
                        <v-col cols="12" md="4">
                          <v-text-field
                            color="blue darken-1"
                            v-model="item.date_warranty"
                            prepend-icon="security"
                            label="ประกันหมด"
                            readonly
                          ></v-text-field>
                        </v-col>
                      </v-row>
                    </v-banner>
                  </v-col>
                </v-row>
                <v-row no-gutters class="pt-5">
                  <v-col cols="12" class="hidden-sm-and-down">
                    <v-btn
                      outlined
                      color="black"
                      class="mr-4 px-6"
                      @click="cancelInsertgroup()"
                      >ปิด</v-btn
                    >
                    <v-btn
                      :disabled="!valid1"
                      outlined
                      color="blue"
                      class="white--text"
                      @click="validate1"
                      >ถัดไป</v-btn
                    >
                  </v-col>
                  <v-col cols="6" class="hidden-md-and-up pa-1">
                    <v-btn
                      color="black"
                      block
                      outlined
                      @click="cancelInsertgroup()"
                      >ปิด</v-btn
                    >
                  </v-col>
                  <v-col cols="6" class="hidden-md-and-up pa-1">
                    <v-btn
                      :disabled="!valid1"
                      outlined
                      color="blue"
                      block
                      class="white--text"
                      @click="validate1"
                      >ถัดไป</v-btn
                    >
                  </v-col>
                </v-row>
              </v-form>
            </v-card>
          </v-stepper-content>
        </v-stepper-items>

        <v-stepper-content step="2" class="pa-3">
          <v-card flat>
            <v-form>
              <v-row no-gutters>
                <v-col cols="12" class="py-1" style="font-size: 1.3rem">
                  <div class="hidden-md-and-up">{{ headerdata.name }}</div>
                  <div class="hidden-sm-and-down">
                    ชื่อสินทรัพย์: {{ headerdata.name }}
                  </div>
                </v-col>
                <v-col cols="12" class="py-1">
                  รูป: 
                  <div class="hidden-md-and-up">
                    <v-img
                      width="100%"
                      :src="
                        urlfile == ''
                          ? 'https://firebasestorage.googleapis.com/v0/b/np-storage-it.appspot.com/o/IT_ASSET-2021-01-29%3A13%3A35%3A121?alt=media'
                          : urlfile
                      "
                    />
                  </div>
                  <div class="hidden-sm-and-down">
                    <v-img
                      width="20%"
                      :src="
                        urlfile == ''
                          ? 'https://firebasestorage.googleapis.com/v0/b/np-storage-it.appspot.com/o/IT_ASSET-2021-01-29%3A13%3A35%3A121?alt=media'
                          : urlfile
                      "
                    />
                  </div>
                </v-col>
                <v-col cols="12">
                  <div class="px-3">
                    <v-row no-gutters>
                      <v-col cols="12" class="py-1">
                        <div class="hidden-md-and-up">
                          <v-icon>description</v-icon> : {{ item.description }}
                        </div>
                        <div class="hidden-sm-and-down">
                          รายละเอียดเพิ่มเติม : {{ item.description }}
                        </div>
                      </v-col>
                      <v-col cols="6" md="4" class="py-1">
                        <div class="hidden-md-and-up">
                          <v-icon>view_list</v-icon> :
                          {{ headerdata.category_name }}
                        </div>
                        <div class="hidden-sm-and-down">
                          หมวดหมู่ : {{ headerdata.category_name }}
                        </div>
                      </v-col>
                      <v-col cols="6" md="4" class="py-1">
                        <div class="hidden-md-and-up">
                          <v-icon>view_stream</v-icon> :
                          {{ headerdata.sub_category_name }}
                        </div>
                        <div class="hidden-sm-and-down">
                          ประเภท : {{ headerdata.sub_category_name }}
                        </div>
                      </v-col>
                      <v-col cols="12" md="4" class="py-1">
                        <div class="hidden-md-and-up">
                          <v-icon>mdi-map-marker</v-icon> :
                          {{ item.Locationdata.name }}
                        </div>
                        <div class="hidden-sm-and-down">
                          ที่เก็บ : {{ item.Locationdata.name }}
                        </div>
                      </v-col>
                      <v-col cols="12" md="6" class="py-1">
                        <div class="hidden-md-and-up">
                          <v-icon>view_week</v-icon> : {{ headerdata.barcode }}
                        </div>
                        <div class="hidden-sm-and-down">
                          บาร์โค้ด : {{ headerdata.barcode }}
                        </div>
                      </v-col>
                      <v-col
                        cols="12"
                        md="4"
                        class="py-1"
                        v-if="headerdata.types == 1"
                      >
                        <div class="hidden-md-and-up">
                          <v-icon>qr_code</v-icon> : {{ item.SerialNumber }}
                        </div>
                        <div class="hidden-sm-and-down">
                          ซีเรียว : {{ item.SerialNumber }}
                        </div>
                      </v-col>
                      <v-col cols="12" md="3" class="py-1">
                        <div class="hidden-md-and-up">
                          <v-icon>build</v-icon> : {{ condition }} /10
                        </div>
                        <div class="hidden-sm-and-down">
                          สภาพสินทรัพย์ : {{ condition }} / 10
                        </div>
                      </v-col>
                      <v-col cols="12" md="9" class="py-1">
                        <div class="hidden-md-and-up">
                          <v-icon>person</v-icon> : {{ item.maintain }}
                        </div>
                        <div class="hidden-sm-and-down">
                          ข้อมูลซ่อมบำรุง : {{ item.maintain }}
                        </div>
                      </v-col>
                    </v-row>
                  </div>
                </v-col>
                <v-col cols="12" md="12" class="py-1" style="font-size: 1.3rem"
                  >คำนวนราคาสินทรัพย์</v-col
                >
                <v-col cols="12">
                  <div class="px-3">
                    <v-row no-gutters>
                      <v-col cols="12" md="6" class="py-1">
                        <div class="hidden-md-and-up">
                          <v-icon>event</v-icon> :
                          {{ dateFormatDMY(buying_date) }}
                        </div>
                        <div class="hidden-sm-and-down">
                          วันที่ซื้อ : {{ dateFormatDMY(buying_date) }}
                        </div>
                      </v-col>
                      <v-col cols="12" md="6" class="py-1">
                        <div class="hidden-md-and-up">
                          <v-icon>monetization_on</v-icon> :
                          {{ price_buying }} บาท
                        </div>
                        <div class="hidden-sm-and-down">
                          ราคาสินทรัพย์ : {{ price_buying }} บาท
                        </div>
                      </v-col>
                      <v-col cols="12" md="6" class="py-1">
                        <div class="hidden-md-and-up">
                          <v-icon>trending_down</v-icon> :
                          {{ item.depreciation }}
                        </div>
                        <div class="hidden-sm-and-down">
                          ค่าเสื่อม ณ วันที่ซื้อถึงปัจจุบัน :
                          {{ item.depreciation }}
                        </div>
                      </v-col>
                      <v-col cols="12" md="6" class="py-1">
                        <div class="hidden-md-and-up">
                          <v-icon>money_off</v-icon> : {{ item.price_now }} บาท
                        </div>
                        <div class="hidden-sm-and-down">
                          ราคาหลังหลักค่าเสื่อมสะสม : {{ item.price_now }} บาท
                        </div>
                      </v-col>
                    </v-row>
                  </div>
                </v-col>
                <v-col cols="12" md="12" class="py-1" style="font-size: 1.3rem"
                  >ประกันสินทรัพย์</v-col
                >
                <v-col cols="12">
                  <div class="px-3" v-if="start_warranty != ''">
                    <v-row no-gutters>
                      <v-col cols="12" md="4" class="py-1">
                        <div class="hidden-md-and-up">
                          <v-icon>event</v-icon> :
                          {{ dateFormatDMY(start_warranty) }}
                        </div>
                        <div class="hidden-sm-and-down">
                          วันเริ่มรับประกัน :
                          {{ dateFormatDMY(start_warranty) }}
                        </div>
                      </v-col>
                      <v-col cols="12" md="4" class="py-1">
                        <div class="hidden-md-and-up">
                          <v-icon>schedule</v-icon> : {{ month_warranty }} เดือน
                        </div>
                        <div class="hidden-sm-and-down">
                          ประกัน : {{ month_warranty }} เดือน
                        </div>
                      </v-col>
                      <v-col cols="12" md="4" class="py-1">
                        <div class="hidden-md-and-up">
                          <v-icon>security</v-icon> :
                          {{ dateFormatDMY(item.date_warranty) }}
                        </div>
                        <div class="hidden-sm-and-down">
                          ประกันหมด : {{ dateFormatDMY(item.date_warranty) }}
                        </div>
                      </v-col>
                    </v-row>
                  </div>
                  <div class="px-3" v-if="start_warranty == ''">
                    ไม่มีการรับประกัน
                  </div>
                </v-col>
              </v-row>
            </v-form>
          </v-card>
          <v-row no-gutters class="pt-5">
            <v-col cols="12" class="hidden-sm-and-down">
              <v-btn outlined class="mr-4" @click="e1 = 1">ย้อนกลับ</v-btn>
              <v-btn
                color="blue"
                outlined
                class="mr-4 white--text"
                @click="checkimgdata(0)"
                >เพิ่ม</v-btn
              >
            </v-col>
            <v-col cols="6" class="hidden-md-and-up pa-1">
              <v-btn block outlined @click="e1 = 1">ย้อนกลับ</v-btn>
            </v-col>
            <v-col cols="6" class="hidden-md-and-up pa-1">
              <v-btn
                color="blue"
                block
                outlined
                class="white--text"
                @click="checkimgdata(1)"
                >เพิ่ม</v-btn
              >
            </v-col>
          </v-row>
        </v-stepper-content>
      </v-stepper>
    </v-card>

    <v-dialog persistent max-width="300" v-model="Insert_group">
      <PopupInsert />
    </v-dialog>

    <v-dialog max-width="450" v-model="ErrorInputiden_group">
      <PopupErrorInputiden />
    </v-dialog>

    <v-dialog max-width="450" v-model="ErrorRespon_group">
      <PopupResponError />
    </v-dialog>

    <v-dialog v-model="popupprint" width="300">
      <v-card color="white" class="pa-10">
        <v-row no-gutters justify="center">
          <v-img src="../../../src/assets/checked.png" max-width="50%"></v-img>
          <v-col
            cols="12"
            class="py-7 grey--text"
            style="text-align: center; font-size: 1.5rem"
          >
            เพิ่มข้อมูลสำเร็จ
            <v-card-text style="font-size: 1rem">
              คุณต้องการพิมพ์บาร์โค้ดและคิวอาร์โค้ดแจ้งซ่อม <br />
              หรือไม่
            </v-card-text>
          </v-col>
        </v-row>
        <v-row no-gutters>
          <v-col cols="6" class="pa-1">
            <v-btn block outlined @click="openPrintQrcode">พิมพ์</v-btn>
          </v-col>
          <v-col cols="6" class="pa-1">
            <v-btn
              color="blue"
              block
              outlined
              class="white--text"
              @click="closeInsertgroup(item.statusdata.id)"
              >ปิด</v-btn
            >
          </v-col>
        </v-row>
      </v-card>
    </v-dialog>
  </div>
</template>

<script>
import api from "../../services/asset";
import PopupInsert from "../Popup/PopupInsert";
import PopupErrorInputiden from "../Popup/PopupErrorInputiden";
import PopupResponError from "../Popup/PopupResponError";
export default {
  name: "InsertAssetItem",
  props: ["Asset"],
  data() {
    return {
      imagefile: "",
      urlfile:
        "https://firebasestorage.googleapis.com/v0/b/np-storage-it.appspot.com/o/IT_ASSET-2021-01-29%3A13%3A35%3A121?alt=media",
      img:
        "https://firebasestorage.googleapis.com/v0/b/np-storage-it.appspot.com/o/IT_ASSET-2021-01-29%3A13%3A35%3A121?alt=media",
      urlFromApi: "",
      itemImg: "",
      genimg: "",
      item: {
        SerialNumber: "",
        Locationdata: "",
        statusdata: "",
        date_warranty: "",
        description: "",
        depreciation: "",
        price_now: "",
        maintain: "",
      },
      start_warranty: "",
      buying_date: "",
      itemprint: "2",
      popupprint: false,
      Location: [],
      condition: 10,
      month_warranty: "",
      price_buying: "",
      status: [
        { id: 1, name: "ดี" },
        { id: 0, name: "เสีย" },
      ],
      response: "",
      headerdata: [],
      valid1: true,
      switch1: true,
      e1: 1,
      v0: true,
      v1: false,
      menu1: false,
      menu2: false,
      Insert_group: false,
      ErrorInputiden_group: false,
      ErrorRespon_group: false,
      dataclose: false,
      moblie: "",
    };
  },
  components: { PopupInsert, PopupErrorInputiden, PopupResponError },
  methods: {
    openPrintQrcode() {
      window.open("/PrintQrcodeMaintenance/" + this.itemprint);
      this.closeInsertgroup(this.item.statusdata.id);
    },
    validate1() {
      if (this.$refs.form.validate() == true) {
        this.e1 = 2;
      } else {
        this.v1 = true;
      }
    },
    ListLocationAssetItemdata() {
      api.LocationAssetItem(
        this.$store.state.header,
        {
          id: 0,
        },
        (result) => {
          this.Location = result.data;
        },
        (error) => {
          console.log(error);
        }
      );
    },
    checkimgdata(val) {
      this.moblie = val;
      if (this.urlfile === this.img) {
        this.InsertAssetItemdata(this.img);
      } else {
        this.uploadimage();
      }
    },
    async testimg() {
      try {
        const formData = new FormData();
        formData.append("file", this.selectedFile);
        formData.append("type", "customer");
        this.imagefile = document.querySelector("#fileUpload");
        this.urlfile = URL.createObjectURL(this.imagefile.files[0]);
      } catch (error) {
        console.log(error);
      }
    },
    uploadimage() {
      const header = {
        headers: {
          "Content-Type": "multipart/form-data",
        },
      };
      const formData = new FormData();
      formData.append("file", this.imagefile.files[0]);
      api.genItem(
        header,
        formData,
        (result) => {
          if (result.response === "success") {
            this.urlFromApi = result.data.url;
            this.InsertAssetItemdata(this.urlFromApi);
          } else {
            // result.message
          }
        },
        (error) => {
          alert(JSON.stringify(error));
        }
      );
    },
    InsertAssetItemdata(val) {
      this.openInsert();
      api.InsertAssetItem(
        this.$store.state.header,
        {
          asset_id: parseInt(this.Asset.id),
          location_id: this.item.Locationdata.id,
          status: this.item.statusdata.id,
          available: 1,
          serial_number: this.item.SerialNumber,
          detail: this.item.description,
          contact: this.item.maintain,
          conditions: this.condition,
          buying_date: this.buying_date,
          prices: parseFloat(this.price_buying),
          calculated_prices: parseFloat(this.item.price_now),
          started_warranty: this.start_warranty,
          warranty_month: parseInt(this.month_warranty),
          warranty_date: this.item.date_warranty,
          user_code: sessionStorage.user_code,
          image_url: val,
        },
        (result) => {
          console.log(result)
          this.response = result.response;
          this.itemprint = result.data;
          if (this.response === "success") {
            if (this.moblie == 0) {
              this.closeInsert();
              this.popupprint = true;
            } else {
              this.closeInsert();
              this.closeInsertgroup(this.item.statusdata.id);
            }
          } else {
            this.closeInsert();
            this.ErrorRespon_group = true;
            setTimeout(() => {
              this.ErrorRespon_group = false;
            }, 2000);
          }
        },
        (error) => {
          console.log(error);
        }
      );
    },
    HaederAssetdata() {
      api.HaederAsset(
        this.$store.state.header,
        {
          id: parseInt(this.Asset.id),
        },
        (result) => {
          this.headerdata = result.data;
        },
        (error) => {
          console.log(error);
        }
      );
    },
    openInsert() {
      this.Insert_group = true;
    },
    closeInsert() {
      this.Insert_group = false;
    },
    openError() {
      this.ErrorInputiden_group = true;
    },
    closeError() {
      this.ErrorInputiden_group = false;
    },
    closegroup() {
      this.$emit("closegroup", this.dataclose);
      location.reload();
    },
    closeInsertgroup(status) {
      this.$emit("close", this.dataclose, this.Asset, status);
    },
    cancelInsertgroup() {
      this.$emit("cancel", this.dataclose);
      // location.reload();
      location.reload()
    },
    // resetdata() {
    //   (this.item.price_now = ""),
    //     (this.item.Locationdata = ""),
    //     (this.item.SerialNumber = ""),
    //     (this.item.depreciation = ""),
    //     (this.item.statusdata = ""),
    //     (this.item.maintain = "");
    //   this.item.description = "";
    //   (this.buying_date = ""),
    //     (this.start_warranty = ""),
    //     (this.item.date_warranty = ""),
    //     (this.condition = ""),
    //     (this.month_warranty = ""),
    //     (this.price_buying = ""),
    //     (this.Location = []),
    //     (this.condition = 10),
    //     (this.month_warranty = ""),
    //     (this.price_buying = ""),
    //     (this.status = [
    //       { id: 1, name: "ดี" },
    //       { id: 0, name: "เสีย" },
    //     ]),
    //     (this.response = ""),
    //     (this.valid1 = true),
    //     (this.switch1 = true),
    //     (this.e1 = 1),
    //     (this.v0 = true),
    //     (this.v1 = false),
    //     (this.menu1 = false),
    //     (this.menu2 = false),
    //     (this.Insert_group = false),
    //     (this.ErrorInputiden_group = false),
    //     (this.ErrorRespon_group = false),
    //     (this.dataclose = false),
    //     this.ListLocationAssetItemdata();
    //   this.HaederAssetdata();
    // },
    caldate(val) {
      api.CaldateWarrant(
        this.$store.state.header,
        {
          start_date: this.start_warranty,
          month: parseInt(val),
        },
        (result) => {
          this.item.date_warranty = result.data;
        },
        (error) => {
          console.log(error);
        }
      );
    },
    caldatestart(val) {
      api.CaldateWarrant(
        this.$store.state.header,
        {
          start_date: val,
          month: parseInt(this.month_warranty),
        },
        (result) => {
          this.item.date_warranty = result.data;
        },
        (error) => {
          console.log(error);
        }
      );
    },
    calpriced(val) {
      api.Caldateprice(
        this.$store.state.header,
        {
          buyingdate: this.buying_date,
          percents: parseFloat(this.headerdata.percents),
          prices: parseFloat(val),
        },
        (result) => {
          this.calprice = result.data;
          (this.item.depreciation = this.calprice.percent + " %"),
            (this.item.price_now = this.calprice.priced);
        },
        (error) => {
          console.log(error);
        }
      );
    },
    calpricedate(val) {
      api.Caldateprice(
        this.$store.state.header,
        {
          buyingdate: val,
          percents: parseFloat(this.headerdata.percents),
          prices: parseFloat(this.price_buying),
        },
        (result) => {
          this.calprice = result.data;
          (this.item.depreciation = this.calprice.percent + " %"),
            (this.item.price_now = this.calprice.priced);
        },
        (error) => {
          console.log(error);
        }
      );
    },
  },
  watch: {
    Asset(val) {
      if (val) {
        this.Asset = val;
        this.v0 = false;
        this.v1 = true;
      }
    },
    start_warranty(val) {
      if (val) {
        clearTimeout(this.timeout);
        const self = this;
        this.timeout = setTimeout(function () {
          self.caldatestart(val);
        }, 300);
      }
    },
    month_warranty(val) {
      if (val) {
        clearTimeout(this.timeout);
        const self = this;
        this.timeout = setTimeout(function () {
          self.caldate(val);
        }, 300);
      }
    },
    price_buying(val) {
      if (val) {
        clearTimeout(this.timeout);
        const self = this;
        this.timeout = setTimeout(function () {
          self.calpriced(val);
        }, 300);
      }
    },
    buying_date(val) {
      if (val) {
        clearTimeout(this.timeout);
        const self = this;
        this.timeout = setTimeout(function () {
          self.calpricedate(val);
        }, 300);
      }
    },
  },
  mounted() {
    this.HaederAssetdata();
    this.ListLocationAssetItemdata();
    this.v0 = false;
    this.v1 = true;
  },
};
</script>

<style scoped>
.botton {
  background: linear-gradient(90.75deg, #00b9f8 5.43%, #3780ee 84.26%), #c4c4c4;
}
</style>
