<template>
  <div>
    <v-card>
      <v-card
        class="pa-3 white--text text-center"
        color="yellow darken-3"
        style="font-size: 1.5rem"
      >
        <div>ไม่มีสินทรัพย์ในหน้านี้</div>
        <div style="font-size:1rem;">ไปยังหน้าสินทรัพย์เสียหาย หรือเพิ่มสินทรัพย์ใหม่</div>
      </v-card>
      <v-card>
        <v-row no-gutters class="pa-3">
          <v-col cols="12" md="6" class="pa-1">
            <v-btn
              block
              outlined
              color="black"
              height="2.5rem"
              @click="cancelNullgroup(AssetItemIDdata)"
            >
              เพิ่มใหม่
            </v-btn>
          </v-col>
          <v-col cols="12" md="6" class="pa-1">
            <v-btn
              block
              outlined
              color="yellow darken-2"
              height="2.5rem"
              @click="closeNullgroup(AssetItemIDdata)"
            >
              ไป
            </v-btn>
          </v-col>
        </v-row>
      </v-card>
    </v-card>
  </div>
</template>

<script>
export default {
  name: "NullAssetItem",
  props: ["AssetID"],
  data() {
    return {
      AssetItemIDdata: [],
      response: "",
      Delete_group: false,
      dataclose: false,
    };
  },
  components: {},
  methods: {
    closeNullgroup(val) {
      this.$emit("close", this.dataclose, val);
    },
    cancelNullgroup(val) {
      this.$emit("cancel", this.dataclose, val);
    },
  },
  watch: {
    AssetID(val) {
      if (val) {
        this.AssetItemIDdata = this.AssetID;
      }
    },
  },
  mounted() {
    this.AssetItemIDdata = this.AssetID;
  },
};
</script>
