<template>
  <v-card color="light-green darken-1" dark>
    <v-card-text class="px-3 py-5 white--text" style="font-size: 1.5rem">
      <v-icon large color="white">cancel</v-icon> 
      สำเร็จ
    </v-card-text>
  </v-card>
</template>


<script>
export default {
  name: "PopupSuccess",
  data() {
    return {};
  },
  components: {},
  methods: {},
  mounted() {},
};
</script>
