<template>
   <v-card color="white" class="pa-10">
        <v-row no-gutters justify="center">
          <v-img
            src="../../../src/assets/warning.png"
            max-width="50%"
          ></v-img>
          <v-col
            cols="12"
            class="py-7 grey--text"
            style="text-align: center; font-size: 1.5rem"
          >
            บัญชีถูกระงับชั่วคราว
            <div style="font-size:1rem;">กรุณาติดต่อเจ้าหน้าที่</div>
            <v-btn class="px-10 mt-3"  small color="yellow darken-1" @click="$router.push('/login')">ปิด</v-btn>
          </v-col>
        </v-row>
      </v-card>
</template>

<script>

export default {
  name: "PopupApprove",
  data() {
    return {
    };
  },
  components: {},
  methods: {},
  mounted() {
  },
};
</script>
