<template>
  <v-card color="red" dark>
    <v-card-text class="px-3 py-3 white--text" style="font-size: 1.2rem">
      <v-icon large color="white"> cancel </v-icon>
      กรุณากรอกข้อมูลให้ครบ
    </v-card-text>
  </v-card>
</template>

<script>
export default {
  name: "PopupErrorInputiden",
  data() {
    return {};
  },
  components: {},
  methods: {},
  mounted() {},
};
</script>
