<template>
  <v-card color="yellow" dark>
    <v-card-text class="px-3 py-3 white--text" style="font-size: 1.5rem">
      <v-icon large color="white"> cancel </v-icon>
        ข้อมูลไม่ตรงกัน กรุณากรอกใหม่
    </v-card-text>
  </v-card>
</template>

<script>
export default {
  name: "PopupConfirmerror",
  data() {
    return {};
  },
  components: {},
  methods: {},
  mounted() {},
};
</script>
