<template>
  <v-card color="red" dark>
    <v-card-text class="px-3 py-3 white--text" style="font-size: 1rem">
      <v-icon large color="white"> cancel </v-icon>
      ผิดพลาด กรุณาตรวจสอบข้อมูลอีกครั้ง
    </v-card-text>
  </v-card>
</template>

<script>
export default {
  name: "PopupResponError",
  data() {
    return {};
  },
  components: {},
  methods: {},
  mounted() {},
};
</script>
