<template>
  <div>
    <v-card color="white" class="pa-6">
      <v-row no-gutters justify="center">
        <v-img src="../../../src/assets/delete.png" max-width="30%"></v-img>
        <v-col
          cols="12"
          class="grey--text py-2"
          style="text-align: center; font-size: 1rem"
        >
          ต้องการลบ "{{ categoryData.name }}" หรือไม่
        </v-col>
        <v-col cols="6" class="pa-1">
          <v-btn block outlined height="2.5rem" @click="cancelDeletegroup()">
            ยกเลิก
          </v-btn>
        </v-col>
        <v-col cols="6" class="pa-1">
          <v-btn
            block
            outlined
            color="red"
            height="2.5rem"
            @click="DeleteCategorydata()"
          >
            ลบ
          </v-btn>
        </v-col>
      </v-row>
    </v-card>

    <v-dialog persistent max-width="300" v-model="Delete_group">
      <PopupDelete />
    </v-dialog>
  </div>
</template>

<script>
import api from "../../services/asset";
import PopupDelete from "../Popup/PopupDelete";
export default {
  name: "DeleteCategory",
  props: ["categoryData"],
  data() {
    return {
      Delete_group: false,
      dataclose: false,
      Confirm_group: false,
      categoryname: "",
      response: "",
      message: "",
      code: "",
    };
  },
  components: { PopupDelete },
  methods: {
    cancelDeletegroup() {
      this.$emit("cancel", this.dataclose);
    },
    closeDeletegroup() {
      this.$emit("close", this.dataclose);
    },
    DeleteCategorydata() {
      this.Delete_group = true;
      try {
        api.DeleteCategory(
          this.$store.state.header,
          {
            id: this.categoryData.id,
          },
          (result) => {
            this.response = result.data;
            this.Delete_group = false;
            this.closeDeletegroup();
          },
          (error) => {
            console.log(error);
          }
        );
      } catch (error) {
        console.log(error);
      }
    },
  },
  mounted() {},
};
</script>
