<template>
  <div class="manageMaintenanceAsset">
    <v-card
      class="pa-0 ma-0 hidden-sm-and-down"
      elevation="1"
      tile
      color="white"
      style="height: 72px"
    >
      <v-container grid-list-xs>
        <v-row no-gutters>
          <v-col cols="12" md="9" style="font-size: 1.7rem" class="text-center">
            <v-row no-gutters>
              <v-col cols="12" md="3">แจ้งซ่อม</v-col>
            </v-row>
          </v-col>
        </v-row>
      </v-container>
    </v-card>
    <v-container grid-list-xs>
      <v-text-field
        class="pb-3"
        v-model="searchMaintenance"
        append-icon="mdi-magnify"
        label="ค้นหารายการแจ้งซ่อม"
        single-line
        hide-details
      ></v-text-field>
      <v-data-table
        :headers="Maintenanceheaders"
        :items="listMaintenance"
        class="elevation-1"
        :items-per-page="4"
        :search="searchMaintenance"
      >
        <template v-slot:[`item.transaction_status`]="{ item }">
          <v-chip
            color="red lighten-1"
            class="white--text pr-9"
            dark
            v-if="item.transaction_status == 0"
          >
            <v-icon class="pr-1">cancel</v-icon>เสียหาย
          </v-chip>

          <v-menu offset-y>
            <template v-slot:activator="{ on: menu, attrs }">
              <v-tooltip bottom color="white">
                <template v-slot:activator="{ on: tooltip }">
                  <v-btn
                    v-if="item.transaction_status == 1"
                    width="120"
                    height="33"
                    rounded
                    color="yellow lighten-1"
                    light
                    v-bind="attrs"
                    v-on="{ ...tooltip, ...menu }"
                  >
                    <v-icon color="black" class="pr-1"> info </v-icon>
                    รอตรวจเช็ค 
                  </v-btn>
                </template>
                <span class="black--text">เลือก</span>
              </v-tooltip>
            </template>
            <v-list class="pa-0">
              <v-list-item @click="OpenMaintenanceFixed(item)">
                <v-icon color="green" class="pr-1"> check_circle </v-icon
                >ซ่อมแล้ว
              </v-list-item>
              <v-list-item @click="OpenMaintenanceDamage(item)">
                <v-icon color="red" class="pr-1"> cancel </v-icon
                >เพิ่มในคลังเสีย
              </v-list-item>
            </v-list>
          </v-menu>

          <v-chip
            color="light-green"
            class="white--text pr-8"
            dark
            v-if="item.transaction_status == 2"
          >
            <v-icon class="pr-1">check_circle</v-icon>ซ่อมแล้ว
          </v-chip>

          <v-chip
            color="grey"
            class="white--text pr-9"
            dark
            v-if="item.transaction_status == 4"
          >
            <v-icon class="pr-1">cancel</v-icon>ยกเลิก
          </v-chip>
        </template>

        <template v-slot:[`item.created_at`]="{ item }">
          {{ dateFormatDMY(item.created_at) }}
        </template>

        <template v-slot:[`item.position`]="{ item }">
          <v-tooltip bottom color="white">
            <template v-slot:activator="{ on, c1 }">
              <v-icon @click="showmaps(item)" v-bind="c1" v-on="on"
                >visibility</v-icon
              >
            </template>
            <span class="black--text">ดูที่ตั้ง</span>
          </v-tooltip>
        </template>

        <template v-slot:[`item.asset_name`]="{ item }">
          {{ item.asset_name }}
          <v-tooltip bottom color="white">
            <template v-slot:activator="{ on, c2 }">
              <v-icon @click="OpenApproveDetail(item.id)" v-bind="c2" v-on="on"
                >assignment</v-icon
              >
            </template>
            <span class="black--text">ดูรายละเอียด</span>
          </v-tooltip>
        </template>
      </v-data-table>
    </v-container>
    <v-dialog max-width="1100" v-model="Maps_group">
      <Showmaps :locaion="group_data" @close="closemaps" />
    </v-dialog>

    <v-dialog max-width="1100" v-model="Detail_group">
      <DetailAssetItem :Asset="group_data" />
    </v-dialog>

    <v-dialog width="500" v-model="dialog.MaintenanceDamage_group">
      <v-card class="pa-3">
        <v-card
          class="pa-2 mb-5 white--text"
          color="red"
          style="font-size: 1.3rem"
          >อาการเสีย</v-card
        >
        <v-text-field
          v-model="dialog.message"
          counter
          solo
          placeholder="กรอกอาการเสีย"
          maxlength="50"
          required
        ></v-text-field>
        <v-row no-gutters>
          <v-col cols="6" md="6" class="pr-1">
            <v-btn
              block
              outlined
              height="2.5rem"
              @click="closeMaintenanceDamage()"
            >
              ยกเลิก
            </v-btn>
          </v-col>
          <v-col cols="6" md="6" class="pl-1">
            <v-btn
              block
              outlined
              color="red"
              height="2.5rem"
              @click="sendMaintenanceDamage(dialog)"
            >
              ยืนยัน
            </v-btn>
          </v-col>
        </v-row>
      </v-card>
    </v-dialog>

    <v-dialog width="500" v-model="dialog.MaintenanceFixed_group">
      <v-card class="pa-3">
        <v-card
          class="pa-2 mb-5 white--text"
          color="light-green"
          style="font-size: 1.3rem"
          >วิธีซ่อม</v-card
        >
        <v-text-field
          v-model="dialog.message"
          counter
          solo
          placeholder="วิธีแก้ไข"
          maxlength="50"
          required
        ></v-text-field>
        <v-row no-gutters>
          <v-col cols="6" md="6" class="pr-1">
            <v-btn
              block
              outlined
              height="2.5rem"
              @click="closeMaintenanceFixed()"
            >
              ยกเลิก
            </v-btn>
          </v-col>
          <v-col cols="6" md="6" class="pl-1">
            <v-btn
              block
              outlined
              color="light-green"
              height="2.5rem"
              @click="sendMaintenanceFixed(dialog)"
            >
              ยืนยัน
            </v-btn>
          </v-col>
        </v-row>
      </v-card>
    </v-dialog>

    <v-snackbar
      persistent
      v-model="snackbar"
      :timeout="3000"
      top
      right
      color="light-green"
    >
      <v-row no-gutters>
        <v-col cols="2" style="font-size: 1.1rem" class="text--white"
          ><v-icon large>check_circle</v-icon></v-col
        >
        <v-col
          cols="9"
          style="font-size: 1.1rem"
          class="text--white"
          align-self="center"
          >{{ resmessage }}</v-col
        >
        <v-col cols="1" align="right">
          <v-btn fab small text @click.native="snackbar = false"
            ><v-icon small>close</v-icon></v-btn
          >
        </v-col>
      </v-row>
    </v-snackbar>
  </div>
</template>

<script>
import api from "../../../services/asset";
import Showmaps from "../../../components/Approve/Showmaps.vue";
import DetailAssetItem from "../../../components/Approve/DetailAssetItem.vue";
export default {
  name: "manageMaintenanceAsset",
  components: { Showmaps, DetailAssetItem },
  data: () => ({
    c2: "",
    c1: "",
    dialog: {
      MaintenanceDamage_group: false,
      MaintenanceFixed_group: false,
      data: [],
      message: "",
    },
    snackbar: false,
    listMaintenance: [],
    clickAssetData: [],
    group_data: "",
    isActive: "",
    Maps_group: false,
    Detail_group: false,
    searchMaintenance: "",
    resmessage: "",
    Maintenanceheaders: [
      { text: "ลำดับ", align: "start", value: "id" },
      { text: "วันที่", value: "created_at" },
      { text: "ชื่อสินทรัพย์", value: "asset_name" },
      { text: "สถานที่", value: "position" },
      { text: "ข้อมูลผู้แจ้งซ่อม", value: "reporter" },
      { text: "อาการเสีย", value: "message" },
      { text: "สถานะ", value: "transaction_status" },
      { text: "หมายเหตุ", value: "response_message" },
    ],
  }),
  methods: {
    // MaintenanceDamage
    OpenMaintenanceDamage(val) {
      this.dialog.data = val;
      this.dialog.MaintenanceDamage_group = true;
    },
    sendMaintenanceDamage(val) {
      api.MaintenanceConfirm(
        this.$store.state.header,
        {
          id: val.data.id,
          status: 4,
          asset_item_id: val.data.asset_item_id,
          response_message: val.message,
        },
        (result) => {
          this.snackbar = true;
          this.resmessage = result.message;
          this.dialog.MaintenanceDamage_group = false;
          this.listMaintenancedata();
          this.adminBarNoti();
          this.closeMaintenanceFixed();
        },
        (error) => {
          console.log(error);
        }
      );
    },
    closeMaintenanceDamage() {
      this.dialog.MaintenanceDamage_group = false;
      this.listMaintenancedata();
      this.adminBarNoti();
    },

    // MaintenanceFixed
    OpenMaintenanceFixed(val) {
      this.dialog.data = val;
      this.dialog.MaintenanceFixed_group = true;
    },
    sendMaintenanceFixed(val) {
      api.MaintenanceConfirm(
        this.$store.state.header,
        {
          id: val.data.id,
          status: 2,
          asset_item_id: val.data.asset_item_id,
          response_message: val.message,
        },
        (result) => {
          this.snackbar = true;
          this.resmessage = result.message;
          this.dialog.MaintenanceFixed_group = false;
          this.listMaintenancedata();
          this.adminBarNoti();
          this.closeMaintenanceFixed();
        },
        (error) => {
          console.log(error);
        }
      );
    },
    closeMaintenanceFixed() {
      this.dialog.MaintenanceFixed_group = false;
      this.listMaintenancedata();
      this.adminBarNoti();
    },

    // maps
    showmaps(val) {
      this.group_data = val;
      this.Maps_group = true;
    },
    closemaps() {
      this.Maps_group = false;
    },

    // Assert detail
    OpenApproveDetail(val) {
      this.group_data = val;
      this.Detail_group = true;
    },
    ClickAssetItemDetaildata(val) {
      api.ListAssetItemDetail(
        this.$store.state.header,
        {
          id: val.asset_item_id,
        },
        (result) => {
          this.clickAssetData = result.data[0];
          this.OpenApproveDetail(this.clickAssetData);
        },
        (error) => {
          console.log(error);
        }
      );
    },
    listMaintenancedata() {
      api.ListApprovewithdrawn(
        this.$store.state.header,
        {
          id: 0,
          process_id: 3,
        },
        (result) => {
          this.listMaintenance = result.data;
        },
        (error) => {
          console.log(error);
        }
      );
    },
    adminBarNoti() {
      try {
        api.Notify(
          this.$store.state.header,
          {
            id: "",
          },
          (result) => {
            this.$store.state.approve = result.data.qty_1_2;
            this.$store.state.maintenance = result.data.qty_3;
          },
          (error) => {
            console.log(error);
          }
        );
      } catch (error) {
        console.log(error);
      }
    },
  },
  mounted() {
    this.listMaintenancedata();
    this.adminBarNoti();
  },
  created() {},
};
</script>
