<template>
  <div id="listAssetitem">
    <v-card class="pa-0 ma-0" elevation="1" tile color="white">
      <v-container grid-list-xs>
        <div class="hidden-sm-and-down">
          <v-row no-gutters>
            <v-col cols="2" class="hidden-md-and-up">
              <v-img :src="headerdata.url" height="110" />
            </v-col>
            <v-col cols="1" class="hidden-sm-and-down">
              <v-img :src="headerdata.url" height="80%" width="80%" />
            </v-col>
            <v-col cols="10">
              <v-row>
                <v-col cols="12" md="9" style="font-size: 1.5rem">
                  <div>{{ headerdata.name }}</div>
                  <div style="font-size: 1rem">
                    <v-icon color="black">description</v-icon>
                    {{ headerdata.description }}
                  </div>
                  <div style="font-size: 1rem">
                    <v-icon color="black">view_week</v-icon>
                    {{ headerdata.barcode }}
                  </div>
                  <div style="font-size: 1rem">
                    <v-icon color="black">inventory</v-icon> ทั้งหมด
                    {{ headerdata.qty }} หน่วย ( เสีย
                    {{ headerdata.qty_damage }} หน่วย)
                  </div>
                </v-col>

                <v-col cols="12" md="3" class="pa-2">
                  <v-btn
                    block
                    outlined
                    large
                    class="blue--text"
                    @click="openInsertAssetItem(headerdata)"
                    >เพิ่มจำนวน</v-btn
                  >
                  <v-btn
                    block
                    outlined
                    large
                    class="black--text mt-2"
                    @click="print_qrcode = true"
                    ><v-icon class="pr-2">print</v-icon>ปรินส์ QRCODE</v-btn
                  >
                </v-col>
              </v-row>
            </v-col>
          </v-row>
        </div>

        <div class="hidden-md-and-up">
          <v-row no-gutters>
            <v-col cols="1"
              ><v-icon
                color="black"
                class="pt-6"
                @click="$router.push('/manageAsset')"
                >keyboard_arrow_left</v-icon
              ></v-col
            >
            <v-col cols="3" class="pa-2"
              ><v-img :src="headerdata.url" height="80" width="90"
            /></v-col>
            <v-col cols="8">
              <v-row>
                <v-col cols="12" md="9" style="font-size: 1rem">
                  <div>{{ headerdata.name }}</div>
                  <div style="font-size: 0.8rem">
                    <v-icon color="black" small>view_week</v-icon>
                    {{ headerdata.barcode }}
                  </div>
                  <div style="font-size: 0.8rem">
                    <v-icon color="black" small>inventory</v-icon>
                    {{ headerdata.qty }} หน่วย ( เสีย
                    {{ headerdata.qty_damage }} หน่วย)
                  </div>
                </v-col>
              </v-row></v-col
            >
            <v-fab-transition>
              <v-btn
                small
                color="blue"
                fab
                dark
                absolute
                bottom
                right
                @click="openInsertAssetItem(headerdata)"
              >
                <v-icon>mdi-plus</v-icon>
              </v-btn>
            </v-fab-transition>
          </v-row>
        </div>
      </v-container>
    </v-card>

    <v-container grid-list-xs>
      <div style="font-size: 1.2rem" class="mb-1">
        อยู่ในคลัง ({{ headerdata.qty_available }})
      </div>
      <v-card>
        <v-responsive class="overflow-y-auto" max-height="270">
          <v-responsive>
            <v-lazy
              v-model="isActive"
              :options="{
                threshold: 0.5,
              }"
              color="primary"
              min-height="270"
              transition="fade-transition"
            >
              <v-row class="ma-2">
                <v-expansion-panels style="justify-content: left">
                  <v-col
                    cols="12"
                    md="4"
                    class="pa-1"
                    v-for="(AssetA, i) in AssetListitemA"
                    :key="i"
                  >
                    <v-expansion-panel>
                      <v-row align="center" no-gutters>
                        <v-col cols="9" md="9">
                          <v-expansion-panel-header
                            class="pa-0 pl-5"
                            style="
                              font-size: 1rem;
                              border-left: solid #02a0e9 3px;
                            "
                          >
                            <div
                              style="
                                white-space: nowrap;
                                overflow: hidden;
                                text-overflow: ellipsis;
                              "
                              v-if="AssetA.serial_number == ''"
                            >
                              <div>
                                <v-icon color="black" class="pa-0">
                                  widgets
                                </v-icon>
                                {{ AssetA.id }}
                              </div>
                            </div>
                            <div
                              v-else
                              style="
                                white-space: nowrap;
                                overflow: hidden;
                                text-overflow: ellipsis;
                              "
                            >
                              <v-icon color="black" class="pa-0">
                                qr_code</v-icon
                              >
                              {{ AssetA.serial_number }}
                            </div>
                          </v-expansion-panel-header>
                        </v-col>
                        <v-col cols="1" md="1">
                          <div v-if="AssetA.conditions >= 8">
                            <v-progress-circular
                              max="10"
                              :rotate="360"
                              :size="25"
                              :width="4"
                              :value="AssetA.conditions * 10"
                              color="light-green"
                            >
                              <div style="font-size: 13px">
                                {{ AssetA.conditions }}
                              </div>
                            </v-progress-circular>
                          </div>
                          <div
                            v-if="
                              AssetA.conditions >= 4 && AssetA.conditions <= 7
                            "
                          >
                            <v-progress-circular
                              max="10"
                              :rotate="360"
                              :size="25"
                              :width="4"
                              :value="AssetA.conditions * 10"
                              color="yellow darken-1"
                            >
                              <div style="font-size: 13px">
                                {{ AssetA.conditions }}
                              </div>
                            </v-progress-circular>
                          </div>
                          <div
                            v-if="
                              AssetA.conditions >= 0 && AssetA.conditions <= 3
                            "
                          >
                            <v-progress-circular
                              max="10"
                              :rotate="360"
                              :size="25"
                              :width="4"
                              :value="AssetA.conditions * 10"
                              color="red"
                            >
                              <div style="font-size: 13px">
                                {{ AssetA.conditions }}
                              </div>
                            </v-progress-circular>
                          </div>
                        </v-col>
                        <v-col cols="1" md="2">
                          <v-tooltip bottom>
                            <template v-slot:activator="{ on: tooltip }">
                              <v-btn
                                fab
                                text
                                small
                                color="grey"
                                v-bind="attr"
                                v-on="{ tooltip }"
                                @click="openDetailAssetItem(AssetA.id)"
                              >
                                <v-icon color="black"> article </v-icon>
                              </v-btn>
                            </template>
                            <span>ดูรายละเอียด</span>
                          </v-tooltip>
                        </v-col>
                      </v-row>
                      <v-expansion-panel-content>
                        <v-row class="pt-4" style="font-size: 15px">
                          <v-col cols="12" sm="6" class="pa-1">
                            <v-icon color="blue">location_on</v-icon
                            >{{ AssetA.location }}
                          </v-col>
                          <v-col cols="12" sm="6" class="pa-1">
                            <div v-if="AssetA.warranty == ''">
                              <v-icon color="blue">security</v-icon> ไม่มีประกัน
                            </div>
                            <div v-if="AssetA.warranty != ''">
                              <v-icon color="blue">security</v-icon>
                              {{ AssetA.warranty }}
                            </div>
                          </v-col>
                          <v-col cols="12" class="pa-1">
                            <v-btn
                              outlined
                              color="red"
                              class="white--text"
                              block
                              @click="openChangeAssetItem(AssetA.id)"
                              >เสีย</v-btn
                            ></v-col
                          >
                        </v-row>
                      </v-expansion-panel-content>
                    </v-expansion-panel>
                  </v-col>
                </v-expansion-panels>
              </v-row>
            </v-lazy>
          </v-responsive>
        </v-responsive>
      </v-card>

      <div style="font-size: 1.2rem" class="my-1">
        กำลังใช้งาน ({{ headerdata.qty_unavailable }})
      </div>
      <v-card>
        <v-responsive class="overflow-y-auto" max-height="270">
          <v-responsive>
            <v-lazy
              v-model="isActive"
              :options="{
                threshold: 0.5,
              }"
              color="primary"
              min-height="270"
              transition="fade-transition"
            >
              <v-row class="ma-2">
                <v-expansion-panels style="justify-content: left">
                  <v-col
                    cols="12"
                    md="4"
                    class="pa-1"
                    v-for="(Asset, i) in AssetListitemB"
                    :key="i"
                  >
                    <v-expansion-panel>
                      <v-row align="center" no-gutters>
                        <v-col cols="9" md="9">
                          <v-expansion-panel-header
                            class="pa-0 pl-5"
                            style="
                              font-size: 1rem;
                              border-left: solid #eed100 3px;
                            "
                          >
                            <div
                              style="
                                white-space: nowrap;
                                overflow: hidden;
                                text-overflow: ellipsis;
                              "
                              v-if="Asset.serial_number == ''"
                            >
                              <div>
                                <v-icon color="black" class="pa-0">
                                  widgets
                                </v-icon>
                                {{ Asset.id }}
                              </div>
                            </div>
                            <div
                              v-else
                              style="
                                white-space: nowrap;
                                overflow: hidden;
                                text-overflow: ellipsis;
                              "
                            >
                              <v-icon color="black" class="pa-0">
                                qr_code</v-icon
                              >
                              {{ Asset.serial_number }}
                            </div>
                          </v-expansion-panel-header>
                        </v-col>
                        <v-col cols="1" md="1">
                          <div v-if="Asset.conditions >= 8">
                            <v-progress-circular
                              max="10"
                              :rotate="360"
                              :size="25"
                              :width="4"
                              :value="Asset.conditions * 10"
                              color="light-green"
                            >
                              <div style="font-size: 13px">
                                {{ Asset.conditions }}
                              </div>
                            </v-progress-circular>
                          </div>
                          <div
                            v-if="
                              Asset.conditions >= 4 && Asset.conditions <= 7
                            "
                          >
                            <v-progress-circular
                              max="10"
                              :rotate="360"
                              :size="25"
                              :width="4"
                              :value="Asset.conditions * 10"
                              color="yellow darken-1"
                            >
                              <div style="font-size: 13px">
                                {{ Asset.conditions }}
                              </div>
                            </v-progress-circular>
                          </div>
                          <div
                            v-if="
                              Asset.conditions >= 0 && Asset.conditions <= 3
                            "
                          >
                            <v-progress-circular
                              max="10"
                              :rotate="360"
                              :size="25"
                              :width="4"
                              :value="Asset.conditions * 10"
                              color="red"
                            >
                              <div style="font-size: 13px">
                                {{ Asset.conditions }}
                              </div>
                            </v-progress-circular>
                          </div>
                        </v-col>
                        <v-col cols="1" md="2">
                          <v-tooltip bottom>
                            <template v-slot:activator="{ on: tooltip }">
                              <v-btn
                                fab
                                text
                                small
                                color="grey"
                                v-bind="attrs"
                                v-on="{ tooltip }"
                                @click="openDetailAssetItem(Asset.id)"
                              >
                                <v-icon color="black"> article </v-icon>
                              </v-btn>
                            </template>
                            <span>ดูรายละเอียด</span>
                          </v-tooltip>
                        </v-col>
                      </v-row>
                      <v-expansion-panel-content>
                        <v-row class="pt-4" style="font-size: 15px">
                          <v-col cols="12" sm="6" md="6" class="pa-1">
                            <v-icon color="yellow darken-1">person</v-icon>
                            {{ Asset.username[0].name }}
                          </v-col>
                          <v-col cols="12" sm="6" md="6" class="pa-1">
                            <div v-if="Asset.warranty == ''">
                              <v-icon color="yellow darken-1">security</v-icon>
                              ไม่มีประกัน
                            </div>
                            <div v-if="Asset.warranty !== ''">
                              <v-icon color="yellow darken-1">security</v-icon>
                              {{ Asset.warranty }}
                            </div>
                          </v-col>
                        </v-row>
                      </v-expansion-panel-content>
                    </v-expansion-panel>
                  </v-col>
                </v-expansion-panels>
              </v-row>
            </v-lazy>
          </v-responsive>
        </v-responsive>
      </v-card>
    </v-container>

    <v-dialog persistent max-width="1100" v-model="Insert_group">
      <InsertAssetItem
        :Asset="group_data"
        @close="closeInsertAssetItem"
        @cancel="cancelInsert"
      />
    </v-dialog>

    <v-dialog max-width="1100" v-model="Detail_group">
      <DetailAssetItem
        :Asset="group_data"
        @close="closeDetailAssetItem"
        @cancel="cancelDetail"
      />
    </v-dialog>

    <v-dialog max-width="400" v-model="Change_group">
      <ChangeAssetItem
        :AssetitemID="group_data"
        @close="closeChangeAssetItem"
        @cancel="cancelChange"
      />
    </v-dialog>
    <v-dialog max-width="500" v-model="Null_group">
      <NullAssetItem
        :AssetID="group_data"
        @close="closeNullAssetItem"
        @cancel="cancelNull"
      />
    </v-dialog>

    <v-dialog max-width="1000" v-model="print_qrcode">
      <v-card class="pa-3">
        <div align="right" class="hidden-md-and-up" @click="closDetail()">
          <v-icon color="black" class="pa-2">cancel</v-icon>
        </div>
        <div class="hidden-md-and-up">เลือกสินทรัพย์</div>
        <v-text-field
          v-model="serachbarcode"
          placeholder="ค้นหาสินทรัพย์"
          color="blue darken-1 "
          class="pa-1"
          outlined
        ></v-text-field>
        <v-responsive class="overflow-y-auto" max-height="400">
          <v-responsive>
            <v-lazy
              v-model="isActive"
              :options="{
                threshold: 0.5,
              }"
              color="blue  darken-1"
              min-height="300"
              transition="fade-transition"
            >
              <v-row class="ma-2">
                <v-expansion-panels style="justify-content: left">
                  <v-col
                    cols="12"
                    md="4"
                    class="pa-1"
                    v-for="(Asset, i) in barcodedata"
                    :key="i"
                  >
                    <v-expansion-panel
                      class="pl-3"
                      style="border-left: 5px solid #009df7"
                    >
                      <v-row align="center" no-gutters>
                        <v-col cols="10" md="10">
                          <div
                            style="
                              white-space: nowrap;
                              overflow: hidden;
                              text-overflow: ellipsis;
                            "
                            v-if="Asset.serial_number == ''"
                          >
                            <div>
                              <v-icon color="black" class="pa-0">
                                widgets</v-icon
                              >
                              {{ Asset.id }}
                            </div>
                          </div>
                          <div
                            v-else
                            style="
                              white-space: nowrap;
                              overflow: hidden;
                              text-overflow: ellipsis;
                            "
                          >
                            <v-icon color="black" class="pa-0"> qr_code</v-icon>
                            {{ Asset.serial_number }}
                          </div>
                        </v-col>
                        <v-col cols="2" md="2">
                          <v-checkbox
                            color="blue"
                            v-model="AssetItemGroup"
                            :value="Asset.id"
                          ></v-checkbox>
                        </v-col>
                      </v-row>
                    </v-expansion-panel>
                  </v-col>
                </v-expansion-panels>
              </v-row>
            </v-lazy>
          </v-responsive>
        </v-responsive>
        <v-row no-gutters>
          <v-col cols="12">
            <v-btn color="blue" outlined width="100" @click="closeprint()"
              >ปิด</v-btn
            >
            <v-btn color="black" class="ml-5" outlined @click="printBarcode()">
              <v-icon>print</v-icon> ปรินส์ {{ AssetItemGroup.length }}
            </v-btn>
          </v-col>
        </v-row>
      </v-card>
    </v-dialog>
  </div>
</template>

<script>
import DetailAssetItem from "../../../components/AssetItem/DetailAssetItem.vue";
import InsertAssetItem from "../../../components/AssetItem/InsertAssetItem.vue";
import ChangeAssetItem from "../../../components/AssetItem/ChangeAssetItem.vue";
import NullAssetItem from "../../../components/AssetItem/NullAssetItem.vue";
import api from "../../../services/asset";
export default {
  name: "listAssetitem",
  data() {
    return {
      AssetItemGroup: [],
      print_qrcode: false,
      group_data: "",
      isActive: false,
      Insert_group: false,
      Detail_group: false,
      Change_group: false,
      Null_group: false,
      Asset_id: this.$route.params.id,
      AssetListitemA: [],
      AssetListitemB: [],
      Assetdetail: [],
      AssetdetailA: [],
      headerdata: [],
      clickAssetData: [],
      respones: "",
      attrs: "",
      attr: "",
      barcodedata: [],
      serachbarcode: "",
    };
  },
  components: {
    InsertAssetItem,
    DetailAssetItem,
    ChangeAssetItem,
    NullAssetItem,
  },
  methods: {
    printBarcode() {
      this.ListBarcode();
      window.open("/PrintQrcodeMaintenance/" + this.AssetItemGroup);
      this.closeprint();
    },
    closeprint() {
      this.serachbarcode = "";
      this.AssetItemGroup = [];
      this.print_qrcode = false;
    },
    openInsertAssetItem(val) {
      this.group_data = val;
      this.Insert_group = true;
    },
    openDetailAssetItem(val) {
      this.group_data = val;
      this.Detail_group = true;
    },
    openChangeAssetItem(val) {
      this.group_data = val;
      this.Change_group = true;
    },
    openNullAssetItem(val) {
      this.group_data = val;
      this.Null_group = true;
    },
    closeInsertAssetItem(close, assetid, status) {
      if (status.id == 0) {
        this.$router.push("../listAssetitemDamage/" + assetid.id);
      } else {
        this.Insert_group = close;
        this.ListAssetItemA(assetid);
        this.ListAssetItemB(assetid);
        this.HaederAssetdata(assetid);
      }
    },
    closeDetailAssetItem(close, assetid) {
      this.Detail_group = close;
      this.ListAssetItemA(assetid);
      this.ListAssetItemB(assetid);
      this.HaederAssetdata(assetid);
    },
    closeChangeAssetItem(close, assetid) {
      this.Change_group = close;
      this.ListAssetItemA(assetid);
      this.ListAssetItemB(assetid);
      this.HaederAssetdata(assetid);
    },
    closeNullAssetItem(close, assetid) {
      this.Null_group = close;
      this.$router.push("../listAssetitemDamage/" + assetid.id);
    },

    cancelInsert(cancel) {
      this.Insert_group = cancel;
    },
    cancelDetail(cancel) {
      this.Detail_group = cancel;
    },
    cancelChange(cancel) {
      this.Change_group = cancel;
    },
    cancelNull(cancel, asset) {
      this.Null_group = cancel;
      this.openInsertAssetItem(asset);
    },
    ListAssetItemA() {
      api.ListAssetItemAvailable(
        this.$store.state.header,
        {
          id: parseInt(this.Asset_id),
        },
        (result) => {
          this.AssetListitemA = result.data;
        },
        (error) => {
          console.log(error);
        }
      );
    },
    ListAssetItemB() {
      api.ListAssetItemUnavailable(
        this.$store.state.header,
        {
          id: parseInt(this.Asset_id),
        },
        (result) => {
          this.AssetListitemB = result.data;
        },
        (error) => {
          console.log(error);
        }
      );
    },
    ListSerachBarcode(val) {
      if (val && val != "") {
        api.SerachAssetItem(
          this.$store.state.header,
          {
            id: parseInt(this.Asset_id),
            keyword: val,
          },
          (result) => {
            this.barcodedata = result.data;
            // this.AssetItemGroup = [];
          },
          (error) => {
            console.log(error);
          }
        );
      } else {
        this.ListBarcode();
      }
    },
    ListBarcode() {
      api.ListAssetItemAvailable(
        this.$store.state.header,
        {
          id: parseInt(this.Asset_id),
        },
        (result) => {
          this.barcodedata = result.data;
          // this.AssetItemGroup = [];
        },
        (error) => {
          console.log(error);
        }
      );
    },
    HaederAssetdata() {
      api.HaederAsset(
        this.$store.state.header,
        {
          id: parseInt(this.Asset_id),
        },
        (result) => {
          this.headerdata = result.data;
          if (this.headerdata.qty == 0) {
            this.openInsertAssetItem(this.headerdata);
          } else if (
            this.headerdata.qty_available == 0 &&
            this.headerdata.qty_unavailable == 0
          ) {
            this.openNullAssetItem(this.headerdata);
          } else {
            //
          }
        },
        (error) => {
          console.log(error);
        }
      );
    },
    ListAssetItemDetaildata(val) {
      api.ListAssetItemDetail(
        this.$store.state.header,
        {
          id: val.id,
        },
        (result) => {
          this.Assetdetail = result.data[0];
        },
        (error) => {
          console.log(error);
        }
      );
    },
    ListAssetItemDetaildataA(val) {
      api.ListAssetItemDetail(
        this.$store.state.header,
        {
          id: val.id,
        },
        (result) => {
          this.AssetdetailA = result.data[0];
        },
        (error) => {
          console.log(error);
        }
      );
    },
    adminBarNoti() {
      try {
        api.Notify(
          this.$store.state.header,
          {
            id: "",
          },
          (result) => {
            this.$store.state.approve = result.data.qty_1_2;
            this.$store.state.maintenance = result.data.qty_3;
          },
          (error) => {
            console.log(error);
          }
        );
      } catch (error) {
        console.log(error);
      }
    },
  },
  watch: {
    serachbarcode(val) {
      this.keytype = 0;
      clearTimeout(this.timeout);
      const self = this;
      this.timeout = setTimeout(function () {
        self.ListSerachBarcode(val);
      }, 1000);
    },
  },
  mounted() {
    this.ListBarcode();
    this.HaederAssetdata();
    this.ListAssetItemA();
    this.ListAssetItemB();
    this.adminBarNoti();
  },
};
</script>

<style lang="scss" scoped>
.button {
  font-size: 1.25rem;
  height: 2.5rem;
  background: linear-gradient(90.75deg, #00b9f8 5.43%, #3780ee 84.26%), #c4c4c4;
}
</style>
