<template>
  <div>
    <v-card class="pa-0 ma-0" elevation="1" tile color="white">
      <v-container grid-list-xs>
        <v-row no-gutters>
          <v-col cols="12" style="font-size: 1.5rem"> คู่มือการใช้งาน </v-col>
        </v-row>
      </v-container>
    </v-card>
    <v-container>
      <div v-if="Access == 1">
        <v-expansion-panels>
          <v-expansion-panel>
            <v-expansion-panel-header>
              เพิ่มสินทรัพย์
            </v-expansion-panel-header>
            <v-expansion-panel-content class="px-0">
              <v-card
                class="mx-auto"
                max-width="600"
                align="center"
                elevation="0"
              >
                <div class="pb-2">
                  <img
                    src="../assets/tutorial/admin/insert_asset.png"
                    height="400"
                    class="hidden-sm-and-down"
                  />
                  <v-img
                    src="../assets/tutorial/admin/insert_asset_m.png"
                    class="hidden-md-and-up"
                    max-height="500"
                  ></v-img>
                  กด "เพิ่มสินทรัพย์"
                </div>

                <div class="pb-2">
                  <img
                    src="../assets/tutorial/admin/insert_asset2.png"
                    height="300"
                    class="hidden-sm-and-down"
                  />
                  <v-img
                    src="../assets/tutorial/admin/insert_asset2_m.png"
                    class="hidden-md-and-up"
                    max-height="500"
                  ></v-img>
                  กรอกข้อมูลตามฟอร์ม แล้วกด "ถัดไป"
                </div>

                <img
                  src="../assets/tutorial/admin/insert_asset3.png"
                  height="250"
                  class="hidden-sm-and-down"
                />
                <v-img
                  src="../assets/tutorial/admin/insert_asset3.png"
                  class="hidden-md-and-up"
                  max-height="500"
                ></v-img>
                อัปโหลดรูปภาพ แล้วกด "Barcode" (ในกรณีที่ไม่มีบาร์โค้ด)

                <img
                  src="../assets/tutorial/admin/insert_asset4.png"
                  height="300"
                  class="hidden-sm-and-down"
                />
                <v-img
                  src="../assets/tutorial/admin/insert_asset4.png"
                  class="hidden-md-and-up"
                  max-height="500"
                ></v-img>
                ตรวจสอบความถูกต้อง แล้วกด "เพิ่ม"
              </v-card>
            </v-expansion-panel-content>
          </v-expansion-panel>
        </v-expansion-panels>
      </div>

      <div v-if="Access == 2">
        <v-expansion-panels>
          <v-expansion-panel>
            <v-expansion-panel-header>
              เบิกใช้สินทรัพย์
            </v-expansion-panel-header>
            <v-expansion-panel-content class="px-0">
              <v-card
                class="mx-auto"
                max-width="600"
                align="center"
                elevation="0"
              >
                <img
                  src="../assets/tutorial/user/listAsset.png"
                  height="300"
                  class="hidden-sm-and-down"
                />
                <v-img
                  src="../assets/tutorial/user/listAsset.png"
                  class="hidden-md-and-up"
                  max-height="500"
                ></v-img>
                เข้าสู่หน้าคลังสินทรัพย์ และเลือกตัวที่ต้องการ
                <v-divider class="my-2"></v-divider>
                <img
                  src="../assets/tutorial/user/approveAsset-1.png"
                  height="250"
                  class="hidden-sm-and-down"
                />
                <v-img
                  src="../assets/tutorial/user/approveAsset-1.png"
                  class="hidden-md-and-up"
                  max-height="500"
                ></v-img>
                เลือกยืมสินทรัพย์
                <v-divider class="my-2"></v-divider>
                <img
                  src="../assets/tutorial/user/approveAsset-2.png"
                  height="420"
                  class="hidden-sm-and-down"
                />
                <v-img
                  src="../assets/tutorial/user/approveAsset-2.png"
                  class="hidden-md-and-up"
                  max-height="500"
                ></v-img>
                กรอกข้อมูลให้ครบ และกดถัดไป
                <v-divider class="my-2"></v-divider>
                <img
                  src="../assets/tutorial/user/approveAsset-3.png"
                  height="400"
                  class="hidden-sm-and-down"
                />
                <v-img
                  src="../assets/tutorial/user/approveAsset-3.png"
                  class="hidden-md-and-up"
                  max-height="500"
                ></v-img>
                ตรวจสอบข้อมูลและกดส่งคำขอ
                <v-divider class="my-2"></v-divider>
                <img
                  src="../assets/tutorial/user/listApproveAsset.png"
                  height="300"
                  class="hidden-sm-and-down"
                />
                <v-img
                  src="../assets/tutorial/user/listApproveAsset.png"
                  class="hidden-md-and-up"
                  max-height="500"
                ></v-img>
                สามารถตรวจสอบคำขอได้ที่หน้า รายการคำขอ
              </v-card>
            </v-expansion-panel-content>
          </v-expansion-panel>
          <v-expansion-panel>
            <v-expansion-panel-header>
              ยกเลิกส่งคำขอเบิกใช้
            </v-expansion-panel-header>
            <v-expansion-panel-content class="px-0">
              <v-card
                class="mx-auto"
                max-width="600"
                align="center"
                elevation="0"
              >
                <img
                  src="../assets/tutorial/user/listApproveAsset.png"
                  height="300"
                  class="hidden-sm-and-down"
                />
                <v-img
                  src="../assets/tutorial/user/listApproveAsset.png"
                  class="hidden-md-and-up"
                  max-height="500"
                ></v-img>
                เข้าสู่หน้ารายการคำขอเบิกใช้/ส่งคืน
                <v-divider class="my-2"></v-divider>
                <img
                  src="../assets/tutorial/user/cancelapproveAsset1.png"
                  height="200"
                  class="hidden-sm-and-down"
                />
                <br />
                <v-img
                  src="../assets/tutorial/user/cancelapproveAsset1.png"
                  class="hidden-md-and-up"
                  max-height="500"
                ></v-img>
                เลือกรายการที่ต้องการและกดตรง ปุ่ม สถานะกำลังรอ
                <v-divider class="my-2"></v-divider>
                <img
                  src="../assets/tutorial/user/cancelapproveAsset2.png"
                  height="200"
                  class="hidden-sm-and-down"
                />
                <v-img
                  src="../assets/tutorial/user/cancelapproveAsset2.png"
                  class="hidden-md-and-up"
                  max-height="500"
                ></v-img>
                กดยืนยันเพื่อยืนยันการยกเลิกรายการ
                <v-divider class="my-2"></v-divider>
                <img
                  src="../assets/tutorial/user/cancelapproveAsset3.png"
                  height="155"
                  class="hidden-sm-and-down"
                />
                <v-img
                  src="../assets/tutorial/user/cancelapproveAsset3.png"
                  class="hidden-md-and-up"
                  max-height="500"
                ></v-img>
                สถานะจะทำการยกเลิก
                <v-divider class="my-2"></v-divider>
                <img
                  src="../assets/tutorial/user/listApproveAsset.png"
                  height="300"
                  class="hidden-sm-and-down"
                />
                <v-img
                  src="../assets/tutorial/user/listApproveAsset.png"
                  class="hidden-md-and-up"
                  max-height="500"
                ></v-img>
                สามารถตรวจสอบคำขอได้ที่หน้า รายการคำขอ
              </v-card>
            </v-expansion-panel-content>
          </v-expansion-panel>
        </v-expansion-panels>
      </div>
    </v-container>
  </div>
</template>

<script>
export default {
  data() {
    return {
      Access: sessionStorage.userAccess,
    };
  },
};
</script>

<style>
</style>