<template>
  <div>
    <v-stepper v-model="e1">
      <div align="right" class="hidden-md-and-up pa-2">
        <v-icon color="black" @click="cancle()">cancel</v-icon>
      </div>
      <v-stepper-header class="hidden-sm-and-down">
        <v-stepper-step color="blue darken-1" :complete="e1 > 1" step="1">
          เลือกสินทรัพย์
        </v-stepper-step>

        <v-divider></v-divider>

        <v-stepper-step color="blue darken-1" :complete="e1 > 2" step="2">
          ตรวจสอบข้อมูล
        </v-stepper-step>
      </v-stepper-header>
      <div style="font-size: 1.5rem" class="px-4 hidden-md-and-up">
        เลือกสินทรัพย์
      </div>
      <v-stepper-items>
        <v-stepper-content step="1" class="pa-2">
          <v-text-field
            v-model="search"
            placeholder="ค้นหาสินทรัพย์"
            color="blue darken-1 "
            outlined
          ></v-text-field>
          <div
            class="pl-3 red--text"
            v-if="AssetItemGroup.length > assetdata.items_qty"
          >
            จำนวนที่ต้องการ {{ AssetItemGroup.length }} /
            {{ assetdata.items_qty }} จำนวนเกิน
          </div>
          <div
            class="pl-3 green--text"
            v-if="AssetItemGroup.length == assetdata.items_qty"
          >
            จำนวนที่ต้องการ {{ AssetItemGroup.length }} /
            {{ assetdata.items_qty }}
          </div>
          <div
            class="pl-3 black--text"
            v-if="AssetItemGroup.length < assetdata.items_qty"
          >
            จำนวนที่ต้องการ {{ AssetItemGroup.length }} /
            {{ assetdata.items_qty }}
          </div>
          <v-responsive class="overflow-y-auto" max-height="400">
            <v-responsive>
              <v-lazy
                v-model="isActive"
                :options="{
                  threshold: 0.5,
                }"
                color="blue darken-1"
                min-height="300"
                transition="fade-transition"
              >
                <v-row class="ma-1">
                  <v-expansion-panels style="justify-content: left">
                    <v-col
                      cols="12"
                      md="4"
                      class="pa-1"
                      v-for="(Asset, i) in AssetListitem"
                      :key="i"
                    >
                      <v-expansion-panel>
                        <v-row align="center" no-gutters>
                          <v-col cols="19">
                            <v-expansion-panel-header
                              class="pa-0 pl-3"
                              style="
                                font-size: 1rem;
                                border-left: solid #009ff5 3px;
                              "
                            >
                              <div
                                style="
                                  white-space: nowrap;
                                  overflow: hidden;
                                  text-overflow: ellipsis;
                                "
                                v-if="Asset.serial_number == ''"
                              >
                                <div>
                                  <v-icon color="black" class="pa-0">
                                    widgets</v-icon
                                  >
                                  {{ Asset.id }}
                                </div>
                              </div>
                              <div
                                v-else
                                style="
                                  white-space: nowrap;
                                  overflow: hidden;
                                  text-overflow: ellipsis;
                                "
                              >
                                <v-icon color="black" class="pa-0">
                                  qr_code</v-icon
                                >
                                {{ Asset.serial_number }}
                              </div>
                            </v-expansion-panel-header>
                          </v-col>
                          <v-col cols="1">
                            <v-icon
                              class="mr-2"
                              color="black"
                              size="25"
                              @click="openDetailAssetItem(Asset.id)"
                            >
                              article
                            </v-icon>
                          </v-col>
                          <v-col cols="1">
                            <v-checkbox
                              color="blue"
                              v-model="AssetItemGroup"
                              :value="Asset"
                            ></v-checkbox>
                          </v-col>
                        </v-row>
                        <v-expansion-panel-content>
                          <v-row class="pt-4">
                            <v-col cols="12" md="6" class="pa-1">
                              <v-icon color="blue">location_on</v-icon
                              >{{ Asset.location }}
                            </v-col>
                          </v-row>
                        </v-expansion-panel-content>
                      </v-expansion-panel>
                    </v-col>
                  </v-expansion-panels>
                </v-row>
              </v-lazy>
            </v-responsive>
          </v-responsive>

          <v-row no-gutters class="pt-5">
            <v-col cols="12" class="hidden-sm-and-down">
              <v-btn outlined color="black" class="mr-4 px-6" @click="cancle()"
                >ปิด</v-btn
              >
              <v-btn
                outlined
                color="blue"
                class="white--text"
                @click="(e1 = 2), setheader()"
                :disabled="
                  AssetItemGroup.length == 0 ||
                  AssetItemGroup.length > assetdata.items_qty ||
                  AssetItemGroup.length < assetdata.items_qty
                "
                >ถัดไป</v-btn
              >
            </v-col>
            <v-col cols="6" class="hidden-md-and-up pa-1">
              <v-btn color="black" block outlined @click="cancle()">ปิด</v-btn>
            </v-col>
            <v-col cols="6" class="hidden-md-and-up pa-1">
              <v-btn
                outlined
                color="blue"
                block
                class="white--text"
                @click="(e1 = 2), setheader()"
                :disabled="
                  AssetItemGroup.length == 0 ||
                  AssetItemGroup.length > assetdata.items_qty ||
                  AssetItemGroup.length < assetdata.items_qty
                "
                >ถัดไป</v-btn
              >
            </v-col>
          </v-row>
        </v-stepper-content>
        <!--_________________________________page 2 __________________________________________ -->
        <v-stepper-content step="2"  class="pa-2">
          <v-row no-gutters>
            <v-col cols="12">
              <v-row no-gutters class="py-3 pb-5">
                <v-col cols="12"
                  ><div style="font-size: 1.2rem">ข้อมูลการเบิก</div></v-col
                >
                <v-col cols="12" md="6">ผู้เบิก : {{ assetdata.name }}</v-col>
                <v-col cols="12" md="6"
                  >เบิกสินทรัพย์เพื่อ : {{ assetdata.message }}</v-col
                >
                <v-col cols="12" md="12"
                  >อธิบายสถานที่เพิ่มเติม : {{ assetdata.mark_name }}</v-col
                >
                <v-col cols="12" md="12"
                  >สถานที่ปลายทาง
                  <v-card>
                    <GmapMap
                      v-bind:center="assetdata.position[0]"
                      v-bind:zoom="15"
                      map-type-id="terrain"
                      style="width: 100%; height: 250px"
                    >
                      <GmapMarker
                        v-bind:position="assetdata.position[0]"
                        v-bind:clickable="true"
                      />
                    </GmapMap>
                  </v-card>
                </v-col>
              </v-row>
            </v-col>
            <v-col cols="12"
              ><div style="font-size: 1.2rem">ข้อมูลสินทรัพย์</div></v-col
            >
            <v-col cols="12">ชื่อ : {{ Assettitle.name }}</v-col>
            <v-col cols="12">จำนวน : {{ assetdata.items_qty }} หน่วย</v-col>
            <v-col cols="12" md="6"
              >หมวดหมู่ : {{ Assettitle.category }}
            </v-col>
            <v-col cols="12" md="6"
              >ประเภท : {{ Assettitle.subcategory }}
            </v-col>
            <v-col cols="12">รายละะเอียด : {{ Assettitle.description }} </v-col>
            <v-col cols="12">
              <v-data-table
                :headers="Assetitemheaders"
                :items="AssetItemGroup"
                class="elevation-1"
                :items-per-page="4"
              >
                <template v-slot:[`item.conditions`]="{ item }">
                  <v-chip :color="getColor(item.conditions)" dark>
                    {{ item.conditions }}
                  </v-chip>
                </template>

                <template v-slot:[`item.serial_number`]="{ item }">
                  <div v-if="item.serial_number == ''">ไม่มี</div>
                  <div v-else>{{ item.serial_number }}</div>
                </template>
              </v-data-table>
            </v-col>
            <v-row no-gutters class="pt-5">
              <v-col cols="12" class="hidden-sm-and-down">
                <v-btn
                  outlined
                  color="black"
                  class="mr-4 px-6"
                  @click="(e1 = 1), resetdata(), ListAssetItem()"
                  >ย้อนกลับ</v-btn
                >
                <v-btn
                  outlined
                  color="blue"
                  class="white--text"
                  @click="ChangeSatustran()"
                  >ถัดไป</v-btn
                >
              </v-col>
              <v-col cols="6" class="hidden-md-and-up pa-1">
                <v-btn
                  color="black"
                  block
                  outlined
                  @click="(e1 = 1), resetdata(), ListAssetItem()"
                  >ย้อนกลับ</v-btn
                >
              </v-col>
              <v-col cols="6" class="hidden-md-and-up pa-1">
                <v-btn
                  outlined
                  color="blue"
                  block
                  class="white--text"
                  @click="ChangeSatustran()"
                  >ถัดไป</v-btn
                >
              </v-col>
            </v-row>
          </v-row>
        </v-stepper-content>
      </v-stepper-items>
    </v-stepper>
    <v-dialog persistent max-width="300" v-model="Insert_group">
      <PopupApprove />
    </v-dialog>

    <v-dialog max-width="1100" v-model="Detail_group">
      <SelectDetailAssetItem :Asset="group_data" @cancel="cancelDetail" />
    </v-dialog>
  </div>
</template>

<script>
import SelectDetailAssetItem from "../../components/Approve/SelectDetailAssetItem.vue";
import api from "../../services/asset";
import PopupApprove from "../Popup/PopupApprove";
export default {
  name: "Approveform",
  props: ["assetdata"],
  data() {
    return {
      group_data: "",
      Detail_group: false,
      maps: "",
      Assettitle: {
        name: "",
        description: "",
        category: "",
        subcategory: "",
      },
      AssetItemGroup: [],
      resultdata: "",
      search: "",
      e1: 1,
      isActive: "",
      AssetListitem: [],
      Insert_group: false,
      Assetitemheaders: [
        { text: "รหัสสินทรัพย์", align: "start", value: "id" },
        { text: "ซีเรียว", value: "serial_number" },
        { text: "รายละเอียดเพิ่มเติม", value: "detail" },
        { text: "สถานที่เก็บ", value: "location" },
        { text: "วันสิ้นสุดประกัน", value: "warranty_date" },
        { text: "เหลือประกันอีก", value: "warranty" },
        { text: "สภาพ", value: "conditions" },
      ],
    };
  },
  components: { PopupApprove, SelectDetailAssetItem },
  methods: {
    getColor(conditions) {
      if (conditions > 7) return "green";
      else if (conditions > 4) return "yellow";
      else return "red";
    },
    setheader() {
      this.Assettitle = {
        name: this.AssetItemGroup[0].name,
        description: this.AssetItemGroup[0].description,
        category: this.AssetItemGroup[0].category_name,
        subcategory: this.AssetItemGroup[0].sub_category_name,
      };
    },
    openDetailAssetItem(val) {
      this.group_data = val;
      this.Detail_group = true;
    },
    resetdata() {
      (this.AssetItemGroup = []), (this.e1 = 1), (this.isActive = "");
      this.search = "";
    },
    openInsert() {
      this.Insert_group = true;
    },
    cancle() {
      this.resetdata();
      this.$emit("cancel");
    },
    cancelDetail(cancel) {
      this.Detail_group = cancel;
    },
    close() {
      this.resetdata();
      this.$emit("close", this.resultdata);
    },
    // String Array
    ChangeSatustran() {
      let tempdata = [];
      this.AssetItemGroup.forEach((element) => {
        tempdata.push(element.id);
      });
      api.ChangeApprovewithdrawnReq(
        this.$store.state.header,
        {
          id: this.assetdata.id,
          asset_id: this.assetdata.asset_id,
          items: tempdata,
        },
        (result) => {
          this.resultdata = result.message;
          this.Insert_group = false;
          this.e1 = 1;
          this.close();
        },
        (error) => {
          console.log(error);
        }
      );
    },
    ListSerachAssetItem(val) {
      if (val && val != "") {
        api.SerachAssetItem(
          this.$store.state.header,
          {
            id: this.assetdata.asset_id,
            keyword: val,
          },
          (result) => {
            this.AssetListitem = result.data;
            this.AssetItemGroup = [];
          },
          (error) => {
            console.log(error);
          }
        );
      } else {
        this.ListAssetItem();
      }
    },
    ListAssetItem() {
      this.e1 = 1;
      api.ListAssetItemAvailable(
        this.$store.state.header,
        {
          id: parseInt(this.assetdata.asset_id),
        },
        (result) => {
          this.AssetListitem = result.data;
          this.AssetItemGroup = [];
        },
        (error) => {
          console.log(error);
        }
      );
    },
  },
  watch: {
    assetdata(val) {
      if (val) {
        this.assetdata = val;
        this.ListAssetItem();
      }
    },
    search(val) {
      clearTimeout(this.timeout);
      const self = this;
      this.timeout = setTimeout(function () {
        self.ListSerachAssetItem(val);
      }, 1000);
    },
  },
  mounted() {
    this.ListAssetItem();
  },
};
</script>