<template>
  <div>
    <v-card class="pa-3">
      <v-card class="pa-3 mb-5 white--text" color="red" style="font-size: 1.5rem"
        >ปฏิเสธคำร้องเบิกใช้</v-card>
      <v-text-field
        v-model="massage"
        counter
        solo
        placeholder="สาเหตุที่ปฏิเสธ"
        maxlength="50"
        required
      ></v-text-field>
      <v-row no-gutters>
        <v-col cols="6" md="6" class="pr-1">
          <v-btn block outlined height="2.5rem" @click="cancelRejectgroup()">
            ยกเลิก
          </v-btn>
        </v-col>
        <v-col cols="6" md="6" class="pl-1">
          <v-btn block outlined color="red" height="2.5rem" @click="checkdata()">
            ยืนยัน
          </v-btn>
        </v-col>
      </v-row>
    </v-card>
    <v-dialog persistent max-width="300" v-model="Insert_group">
      <PopupInsert />
    </v-dialog>

    <v-dialog max-width="450" v-model="ErrorInputiden_group">
      <PopupErrorInputiden />
    </v-dialog>

    <v-dialog max-width="450" v-model="ErrorRespon_group">
      <PopupResponError />
    </v-dialog>
  </div>
</template>

<script>
import PopupInsert from "../Popup/PopupInsert";
import PopupErrorInputiden from "../Popup/PopupErrorInputiden.vue";
import PopupResponError from "../Popup/PopupResponError.vue";
import api from "../../services/asset";
export default {
  name: "ApproveReject",
  props:["assetdata"],
  data() {
    return {
      massage: "",
      response: "",
      dataclose: false,
      Insert_group: false,
      ErrorInputiden_group: false,
      ErrorRespon_group: false,
    };
  },
  components: { PopupInsert, PopupErrorInputiden, PopupResponError },
  methods: {
    checkdata() {
      if (this.massage === "") {
        this.ErrorInputiden_group = true;
        setTimeout(() => {
          this.ErrorInputiden_group = false;
        }, 2000);
      } else {
        this.Rejectdata();
      }
    },
    openInsert() {
      this.Insert_group = true;
    },
    closeInsert() {
      this.Insert_group = false;
    },
    cancelRejectgroup() {
      this.massage = "", 
      this.$emit("cancel", this.dataclose);
    },
    closeRejectgroup() {
      this.massage = "", 
      this.$emit("close", this.dataclose);
    },
    Rejectdata() {
      this.openInsert();
      try {
        api.SendApprovewithdrawnReject(
          this.$store.state.header,
          {
            id: this.assetdata.id,
            error_message:this.massage
          },
          (result) => {
            this.response = result.response;
           this.closeInsert()
           this.closeRejectgroup()
          },
          (error) => {
            console.log(error);
          }
        );
      } catch (error) {
        console.log(error);
      }
    },
  },
watch:{
assetdata(val){
      if(val){
        this.massage = ""
        this.assetdata = val
      }
    },
},
  mounted() {
    this.massage = ""
  },

};
</script>
