<template>
  <div>
    <v-card class="pa-3">
      <div align="right" class="hidden-md-and-up">
        <v-icon color="black" @click="cancelDetail()">cancel</v-icon>
      </div>
      <v-card
        class="pa-3 mb-5 white--text hidden-sm-and-down"
        color="blue darken-1"
        style="font-size: 1.5rem"
        >รายละเอียด</v-card
      >
      <v-col cols="12" style="font-size: 1.5rem" class="hidden-md-and-up"
        >{{ Approvedata.asset_name }}
      </v-col>
      <v-row no-gutters>
        <v-col cols="12">
          <v-row no-gutters class="mb-5">
            <v-col cols="12" md="3" align="center">
              <v-img
                :src="Approvedata.url"
                max-height="100%"
                max-width="50%"
              ></v-img>
            </v-col>
            <v-col cols="12" md="9">
              <v-row no-gutters>
                <v-col
                  cols="12"
                  style="font-size: 2rem"
                  class="hidden-sm-and-down"
                  >{{ Approvedata.asset_name }}</v-col
                >
              </v-row>
              <v-row no-gutters>
                <v-col cols="12"
                  >รายละเอียด {{ Approvedata.description }}</v-col
                >
                <v-col cols="12" md="6"
                  >หมวดหมู่ {{ Approvedata.category_name }}
                </v-col>
                <v-col cols="12" md="6"
                  >ประเภท {{ Approvedata.sub_category_name }}
                </v-col>
                <v-col cols="12" md="6">
                  บาร์โค้ด {{ Approvedata.barcode }}
                  <v-row no-gutters>
                    <v-col cols="6" class="hidden-sm-and-down"
                      ><barcode
                        v-bind:value="Approvedata.barcode"
                        height="50"
                        fontSize="16"
                        width="1"
                      ></barcode
                    ></v-col>
                    <v-col cols="12" class="hidden-md-and-up">
                      <barcode
                        v-bind:value="Approvedata.barcode"
                        height="50"
                        fontSize="15"
                      ></barcode
                    ></v-col>
                  </v-row>
                </v-col>
                <v-col cols="12" md="6">
                  หลักฐานการเบิก
                  <v-img
                    class="hidden-sm-and-down mb-0"
                    max-height="60%"
                    max-width="60%"
                    :src="
                      Approvedata.confirmed_image == ''
                        ? 'https://firebasestorage.googleapis.com/v0/b/np-storage-it.appspot.com/o/IT_ASSET-2021-01-29%3A13%3A35%3A121?alt=media'
                        : Approvedata.confirmed_image
                    "
                  />
                  <v-img
                    class="hidden-md-and-up mb-0"
                    max-height="100%"
                    max-width="100%"
                    :src="
                      Approvedata.confirmed_image == ''
                        ? 'https://firebasestorage.googleapis.com/v0/b/np-storage-it.appspot.com/o/IT_ASSET-2021-01-29%3A13%3A35%3A121?alt=media'
                        : Approvedata.confirmed_image
                    "
                  />
                </v-col>
              </v-row>
            </v-col>
          </v-row>
        </v-col>
        <v-col cols="12">
          <v-data-table
            :headers="Assetitemheaders"
            :items="Approvedata.items"
            class="elevation-1"
            :items-per-page="4"
          >
            <template v-slot:[`item.qrcode`]="{ item }">
              <v-icon @click="openPrintQrcode(item.asset_item_id)"
                >local_printshop</v-icon
              >
            </template>
            <template v-slot:[`item.conditions`]="{ item }">
              <v-chip :color="getColor(item.conditions)" dark>
                {{ item.conditions }}
              </v-chip>
            </template>

            <template v-slot:[`item.serial_number`]="{ item }">
              <div v-if="item.serial_number == ''">ไม่มี</div>
              <div v-else>{{ item.serial_number }}</div>
            </template>

            <template v-slot:[`item.image_url`]="{ item }">
              <div class="hidden-sm-and=">
                <v-img
                  :src="item.image_url"
                  class="ma-1"
                  max-height="80"
                  max-width="80"
                ></v-img>
              </div>
            </template>
          </v-data-table>
        </v-col>
      </v-row>
    </v-card>
  </div>
</template>

<script>
import api from "../../services/asset";
import VueBarcode from "vue-barcode";
export default {
  name: "DetailAssetItem",
  props: ["Asset"],
  data() {
    return {
      Approvedata: [
        {
          asset_id: "",
          asset_name: "",
          barcode: "",
          category_name: "",
          created_at: "",
          description: "",
          id: "",
          items: [],
          items_qty: "",
          message: "",
          process_id: "",
          response_message: "",
          sub_category_name: "",
          updated_at: "",
          url: "",
        },
      ],
      output: null,
      AssetListitem: [],
      headerdata: [],
      group_data: [],
      dataAsset: this.Asset,
      Update_group: false,
      Delete_group: false,
      dataclose: false,
      switch1: true,
      Assetitemheaders: [
        { text: "รูป", value: "image_url" },
        { text: "รหัสสินทรัพย์", align: "start", value: "asset_item_id" },
        { text: "ซีเรียว", value: "serial_number" },
        { text: "รายละเอียดเพิ่มเติม", value: "detail" },
        { text: "วันสิ้นสุดประกัน", value: "warranty_date" },
        { text: "สภาพ", value: "conditions" },
        { text: "ช่างซ่อม", value: "contact" },
        { text: "qrcode", value: "qrcode" },
      ],
    };
  },
  components: { barcode: VueBarcode },
  methods: {
    cancelDetail() {
      this.$emit("cancel");
    },
    openPrintQrcode(val) {
      window.open("/PrintQrcodeMaintenance/" + val);
    },
    getColor(conditions) {
      if (conditions > 7) return "green";
      else if (conditions > 4) return "yellow";
      else return "red";
    },
    resetdata() {
      (this.headerdata = []),
        (this.group_data = []),
        (this.dataAsset = this.Asset),
        (this.Update_group = false),
        (this.Delete_group = false),
        (this.dataclose = false),
        (this.switch1 = true),
        (this.depreciation = ""),
        (this.price_now = "");
    },
    listApproveData() {
      api.SelectApproveDetail(
        this.$store.state.header,
        {
          id: parseInt(this.dataAsset),
        },
        (result) => {
          this.Approvedata = result.data;
        },
        (error) => {
          console.log(error);
        }
      );
    },
  },
  watch: {
    Asset(val) {
      if (val) {
        this.dataAsset = this.$props.Asset;
        this.listApproveData();
      }
    },
  },
  mounted() {
    this.listApproveData();
  },
};
</script>

<style scoped>
.botton {
  background: linear-gradient(90.75deg, #00b9f8 5.43%, #3780ee 84.26%), #c4c4c4;
}
</style>
