<template>
  <div>
    <v-card class="pa-3">
      <div align="right" class="hidden-md-and-up">
        <v-icon color="black" @click="cancelDetailAssetItem()">cancel</v-icon>
      </div>
      <v-card
        class="pa-2 mb-3 white--text hidden-sm-and-down"
        color="blue darken-1"
        style="font-size: 1.5rem"
        ><v-row no-gutters
          >รายละเอียด <v-spacer></v-spacer
          ><v-icon color="white" @click="cancelDetailAssetItem()"
            >cancel</v-icon
          ></v-row
        >
      </v-card>
      <v-row no-gutters class="mb-5">
        <v-col cols="12" md="5" align="center">
          <v-img
            class="hidden-sm-and-down mb-0"
            max-height="420"
            max-width="90%"
            :src="
              dataAsset.image_url == ''
                ? 'https://firebasestorage.googleapis.com/v0/b/np-storage-it.appspot.com/o/IT_ASSET-2021-01-29%3A13%3A35%3A121?alt=media'
                : dataAsset.image_url
            "
          />
          <v-img
            class="hidden-md-and-up mb-0"
            max-height="300"
            max-width="90%"
            :src="
              dataAsset.image_url == ''
                ? 'https://firebasestorage.googleapis.com/v0/b/np-storage-it.appspot.com/o/IT_ASSET-2021-01-29%3A13%3A35%3A121?alt=media'
                : dataAsset.image_url
            "
          />
        </v-col>
        <v-col cols="12" md="7">
          <v-row no-gutters>
            <v-col cols="12" style="font-size: 2rem" class="hidden-sm-and-down"
              >{{ dataAsset.name }}
            </v-col>
          </v-row>
          <v-row no-gutters>
            <v-col cols="12" style="font-size: 1.5rem" class="hidden-md-and-up"
              >{{ dataAsset.name }}
            </v-col>
            <v-col cols="12" style="font-size: 1.3rem">ข้อมูลทั่วไป</v-col>
            <v-col cols="12">
              <div class="hidden-md-and-up">
                <v-icon>widgets</v-icon> : {{ dataAsset.id }}
              </div>
              <div class="hidden-sm-and-down">
                รหัสสินทรัพย์ : {{ dataAsset.id }}
              </div>
            </v-col>
            <v-col cols="12">
              <div class="hidden-md-and-up">
                <v-icon>description</v-icon> : {{ dataAsset.detail }}
              </div>
              <div class="hidden-sm-and-down">
                รายละเอียด : {{ dataAsset.detail }}
              </div>
            </v-col>
            <v-col cols="12" md="6">
              <div class="hidden-md-and-up">
                <v-icon>view_list</v-icon> : {{ dataAsset.category_name }}
              </div>
              <div class="hidden-sm-and-down">
                หมวดหมู่ : {{ dataAsset.category_name }}
              </div>
            </v-col>
            <v-col cols="12" md="6">
              <div class="hidden-md-and-up">
                <v-icon>view_stream</v-icon> : {{ dataAsset.sub_category_name }}
              </div>
              <div class="hidden-sm-and-down">
                ประเภท : {{ dataAsset.sub_category_name }}
              </div>
            </v-col>
            <v-col cols="12" md="6">
              <div v-if="dataAsset.available !== 0">
                <div class="hidden-md-and-up">
                  <v-icon>mdi-map-marker</v-icon> : {{ dataAsset.location }}
                </div>
                <div class="hidden-sm-and-down">
                  ที่เก็บ : {{ dataAsset.location }}
                </div>
              </div>
            </v-col>
            <v-col cols="12" md="6">
              <div v-if="dataAsset.serial_number !== ''">
                <div class="hidden-md-and-up">
                  <v-icon>qr_code</v-icon> : {{ dataAsset.serial_number }}
                </div>
                <div class="hidden-sm-and-down">
                  ซีเรียว : {{ dataAsset.serial_number }}
                </div>
              </div>
            </v-col>
            <v-col cols="12">
              <div class="hidden-md-and-up">
                <v-icon>engineering</v-icon> : {{ dataAsset.contact }}
              </div>
              <div class="hidden-sm-and-down">
                ข้อมูลซ่อมบำรุง : {{ dataAsset.contact }}
              </div>
            </v-col>
            <v-col cols="12" style="font-size: 1.3rem" class="pt-2"
              >การรับประกัน</v-col
            >
            <v-col cols="12">
              <div v-if="dataAsset.started_warranty == ''">
                <div class="hidden-md-and-up">
                  <v-icon color="green">security</v-icon> : ไม่มีการรับประกัน
                </div>
                <div class="hidden-sm-and-down">
                  การรับประกัน : ไม่มีการรับประกัน
                </div>
              </div>
              <div v-else>
                <div v-if="dataAsset.warranty === 'หมดประกันแล้ว'">
                  <v-row no-gutters>
                    <v-col cols="12" md="6">
                      <div class="hidden-md-and-up">
                        <v-icon>event_note</v-icon> :
                        {{ dateFormatDMY(dataAsset.started_warranty) }}
                      </div>
                      <div class="hidden-sm-and-down">
                        วันเริ่มรับประกัน :
                        {{ dateFormatDMY(dataAsset.started_warranty) }}
                      </div>
                    </v-col>
                    <v-col cols="12" md="6">
                      <div class="hidden-md-and-up">
                        <v-icon>event_available</v-icon> :
                        {{ dateFormatDMY(dataAsset.warranty_date) }}
                      </div>
                      <div class="hidden-sm-and-down">
                        สุดการกรับประกัน :
                        {{ dateFormatDMY(dataAsset.warranty_date) }}
                      </div>
                    </v-col>
                    <v-col cols="12" md="6">
                      <div class="hidden-md-and-up">
                        <v-icon>schedule</v-icon> :
                        {{ dataAsset.warranty_month }} เดือน
                      </div>
                      <div class="hidden-sm-and-down">
                        รับประกัน : {{ dataAsset.warranty_month }} เดือน
                      </div>
                    </v-col>
                    <v-col cols="12" md="6">
                      <div class="hidden-md-and-up">
                        <v-icon color="red">dangerous</v-icon> :
                        {{ dataAsset.warranty }}
                      </div>
                      <div class="hidden-sm-and-down red--text">
                        {{ dataAsset.warranty }}
                      </div>
                    </v-col>
                  </v-row>
                </div>
                <div v-else>
                  <v-row no-gutters>
                    <v-col cols="12" md="6">
                      <div class="hidden-md-and-up">
                        <v-icon>event_note</v-icon> :
                        {{ dateFormatDMY(dataAsset.started_warranty) }}
                      </div>
                      <div class="hidden-sm-and-down">
                        วันเริ่มรับประกัน :
                        {{ dateFormatDMY(dataAsset.started_warranty) }}
                      </div>
                    </v-col>
                    <v-col cols="12" md="6">
                      <div class="hidden-md-and-up">
                        <v-icon>event_available</v-icon> :
                        {{ dateFormatDMY(dataAsset.warranty_date) }}
                      </div>
                      <div class="hidden-sm-and-down">
                        สุดการกรับประกัน :
                        {{ dateFormatDMY(dataAsset.warranty_date) }}
                      </div>
                    </v-col>
                    <v-col cols="12" md="6">
                      <div class="hidden-md-and-up">
                        <v-icon>schedule</v-icon> :
                        {{ dataAsset.warranty_month }} เดือน
                      </div>
                      <div class="hidden-sm-and-down">
                        รับประกัน : {{ dataAsset.warranty_month }} เดือน
                      </div>
                    </v-col>
                    <v-col cols="12" md="6">
                      <div class="hidden-md-and-up">
                        <v-icon color="green">security</v-icon> :
                        {{ dataAsset.warranty }}
                      </div>
                      <div class="hidden-sm-and-down green--text">
                        เหลือประกันอีก : {{ dataAsset.warranty }}
                      </div>
                    </v-col>
                  </v-row>
                </div>
              </div>
            </v-col>
            <v-col cols="12" style="font-size: 1.3rem" class="pt-2"
              >ค่าเสื่อมสินทรัพย์</v-col
            >
            <v-col cols="12">
              <v-row no-gutters>
                <v-col cols="12" md="6">
                  <div class="hidden-md-and-up">
                    <v-icon>monetization_on</v-icon> :
                    {{ dataAsset.prices }} บาท
                  </div>
                  <div class="hidden-sm-and-down">
                    ราคาสินทรัพย์ : {{ dataAsset.prices }} บาท
                  </div>
                </v-col>
                <v-col cols="12" md="6">
                  <div class="hidden-md-and-up">
                    <v-icon>trending_down</v-icon> : {{ dataAsset.percens }}
                  </div>
                  <div class="hidden-sm-and-down">
                    ค่าเสื่อม : {{ dataAsset.percens }} %
                  </div>
                </v-col>
                <v-col cols="12" md="6">
                  <div class="hidden-md-and-up">
                    <v-icon>money_off</v-icon> :
                    {{ dataAsset.calculated_prices }} บาท
                  </div>
                  <div class="hidden-sm-and-down">
                    มูลค่าสินทรัพย์คงเหลือ :
                    {{ dataAsset.calculated_prices }} บาท
                  </div>
                </v-col>
              </v-row>
            </v-col>
            <v-col cols="12">
              <div v-if="dataAsset.available === 0">
                สถานที่ล่าสุด
                <v-card>
                  <GmapMap
                    v-bind:center="dataAsset.position[0]"
                    v-bind:zoom="15"
                    map-type-id="terrain"
                    style="width: 100%; height: 150px"
                  >
                    <GmapMarker
                      v-bind:position="dataAsset.position[0]"
                      v-bind:clickable="true"
                    />
                  </GmapMap>
                </v-card>
              </div>
            </v-col>
            <v-col cols="12">
              <v-row no-gutters>
                <v-col cols="12" class="hidden-sm-and-down"
                  >บาร์โค้ด {{ dataAsset.barcode }}
                </v-col>
                <v-col cols="12" class="pt-2 hidden-sm-and-down">
                  <barcode
                    v-bind:value="dataAsset.barcode"
                    height="50"
                    width="2"
                  ></barcode
                ></v-col>
                <v-col cols="12" class="pt-2 hidden-md-and-up"
                  ><barcode
                    v-bind:value="dataAsset.barcode"
                    height="60"
                  ></barcode
                ></v-col>
              </v-row>
            </v-col>
            <v-col cols="12" md="6" class="pa-1">
              <v-btn
                small
                block
                outlined
                color="black"
                style="height: 35px"
                @click="cancelDetailAssetItem()"
                >ปิด</v-btn
              >
            </v-col>
          </v-row>
        </v-col>
      </v-row>
    </v-card>

    <v-dialog
      transition="dialog-top-transition"
      max-width="1100"
      v-model="Update_group"
    >
      <UpdateAssetItem
        :AssetItem="group_data"
        @close="closeUpdateAssetItem"
        @cancel="cancelUpdate"
      />
    </v-dialog>

    <v-dialog
      transition="dialog-top-transition"
      max-width="500"
      v-model="Delete_group"
    >
      <DeleteAssetItem
        :AssetItem="group_data"
        @close="closeDeleteAssetItem"
        @cancel="cancelDelete"
      />
    </v-dialog>
  </div>
</template>

<script>
import VueBarcode from "vue-barcode";
import api from "../../services/asset";
import UpdateAssetItem from "../AssetItem/UpdateAssetItem.vue";
import DeleteAssetItem from "../AssetItem/DeleteAssetItem.vue";
export default {
  name: "DetailAssetItem",
  props: ["Asset"],
  data() {
    return {
      itemdata: [],
      group_data: [],
      dataAsset: this.Asset,
      Update_group: false,
      Delete_group: false,
      dataclose: false,
      switch1: true,
      depreciation: "",
      price_now: "",
    };
  },
  components: { UpdateAssetItem, DeleteAssetItem, barcode: VueBarcode },
  methods: {
    openPrintQrcode(val) {
      window.open("/PrintQrcodeMaintenance/" + val);
    },
    calpriced() {
      api.Caldateprice(
        this.$store.state.header,
        {
          buyingdate: this.dataAsset.buying_date,
          percents: parseFloat(this.dataAsset.percents),
          prices: parseFloat(this.dataAsset.prices),
        },
        (result) => {
          this.calprice = result.data;
          (this.depreciation = this.calprice.percent),
            (this.price_now = this.calprice.priced);
        },
        (error) => {
          console.log(error);
        }
      );
    },
    cancelDetailAssetItem() {
      this.$emit("cancel", this.dataclose);
    },
    AssetItemDetaildata() {
      api.ListAssetItemDetail(
        this.$store.state.header,
        {
          id: this.dataAsset,
        },
        (result) => {
          this.dataAsset = result.data[0];
        },
        (error) => {
          console.log(error);
        }
      );
    },
  },
  watch: {
    Asset(val) {
      if (val) {
        this.dataAsset = val;
        this.AssetItemDetaildata();
      }
    },
  },
  mounted() {
    this.AssetItemDetaildata();
  },
};
</script>

<style scoped>
.botton {
  background: linear-gradient(90.75deg, #00b9f8 5.43%, #3780ee 84.26%), #c4c4c4;
}
</style>
