<template>
  <div>
    <v-card class="pa-3">
      <v-card
        class="pa-3 mb-3 white--text"
        color="blue lighten-1"
        style="font-size: 1.5rem"
        >แผนที่</v-card
      >
      <v-card>
        <v-row no-gutters class="pa-3">
          <v-col cols="12" class="text-center red--text" style="font-size: 3rem">
            <GmapMap
              v-bind:center="locaion.position[0]"
              v-bind:zoom="15"
              map-type-id="terrain"
              style="width: 100%; height: 500px"
            >
              <GmapMarker
                v-bind:key="i"
                v-bind:position="locaion.position[0]"
                v-bind:clickable="true"
              />
            </GmapMap>
          </v-col>
          <v-col cols="12" class="pt-2">
          คำอธิบายสถานที่เพิ่มเติม : {{locaion.mark_name}}
          </v-col>
        </v-row>
      </v-card>
    </v-card>
  </div>
</template>
<script>
export default {
  name: "Showmaps",
  props: ["locaion"],
  data() {
    return {};
  },
  components: {},
  methods: {},
};
</script>
