<template>
  <v-container grid-list-xs>
    <v-row justify="center">
      <v-overlay :z-index="zIndex" :value="overlay">
        <v-card color="white" class="ma-3 hidden-sm-and-down" width="500">
          <v-row no-gutters>
            <v-col cols="12">
              <v-row no-gutters justify="center" class="pa-5 black--text">
                <img src="../../src/assets/assetlogo.png" height="150" />
                <v-col
                  cols="12"
                  class="pb-3"
                  style="text-align: center; font-size: 1.5rem"
                  >เข้าสู่ระบบ</v-col
                >
                <v-col cols="12">
                  <v-text-field
                    :type="show1 ? 'text' : 'text'"
                    name="input-10-2"
                    outlined
                    label="บัญชีผู้ใช้"
                    hint="อีเมล์"
                    class="input-group--focused"
                    color="blue"
                    light
                    v-model="username"
                  ></v-text-field>
                  <v-text-field
                    :append-icon="show2 ? 'mdi-eye' : 'mdi-eye-off'"
                    :type="show2 ? 'text' : 'password'"
                    name="input-10-2"
                    outlined
                    label="รหัสผ่าน"
                    class="input-group--focused"
                    color="blue"
                    light
                    v-model="password"
                    v-on:keyup.enter="enterlogin"
                  >
                  </v-text-field>
                </v-col>
                <v-col cols="12" align="center">
                  <div style="font-size: 0.9rem; color: #bdc3c7">
                    หากเกิดปัญหากรุณาติดต่อแผนก IT โทร 700
                  </div>
                </v-col>
                <v-col cols="12" class="py-3">
                  <v-btn color="blue" block @click="checkdata()"
                    >เข้าสู่ระบบ</v-btn
                  >
                </v-col>
              </v-row>
            </v-col>
          </v-row>
        </v-card>

        <v-card color="white" class="ma-3 hidden-md-and-up">
          <v-row no-gutters>
            <v-col cols="12">
              <v-row no-gutters justify="center" class="pa-5 black--text">
                <img
                  src="../../src/assets/assetlogo.png"
                  height="150"
                  class="pb-4"
                />
                <v-col cols="12">
                  <v-text-field
                    :type="show3 ? 'text' : 'text'"
                    name="input-10-2"
                    outlined
                    label="บัญชีผู้ใช้"
                    class="input-group--focused"
                    color="blue"
                    light
                    v-model="username"
                    @click:append="show3 = !show3"
                  ></v-text-field>
                  <v-text-field
                    :append-icon="show4 ? 'mdi-eye' : 'mdi-eye-off'"
                    :type="show4 ? 'text' : 'password'"
                    name="input-10-2"
                    outlined
                    label="รหัสผ่าน"
                    class="input-group--focused"
                    color="blue"
                    light
                    v-model="password"
                    @click:append="show4 = !show4"
                  ></v-text-field>
                </v-col>
                <v-col cols="12" align="center">
                  <div style="font-size: 0.9rem; color: #bdc3c7">
                    หากเกิดปัญหากรุณาติดต่อแผนก IT โทร 700
                  </div>
                </v-col>
                <v-col cols="12" class="py-3">
                  <v-btn color="blue" block @click="checkdata()"
                    >เข้าสู่ระบบ</v-btn
                  >
                </v-col>
              </v-row>
            </v-col>
          </v-row>
        </v-card>

        <v-dialog v-model="dialog1" width="300">
          <v-card color="white" class="pa-10">
            <v-row no-gutters justify="center">
              <v-img src="../../src/assets/cancel.png" max-width="50%"></v-img>
              <v-col
                cols="12"
                class="pt-7 grey--text"
                style="text-align: center; font-size: 1.2rem"
              >
                {{ message }}
              </v-col>
            </v-row>
          </v-card>
        </v-dialog>

        <v-dialog v-model="dialog2" width="300">
          <v-card color="white" height="250" class="pa-10">
            <v-row no-gutters justify="center">
              <v-img src="../../src/assets/warning.png" max-width="50%"></v-img>
              <v-col
                cols="12"
                class="pt-7 grey--text"
                style="text-align: center; font-size: 1.3rem"
              >
                ข้อมูลผู้ใช้งานและรหัสผ่าน
              </v-col>
            </v-row>
          </v-card>
        </v-dialog>
      </v-overlay>
    </v-row>
  </v-container>
</template>
<script>
import api from "../services/asset";
export default {
  data: () => ({
    username: "",
    message: "",
    Access: "",
    password: "",
    type: 1,
    dialog1: false,
    dialog2: false,
    show3: false,
    show1: false,
    show4: false,
    show2: false,
    overlay: true,
    zIndex: 0,
  }),
  methods: {
    enterlogin: function () {
      this.checkdata();
    },
    SuccessPopup() {
      try {
        this.dialog1 = true;
        setTimeout(() => {
          this.dialog1 = false;
        }, 3000);
      } catch (error) {
        console.log(error);
      }
    },
    warningPopup() {
      try {
        this.dialog2 = true;
        setTimeout(() => {
          this.dialog2 = false;
        }, 3000);
      } catch (error) {
        console.log(error);
      }
    },
    checkdata() {
      if (this.username !== "" && this.password !== "") {
        this.AccessApi();
      } else {
        this.warningPopup();
      }
    },
    AccessApi() {
      try {
        api.LoginAttrs(
          {
            username: this.username,
            password: this.password,
          },
          (result) => {
            this.Access = result;
            this.message = result.message;
            if (result.response === "success") {
              sessionStorage.user_code = this.Access.data.user_code;
              sessionStorage.name = this.Access.data.name;
              sessionStorage.token = this.Access.data.token;
              sessionStorage.userAccess = this.Access.data.role_id;
              this.$store.state.accesscode = this.Access.data.role_id;
              this.$store.state.header.headers = {
                "Access-Token": sessionStorage.token,
              };
              if (this.Access.data.role_id == 1) {
                this.$router.push("/Dashboard");
              } else {
                this.$router.push("/Inventory");
              }
            } else {
              this.SuccessPopup();
            }
          },
          (error) => {
            this.message = error;
          }
        );
      } catch (error) {
        console.log(error);
      }
    },
  },
  mounted() {
    delete sessionStorage.user_code;
    delete sessionStorage.name;
    delete sessionStorage.token;
    delete sessionStorage.userAccess;
  },
};
</script>