<template>
  <v-row no-gutters>
    <v-col cols="12">
      <v-card
        class="pa-0 ma-0 hidden-sm-and-down"
        elevation="1"
        tile
        color="white"
        style="height: 72px"
      >
        <v-container grid-list-xs>

          <v-row no-gutters>
            <v-col
              cols="12"
              md="9"
              style="font-size: 1.7rem"
              class="text-center"
            >
              <v-row no-gutters>
                <v-col cols="12" md="3">Dashboard</v-col>
              </v-row>
            </v-col>
          </v-row>
        </v-container>
      </v-card>
    </v-col>

    <v-col cols="12" md="8">
      <v-card class="mt-10 mx-2" max-width="100%">
        <v-sheet
          class="v-sheet--offset mx-auto"
          color="blue"
          elevation="12"
          max-width="calc(100% - 32px)"
        >
          <v-sparkline
            :labels="labels"
            :value="assetItem.value"
            color="white"
            line-width="2"
            padding="16"
            height="70"
          ></v-sparkline>
        </v-sheet>
        <v-card-text class="pt-0">
          <div class="mb-2" style="font-size: 20px">
            สถิติการใช้งาน ปี {{ yeartext }}
          </div>
          <v-divider class="my-2"></v-divider>
          <v-btn
            rounded
            small
            outlined
            color="blue"
            class="mr-1"
            @click="(yeartext = '2562'), changeyear(2019)"
            :disabled="yeartext == '2562'"
          >
            2562
          </v-btn>
          <v-btn
            rounded
            small
            outlined
            color="blue"
            class="mr-1"
            @click="(yeartext = '2563'), changeyear(2020)"
            :disabled="yeartext == '2563'"
          >
            2563
          </v-btn>
          <v-btn
            rounded
            small
            outlined
            color="blue"
            class="mr-1"
            @click="(yeartext = '2564'), changeyear(2021)"
            :disabled="yeartext == '2564'"
          >
            ปัจจุบัน
          </v-btn>
          <v-divider class="my-2"></v-divider>
          <v-icon class="mr-2" small> mdi-clock </v-icon>
          <span class="grey--text">
            ข้อมูลเมื่อ {{ dateFormatAndTime(date) }} น.</span
          >
        </v-card-text>
      </v-card>
    </v-col>
    <v-col cols="12" md="4" class="mt-3 px-2">
      <v-row no-gutters>
        <v-col cols="12" style="font-size: 25px" class="hidden-sm-and-down" 
          >การทำรายการ</v-col
        >
        <v-col cols="12" style="font-size: 20px" class="hidden-md-and-up"
          >การทำรายการ</v-col
        >
        <v-col cols="12" class="py-1"
          ><v-card
            style="font-size: 20px"
            class="cardhover"
            @click="$router.push('../manageApproveAsset')"
            ><div class="hidden-sm-and-down">
              <v-list-item three-line>
                <v-list-item-avatar tile size="30">
                  <v-icon size="30">arrow_circle_up</v-icon>
                </v-list-item-avatar>
                <v-list-item-content>
                  <v-list-item-subtitle
                    style="font-size: 20px"
                    class="black--text"
                  >
                    เบิกใช้ทั้งหมด
                    {{
                      assetItem.qty_item[0].qty_transaction_request_all
                    }}
                    รายการ
                  </v-list-item-subtitle>
                  <v-list-item-title style="font-size: 18px" class="blue--text">
                    รออนุมัติ
                    {{ assetItem.qty_item[0].qty_transaction_request }} รายการ
                  </v-list-item-title>
                </v-list-item-content>
              </v-list-item>
            </div>
            <div class="hidden-md-and-up">
              <v-list class="pa-4" style="font-size: 18px">
                <v-icon size="25" class="pr-3">arrow_circle_up</v-icon>
                เบิกใช้ทั้งหมด
                {{ assetItem.qty_item[0].qty_transaction_request_all }}
                รายการ
                <v-avatar left size="20" class="yellow">
                  {{ assetItem.qty_item[0].qty_transaction_request }}
                </v-avatar></v-list
              >
            </div>
          </v-card></v-col
        >
        <v-col cols="12" class="py-1"
          ><v-card
            style="font-size: 20px"
            class="cardhover"
            @click="$router.push('../manageApproveAsset')"
            ><div class="hidden-sm-and-down">
              <v-list-item three-line>
                <v-list-item-avatar tile size="30">
                  <v-icon size="30">arrow_circle_down</v-icon>
                </v-list-item-avatar>
                <v-list-item-content>
                  <v-list-item-subtitle
                    style="font-size: 20px"
                    class="black--text"
                  >
                    ส่งคืนทั้งหมด
                    {{
                      assetItem.qty_item[0].qty_transaction_return_all
                    }}
                    รายการ
                  </v-list-item-subtitle>
                  <v-list-item-title style="font-size: 18px" class="blue--text">
                    รออนุมัติ
                    {{ assetItem.qty_item[0].qty_transaction_return }} รายการ
                  </v-list-item-title>
                </v-list-item-content>
              </v-list-item>
            </div>
            <div class="hidden-md-and-up">
              <v-list class="pa-4" style="font-size: 18px">
                <v-icon size="25" class="pr-3">arrow_circle_down</v-icon>
                ส่งคืนทั้งหมด
                {{ assetItem.qty_item[0].qty_transaction_return_all }}
                รายการ
                <v-avatar left size="20" class="yellow">
                  {{ assetItem.qty_item[0].qty_transaction_return }}
                </v-avatar></v-list
              >
            </div>
          </v-card></v-col
        >
        <v-col cols="12" class="py-1"
          ><v-card
            style="font-size: 20px"
            class="cardhover"
            @click="$router.push('../manageMaintenanceAsset')"
            ><div class="hidden-sm-and-down">
              <v-list-item three-line>
                <v-list-item-avatar tile size="30">
                  <v-icon size="30">build_circle</v-icon>
                </v-list-item-avatar>
                <v-list-item-content>
                  <v-list-item-subtitle
                    style="font-size: 20px"
                    class="black--text"
                  >
                    แจ้งซ่อมทั้งหมด
                    {{
                      assetItem.qty_item[0].qty_transaction_report_all
                    }}
                    รายการ
                  </v-list-item-subtitle>
                  <v-list-item-title style="font-size: 18px" class="blue--text">
                    รออนุมัติ
                    {{ assetItem.qty_item[0].qty_transaction_report }} รายการ
                  </v-list-item-title>
                </v-list-item-content>
              </v-list-item>
            </div>
            <div class="hidden-md-and-up">
              <v-list class="pa-4" style="font-size: 18px">
                <v-icon size="25" class="pr-3">build_circle</v-icon>
                แจ้งซ่อมทั้งหมด
                {{ assetItem.qty_item[0].qty_transaction_report_all }}
                รายการ
                <v-avatar left size="20" class="yellow">
                  {{ assetItem.qty_item[0].qty_transaction_report }}
                </v-avatar></v-list
              >
            </div>
          </v-card></v-col
        >
      </v-row>
    </v-col>
    <v-col cols="12">
      <v-row no-gutters>
        <v-col
          cols="12"
          style="font-size: 25px"
          class="pl-2 mt-5 hidden-sm-and-down"
          >สถานะสินทรัพย์</v-col
        >
        <v-col
          cols="12"
          style="font-size: 20px"
          class="pl-2 mt-2 hidden-md-and-up"
          >สถานะสินทรัพย์</v-col
        >
        <v-col cols="6" md="3" class="pa-2">
          <v-card class="mx-auto py-2" max-width="100%">
            <div class="hidden-sm-and-down">
              <v-list-item three-line>
                <v-list-item-avatar tile size="50">
                  <v-icon size="30">work</v-icon>
                </v-list-item-avatar>
                <v-list-item-content>
                  <v-list-item-title
                    style="font-size: 18px"
                    class="black--text"
                  >
                    ทั้งหมด
                  </v-list-item-title>

                  <v-list-item-subtitle
                    style="font-size: 22px"
                    class="blue--text"
                  >
                    {{ assetItem.qty_item[0].qty_all }} หน่วย
                  </v-list-item-subtitle>
                </v-list-item-content>
              </v-list-item>
            </div>
            <div class="hidden-md-and-up">
              <v-row no-gutters class="px-2">
                <v-col cols="12"><v-icon>work</v-icon> ทั้งหมด </v-col>
                <v-col
                  cols="12"
                  style="font-size: 22px"
                  class="blue--text text-center"
                  >{{ assetItem.qty_item[0].qty_all }}</v-col
                >
              </v-row>
            </div>
          </v-card>
        </v-col>
        <v-col cols="6" md="3" class="pa-2">
          <v-card class="mx-auto py-2" max-width="100%">
            <div class="hidden-sm-and-down">
              <v-list-item three-line>
                <v-list-item-avatar tile size="50">
                  <v-icon size="30">work_off</v-icon>
                </v-list-item-avatar>
                <v-list-item-content>
                  <v-list-item-title
                    style="font-size: 18px"
                    class="black--text"
                  >
                    เสียหาย
                  </v-list-item-title>

                  <v-list-item-subtitle
                    style="font-size: 22px"
                    class="blue--text"
                  >
                    {{ assetItem.qty_item[0].qty_damage }} หน่วย
                  </v-list-item-subtitle>
                </v-list-item-content>
              </v-list-item>
            </div>
            <div class="hidden-md-and-up">
              <v-row no-gutters class="px-2">
                <v-col cols="12"><v-icon>work_off</v-icon> เสียหาย </v-col>
                <v-col
                  cols="12"
                  style="font-size: 22px"
                  class="blue--text text-center"
                  >{{ assetItem.qty_item[0].qty_damage }}</v-col
                >
              </v-row>
            </div>
          </v-card>
        </v-col>

        <v-col cols="6" md="3" class="pa-2">
          <v-card class="mx-auto py-2" max-width="100%">
            <div class="hidden-sm-and-down">
              <v-list-item three-line>
                <v-list-item-avatar tile size="50">
                  <v-icon size="30">unarchive</v-icon>
                </v-list-item-avatar>
                <v-list-item-content>
                  <v-list-item-title
                    style="font-size: 18px"
                    class="black--text"
                  >
                    กำลังใช้งาน
                  </v-list-item-title>

                  <v-list-item-subtitle
                    style="font-size: 22px"
                    class="blue--text"
                  >
                    {{ assetItem.qty_item[0].qty_unavailable }} หน่วย
                  </v-list-item-subtitle>
                </v-list-item-content>
              </v-list-item>
            </div>
            <div class="hidden-md-and-up">
              <v-row no-gutters class="px-2">
                <v-col cols="12"><v-icon>unarchive</v-icon> กำลังใช้งาน </v-col>
                <v-col
                  cols="12"
                  style="font-size: 22px"
                  class="blue--text text-center"
                  >{{ assetItem.qty_item[0].qty_unavailable }}</v-col
                >
              </v-row>
            </div>
          </v-card>
        </v-col>

        <v-col cols="6" md="3" class="pa-2">
          <v-card class="mx-auto py-2" max-width="100%">
            <div class="hidden-sm-and-down">
              <v-list-item three-line>
                <v-list-item-avatar tile size="50">
                  <v-icon size="30">archive</v-icon>
                </v-list-item-avatar>
                <v-list-item-content>
                  <v-list-item-title
                    style="font-size: 18px"
                    class="black--text"
                  >
                    ในคลัง
                  </v-list-item-title>

                  <v-list-item-subtitle
                    style="font-size: 22px"
                    class="blue--text"
                  >
                    {{ assetItem.qty_item[0].qty_available }} หน่วย
                  </v-list-item-subtitle>
                </v-list-item-content>
              </v-list-item>
            </div>
            <div class="hidden-md-and-up">
              <v-row no-gutters class="px-2">
                <v-col cols="12"><v-icon>archive</v-icon> ในคลัง </v-col>
                <v-col
                  cols="12"
                  style="font-size: 22px"
                  class="blue--text text-center"
                  >{{ assetItem.qty_item[0].qty_available }}</v-col
                >
              </v-row>
            </div>
          </v-card>
        </v-col>
      </v-row>
    </v-col>
  </v-row>
</template>

<script>
import api from "../../services/asset";
export default {
  components: {},
  data: () => ({
    assetItem: { "qty_item": 
  [ 
    { qty_all:'', 
      qty_available: '', 
      qty_unavailable: '', 
      qty_damage: '', 
      qty_transaction_request_all: '', 
      qty_transaction_request: '', 
      qty_transaction_return_all: '', 
      qty_transaction_return: '', 
      qty_transaction_report_all: '', 
      qty_transaction_report: '' } 
  ], 
  value: [], 
},
    date: Date.now(),
    yeartext: "2564",
    labels: [
      "ม.ค",
      "ก.พ",
      "มี.ค",
      "เม.ย",
      "พ.ค",
      "มิ.ย",
      "ก.ค",
      "ส.ค",
      "ก.ย",
      "ต.ค",
      "พ.ย",
      "ธ.ค",
    ],
     header: {
      headers: {
        'Access-Token': sessionStorage.token
      }
    },
  }),
  methods: {
    countAssetitem() {
      try {
        api.AdminDashboard(
          this.$store.state.header,
          {
            id: 2021,
          },
          (result) => {
            this.assetItem = result.data;
          },
          (error) => {
            console.log(error);
            alert("ไม่มีสิทธิ์ใช้งาน")
            this.$router.push('/login')
          }
        );
      } catch (error) {
        // console.log(error);
      }
    },
    changeyear(val) {
      try {
        api.AdminDashboard(
          this.$store.state.header,
          {
            id: val,
          },
          (result) => {
            this.assetItem = result.data;
          },
          (error) => {
            console.log(error);
            alert("ไม่มีสิทธิ์ใช้งาน")
            this.$router.push('/login')
          }
        );
      } catch (error) {
        // console.log(error);
      }
    },
    adminBarNoti() {
      try {
        api.Notify(
          this.$store.state.header,
          {
            id: "",
          },
          (result) => {
            this.$store.state.approve = result.data.qty_1_2;
            this.$store.state.maintenance = result.data.qty_3;
          },
          (error) => {
            console.log(error);
          }
        );
      } catch (error) {
        console.log(error);
      }
    },
  },
  mounted() {
    this.countAssetitem();
    this.adminBarNoti();
  },
};
</script>

<style scoped>
.v-sheet--offset {
  top: -24px;
  position: relative;
}
.cardhover {
  box-shadow: 0.5px 0.5px 10px rgba(192, 192, 192, 0.8);
  transition: 0.1s;
}
.cardhover:hover {
  background-color: #a6d7ff;
  border: 0px;
  transform: scale(1.02);
}
</style>
