<template>
  <div>
    <v-row justify="center">
    <v-overlay
      color="black"
      :z-index="zIndex"
      :value="overlay"
    >
    <v-card color="white" class="ma-3" > 
      <v-stepper v-model="e1" light class="black--text">
        <div align="right" class="hidden-md-and-up" ><v-icon color="black"  class="pa-2">cancel</v-icon></div>
      <v-stepper-items>
        <v-stepper-content step="1" class="pa-3">
          <v-row no-gutters class="py-3">
              <v-row no-gutters>
          <v-col cols="12" >
          <v-row no-gutters justify="center" class="black--text">
            <v-col cols="12" class="pb-3" style="text-align:center; font-size:1.5rem;">คำร้องเบิกใช้สินทรัพย์</v-col>
            <v-col cols="12" > คำขอที่ {{listwithdrawn.id}} </v-col>
            <v-col cols="12" > ผู้ขอเบิก {{listwithdrawn.name}} </v-col>
            <v-col cols="12" > ชื่อสินทรัพย์ {{listwithdrawn.asset_name}} </v-col>
            <v-col cols="12" > คำอธิบาย {{listwithdrawn.massage}} </v-col>
            <v-col cols="12" > ส่งคำขอเมื่อ {{listwithdrawn.created_at}} </v-col>
            <v-col cols="12" > 
                <v-card>
                  <GmapMap
                    v-bind:center="listwithdrawn.position[0]"
                    v-bind:zoom="15"
                    map-type-id="terrain"
                    style="width: 100%; height: 200px"
                  >
                    <GmapMarker
                      v-bind:position="listwithdrawn.position[0]"
                      v-bind:clickable="true"
                    />
                </GmapMap>
              </v-card>
            </v-col>
            <v-row no-gutters class="pt-5">
          <v-col cols="12" class="pa-1">
            <v-btn color="blue" outlined block @click="ListAssetItem(listwithdrawn.asset_id),e1 = 2" >ถัดไป</v-btn>
          </v-col>
          </v-row>
          </v-row>
        </v-col>
         </v-row>
          </v-row>
        </v-stepper-content>
        <v-stepper-content step="2"  class="pa-3">
           <v-row no-gutters class="py-3">
          <v-row no-gutters>
          <v-col cols="12" >
          <v-row no-gutters justify="center" class="black--text">
            <v-col cols="12" class="pb-3" style="text-align:center; font-size:1.5rem;">คำร้องเบิกใช้สินทรัพย์</v-col>
            <v-col cols="12" ><v-text-field
          block
            v-model="search"
            placeholder="ค้นหาสินทรัพย์"
            color="blue darken-1 "
            class="pa-1"
            outlined
          ></v-text-field></v-col>
            <v-col cols="12" > <v-responsive class="overflow-y-auto" max-height="400">
            <v-responsive>
              <v-lazy
                v-model="isActive"
                :options="{
                  threshold: 0.5,
                }"
                color="blue  darken-1"
                min-height="300"
                transition="fade-transition"
              >
                <v-row class="ma-2">
        <v-expansion-panels style="justify-content: left">
          <v-col
            cols="12"
            md="4"
            class="pa-1"
            v-for="(Asset, i) in AssetListitem"
            :key="i"
          >
            <v-expansion-panel>
              <v-row align="center" no-gutters>
                <v-col cols="9" md="9">
                  <v-expansion-panel-header
                    class="pa-0 pl-5"
                    style="font-size: 1rem; border-left: solid #009FF5 3px"
                  >
                  <div style="white-space: nowrap;overflow: hidden;text-overflow: ellipsis;" v-if="Asset.serial_number === '' ">
                      <div>
                        <v-icon color="black" class="pa-0"> widgets </v-icon>
                        {{ Asset.id }}
                      </div>
                    </div>
                    <div style="white-space: nowrap;overflow: hidden; text-overflow: ellipsis;" v-else>
                      <v-icon color="black" class="pa-0"> qr_code</v-icon>
                      {{ Asset.serial_number }}
                    </div>
                  </v-expansion-panel-header>
                </v-col>
                <v-col cols="1" md="1">
                  <v-progress-circular
                            max="10"
                            :rotate="360"
                            :size="25"
                            :width="4"
                            :value="Asset.conditions * 10"
                            color="blue"
                          >
                            <div style="font-size: 13px">
                              {{ Asset.conditions }}
                            </div>
                          </v-progress-circular>
                </v-col>
                <v-col cols="1" md="2">
                  <v-tooltip bottom>
                    <template v-slot:activator="{ on, c1 }">
                      <v-btn
                        fab
                        text
                        small
                        color="green"
                        v-bind="c1"
                        v-on="on"
                        @click="(e1 = 2), ListAssetItemDetaildata(Asset)"
                      >
                        <v-icon color="black"> next_week </v-icon>
                      </v-btn>
                    </template>
                    <span>เลือก</span>
                  </v-tooltip>
                </v-col>
              </v-row>

              <v-expansion-panel-content>
                <v-row class="pt-4">
                  <v-col cols="12" sm="6" md="6" class="pa-1">
                    <v-icon color="blue">location_on</v-icon
                    >{{ Asset.location }}
                  </v-col>
                </v-row>
              </v-expansion-panel-content>
            </v-expansion-panel>
          </v-col>
        </v-expansion-panels>
          </v-row>
              </v-lazy>
            </v-responsive>
          </v-responsive></v-col>
            <v-row no-gutters class="pt-5">
          <v-col cols="12" class="pa-1">
            <v-btn color="blue" outlined block @click="ListAssetItem(listwithdrawn.asset_id),e1 = 2" >ถัดไป</v-btn>
          </v-col>
          </v-row>
          </v-row>
        </v-col>
         </v-row>
          </v-row>
        </v-stepper-content>

        <v-stepper-content step="3">
          <v-row no-gutters class="py-3">
            
            <v-col cols="12">
              <v-btn text @click="e1 = 1"> ย้อนกลับ </v-btn>
              <v-btn color="blue darken-1" class="white--text" @click="ChangeSatustran()"> อนุมัติ </v-btn>
            </v-col>
          </v-row>
        </v-stepper-content>
      </v-stepper-items>
    </v-stepper>
    </v-card>

      
    </v-overlay>
  </v-row>
  </div>
</template>

<script>
import api from "../../../services/asset";
export default {
name:"Approverequest",
data(){
  return {
  e1: 1,
  search:'',
  listwithdrawn:[],
  Assetdetail: {},
  AssetListitem:[],
  Asset_id: this.$route.params.id,
  overlay: true,
  zIndex: 0,
  Position:{ lat: 18.807993528073183, lng: 99.01390420890557 },
  }
},
components:{},
methods:{
    ListAssetItem(val){
      api.ListAssetItemAvailable(
        this.$store.state.header,
        {
          id: parseInt(val),
        },
        (result) => {
          this.AssetListitem = result.data;
           console.log(this.AssetListitem)
        },
        (error) => {
          console.log(error);
        }
      );
    },
     ListAssetItemDetaildata() {
     api.ListAssetItemDetail(
       this.$store.state.header,
       {
         id: parseInt(this.Asset_id),
       },
       (result) => {
         this.Assetdetail = result.data[0];
       },
       (error) => {
         console.log(error);
       }
     );
   },
      ListApprovewithdrawndata(){
       api.SelectApprovewithdrawn(
         this.$store.state.header,
       {
         id: parseInt(this.Asset_id),
       },
       (result) => {
         this.listwithdrawn = result.data[0];
         this.ListAssetItem(this.listwithdrawn.asset_id)
       },
       (error) => {
         console.log(error);
       }
     );
   },
},
watch:{
  Asset_id(val){
    if(val){
      this.e1= 1;
      this.ListApprovewithdrawndata()
    }
  }
},
mounted(){
  this.e1= 1;
 this.ListApprovewithdrawndata()
},
}
</script>

<style>

</style>