<template>
  <div class="manageApproveAsset">
    <v-card
      class="pa-0 ma-0 hidden-sm-and-down"
      elevation="1"
      tile
      color="white"
      style="height: 72px"
    >
      <v-container grid-list-xs>
        <v-row no-gutters>
          <v-col cols="12" md="9" style="font-size: 1.7rem" class="text-center">
            <v-row no-gutters>
              <v-col cols="12" md="3">จัดการคำขอ</v-col>
            </v-row>
          </v-col>
        </v-row>
      </v-container>
    </v-card>
    
    <v-container>
      <v-expansion-panels multiple v-model="panel">
        <v-expansion-panel>
          <!-- _______________________________ withdraw __________________________________________ -->
          <v-expansion-panel-header style="font-size: 1.2rem" class="py-2"
            >คำขอเบิกใช้
          </v-expansion-panel-header>
          <v-expansion-panel-content class="pa-0">
            <v-text-field
              class="pb-3"
              v-model="searchwithdraw"
              append-icon="mdi-magnify"
              label="ค้นหาคำขอเบิกใช้"
              single-line
              hide-details
            ></v-text-field>
            <v-data-table
              :headers="withdrawheaders"
              :items="listwithdrawn"
              class="elevation-1"
              :items-per-page="4"
              :search="searchwithdraw"
            >
              <template v-slot:[`item.created_at`]="{ item }">
                {{ dateFormatDMY(item.created_at) }}
              </template>

              <template v-slot:[`item.transaction_status`]="{ item }">
                <v-chip
                  color="red lighten-1"
                  class="white--text pr-6"
                  dark
                  v-if="item.transaction_status == 0"
                >
                  <v-icon class="pr-1">cancel</v-icon>ไม่อนุมัติ
                </v-chip>

                <v-menu offset-y>
                  <template v-slot:activator="{ on: menu1, attrs }">
                    <v-tooltip bottom color="white">
                      <template v-slot:activator="{ on: tooltip }">
                        <v-btn
                          v-if="item.transaction_status == 1"
                          width="109"
                          height="33"
                          rounded
                          color="yellow lighten-1"
                          light
                          v-bind="attrs"
                          v-on="{ ...tooltip, ...menu1 }"
                        >
                          <v-icon color="black" class="pr-1"> info </v-icon>
                          รออนุมัติ
                        </v-btn>
                      </template>
                      <span class="black--text">เลือก</span>
                    </v-tooltip>
                  </template>
                  <v-list class="pa-0">
                    <v-list-item @click="OpenApproveform(item)">
                      <v-icon color="green" class="pr-1"> check_circle </v-icon
                      >อนุมัติ
                    </v-list-item>
                    <v-list-item @click="OpenwithdrawReject(item)">
                      <v-icon color="red" class="pr-1"> cancel </v-icon>ปฏิเสธ
                    </v-list-item>
                  </v-list>
                </v-menu>

                <v-chip
                  color="light-green"
                  class="white--text"
                  dark
                  v-if="item.transaction_status == 2"
                >
                  <v-icon class="pr-1">check_circle</v-icon>อนุมัติแล้ว
                </v-chip>

                <v-chip
                  color="grey lighten-1"
                  class="white--text pr-8"
                  dark
                  v-if="item.transaction_status == 4"
                >
                  <v-icon class="pr-1">do_not_disturb_on</v-icon>ยกเลิก
                </v-chip>
              </template>

              <template v-slot:[`item.position`]="{ item }">
                <v-tooltip bottom color="white">
                  <template v-slot:activator="{ on, c1 }">
                    <v-icon @click="showmaps(item)" v-bind="c1" v-on="on"
                      >visibility</v-icon
                    >
                  </template>
                  <span class="black--text">ดูที่ตั้ง</span>
                </v-tooltip>
              </template>

              <template v-slot:[`item.asset_name`]="{ item }">
                {{ item.asset_name }}
                <v-icon
                  @click="OpenApproveDetail(item.id)"
                  v-if="item.transaction_status == 2"
                  >assignment</v-icon
                >
              </template>
            </v-data-table>
          </v-expansion-panel-content>
        </v-expansion-panel>
        <!-- _______________________________ deposit __________________________________________ -->
        <v-expansion-panel>
          <v-expansion-panel-header style="font-size: 1.2rem" class="py-2"
            >คำขอส่งคืน</v-expansion-panel-header
          >
          <v-expansion-panel-content>
            <v-text-field
              class="pb-3"
              v-model="searchdeposit"
              append-icon="mdi-magnify"
              label="ค้นหาคำขอคืน"
              single-line
              hide-details
            ></v-text-field>
            <v-data-table
              :headers="depositheaders"
              :items="listdeposit"
              class="elevation-1"
              :items-per-page="4"
              :search="searchdeposit"
            >
              <template v-slot:[`item.created_at`]="{ item }">
                {{ dateFormatDMY(item.created_at) }}
              </template>

              <template v-slot:[`item.transaction_status`]="{ item }">
                <v-chip
                  color="red lighten-1"
                  class="white--text pr-6"
                  dark
                  v-if="item.transaction_status == 0"
                >
                  <v-icon class="pr-1">cancel</v-icon>เสียหาย
                </v-chip>

                <v-tooltip bottom color="white">
                  <template v-slot:activator="{ on: tooltip }">
                    <v-btn
                      v-if="item.transaction_status == 1"
                      height="33"
                      rounded
                      color="yellow lighten-1"
                      light
                      v-bind="attrs"
                      v-on="{ ...tooltip, ...menu2 }"
                      @click="openDepAccept(item)"
                    >
                      <v-icon color="black" class="pr-1"> info </v-icon>
                      เก็บในคลัง
                    </v-btn>
                  </template>
                  <span class="black--text">เปลี่ยนสถานะ</span>
                </v-tooltip>

                <v-chip
                  color="light-green"
                  class="white--text pr-5"
                  dark
                  v-if="item.transaction_status == 2"
                >
                  <v-icon class="pr-1">check_circle</v-icon>บันทึกสำเร็จ
                </v-chip>

                <v-chip
                  color="grey lighten-1"
                  class="white--text pr-12"
                  dark
                  v-if="item.transaction_status == 4"
                >
                  <v-icon class="pr-1">do_not_disturb_on</v-icon>ยกเลิก
                </v-chip>
              </template>

              <template v-slot:[`item.position`]="{ item }">
                <v-tooltip bottom color="white">
                  <template v-slot:activator="{ on, c1 }">
                    <v-icon @click="showmaps(item)" v-bind="c1" v-on="on"
                      >visibility</v-icon
                    >
                  </template>
                  <span class="black--text">ดูที่ตั้ง</span>
                </v-tooltip>
              </template>

              <template v-slot:[`item.asset_name`]="{ item }">
                {{ item.asset_name }}
                <v-icon @click="OpenApproveDetail(item.id)">assignment</v-icon>
              </template>
            </v-data-table>
          </v-expansion-panel-content>
        </v-expansion-panel>
      </v-expansion-panels>
    </v-container>
    <!-- All -->
    <v-dialog max-width="1100" v-model="Maps_group">
      <Showmaps :locaion="group_data" @close="closemaps" />
    </v-dialog>

    <v-dialog max-width="1100" v-model="Detail_group">
      <DetailAssetItem :Asset="group_data"  @cancel="cancelDetail"/>
    </v-dialog>
    <!-- Withdraw -->
    <v-dialog persistent max-width="1100" v-model="Approve_group">
      <Approveform
        :assetdata="group_data"
        @close="closeAppform"
        @cancel="cancelApproveform"
      />
    </v-dialog>

    <v-dialog max-width="650" v-model="reject_group">
      <ApproveReject :assetdata="group_data" @close="closeRejectgroup" />
    </v-dialog>

    <!-- Dipposit -->
    <v-dialog max-width="650" v-model="deposit.reject">
      <v-card class="pa-3">
        <v-card
          class="pa-3 mb-5 white--text"
          color="red"
          style="font-size: 1.5rem"
          >ปฏิเสธการรับคืน</v-card
        >
        <v-text-field
          v-model="deposit.massage"
          counter
          solo
          placeholder="สาเหตุที่ปฏิเสธ"
          maxlength="50"
          required
        ></v-text-field>
        <v-row no-gutters>
          <v-col cols="6" md="6" class="pr-1">
            <v-btn
              block
              outlined
              height="2.5rem"
              @click="(deposit.reject = false), (deposit.massage = '')"
            >
              ยกเลิก
            </v-btn>
          </v-col>
          <v-col cols="6" md="6" class="pl-1">
            <v-btn
              block
              outlined
              color="red"
              height="2.5rem"
              @click="checkdata()"
            >
              ยืนยัน
            </v-btn>
          </v-col>
        </v-row>
      </v-card>
    </v-dialog>

    <v-dialog max-width="400" v-model="deposit.accept">
      <v-card class="pa-3">
        <v-card
          class="pa-2 mb-5 white--text"
          color="light-green"
          style="font-size: 1.2rem"
          >กรุณาตรวจสอบข้อมูลก่อนกดยืนยัน</v-card
        >
        <v-row no-gutters>
          <v-col cols="6" md="6" class="pr-1">
            <v-btn
              block
              small
              outlined
              height="2.5rem"
              @click="deposit.accept = false"
            >
              ยกเลิก
            </v-btn>
          </v-col>
          <v-col cols="6" md="6" class="pl-1">
            <v-btn
              block
              small
              outlined
              color="light-green"
              height="2.5rem"
              @click="AcceptDepositAssetdata(deposit.data)"
            >
              เพิ่ม
            </v-btn>
          </v-col>
        </v-row>
      </v-card>
    </v-dialog>

    <v-snackbar v-model="snackbar" :timeout="300" top right color="light-green">
      <v-row no-gutters>
        <v-col cols="2" style="font-size: 1.1rem" class="text--white"
          ><v-icon large>check_circle</v-icon></v-col
        >
        <v-col
          cols="9"
          style="font-size: 1.1rem"
          class="text--white"
          align-self="center"
          >ทำรายการสำเร็จ</v-col
        >
        <v-col cols="1" align="right">
          <v-btn fab small text @click.native="snackbar = false"
            ><v-icon small>close</v-icon></v-btn
          >
        </v-col>
      </v-row>
    </v-snackbar>
  </div>
</template>

<script>
import api from "../../../services/asset";
import Showmaps from "../../../components/Approve/Showmaps.vue";
import Approveform from "../../../components/Approve/Approveform.vue";
import ApproveReject from "../../../components/Approve/ApproveReject.vue";
import DetailAssetItem from "../../../components/Approve/DetailAssetItem.vue";
export default {
  name: "manageApproveAsset",
  components: { Showmaps, Approveform, ApproveReject, DetailAssetItem },
  data: () => ({
    snackbar: false,
    panel: [0, 1],
    c2: true,
    c1: true,
    listdeposit: [],
    listwithdrawn: [],
    clickAssetData: [],
    group_data: "",
    isActive: "",
    attrs: "",
    Maps_group: false,
    Approve_group: false,
    reject_group: false,
    Detail_group: false,
    AcceptDeposit_group: false,
    menu1: "",
    menu2: "",
    deposit: {
      data: [],
      reject: false,
      accept: false,
      massage: "",
    },
    searchwithdraw: "",
    withdrawheaders: [
      { text: "ลำดับ", align: "start", value: "id" },
      { text: "วันที่", value: "created_at" },
      { text: "ผู้เบิก", value: "name" },
      { text: "ชื่อสินทรัพย์", value: "asset_name" },
      { text: "วัตถุประสงค์", value: "message" },
      { text: "จำนวน", value: "items_qty" },
      { text: "สถานที่", value: "position" },
      { text: "สถานะ", value: "transaction_status" },
      { text: "หมายเหตุ", value: "response_message" },
    ],
    searchdeposit: "",
    depositheaders: [
      { text: "ลำดับ", align: "start", value: "id" },
      { text: "วันที่", value: "created_at" },
      { text: "ผู้เบิก", value: "name" },
      { text: "ชื่อสินทรัพย์", value: "asset_name" },
      { text: "คำอธิบาย", value: "message" },
      { text: "จำนวน", value: "items_qty" },
      { text: "สถานที่", value: "position" },
      { text: "สถานะ", value: "transaction_status" },
      { text: "หมายเหตุ", value: "response_message" },
    ],
  }),
  methods: {
    // rejectgroup
    OpenwithdrawReject(val) {
      this.group_data = val;
      this.reject_group = true;
    },
    closeRejectgroup() {
      this.adminBarNoti();
      this.reject_group = false;
      this.ListApprovewithdrawndata();
      this.ListApprovedepositdata();
    },
    // ApproveForm
    OpenApproveform(val) {
      this.group_data = val;
      this.Approve_group = true;
    },
    closeAppform() {
      this.adminBarNoti();
      this.snackbar = true;
      this.Approve_group = false;
      this.ListApprovewithdrawndata();
      this.ListApprovedepositdata();
    },
    cancelApproveform() {
      this.Approve_group = false;
    },
    // maps
    showmaps(val) {
      this.group_data = val;
      this.Maps_group = true;
    },
    closemaps() {
      this.Maps_group = false;
    },
    // Assert detail
    OpenApproveDetail(val) {
      this.group_data = val;
      this.Detail_group = true;
    },
cancelDetail(){
this.Detail_group = false;
},
    ClickAssetItemDetaildata(val) {
      api.ListAssetItemDetail(
        this.$store.state.header,
        {
          id: val.asset_item_id,
        },
        (result) => {
          this.clickAssetData = result.data[0];
          this.OpenApproveDetail(this.clickAssetData);
        },
        (error) => {
          console.log(error);
        }
      );
    },
    ListApprovewithdrawndata() {
      api.ListApprovewithdrawn(
        this.$store.state.header,
        {
          id: 0,
          process_id: 1,
        },
        (result) => {
          this.listwithdrawn = result.data;
        },
        (error) => {
          console.log(error);
        }
      );
    },
    ListApprovedepositdata() {
      api.ListApprovewithdrawn(
        this.$store.state.header,
        {
          id: 0,
          process_id: 2,
        },
        (result) => {
          this.listdeposit = result.data;
        },
        (error) => {
          console.log(error);
        }
      );
    },

    AcceptDepositAssetdata(val) {
      api.AcceptDepositAsset(
        this.$store.state.header,
        {
          id: val.id,
          asset_id: val.asset_id,
          asset_item_id: val.asset_item_id,
        },
        (result) => {
          result;
          (this.deposit.data = []),
            (this.deposit.reject = false),
            (this.deposit.accept = false),
            (this.deposit.massage = ""),
            (this.snackbar = true),
            this.ListApprovewithdrawndata();
          this.ListApprovedepositdata();
          this.adminBarNoti();
        },
        (error) => {
          console.log(error);
        }
      );
    },
    openDepAccept(val) {
      this.deposit.data = val;
      this.deposit.accept = true;
    },
    adminBarNoti() {
      try {
        api.Notify(
          this.$store.state.header,
          {
            id: "",
          },
          (result) => {
            this.$store.state.approve = result.data.qty_1_2;
            this.$store.state.maintenance = result.data.qty_3;
          },
          (error) => {
            console.log(error);
          }
        );
      } catch (error) {
        console.log(error);
      }
    },
  },
  mounted() {
    this.ListApprovewithdrawndata();
    this.ListApprovedepositdata();
    this.adminBarNoti();
  },
  created() {
  },
};
</script>
