
<template>
  <div class="PrintQrcodeMaintenance" style="width: 6cm">
    <v-row no-gutters v-for="qr in qrlink" :key="qr" style="width: 6.cm;padding:6px;">
      <v-col cols="12" style="font-size: 15px">
        <div
          style="
            text-align: center;
            width: 100%;
            letter-spacing: 5px;
            font-size: 12px;
            padding-left: 15px;
          "
        >
          asset.nopadol.net
        </div>
      </v-col>
      <v-col
        cols="1"
        style="
          font-size: 10px;
          writing-mode: vertical-rl;
          text-orientation: mixed;
          padding-top: 6px;
        "
        >{{ qr.asset_item_id }}
        </v-col
      >
      <v-col cols="4">
        <vue-qrcode :value="qr.path" style="height: 1.5cm" />
       <div style="font-size:12px;">qr แจ้งซ่อม</div>  
      </v-col>
      <v-col cols="7">
        <v-row no-gutters>
          <barcode
            v-bind:value="qr.barcode"
            width="1"
            height="45"
            fontSize="11"
            style="padding: 0px; margin: 0px"
          ></barcode>
        </v-row>
      </v-col>
    </v-row>
  </div>
</template>  

<script>
import VueBarcode from "vue-barcode";
import VueQrcode from "vue-qrcode";
import api from "../../../services/asset";
export default {
  components: { VueQrcode, barcode: VueBarcode },
  data() {
    return {
      Asset_id: this.$route.params,
      imgUrl: require("@/assets/logoqr.png"),
      qrlink: [],
    };
  },
  methods: {
    qrcodeMaintenance() {
      try {
        api.QrcodeMaintenance(
          {
            items: "[" + this.$route.params.id + "]",
          },
          (result) => {
            (this.qrlink = result.data),
              setTimeout(() => {
                window.print();
              }, 300);
          },
          (error) => {
            console.log(error);
          }
        );
      } catch (error) {
        console.log(error);
      }
    },
  },
  mounted() {
    this.qrcodeMaintenance();
  },
};
</script>

<style>
</style>