<template>
  <div>
    <v-card class="pa-0 ma-0" elevation="1" color="white" height="72">
      <v-container grid-list-xs>
        <v-row no-gutters>
          <v-col cols="12" md="9" style="font-size: 1.6rem">
            <v-row no-gutters>
              <v-col cols="12" md="3" class="hidden-sm-and-down"
                >ข้อมูลส่วนตัว
              </v-col>
            </v-row>
          </v-col>
          <v-col cols="12" class="hidden-md-and-up" style="font-size: 1.6rem"
            >ข้อมูลส่วนตัว
          </v-col>
        </v-row>
      </v-container>
    </v-card>

    <v-container grid-list-xs>
      <v-card class="mx-auto pa-3" max-width="600" style="font-size: 15px">
        <v-row no-gutters>
          <v-col cols="12" align="center" class="pa-5"
            ><v-img
              src="../../assets/profile.png"
              width="35%"
              class="hidden-md-and-up"
            ></v-img>
            <v-img
              src="../../assets/profile.png"
              width="15%"
              class="hidden-sm-and-down"
            ></v-img>
          </v-col>
          <v-col cols="12">
            ชื่อบัญชี
            <v-text-field
              label="Solo"
              :value="userdata.username"
              solo
              readonly
            ></v-text-field
          ></v-col>
          <v-col cols="12">
            ชื่อ - นามสกุล
            <v-text-field label="Solo" :value="userdata.name" solo readonly>
            </v-text-field
          ></v-col>
          <v-col cols="12">
            แผนก
            <v-text-field
              label="Solo"
              :value="userdata.position.position_name"
              solo
              readonly
            ></v-text-field
          ></v-col>
          <v-col cols="12">
            <!-- <v-text-field label="Solo" value="dfdfdf" solo readonly ></v-text-field> -->
            <v-row no-gutters>
              <v-col cols="12" class="hidden-sm-and-down">
                <v-btn
                  color="yellow darken-2"
                  outlined
                  class="mr-4 px-7"
                  @click="openUpdateUser()"
                  >เปลี่ยนรหัสผ่าน</v-btn
                >
              </v-col>
              <v-col cols="12" class="hidden-md-and-up pa-1">
                <v-btn
                  color="yellow darken-1"
                  block
                  outlined
                  @click="openUpdateUser()"
                  >เปลี่ยนรหัสผ่าน</v-btn
                >
              </v-col>
            </v-row>
          </v-col>
        </v-row>
      </v-card>
    </v-container>

    <v-dialog max-width="650" v-model="dialog.update" @click="drawer = true">
      <v-card class="pa-3">
        <v-card
          class="pa-2 mb-5 white--text"
          color="yellow darken-2"
          style="font-size: 1.3rem"
          >เปลี่ยนรหัสผ่าน</v-card
        >
        <v-form
          v-model="valid"
          ref="form"
          lazy-validation
          style="font-size: 15px"
        >
          รหัสผ่านเดิม
          <v-text-field
            v-model="updateUserData.password"
            counter
            :rules="passwordRules"
            type="password"
            solo
            required
          ></v-text-field>
          รหัสผ่านใหม่
          <v-text-field
            v-model="updateUserData.repassword"
            counter
            :rules="newPasswordRules"
            type="password"
            solo
            required
          ></v-text-field>
          ยืนยันรหัสผ่านใหม่
          <v-text-field
            v-model="updateUserData.conrepassword"
            counter
            :rules="confirmNewPasswordRules"
            type="password"
            solo
            required
          ></v-text-field>
        </v-form>
        <v-row no-gutters>
          <v-col cols="6" md="6" class="pr-1">
            <v-btn block outlined height="2.5rem" @click="closeUpdateUser()">
              ยกเลิก
            </v-btn>
          </v-col>
          <v-col cols="6" md="6" class="pl-1">
            <v-btn
              block
              outlined
              color="yellow darken-2"
              height="2.5rem"
              @click="validate"
              :disabled="!valid"
            >
              บันทึก
            </v-btn>
          </v-col>
        </v-row>
      </v-card>
    </v-dialog>

    <v-snackbar
      v-model="snackbar"
      :timeout="4000"
      top
      right
      color="light-green"
    >
      <v-row no-gutters>
        <v-col cols="2" style="font-size: 1.1rem" class="text--white"
          ><v-icon large>check_circle</v-icon></v-col
        >
        <v-col
          cols="9"
          style="font-size: 1.1rem"
          class="text--white"
          align-self="center"
          >{{ resmessage }}</v-col
        >
        <v-col cols="1" align="right">
          <v-btn fab small text @click.native="snackbar = false"
            ><v-icon small>close</v-icon></v-btn
          >
        </v-col>
      </v-row>
    </v-snackbar>

        <v-dialog persistent max-width="300" v-model="popupDeny">
      <PopupAuthDen />
    </v-dialog>
  </div>
</template>

<script>
import api from "../../services/asset";
export default {
  data() {
    return {
      popupDeny: false,
      password:"",
      updateUserData: {
        password: "",
        repassword: "",
        conrepassword: "",
      },
      resmessage: "",
      snackbar: false,
      valid: true,
      userdata: {
        user_code: "",
        name: "",
        username: "",
        password: "",
        position: { id: "", position_name: "" },
        role: { id: "", position_name: "" },
      },
      dialog: {
        update: false,
      },
      passwordRules: [
        (v) => !!v || "กรุณากรอกรหัสผ่านเดิม",
        (v) => v == this.password || "รหัสผ่านผิดพลาด",
      ],
      newPasswordRules: [(v) => !!v || "กรุณากรอกรหัสผ่านใหม่"],
      confirmNewPasswordRules: [
        (v) => !!v || "กรุณากรอกรหัสผ่านใหม่",
        (v) => v == this.updateUserData.repassword || "รหัสผ่านไม่ตรงกัน",
      ],
    };
  },
  methods: {
    validate() {
      this.$refs.form.validate();
      if (this.$refs.form.validate() == true) {
        this.UpdatePasswordData();
      }
    },
    openUpdateUser() {
      this.dialog.update = true;
    },
    closeUpdateUser() {
      this.dialog.update = false;
      this.dialog.data = {};
    },
    UpdatePasswordData() {
      api.UpdateUser(
        this.$store.state.header,
        {
          user_code: sessionStorage.user_code,
          name: this.userdata.name,
          position_id: this.userdata.position.id,
          role_id: this.userdata.role.id,
          username: this.userdata.username,
          password: this.updateUserData.conrepassword,

        },
        (result) => {
          this.resmessage = result.message;
          this.snackbar = true;
          this.dialog.update = false;
          this.updateUserData = {};
          this.SelectUserdata()
        },
        (error) => {
          this.popupDeny = true;
          console.log(error);
        }
      );
    },
    SelectUserdata() {
      api.SelectUser(
        this.$store.state.header,
        {
          user_code: sessionStorage.user_code,
        },
        (result) => {
          this.userdata = result.data;
          this.password = result.data.password;
        },
        (error) => {
          this.popupDeny = true;
          console.log(error);
        }
      );
    },
  },
  mounted() {
    this.SelectUserdata();
  },
};
</script>

<style>
</style>