<template>
  <div id="Asset">
    <v-card class="pa-0 ma-0" elevation="1" tile color="white">
      <v-container grid-list-xs>
        <v-row no-gutters>
          <v-col
            cols="12"
            md="12"
            style="font-size: 1.7rem"
            class="text-center"
          >
            <v-row no-gutters>
              <v-col cols="12" md="3" class="hidden-sm-and-down"
                >คลังสินทรัพย์</v-col
              >
              <v-col cols="2" md="1" class="px-1">
                <v-menu
                  bottom
                  :offset-y="offset"
                  :nudge-width="200"
                  transition="slide-y-transition"
                >
                  <v-list class="pa-0">
                    <v-list-item class="px-0">
                      <v-btn light block text @click="ListAssetdata()">
                        All
                      </v-btn>
                    </v-list-item>
                  </v-list>
                  <template v-slot:activator="{ on, attrs }">
                    <v-btn
                      class="hidden-sm-and-down pa-0"
                      height="50"
                      large
                      color="grey"
                      text
                      v-bind="attrs"
                      v-on="on"
                      @click="ListCateAndsubcate()"
                    >
                      หมวดหมู่
                    </v-btn>
                  </template>
                  <v-list class="pt-0">
                    <v-list-item
                      v-for="cate in CategoryList"
                      :key="cate.id"
                      class="px-0"
                    >
                      <v-menu
                        open-on-hover
                        bottom
                        :offset-x="offset"
                        :nudge-width="100"
                        transition="slide-x-transition"
                      >
                        <template v-slot:activator="{ on, attrs }">
                          <v-btn
                            color="black"
                            dark
                            v-bind="attrs"
                            v-on="on"
                            block
                            text
                            @click="SearchAssetBycatdata(cate), (keyh = cate)"
                          >
                            {{ cate.name }}
                          </v-btn>
                        </template>
                        <v-list>
                          <v-list-item v-for="(sub, id) in cate.subs" :key="id">
                            <v-list-item-title>
                              <v-btn
                                color="black"
                                block
                                text
                                @click="SearchAssetBySubcatdata(sub)"
                              >
                                {{ sub.sub_category_name }}
                              </v-btn></v-list-item-title
                            >
                          </v-list-item>
                        </v-list>
                      </v-menu>
                    </v-list-item>
                  </v-list>
                </v-menu>
                <v-btn
                  class="hidden-md-and-up"
                  fab
                  text
                  small
                  color="black"
                  @click.stop="cartdrawer = !cartdrawer"
                >
                  <v-icon color="black"> inventory</v-icon>
                </v-btn>
              </v-col>
              <v-col cols="10" md="8"
                ><v-text-field
                  v-model="search"
                  hide-details
                  solo
                  label="ค้นหา สินทรัพย์ด้วยชื่อ , บาร์โค้ด"
                ></v-text-field
              ></v-col>
            </v-row>
          </v-col>
        </v-row>
      </v-container>
    </v-card>

    <v-container grid-list-xs>
      <v-row no-gutters class="pb-4">
        <v-col cols="12" md="10">
          <span
            style="font-size: 1.2rem"
            class="hidden-sm-and-down"
            v-if="keytype == 1"
          >
            ค้นหา : {{ keysearch }}
          </span>
          <span
            style="font-size: 0.9rem"
            class="hidden-md-and-up"
            v-if="keytype == 1"
          >
            ค้นหา : {{ keysearch }}
          </span>
          <span
            style="font-size: 1.2rem"
            class="hidden-sm-and-down"
            v-if="keytype == 2"
            >ค้นหา : {{ keysearch }}
          </span>
          <span
            style="font-size: 0.9rem"
            class="hidden-md-and-up"
            v-if="keytype == 2"
            >ค้นหา : {{ keysearch }}
          </span>
          <span
            style="font-size: 1.2rem"
            class="hidden-sm-and-down"
            v-if="keytype == 0 && keysearch == ''"
            >{{ search != "" ? "ผลลัพธ์ :" : "สินทรัพย์ทั้งหมด" }}
            {{ search }}</span
          >
          <span
            style="font-size: 0.9rem"
            class="hidden-md-and-up"
            v-if="keytype == 0 && keysearch == ''"
            >{{ search != "" ? "ผลลัพธ์ :" : "สินทรัพย์ทั้งหมด" }}
            {{ search }}</span
          >
        </v-col>
      </v-row>
      <v-item-group active-class="primary" v-if="AssetList.length != 0">
        <v-row no-gutters>
          <v-col
            cols="6"
            md="3"
            lg="2"
            class="pa-1"
            v-for="AssList in AssetList"
            :key="AssList.name"
          >
            <v-card
              class="mx-auto"
              max-width="400"
              @click="openAssetDetail(AssList)"
            >
              <v-img
                class="white--text align-end"
                height="200px"
                :src="AssList.url"
              >
              </v-img>
              <v-card-text class="text--primary pa-2">
                <div
                  style="
                    font-size: 16px;
                    font-weight: bold;
                    white-space: nowrap;
                    overflow: hidden;
                    text-overflow: ellipsis;
                  "
                >
                  {{ AssList.name }}
                </div>
                <div style="font-size: 14px">
                  <v-icon color="gray" class="pr-2">view_week</v-icon
                  >{{ AssList.barcode }}
                </div>
                <div style="font-size: 14px">{{ AssList.category_name }}</div>
                <div style="font-size: 14px">
                  {{ AssList.sub_category_name }}
                </div>
                <div style="font-size: 16px" class="green--text">
                  มีในคลัง {{ AssList.remain }} หน่วย
                </div>
              </v-card-text>
            </v-card>
          </v-col>
        </v-row>
      </v-item-group>
    </v-container>

    <v-container grid-list-xs v-if="AssetList.length == 0">
      <div
        style="
          text-align: center;
          color: #c0c0c0;
          font-size: 20px;
          padding-top: 183px;
        "
        class="hidden-sm-and-down"
      >
        " ไม่มีสินทรัพย์ "
      </div>
      <div
        style="
          text-align: center;
          color: #c0c0c0;
          font-size: 15px;
          padding-top: 180px;
        "
        class="hidden-md-and-up"
      >
        " ไม่มีสินทรัพย์ "
      </div>
    </v-container>

    <!-- ____________AssetDetail____________  -->
    <v-dialog persistent max-width="900" v-model="Detail_group">
      <v-stepper v-model="e1">
        <div align="right" class="pa-2 hidden-md-and-up">
          <v-icon color="black" @click="closeAssetDetail()">cancel</v-icon>
        </div>
        <v-stepper-items>
          <v-stepper-content step="1" class="pa-3">
            <v-card
              class="pa-2 mb-4 white--text hidden-sm-and-down"
              color="yellow darken-2"
              style="font-size: 1.3rem"
              >รายละเอียด</v-card
            >
            <v-row no-gutters class="mb-5">
              <v-col cols="12" md="5" align="center">
                <div class="hidden-md-and-up">
                  <v-img
                    :src="Assetdetail.url"
                    max-height="250"
                    max-width="200"
                  />
                </div>
                <div class="hidden-sm-and-down">
                  <v-img
                    :src="Assetdetail.url"
                    max-height="400"
                    max-width="250"
                  />
                </div>
              </v-col>
              <v-col cols="12" md="7">
                <v-row no-gutters>
                  <v-col
                    cols="12"
                    style="font-size: 2.5rem"
                    class="hidden-sm-and-down"
                    >{{ Assetdetail.name }}</v-col
                  >
                </v-row>
                <v-row no-gutters>
                  <v-col cols="12" class="pt-2">
                    รายละเอียด
                    {{ Assetdetail.description }}
                  </v-col>
                  <v-col cols="12" class="pt-2"
                    >หมวดหมู่ {{ Assetdetail.category_name }}
                  </v-col>
                  <v-col cols="12" class="pt-2">
                    ประเภท {{ Assetdetail.sub_category_name }}
                  </v-col>
                  <v-col cols="12" class="green--text"
                    ><v-icon class="pr-2" color="green">check_circle</v-icon
                    >คงเหลือในคลัง {{ Assetdetail.remain }}</v-col
                  >
                  <v-col cols="12" class="pa-2"
                    >บาร์โค้ด {{ Assetdetail.barcode }}</v-col
                  >
                  <v-col cols="12" md="6" class="pa-1"
                    ><v-btn
                      color="black"
                      outlined
                      block
                      @click="Detail_group = false"
                      >ปิด</v-btn
                    ></v-col
                  >
                  <v-col cols="12" md="6" class="pa-1"
                    ><v-btn
                      color="yellow darken-2"
                      outlined
                      block
                      @click="e1 = 2"
                      >ทำรายการยืม</v-btn
                    ></v-col
                  >
                </v-row>
              </v-col>
            </v-row>
          </v-stepper-content>

          <v-stepper-content step="2" class="pa-3">
            <v-card
              class="pa-2 mb-4 white--text hidden-sm-and-down"
              color="yellow darken-2"
              style="font-size: 1.3rem"
              >ข้อมูลการเบิกใช้สินทรัพย์</v-card
            >
            <v-form v-model="valid1" ref="form" lazy-validation>
              <v-row no-gutters>
                <v-col cols="12">
                  <v-text-field
                    color="yellow darken-2"
                    v-model="Appdescription"
                    prepend-icon="article"
                    label="คำอธิบายการเบิก"
                    hint="วัตถุประสงค์ในการเบิกใช้สินทรัพย์"
                    :rules="descriptionRules"
                  ></v-text-field>
                </v-col>
                <v-col cols="12">
                  <v-row no-gutters class="hidden-sm-and-down">
                    <v-col cols="12">
                      <v-text-field
                        prepend-icon="inventory"
                        v-model="amount"
                        type="number"
                        onkeydown="javascript: return event.keyCode === 8 || event.keyCode === 46 ? true : !isNaN(Number(event.key))"
                        :rules="amountRules"
                        hint="จำนวน"
                        label="จำนวนที่ต้องการ"
                        color="yellow darken-2"
                        required
                      ></v-text-field>
                    </v-col>
                    <v-col cols="12" class="pb-3 pl-8">
                      มีสินสทรัพย์ในคลัง {{ Assetdetail.remain }} หน่วย
                    </v-col>
                  </v-row>
                  <v-row justify="center" no-gutters class="hidden-md-and-up">
                    <v-col lg="1" justify-end>
                      <v-btn
                        color="red"
                        block
                        outlined
                        @click="countamount(0)"
                        :disabled="amount === 0"
                        >ลด</v-btn
                      >
                    </v-col>
                    <v-col md="2" class="text-center" style="font-size: 1.5rem">
                      {{ amount }}
                    </v-col>
                    <v-col lg="1">
                      <v-btn
                        color="green"
                        block
                        outlined
                        @click="countamount(1)"
                        :disabled="amount == Assetdetail.remain"
                        >เพิ่ม</v-btn
                      >
                    </v-col>
                    <v-col cols="12">
                      <div class="text-center pt-5">
                        มีสินสทรัพย์ในคลัง {{ Assetdetail.remain }} หน่วย
                      </div>
                    </v-col>
                  </v-row>
                </v-col>
                <v-col cols="12">
                  <v-icon>room</v-icon> ตำแหน่ง
                  <v-card @click="openMark">
                    <GmapMap
                      v-bind:center="Position"
                      v-bind:zoom="14"
                      map-type-id="terrain"
                      style="width: 100%; height: 200px"
                    >
                      <GmapMarker
                        v-bind:position="Position"
                        v-bind:clickable="true"
                      />
                    </GmapMap>
                  </v-card>
                </v-col>
                <v-col cols="12">
                  <v-text-field
                    v-model="Appposition"
                    prepend-icon="assistant_direction"
                    label="คำอธิบายสถานที่"
                    hint="อธิบายสถานที่เพิ่มเติม"
                    color="yellow darken-2"
                  ></v-text-field>
                </v-col>
                <v-row no-gutters class="mt-2">
                  <v-col cols="12" class="pa-1 hidden-sm-and-down">
                    <v-btn
                      color="black"
                      outlined
                      text
                      @click="e1 = 1"
                      class="mr-2"
                      >ย้อนกลับ</v-btn
                    >
                    <v-btn
                      color="yellow darken-2"
                      class="px-7"
                      outlined
                      :disabled="!valid1"
                      @click="validate1"
                      >ถัดไป</v-btn
                    >
                  </v-col>
                  <v-col cols="6" class="pa-1 hidden-md-and-up">
                    <v-btn color="black" outlined block text @click="e1 = 1"
                      >ย้อนกลับ</v-btn
                    >
                  </v-col>
                  <v-col cols="6" class="pa-1 hidden-md-and-up">
                    <v-btn
                      color="yellow darken-2"
                      block
                      outlined
                      :disabled="!valid1"
                      @click="validate1"
                      >ถัดไป</v-btn
                    >
                  </v-col>
                </v-row>
              </v-row>
            </v-form>
          </v-stepper-content>

          <v-stepper-content step="3" class="pa-3">
            <v-card
              class="pa-2 mb-4 white--text hidden-sm-and-down"
              color="yellow darken-2"
              style="font-size: 1.3rem"
              >ตรวจสอบข้อมูล</v-card
            >
            <v-row no-gutters>
              <v-col cols="12"
                ><div style="font-size: 1.2rem">ข้อมูลสินทรัพย์</div></v-col
              >
              <v-col cols="12"
                ><v-icon>source</v-icon> ชื่อสินทรัพย์ :
                {{ Assetdetail.name }}</v-col
              >
              <v-col cols="12">
                <v-icon>description</v-icon> รายละเอียด :
                {{ Assetdetail.description }}</v-col
              >
              <v-col cols="12" md="6"
                ><v-icon>view_list</v-icon> หมวดหมู่ :
                {{ Assetdetail.category_name }}</v-col
              >
              <v-col cols="12" md="6"
                ><v-icon>view_stream</v-icon> ประเภท :
                {{ Assetdetail.sub_category_name }}</v-col
              >
              <v-col cols="12"
                ><div style="font-size: 1.2rem">ข้อมูลการเบิกถอน</div></v-col
              >
              <v-col cols="12" md="6"
                ><v-icon>person</v-icon> ผู้เบิก : {{ userdata.name }}</v-col
              >
              <v-col cols="12" md="6"
                ><v-icon>article</v-icon> คำอธิบาย : {{ Appdescription }}</v-col
              >
              <v-col cols="12" md="6"
                ><v-icon>assistant_direction</v-icon> คำอธิบายสถานที่ :
                {{ Appposition }}</v-col
              >
              <v-col cols="12" md="6"
                ><v-icon>inventory</v-icon> เบิกจำนวน : {{ amount }} ชิ้น</v-col
              >
              <v-col cols="12">
                <v-card class="my-5">
                  <GmapMap
                    v-bind:center="Position"
                    v-bind:zoom="15"
                    map-type-id="terrain"
                    style="width: 100%; height: 200px"
                  >
                    <GmapMarker
                      v-bind:position="Position"
                      v-bind:clickable="true"
                    />
                  </GmapMap>
                </v-card>
              </v-col>
            </v-row>
            <v-row no-gutters class="mt-2">
              <v-col cols="12" class="pa-1 hidden-sm-and-down">
                <v-btn color="black" outlined text class="mr-2" @click="e1 = 2"
                  >ย้อนกลับ</v-btn
                >
                <v-btn color="yellow darken-2" outlined @click="withdrawReq"
                  >ส่งคำขอ</v-btn
                >
              </v-col>
              <v-col cols="12" class="pa-1 hidden-md-and-up">
                <v-btn
                  color="yellow darken-2"
                  block
                  outlined
                  @click="withdrawReq"
                  >ส่งคำขอ</v-btn
                >
              </v-col>
              <v-col cols="12" class="pa-1 hidden-md-and-up">
                <v-btn color="black" block outlined text @click="e1 = 2"
                  >ย้อนกลับ</v-btn
                >
              </v-col>
            </v-row>
          </v-stepper-content>
        </v-stepper-items>
      </v-stepper>
    </v-dialog>

    <v-snackbar
      v-model="snackbar"
      :timeout="4000"
      top
      right
      color="light-green"
    >
      <v-row no-gutters>
        <v-col cols="2" style="font-size: 1.1rem" class="text--white"
          ><v-icon large>check_circle</v-icon></v-col
        >
        <v-col
          cols="9"
          style="font-size: 1.1rem"
          class="text--white"
          align-self="center"
          >ทำรายการสำเร็จ</v-col
        >
        <v-col cols="1" align="right">
          <v-btn fab small text @click.native="snackbar = false"
            ><v-icon small>close</v-icon></v-btn
          >
        </v-col>
      </v-row>
    </v-snackbar>

    <v-dialog max-width="900" v-model="Mark_group">
      <Markposition :Asset="group_data" @close="closeMark" />
    </v-dialog>

    <v-dialog max-width="300" v-model="popupInsert">
      <v-card color="blue" dark>
        <v-card-text class="px-3 py-3">
          กำลังอนุมัติ
          <v-progress-linear
            indeterminate
            color="white"
            class="ma-0"
          ></v-progress-linear>
        </v-card-text>
      </v-card>
    </v-dialog>

    <v-navigation-drawer v-model="cartdrawer" absolute temporary width="320">
      <v-stepper v-model="e1">
        <v-stepper-items>
          <v-stepper-content step="1" class="pa-0">
            <v-card :style="heighttext">
              <v-list>
                <v-list-item>
                  <v-list-item-title>ค้นหาประเภท</v-list-item-title>
                </v-list-item>
              </v-list>
              <v-divider></v-divider>
              <v-list-item-title
                class="pl-4 pt-5 pb-2"
                @click="ListAssetdata(), (cartdrawer = false)"
                >ทั้งหมด</v-list-item-title
              >
              <v-row
                no-gutters
                class="pl-4 py-2"
                v-for="cate in CategoryList"
                :key="cate.id"
              >
                <v-col
                  cols="10"
                  @click="SearchAssetBycatdata(cate), (cartdrawer = false)"
                  >{{ cate.name }}</v-col
                ><v-col cols="2"
                  ><v-icon @click="(e1 = 2), (subdata = cate.subs)"
                    >keyboard_arrow_right</v-icon
                  ></v-col
                >
              </v-row>
            </v-card>
          </v-stepper-content>

          <v-stepper-content step="2" class="pa-1">
            <v-card :style="heighttext">
              <v-list>
                <v-list-item>
                  <v-icon @click="e1 = 1" class="pr-2"
                    >keyboard_arrow_left</v-icon
                  ><v-list-item-title>ประเภท</v-list-item-title>
                </v-list-item>
              </v-list>
              <v-divider></v-divider>
              <v-row
                no-gutters
                class="pl-4 py-2"
                v-for="subcat in subdata"
                :key="subcat.id"
              >
                <v-col
                  cols="12"
                  @click="
                    SearchAssetBySubcatdata(subcat),
                      (e1 = 1),
                      (cartdrawer = false)
                  "
                  >{{ subcat.sub_category_name }}</v-col
                >
              </v-row>
            </v-card>
          </v-stepper-content>
        </v-stepper-items>
      </v-stepper>
    </v-navigation-drawer>

    <v-dialog persistent max-width="300" v-model="popupDeny">
      <PopupAuthDen />
    </v-dialog>
  </div>
</template>

<script>
import api from "../../services/asset";
import PopupAuthDen from "../../components/Popup/PopupAuthDen";
import Markposition from "../../components/User/Markposition";
export default {
  name: "manageAsset",
  data() {
    return {
      cartdrawer: false,
      heighttext: "",
      subdata: [],
      keytype: 0,
      keysearch: "",
      user_name: "",
      popupDeny: false,
      popupInsert: false,
      snackbar: false,
      Mark_group: false,
      Detail_group: false,
      valid1: true,
      Appdescription: null,
      Appposition: null,
      message: "",
      search: "",
      searchcate: [],
      searchsubcate: [],
      AssetList: [],
      group_data: [],
      CategoryList: [],
      SubCategoryList: [],
      offset: true,
      Assetdetail: [],
      e1: 1,
      userdata: {
        user_id: sessionStorage.user_code,
        name: sessionStorage.name,
      },
      descriptionRules: [(v) => !!v || "กรุณากรอกข้อมูล"],
      amount: 1,
      amountRules: [
        (v) => !!v || "กรอกข้อมูล",
        (v) => (v && v > 0) || "ขั้นต่ำ 1 หน่วย",
        (v) =>
          (v && v <= this.Assetdetail.remain) ||
          "จำนวนเกินกว่าสินทรัพย์ที่มีอยู่",
      ],
      Position: { lat: 18.807993528073183, lng: 99.01390420890557 },
    };
  },
  components: { Markposition, PopupAuthDen },
  methods: {
    countamount(val) {
      if (val == 0) {
        this.amount--;
      } else {
        this.amount++;
      }
    },
    withdrawReq() {
      this.popupInsert = true;
      api.InsertApprovedwithdrawn(
        this.$store.state.header,
        {
          user_code: sessionStorage.user_code,
          asset_id: parseInt(this.Assetdetail.id),
          message: this.Appdescription,
          mark_name: this.Appposition,
          items_qty: parseInt(this.amount),
          lat: this.Position.lat,
          lng: this.Position.lng,
        },
        (result) => {
          if (result.response == "success") {
            this.popupInsert = false;
            (this.e1 = 1), (this.Detail_group = false);
            this.snackbar = true;
            this.ListCateAndsubcate();
            this.ListAssetdata();
            this.userBarNoti();
          } else {
            this.popupInsert = false;
            alert(result.massage);
            this.e1 = 2;
          }
        },
        (error) => {
          console.log(error);
          this.popupInsert = false;
          this.popupDeny = true;
        }
      );
    },
    validate1() {
      this.$refs.form.validate();
      if (this.$refs.form.validate() == true) {
        this.e1 = 3;
      }
    },
    resetdata() {
      (this.amount = 1);
        (this.valid1 = true);
        (this.Appdescription = null);
        (this.Appposition = null);
        (this.e1 = 1);
        (this.Position = { lat: 18.807993528073183, lng: 99.01390420890557 });
    },
    openAssetDetail(val) {
      this.Assetdetail = val;
      this.Detail_group = true;
    },
    closeAssetDetail() {
      this.Detail_group = false;
    },
    openMark() {
      this.Mark_group = true;
    },
    closeMark(val) {
      this.Position = val;
      this.Mark_group = false;
    },
    ListAssetdata() {
      this.keytype = 0;
      this.keysearch = "";
      api.ListAssetUser(
        this.$store.state.header,
        {
          id: null,
        },
        (result) => {
          this.AssetList = result.data;
        },
        (error) => {
          this.popupDeny = true
          console.log(error);
        }
      );
    },
    ListCateAndsubcate() {
      api.SerachAssetCatSub(
        this.$store.state.header,
        {
          id: null,
        },
        (result) => {
          this.CategoryList = result.data;
        },
        (error) => {
          this.popupDeny = true
          console.log(error);
        }
      );
    },
    SearchAssetdata(val) {
      if (val && val != "") {
        api.UserSerachAsset(
          this.$store.state.header,
          {
            keyword: val,
            active: 1,
            limit: 25,
            status: 1,
          },
          (result) => {
            this.AssetList = result.data;
          },
          (error) => {
            this.popupDeny = true
            console.log(error);
          }
        );
      } else {
        this.ListAssetdata();
      }
    },
    SearchAssetBycatdata(val) {
      this.keytype = 1;
      this.keysearch = val.name;
      api.UserSerachAssetBycat(
        this.$store.state.header,
        {
          category_id: val.id,
          sub_category_id: null,
          status: 1,
        },
        (result) => {
          this.AssetList = result.data;
        },
        (error) => {
          this.popupDeny = true
          console.log(error);
        }
      );
    },
    SearchAssetBySubcatdata(val) {
      this.keytype = 2;
      this.keysearch = val.category_name + " > " + val.sub_category_name;
      api.UserSerachAssetBycat(
        this.$store.state.header,
        {
          category_id: val.category_id,
          sub_category_id: val.id,
          status: 1,
        },
        (result) => {
          this.AssetList = result.data;
        },
        (error) => {
          this.popupDeny = true
          console.log(error);
        }
      );
    },
    userBarNoti() {
      const usercode = sessionStorage.user_code;
      try {
        api.Notify(
          this.$store.state.header,
          {
            id: usercode,
          },
          (result) => {
            this.$store.state.approve = result.data.qty_1_2;
            this.$store.state.maintenance = result.data.qty_3;
          },
          (error) => {
            this.popupDeny = true
            console.log(error);
          }
        );
      } catch (error) {
        console.log(error);
      }
    },
    handleResize() {
      this.heighttext = "height:" + window.innerHeight + "px;";
    },
  },
  watch: {
    search(val) {
      this.keytype = 0;
      clearTimeout(this.timeout);
      const self = this;
      this.timeout = setTimeout(function () {
        self.SearchAssetdata(val);
      }, 150);
    },
    Detail_group(data) {
      if (data === false) {
        this.resetdata();
      }
    },
  },
  mounted() {
    this.ListCateAndsubcate();
    this.ListAssetdata();
    this.userBarNoti();
    this.handleResize();
  },
  created() {},
};
</script>

<style lang="scss" scoped>
.button {
  font-size: 1.25rem;
  background: linear-gradient(90.75deg, #00b9f8 5.43%, #3780ee 84.26%), #c4c4c4;
}
.bthover:hover {
  border-bottom: 1px;
}
</style>


