<template>
  <div class="manageApproveAsset">
    <v-card
      class="pa-0 ma-0 hidden-sm-and-down"
      elevation="1"
      tile
      color="white"
      style="height: 72px"
    >
      <v-container grid-list-xs>
        <v-row no-gutters>
          <v-col cols="12" md="9" style="font-size: 1.7rem" class="text-center">
            <v-row no-gutters>
              <v-col cols="12" md="3">รายการคำขอ</v-col>
            </v-row>
          </v-col>
        </v-row>
      </v-container>
    </v-card>
    <v-container>
      <v-expansion-panels multiple v-model="panel">
        <v-expansion-panel>
          <!-- _______________________________ withdraw __________________________________________ -->
          <v-expansion-panel-header style="font-size: 1.2rem"
            >คำขอเบิกใช้
          </v-expansion-panel-header>
          <v-expansion-panel-content class="pa-0">
            <v-text-field
              class="pb-3"
              v-model="searchwithdraw"
              append-icon="mdi-magnify"
              label="ค้นหาคำขอเบิกใช้"
              single-line
              hide-details
            ></v-text-field>
            <v-data-table
              :headers="withdrawheaders"
              :items="listwithdrawn"
              class="elevation-1"
              :items-per-page="4"
              :search="searchwithdraw"
            >

                    <template v-slot:[`item.create_at`]="{ item }">
          {{ dateFormatDMY(item.create_at) }}
        </template>

              <template v-slot:[`item.transaction_status`]="{ item }">
                <v-chip
                  color="red lighten-1"
                  class="white--text pr-6"
                  dark
                  v-if="item.transaction_status == 0"
                >
                  <v-icon class="pr-1">cancel</v-icon>ไม่อนุมัติ
                </v-chip>

                <v-menu offset-y>
                  <template v-slot:activator="{ on: menu1, attrs }">
                    <v-tooltip bottom color="white">
                      <template v-slot:activator="{ on: tooltip }">
                        <v-btn
                          v-if="item.transaction_status == 1"
                          width="109"
                          height="33"
                          rounded
                          color="yellow lighten-1"
                          light
                          v-bind="attrs"
                          v-on="{ ...tooltip, ...menu1 }"
                        >
                          <v-icon color="black" class="pr-1"> info </v-icon>
                          รออนุมัติ
                        </v-btn>
                      </template>
                      <span class="black--text">เลือก</span>
                    </v-tooltip>
                  </template>
                  <v-list class="pa-0">
                    <v-list-item @click="openwithdrawReject(item)">
                      <v-icon color="red" class="pr-1"> cancel </v-icon>ยกเลิก
                    </v-list-item>
                  </v-list>
                </v-menu>
                <v-chip
                  color="light-green"
                  class="white--text"
                  dark
                  v-if="item.transaction_status == 2"
                >
                  <v-icon class="pr-1">check_circle</v-icon>อนุมัติแล้ว
                </v-chip>

                <v-chip
                  color="grey lighten-1"
                  class="white--text pr-8"
                  dark
                  v-if="item.transaction_status == 4"
                >
                  <v-icon class="pr-1">do_not_disturb_on</v-icon>ยกเลิก
                </v-chip>

              </template>

              <template v-slot:[`item.position`]="{ item }">
                <v-tooltip bottom color="white">
                  <template v-slot:activator="{ on, c1 }">
                    <v-icon @click="showmaps(item)" v-bind="c1" v-on="on"
                      >visibility</v-icon
                    >
                  </template>
                  <span class="black--text">ดูที่ตั้ง</span>
                </v-tooltip>
              </template>

              <template v-slot:[`item.asset_name`]="{ item }">
                {{ item.asset_name }}
                <v-icon
                  @click="OpenApproveDetail(item.id)"
                  v-if="item.transaction_status == 2"
                  >assignment</v-icon
                >
              </template>
            </v-data-table>
          </v-expansion-panel-content>
        </v-expansion-panel>
        <!-- _______________________________ deposit __________________________________________ -->
        <v-expansion-panel>
          <v-expansion-panel-header style="font-size: 1.2rem"
            >คำขอส่งคืน</v-expansion-panel-header
          >
          <v-expansion-panel-content>
            <v-text-field
              class="pb-3"
              v-model="searchdeposit"
              append-icon="mdi-magnify"
              label="ค้นหาคำขอคืน"
              single-line
              hide-details
            ></v-text-field>
            <v-data-table
              :headers="depositheaders"
              :items="listdeposit"
              class="elevation-1"
              :items-per-page="4"
              :search="searchdeposit"
            >

        <template v-slot:[`item.create_at`]="{ item }">
          {{ dateFormatDMY(item.create_at) }}
        </template>

              <template v-slot:[`item.transaction_status`]="{ item }">
                <v-chip
                  color="red lighten-1"
                  class="white--text"
                  dark
                  v-if="item.transaction_status == 0"
                >
                  <v-icon class="pr-1">cancel</v-icon>เสียหาย
                </v-chip>

                <v-menu offset-y>
                  <template v-slot:activator="{ on: menu2, attrs }">
                    <v-tooltip bottom color="white">
                      <template v-slot:activator="{ on: tooltip }">
                        <v-btn
                          v-if="item.transaction_status == 1"
                          height="33"
                          rounded
                          color="yellow lighten-1"
                          light
                          v-bind="attrs"
                          v-on="{ ...tooltip, ...menu2 }"
                        >
                          <v-icon color="black" class="pr-1"> info </v-icon>
                          รออนุมัติ
                        </v-btn>
                      </template>
                      <span class="black--text">เลือก</span>
                    </v-tooltip>
                  </template>
                  <v-list>
                    <v-list-item @click="openDepositReject(item)">
                      <v-icon color="red" class="pr-1"> cancel </v-icon>ยกเลิก
                    </v-list-item>
                  </v-list>
                </v-menu>
                <v-chip
                  color="light-green"
                  class="white--text pr-5"
                  dark
                  v-if="item.transaction_status == 2"
                >
                  <v-icon class="pr-1">check_circle</v-icon>อนุมัติแล้ว
                </v-chip>
                <v-chip
                  color="grey lighten-1"
                  class="white--text pr-9"
                  dark
                  v-if="item.transaction_status == 4"
                >
                  <v-icon class="pr-1">do_not_disturb_on</v-icon>ยกเลิก
                </v-chip>
              </template>

              <template v-slot:[`item.position`]="{ item }">
                <v-tooltip bottom color="white">
                  <template v-slot:activator="{ on, c1 }">
                    <v-icon @click="showmaps(item)" v-bind="c1" v-on="on"
                      >visibility</v-icon
                    >
                  </template>
                  <span class="black--text">ดูที่ตั้ง</span>
                </v-tooltip>
              </template>

              <template v-slot:[`item.asset_name`]="{ item }">
                {{ item.asset_name }}
                <v-icon @click="OpenApproveDetail(item.id)">assignment</v-icon>
              </template>
            </v-data-table>
          </v-expansion-panel-content>
        </v-expansion-panel>
      </v-expansion-panels>
    </v-container>

    <v-dialog max-width="400" v-model="widthdraw.cancel">
      <v-card class="pa-3">
        <v-card
          class="pa-2 mb-5 white--text"
          color="red"
          style="font-size: 1.3rem"
          >ยกเลิกรายการ</v-card
        >
        <v-row no-gutters>
          <v-col cols="6" md="6" class="pr-1">
            <v-btn
              block
              outlined
              height="2.5rem"
              @click="widthdraw.cancel = false"
            >
              ยกเลิก
            </v-btn>
          </v-col>
          <v-col cols="6" md="6" class="pl-1">
            <v-btn
              block
              outlined
              color="red"
              height="2.5rem"
              @click="sendCancelUserWithdrawRequest(widthdraw.data)"
            >
              ยืนยัน
            </v-btn>
          </v-col>
        </v-row>
      </v-card>
    </v-dialog>

    <v-dialog max-width="400" v-model="deposit.cancel">
      <v-card class="pa-3">
        <v-card
          class="pa-2 mb-5 white--text"
          color="red"
          style="font-size: 1.3rem"
          >ยกเลิกการส่งคำขอ</v-card
        >
        <v-row no-gutters>
          <v-col cols="6" md="6" class="pr-1">
            <v-btn
              block
              outlined
              height="2.5rem"
              @click="deposit.cancel = false"
            >
              ยกเลิก
            </v-btn>
          </v-col>
          <v-col cols="6" md="6" class="pl-1">
            <v-btn
              block
              outlined
              color="red"
              height="2.5rem"
              @click="sendCancelUserDepositRequest(deposit.data)"
            >
              ยืนยัน
            </v-btn>
          </v-col>
        </v-row>
      </v-card>
    </v-dialog>

    <v-snackbar
      persistent
      v-model="snackbar"
      :timeout="3000"
      top
      right
      color="light-green"
    >
      <v-row no-gutters>
        <v-col cols="2" style="font-size: 1.1rem" class="text--white"
          ><v-icon large>check_circle</v-icon></v-col
        >
        <v-col
          cols="9"
          style="font-size: 1.1rem"
          class="text--white"
          align-self="center"
          >{{ resmessage }}</v-col
        >
        <v-col cols="1" align="right">
          <v-btn fab small text @click.native="snackbar = false"
            ><v-icon small>close</v-icon></v-btn
          >
        </v-col>
      </v-row>
    </v-snackbar>

    <!-- All -->
    <v-dialog max-width="1100" v-model="Maps_group">
      <Showmaps :locaion="group_data" @close="closemaps" />
    </v-dialog>

    <v-dialog max-width="1100" v-model="Detail_group">
      <DetailAssetItem :Asset="group_data" />
    </v-dialog>

        <v-dialog persistent max-width="300" v-model="popupDeny">
      <PopupAuthDen />
    </v-dialog>

    <!-- Dipposit -->
  </div>
</template>

<script>
import api from "../../services/asset";
import Showmaps from "../../components/Approve/Showmaps.vue";
import DetailAssetItem from "../../components/Approve/DetailAssetItem.vue";
export default {
  name: "manageApproveAsset",
  components: { Showmaps, DetailAssetItem },
  data: () => ({
    panel: [0, 1],
    c2: true,
    popupDeny: false,
    c1: true,
    listdeposit: [],
    listwithdrawn: [],
    clickAssetData: [],
    group_data: "",
    resmessage: "",
    isActive: "",
    snackbar: false,
    Maps_group: false,
    Detail_group: false,
    widthdraw: {
      data: [],
      cancel: false,
      message: "",
    },
    deposit: {
      data: [],
      cancel: false,
    },
    menu1: "",
    menu2: "",
    searchwithdraw: "",
    withdrawheaders: [
      { text: "ลำดับ", align: "start", value: "id" },
      { text: "วันที่", value: "create_at" },
      { text: "ชื่อสินทรัพย์", value: "asset_name" },
      { text: "คำอธิบาย", value: "message" },
      { text: "จำนวน", value: "items_qty" },
      { text: "สถานที่", value: "position" },
      { text: "สถานะ", value: "transaction_status" },
      { text: "หมายเหตุ", value: "response_message" },
    ],
    searchdeposit: "",
    depositheaders: [
      { text: "ลำดับ", align: "start", value: "id" },
      { text: "วันที่", value: "create_at" },
      { text: "ชื่อสินทรัพย์", value: "asset_name" },
      { text: "คำอธิบาย", value: "message" },
      { text: "จำนวน", value: "items_qty" },
      { text: "สถานที่", value: "position" },
      { text: "สถานะ", value: "transaction_status" },
      { text: "หมายเหตุ", value: "response_message" },
    ],
  }),
  methods: {
    //withdraw
    openwithdrawReject(val) {
      this.widthdraw.data = val;
      this.widthdraw.cancel = true;
    },
    sendCancelUserWithdrawRequest(val) {
      api.CancelUserWithdrawRequest(
        this.$store.state.header,
        {
          id: val.id,
        },
        (result) => {
          this.resmessage = result.message;
          this.widthdraw.data = [];
          this.widthdraw.cancel = false;
          this.userBarNoti();
          this.ListApprovewithdrawndata();
          this.ListApprovedepositdata();
        },
        (error) => {
          this.popupDeny = true;
          console.log(error);
        }
      );
    },
    // deposit
    openDepositReject(val) {
      this.deposit.data = val;
      this.deposit.cancel = true;
    },
    sendCancelUserDepositRequest(val) {
      api.CancelUserDepositRequest(
        this.$store.state.header,
        {
          id: val.id,
          asset_item_id: val.asset_item_id,
        },
        (result) => {
          this.resmessage = result.message;
          this.deposit.data = [];
          this.deposit.cancel = false;
          this.userBarNoti();
          this.ListApprovewithdrawndata();
          this.ListApprovedepositdata();
        },
        (error) => {
          this.popupDeny = true;
          console.log(error);
        }
      );
    },
    // maps
    showmaps(val) {
      this.group_data = val;
      this.Maps_group = true;
    },
    closemaps() {
      this.Maps_group = false;
    },
    // Assert detail
    OpenApproveDetail(val) {
      this.group_data = val;
      this.Detail_group = true;
    },

    ClickAssetItemDetaildata(val) {
      api.ListAssetItemDetail(
        this.$store.state.header,
        {
          id: val.asset_item_id,
        },
        (result) => {
          this.clickAssetData = result.data[0];
          this.OpenApproveDetail(this.clickAssetData);
        },
        (error) => {
          this.popupDeny = true;
          console.log(error);
        }
      );
    },
    ListApprovewithdrawndata() {
      api.ListApprovewithdrawn(
        this.$store.state.header,
        {
          id: 0,
          user_code: sessionStorage.user_code,
          process_id: 1,
        },
        (result) => {
          this.listwithdrawn = result.data;
        },
        (error) => {
          this.popupDeny = true;
          console.log(error);
        }
      );
    },
    ListApprovedepositdata() {
      api.ListApprovewithdrawn(
        this.$store.state.header,
        {
          user_code: sessionStorage.user_code,
          id: 0,
          process_id: 2,
        },
        (result) => {
          this.listdeposit = result.data;
        },
        (error) => {
          this.popupDeny = true;
          console.log(error);
        }
      );
    },
    userBarNoti() {
      try {
        api.Notify(
          this.$store.state.header,
          {
            id: sessionStorage.user_code,
          },
          (result) => {
            this.$store.state.approve = result.data.qty_1_2;
            this.$store.state.maintenance = result.data.qty_3;
          },
          (error) => {
            this.popupDeny = true;
            console.log(error);
          }
        );
      } catch (error) {
        console.log(error);
      }
    },
  },
  mounted() {
    this.userBarNoti();
    this.ListApprovewithdrawndata();
    this.ListApprovedepositdata();
  },
  created() {},
};
</script>
