<template>
  <div id="manageAsset">
    <v-card class="pa-0 ma-0" elevation="1" tile color="white">
      <v-container grid-list-xs>
        <v-row no-gutters>
          <v-col
            cols="12"
            md="12"
            style="font-size: 1.7rem"
            class="text-center"
          >
            <v-row no-gutters>
              <v-col cols="12" md="3" class="hidden-sm-and-down"
                >สินทรัพย์ของฉัน</v-col>
            </v-row>
          </v-col>
        </v-row>
      </v-container>
    </v-card>

    <v-container grid-list-xs v-if="AssetList.length !== 0">
      <v-row no-gutters class="pb-4">
        <v-col cols="12" md="10">
          <div>
            <span style="font-size: 1.2rem">
              {{ search != "" ? "ผลลัพธ์ :" : "สินทรัพย์ทั้งหมด" }}
              {{ search }}</span
            >
          </div>
        </v-col>
      </v-row>
      <v-responsive class="overflow-y-auto" max-height="600">
        <v-responsive class="pa-1">
          <v-lazy
            v-model="isActive"
            :options="{
              threshold: 0.5,
            }"
            transition="fade-transition"
          >
            <v-expansion-panels>
              <v-expansion-panel v-for="(asset, m) in AssetList" :key="m">
                <v-expansion-panel-header class="2">
                  <div class="hidden-sm-and-down pl-3">
                    <v-icon>widgets</v-icon> {{ asset.id }} :
                    {{ asset.asset_name }}
                    <v-chip 
                      class="mx-2 pa-1 pr-7" 
                      color="red" 
                      v-if="asset.status == 3">
                      <v-icon left color="white" class="ma-0 hidden-md-and-up">
                        build_circle
                      </v-icon>
                      <v-icon
                        left
                        color="white"
                        class="pl-2 hidden-sm-and-down"
                      >
                        build_circle
                      </v-icon>
                      <div class="white--text pr-2 hidden-sm-and-down">
                        รอซ่อม
                      </div>
                    </v-chip>
                    <v-chip 
                      class="mx-2 pa-1 pr-5" 
                      color="yellow darken-1" 
                      v-if="asset.status == 2"
                    >
                      <v-icon left color="white" class="ma-0 hidden-md-and-up">
                        archive
                      </v-icon>
                      <v-icon
                        left
                        color="white"
                        class="pl-2 hidden-sm-and-down"
                      >
                        archive
                      </v-icon>
                      <div class="white--text pr-2 hidden-sm-and-down">
                        รอส่งคืน
                      </div>
                    </v-chip>
                    <v-chip
                      class="mx-2 pa-1"
                      color="light-green"
                      v-if="asset.status == 1"
                    >
                      <v-icon left color="white" class="ma-0 hidden-md-and-up">
                        check_circle
                      </v-icon>
                      <v-icon
                        left
                        color="white"
                        class="pl-2 hidden-sm-and-down"
                      >
                        check_circle
                      </v-icon>
                      <div class="white--text pr-2 hidden-sm-and-down">
                        กำลังใช้งาน
                      </div>
                    </v-chip>
                  </div>
                  <div class="hidden-md-and-up">
                    <v-row>
                      <v-col cols="10">
                        {{ asset.asset_name }}
                      </v-col>
                      <v-col cols="2" class="pa-0 pt-1">
                        <v-chip class="mx-2 pa-1" color="red" v-if="asset.status == 3">
                          <v-icon
                            left
                            color="white"
                            class="ma-0 hidden-md-and-up"
                          >
                            build_circle
                          </v-icon>
                          <v-icon
                            left
                            color="white"
                            class="pl-2 hidden-sm-and-down"
                          >
                            build_circle
                          </v-icon>
                          <div class="white--text pr-2 hidden-sm-and-down">
                            รอซ่อม
                          </div>
                        </v-chip>
                        <v-chip class="mx-2 pa-1" color="yellow darken-1"  v-if="asset.status == 2">
                          <v-icon
                            left
                            color="white"
                            class="ma-0 hidden-md-and-up"
                          >
                            archive
                          </v-icon>
                          <v-icon
                            left
                            color="white"
                            class="pl-2 hidden-sm-and-down"
                          >
                            archive
                          </v-icon>
                          <div class="white--text pr-2 hidden-sm-and-down">
                            รอส่งคืน
                          </div>
                        </v-chip>
                        <v-chip class="mx-2 pa-1" color="light-green" v-if="asset.status == 1">
                          <v-icon
                            left
                            color="white"
                            class="ma-0 hidden-md-and-up"
                          >
                            check_circle
                          </v-icon>
                          <v-icon
                            left
                            color="white"
                            class="pl-2 hidden-sm-and-down"
                          >
                            check_circle
                          </v-icon>
                          <div class="white--text pr-2 hidden-sm-and-down">
                            กำลังใช้งาน
                          </div>
                        </v-chip>
                      </v-col>
                    </v-row>
                  </div>
                </v-expansion-panel-header>
                <v-expansion-panel-content>
                  <v-row no-gutters>
                    <v-col cols="12" md="2">
                      <v-img
                        :src="asset.image_url"
                        max-height="100"
                        max-width="100"
                        class="ma-1 hidden-sm-and-down"
                      ></v-img>
                      <v-img
                        :src="asset.image_url"
                        max-height="250"
                        max-width="250"
                        class="ma-1 hidden-md-and-up"
                      ></v-img>
                    </v-col>
                    <v-col cols="12" md="8">
                      <v-row no-gutters>
                        <v-col cols="12" md="5">
                          <v-icon>view_list</v-icon> {{ asset.category_name }}
                        </v-col>
                        <v-col cols="12" md="5">
                          <v-icon>view_stream</v-icon>
                          {{ asset.sub_category_name }}
                        </v-col>
                        <v-col cols="12" md="5">
                          <v-icon>view_week</v-icon> {{ asset.barcode }}
                        </v-col>
                        <v-col
                          cols="12"
                          md="5"
                          v-if="asset.serial_number != ''"
                        >
                          <v-icon>qr_code</v-icon> {{ asset.serial_number }}
                        </v-col>
                        <v-col
                          cols="12"
                          md="5"
                          v-if="asset.serial_number == ''"
                        >
                          <v-icon>qr_code</v-icon> ไม่มีซีเรียว
                        </v-col>
                        <v-col cols="12">
                          <v-icon>description</v-icon>
                          {{ asset.description + " " + asset.detail }}
                        </v-col>
                      </v-row>
                    </v-col>
                    <v-col cols="12" md="2" class="pt-2">
                      <v-btn
                        color="yellow darken-2"
                        class="white--text"
                        block
                        :disabled="asset.status == 2 || asset.status == 3"
                        @click="opendep(asset)"
                        >ส่งคืน</v-btn
                      >
                      <v-btn
                        color="red"
                        class="white--text mt-2"
                        block
                        :disabled="asset.status == 2 || asset.status == 3"
                        @click="openMaintain(asset)"
                        >แจ้งซ่อม</v-btn
                      >
                    </v-col>
                  </v-row>
                </v-expansion-panel-content>
              </v-expansion-panel>
            </v-expansion-panels>
          </v-lazy>
        </v-responsive>
      </v-responsive>
    </v-container>

    <v-container grid-list-xs v-if="AssetList.length == 0">
      <div
        style="
          text-align: center;
          color: #c0c0c0;
          font-size: 20px;
          padding-top: 183px;
        "
        class="hidden-sm-and-down"
      >
        " ไม่มีสินทรัพย์ "
      </div>
      <div
        style="
          text-align: center;
          color: #c0c0c0;
          font-size: 15px;
          padding-top: 180px;
        "
        class="hidden-md-and-up"
      >
        " ไม่มีสินทรัพย์ "
      </div>
    </v-container>

    <v-dialog max-width="650" persistent v-model="deposit.reject">
      <v-card class="pa-3">
        <v-card
          class="pa-3 mb-5 white--text"
          color="yellow darken-2"
          style="font-size: 1.5rem"
          >ส่งคืน</v-card
        >
        <v-text-field
          v-model="deposit.message"
          counter
          solo
          placeholder="สาเหตุที่ส่งคืน"
          maxlength="50"
          required
        ></v-text-field>
        <v-row no-gutters>
          <v-col cols="6" md="6" class="pr-1">
            <v-btn
              block
              outlined
              height="2.5rem"
              @click="deposit.reject = false"
            >
              ยกเลิก
            </v-btn>
          </v-col>
          <v-col cols="6" md="6" class="pl-1">
            <v-btn
              block
              outlined
              color="yellow darken-2"
              height="2.5rem"
              @click="DepositAssetrequset()"
            >
              ยืนยัน
            </v-btn>
          </v-col>
        </v-row>
      </v-card>
    </v-dialog>

    <v-dialog max-width="650" persistent v-model="maintain.request">
      <v-card class="pa-3">
        <v-card
          class="pa-2 mb-5 white--text"
          color="red"
          style="font-size: 1.3rem"
          >แจ้งซ่อม</v-card
        >
        <v-autocomplete
          v-model="maintain.values"
          :items="maintain.items"
          chips
          color="blue"
          clearable
          deletable-chips
          dense
          multiple
          solo
          label="เลือก"
        ></v-autocomplete>
        <v-text-field
          v-model="maintain.message"
          counter
          solo
          placeholder="อาการเสียเพิ่มเติม"
          maxlength="50"
          required
        ></v-text-field>
        <v-row no-gutters>
          <v-col cols="6" md="6" class="pr-1">
            <v-btn
              block
              outlined
              height="2.5rem"
              @click="
                (maintain.request = false),
                  (maintain.message = ''),
                  (maintain.values = '')
              "
            >
              ยกเลิก
            </v-btn>
          </v-col>
          <v-col cols="6" md="6" class="pl-1">
            <v-btn
              block
              outlined
              color="yellow darken-2"
              height="2.5rem"
              @click="check(maintain)"
            >
              ยืนยัน
            </v-btn>
          </v-col>
        </v-row>
      </v-card>
    </v-dialog>

    <v-snackbar
      persistent
      v-model="snackbar"
      :timeout="3000"
      top
      right
      color="light-green"
    >
      <v-row no-gutters>
        <v-col cols="2" style="font-size: 1.1rem" class="text--white"
          ><v-icon large>check_circle</v-icon></v-col
        >
        <v-col
          cols="9"
          style="font-size: 1.1rem"
          class="text--white"
          align-self="center"
          >{{ resmessage }}</v-col
        >
        <v-col cols="1" align="right">
          <v-btn fab small text @click.native="snackbar = false"
            ><v-icon small>close</v-icon></v-btn
          >
        </v-col>
      </v-row>
    </v-snackbar>

        <v-dialog persistent max-width="300" v-model="popupDeny">
      <PopupAuthDen />
    </v-dialog>
  </div>

  
</template>

<script>
import api from "../../services/asset";
export default {
  name: "manageAsset",
  data() {
    return {
      test: "",
      popupDeny: false,
      resmessage: "",
      snackbar: false,
      isActive: "",
      search: "",
      searchcate: [],
      searchsubcate: [],
      length: null,
      AssetList: [],
      CategoryList: [],
      SubCategoryList: [],
      offset: true,
      maintain: {
        request: false,
        data: [],
        message: "",
        items: ["เปิดไม่ติด", "ไฟไม่เข้า", "เครื่องรวน", "Error"],
        messageAll: "",
        values: [],
      },
      deposit: {
        data: [],
        reject: false,
        massage: "",
      },
    };
  },
  components: {},
  methods: {
    openMaintain(val) {
      this.maintain.request = true;
      this.maintain.data = val;
    },
    opendep(val) {
      this.deposit.reject = true;
      this.deposit.data = val;
    },
    ListCateAndsubcate() {
      api.SerachAssetCatSub(
        this.$store.state.header,
        {
          id: null,
        },
        (result) => {
          this.CategoryList = result.data;
        },
        (error) => {
          console.log(error);
        }
      );
    },
    ListAssetdata() {
      api.ListInventory(
        this.$store.state.header,
        {
          user_code: sessionStorage.user_code,
        },
        (result) => {
          this.AssetList = result.data;
        },
        (error) => {
          console.log(error);
        }
      );
    },
    SearchAssetdata(val) {
      api.SerachAsset(
        this.$store.state.header,
        {
          keyword: val,
          active: 1,
          limit: 25,
          status: 1,
        },
        (result) => {
          this.AssetList = result.data;
        },
        (error) => {
          this.popupDeny = true;
          console.log(error);
        }
      );
    },
    SearchAssetBycatdata(val) {
      api.SerachAssetBycat(
        this.$store.state.header,
        {
          category_id: val.id,
          sub_category_id: null,
          status: 1,
        },
        (result) => {
          this.popupDeny = true;
          this.AssetList = result.data;
        },
        (error) => {
          console.log(error);
        }
      );
    },
    SearchAssetBySubcatdata(val) {
      api.SerachAssetBycat(
        this.$store.state.header,
        {
          category_id: val.category_id,
          sub_category_id: val.id,
          status: 1,
        },
        (result) => {
          this.AssetList = result.data;
        },
        (error) => {
          this.popupDeny = true;
          console.log(error);
        }
      );
    },
    DepositAssetrequset() {
      api.DepositAsset(
        this.$store.state.header,
        {
          user_code: sessionStorage.user_code,
          asset_item_id: this.deposit.data.id,
          message: this.deposit.message,
        },
        (result) => {
          this.resmessage = result.message;
          this.AssetList = result.data;
          this.deposit.reject = false;
          this.snackbar = true;
          this.userBarNoti();
          this.ListAssetdata();
        },
        (error) => {
          this.popupDeny = true;
          console.log(error);
        }
      );
    },
    check(val) {
      if (val.values == "" || val.message == "") {
        this.maintain.messageAll = val.values + " " + val.message;
        this.SendMaintenanceReqData(val);
      } else {
        this.maintain.messageAll = val.values + "," + val.message;
        this.SendMaintenanceReqData(val);
      }
    },
    SendMaintenanceReqData(val) {
      api.MaintenanceReq(
        this.$store.state.header,
        {
          user_code: sessionStorage.user_code,
          asset_id: val.data.asset_id,
          asset_item_id: val.data.id,
          location_pined_id: val.data.location_pined_id,
          message: val.messageAll,
          reporter: sessionStorage.name
        },
        (result) => {
          this.resmessage = result.message;
          this.maintain.request = false;
          this.maintain.data = [];
          this.maintain.messageAll = "";
          this.snackbar = true;
          this.userBarNoti();
          this.ListAssetdata();
        },
        (error) => {
          this.popupDeny = true;
          console.log(error);
        }
      );
    },
    userBarNoti() {
      try {
        api.Notify(
          this.$store.state.header,
          {
            id: sessionStorage.user_code,
          },
          (result) => {
            this.$store.state.approve = result.data.qty_1_2;
            this.$store.state.maintenance = result.data.qty_3;
          },
          (error) => {
            this.popupDeny = true;
            console.log(error);
          }
        );
      } catch (error) {
        console.log(error);
      }
    },
  },
  watch: {
    search(val) {
      if (val) {
        clearTimeout(this.timeout);
        const self = this;
        this.timeout = setTimeout(function () {
          self.SearchAssetdata(val);
        }, 1000);
      } else {
        this.ListAssetdata();
      }
    },
  },
  mounted() {
    this.ListCateAndsubcate();
    this.ListAssetdata();
    this.userBarNoti();
  },
  created() {},
};
</script>

<style lang="scss" scoped>
.button {
  font-size: 1.25rem;
  background: linear-gradient(90.75deg, #00b9f8 5.43%, #3780ee 84.26%), #c4c4c4;
}
.bthover:hover {
  border-bottom: 1px;
}
</style>
