<template>
  <div class="manageMaintenanceAsset">
    <v-card
      class="pa-0 ma-0 hidden-sm-and-down"
      elevation="1"
      tile
      color="white"
      style="height: 72px"
    >
      <v-container grid-list-xs>
        <v-row no-gutters>
          <v-col cols="12" md="9" style="font-size: 1.7rem" class="text-center">
            <v-row no-gutters>
              <v-col cols="12" md="3">แจ้งซ่อม</v-col>
            </v-row>
          </v-col>
        </v-row>
      </v-container>
    </v-card>
    <v-container grid-list-xs>
      <v-text-field
        class="pb-3"
        v-model="searchMaintenance"
        append-icon="mdi-magnify"
        label="ค้นหารายการแจ้งซ่อม"
        single-line
        hide-details
      ></v-text-field>
      <v-data-table
        :headers="Maintenanceheaders"
        :items="listMaintenance"
        class="elevation-1"
        :items-per-page="4"
        :search="searchMaintenance"
      >
        <template v-slot:[`item.create_at`]="{ item }">
          {{dateFormatDMY(item.create_at)}}
        </template>

        <template v-slot:[`item.transaction_status`]="{ item }">

          <v-chip
            color="red lighten-1"
            class="white--text pr-6"
            dark
            v-if="item.transaction_status == 0"
          >
            <v-icon class="pr-1">cancel</v-icon>เสียหาย
          </v-chip>

          <v-menu offset-y>
            <template v-slot:activator="{ on: menu, attrs }">
              <v-tooltip bottom color="white">
                <template v-slot:activator="{ on: tooltip }">
                  <v-btn
                    v-if="item.transaction_status == 1"
                    width="110"
                    height="33"
                    rounded
                    color="yellow lighten-1"
                    light
                    v-bind="attrs"
                    v-on="{ ...tooltip, ...menu }"
                  >
                    <v-icon color="black" class="pr-1"> info </v-icon>
                    ตรวจเช็ค
                  </v-btn>
                </template>
                <span class="black--text">ยกเลิก</span>
              </v-tooltip>
            </template>
            <v-list class="pa-0">
              <v-list-item @click="openCancelMaintenance(item)">
                <v-icon color="red" class="pr-1"> do_not_disturb_on </v-icon
                >ยกเลิก
              </v-list-item>
            </v-list>
          </v-menu>

          <v-chip
            color="light-green"
            class="white--text pr-6"
            dark
            v-if="item.transaction_status == 2"
          >
            <v-icon class="pr-1">check_circle</v-icon>ซ่อมแล้ว
          </v-chip>

          <v-chip
            color="grey lighten-1"
            class="white--text pr-8"
            dark
            v-if="item.transaction_status == 4"
          >
            <v-icon class="pr-1">do_not_disturb_on</v-icon>ยกเลิก
          </v-chip>
        </template>
        <template v-slot:[`item.position`]="{ item }">
          <v-tooltip bottom color="white">
            <template v-slot:activator="{ on, c1 }">
              <v-icon @click="showmaps(item)" v-bind="c1" v-on="on"
                >visibility</v-icon
              >
            </template>
            <span class="black--text">ดูที่ตั้ง</span>
          </v-tooltip>
        </template>

        <template v-slot:[`item.asset_name`]="{ item }">
          {{ item.asset_name }}
          <v-tooltip bottom color="white">
            <template v-slot:activator="{ on, c2 }">
              <v-icon @click="OpenApproveDetail(item.id)" v-bind="c2" v-on="on"
                >assignment</v-icon
              >
            </template>
            <span class="black--text">ดูรายละเอียด</span>
          </v-tooltip>
        </template>
      </v-data-table>
    </v-container>
    <v-dialog max-width="1100" v-model="Maps_group">
      <Showmaps :locaion="group_data" @close="closemaps" />
    </v-dialog>

    <v-dialog max-width="1100" v-model="Detail_group">
      <DetailAssetItem :Asset="group_data" />
    </v-dialog>

    <v-dialog width="500" v-model="Cancel.Request">
      <v-card class="pa-3">
        <v-card
          class="pa-2 mb-5 white--text"
          color="red"
          style="font-size: 1.3rem"
          >ยกเลิกการทำรายการ</v-card
        >
        <v-row no-gutters>
          <v-col cols="6" md="6" class="pr-1">
            <v-btn
              block
              outlined
              height="2.5rem"
              @click="(Cancel.Request = false), (Cancel.data = [])"
            >
              ยกเลิก
            </v-btn>
          </v-col>
          <v-col cols="6" md="6" class="pl-1">
            <v-btn
              block
              outlined
              color="red"
              height="2.5rem"
              @click="sendCancelRequest(Cancel.data)"
            >
              ยืนยัน
            </v-btn>
          </v-col>
        </v-row>
      </v-card>
    </v-dialog>

    <v-snackbar
      persistent
      v-model="snackbar"
      :timeout="3000"
      top
      right
      color="light-green"
    >
      <v-row no-gutters>
        <v-col cols="2" style="font-size: 1.1rem" class="text--white"
          ><v-icon large>check_circle</v-icon></v-col
        >
        <v-col
          cols="9"
          style="font-size: 1.1rem"
          class="text--white"
          align-self="center"
          >{{ resmessage }}</v-col
        >
        <v-col cols="1" align="right">
          <v-btn fab small text @click.native="snackbar = false"
            ><v-icon small>close</v-icon></v-btn
          >
        </v-col>
      </v-row>
    </v-snackbar>

      <v-dialog persistent max-width="300" v-model="popupDeny">
      <PopupAuthDen />
    </v-dialog>
  </div>
</template>

<script>
import api from "../../services/asset";
import Showmaps from "../../components/Approve/Showmaps.vue";
import DetailAssetItem from "../../components/Approve/DetailAssetItem.vue";
export default {
  name: "manageMaintenanceAsset",
  components: { Showmaps, DetailAssetItem },
  data: () => ({
    c2: "",
    c1: "",
    popupDeny: false,
    listMaintenance: [],
    clickAssetData: [],
    group_data: "",
    isActive: "",
    resmessage: "",
    Maps_group: false,
    snackbar: false,
    Cancel: {
      Request: false,
      data: [],
    },
    Detail_group: false,
    searchMaintenance: "",
    massage: "",
    Maintenanceheaders: [
      { text: "ลำดับ", align: "start", value: "id" },
      { text: "วันที่", value: "create_at" },
      { text: "ชื่อสินทรัพย์", value: "asset_name" },
      { text: "สถานที่", value: "position" },
      { text: "ข้อมูลผู้แจ้งซ่อม", value: "reporter" },
      { text: "อาการเสีย", value: "message" },
      { text: "สถานะ", value: "transaction_status" },
      { text: "หมายเหตุ", value: "response_message" },
    ],
  }),
  methods: {
    openCancelMaintenance(val) {
      this.Cancel.data = val;
      this.Cancel.Request = true;
    },
    sendCancelRequest(val) {
      api.CancelUserMantainRequest(
        this.$store.state.header,
        {
          id: val.id,
          asset_item_id: val.asset_item_id,
        },
        (result) => {
          this.resmessage = result.message;
          this.Cancel.data = [];
          this.Cancel.Request = false;
          this.snackbar = true;
          this.userBarNoti();
          this.listMaintenancedata();
        },
        (error) => {
          this.popupDeny = true;
          console.log(error);
        }
      );
    },
    // maps
    showmaps(val) {
      this.group_data = val;
      this.Maps_group = true;
    },
    closemaps() {
      this.Maps_group = false;
    },
    // Assert detail
    OpenApproveDetail(val) {
      this.group_data = val;
      this.Detail_group = true;
    },

    ClickAssetItemDetaildata(val) {
      api.ListAssetItemDetail(
        this.$store.state.header,
        {
          id: val.asset_item_id,
        },
        (result) => {
          this.clickAssetData = result.data[0];
          this.OpenApproveDetail(this.clickAssetData);
        },
        (error) => {
          this.popupDeny = true;
          console.log(error);
        }
      );
    },

    listMaintenancedata() {
      api.ListApprovewithdrawn(
        this.$store.state.header,
        {
          id: 0,
          process_id: 3,
        },
        (result) => {
          this.listMaintenance = result.data;
        },
        (error) => 
        {
          this.popupDeny = true;
          console.log(error);
        }
      );
    },
    userBarNoti() {
      try {
        api.Notify(
          this.$store.state.header,
          {
            id: sessionStorage.user_code,
          },
          (result) => {
            this.$store.state.approve = result.data.qty_1_2;
            this.$store.state.maintenance = result.data.qty_3;
          },
          (error) => {
            this.popupDeny = true;
            console.log(error);
          }
        );
      } catch (error) {
        console.log(error);
      }
    },
  },
  mounted() {
    this.listMaintenancedata();
    this.userBarNoti();
  },
  created() {},
};
</script>
