<template>
  <div>
    <v-container grid-list-xs v-if="status == 3">
      <v-row justify="center">
        <v-form v-model="valid1" ref="form" lazy-validation>
          <v-stepper v-model="e1">
            <v-stepper-items>
              <v-stepper-content step="1" class="pa-2" :style="heighttext">
                <v-row no-gutters>
                  <v-col cols="12">
                    <v-card
                      class="pa-3 white--text mb-2"
                      style="font-size: 1.5rem; text-align: center"
                      color="blue"
                    >
                      เลือกรายการ
                    </v-card>
                  </v-col>
                  <v-col cols="12" class="py-5" align="center">
                    <div>สถานะสินทรัพย์</div>
                    <div
                      v-if="status == 1"
                      style="font-size: 2rem"
                      class="blue--text"
                    >
                      <v-icon color="blue" size="30">inventory</v-icon>
                      อยู่ในคลัง
                    </div>
                    <div
                      v-if="status == 3"
                      class="green--text"
                      style="font-size: 2rem"
                    >
                      <v-icon color="green" size="30">work</v-icon>
                      กำลังใช้งาน
                    </div>
                    <div
                      v-if="status == 4"
                      class="green--text"
                      style="font-size: 2rem"
                    >
                      <v-icon color="green" size="30">work</v-icon>
                      แจ้งส่งคืนสินทรัพย์
                    </div>
                    <div
                      v-if="status == 5"
                      class="green--text"
                      style="font-size: 2rem"
                    >
                      <v-icon color="green" size="30">work</v-icon>
                      แจ้งซ่อมสินทรัพย์
                    </div>
                  </v-col>
                  <v-col cols="12" class="pa-1">
                    <v-btn
                      color="blue"
                      outlined
                      height="60"
                      x-large
                      @click="e1 = 3"
                      block
                      :disabled="status == 1"
                    >
                      ส่งคืน
                    </v-btn>
                  </v-col>
                  <v-col cols="12" class="pa-1">
                    <v-btn
                      color="blue"
                      outlined
                      x-large
                      height="60"
                      @click="dialog = true"
                      block
                      :disabled="status == 1"
                    >
                      เปลี่ยนผู้ใช้งาน
                    </v-btn>
                  </v-col>
                  <v-col cols="12" class="pa-1">
                    <v-btn
                      color="blue"
                      outlined
                      x-large
                      height="60"
                      @click="e1 = 5"
                      block
                      :disabled="status == 1"
                    >
                      แจ้งซ่อม
                    </v-btn>
                  </v-col>
                </v-row>
              </v-stepper-content>

              <v-stepper-content step="3" class="pa-2">
                <v-row no-gutters>
                  <v-col cols="12">
                    <v-card
                      class="pa-2 white--text"
                      style="font-size: 1.2rem"
                      color="blue"
                    >
                      <v-icon color="white" @click="e1 = 1"
                        >keyboard_arrow_left</v-icon
                      >
                      ส่งคืน
                    </v-card>
                  </v-col>
                  <v-col cols="12">
                    รหัสสินทรัพย์
                    <v-text-field
                      color="blue"
                      hide-details
                      :value="listwithdrawn.id"
                      readonly
                      solo
                    ></v-text-field>
                  </v-col>
                  <v-col cols="12">
                    ผู้รับผิดชอบ
                    <v-text-field
                      color="blue"
                      hide-details
                      :value="listwithdrawn.asset_name"
                      readonly
                      solo
                    ></v-text-field>
                  </v-col>
                  <v-col cols="12">
                    รายละเอียด
                    <v-textarea
                      color="blue"
                      :value="
                        listwithdrawn.description + ' ' + listwithdrawn.detail
                      "
                      rows="2"
                      hide-details
                      solo
                      readonly
                    ></v-textarea>
                  </v-col>
                  <v-col cols="12">
                    <div v-if="listwithdrawn.serial_number !== ''">
                      ซีเรียว
                      <v-text-field
                        v-model="listwithdrawn.serial_number"
                        color="blue"
                        readonly
                        solo
                      ></v-text-field>
                    </div>
                  </v-col>
                  <v-col cols="12">
                    รายละเอียดการคืน
                    <v-text-field
                      color="blue"
                      hide-details
                      :value="InsertDeposit.message"
                      solo
                    ></v-text-field>
                  </v-col>
                  <v-col cols="12">
                    ผู้คืนสินทรัพย์
                    <v-autocomplete
                      clearable
                      v-model="InsertDeposit.name"
                      :items="listusername"
                      item-text="name"
                      color="blue"
                      required
                      solo
                      deletable-chips
                    ></v-autocomplete>
                  </v-col>
                  <v-col cols="12">
                    แผนก
                    <v-autocomplete
                      clearable
                      v-model="InsertDeposit.departmentName"
                      :items="department"
                      item-text="position_name"
                      color="blue"
                      required
                      solo
                      deletable-chips
                    ></v-autocomplete>
                  </v-col>
                  <v-col cols="12">
                    <v-btn
                      color="yellow"
                      block
                      class="my-3"
                      @click="DepositReq()"
                    >
                      บันทึก
                    </v-btn>
                  </v-col>
                </v-row>
              </v-stepper-content>

              <v-stepper-content step="4" class="pa-2">
                <v-row no-gutters>
                  <v-col cols="12">
                    <v-card
                      class="pa-2 white--text mb-3"
                      style="font-size: 1.2rem"
                      color="blue"
                    >
                      <v-icon color="white" @click="e1 = 1"
                        >keyboard_arrow_left</v-icon
                      >
                      เปลี่ยนผู้ใช้งาน
                    </v-card>
                  </v-col>
                  <v-col cols="12">
                    รหัสสินทรัพย์
                    <v-text-field
                      color="blue"
                      hide-details
                      :value="listwithdrawn.id"
                      readonly
                      solo
                    ></v-text-field>
                  </v-col>
                  <v-col cols="12">
                    รายละเอียด
                    <v-textarea
                      color="blue"
                      rows="2"
                      solo
                      readonly
                      :value="
                        listwithdrawn.description + ' ' + listwithdrawn.detail
                      "
                    ></v-textarea>
                  </v-col>
                  <v-col cols="12">
                    <div v-if="listwithdrawn.serial_number !== ''">
                      ซีเรียว
                      <v-text-field
                        v-model="listwithdrawn.serial_number"
                        color="blue"
                        readonly
                        solo
                      ></v-text-field>
                    </div>
                  </v-col>
                  <v-col cols="12">
                    ผู้รับผิดชอบ (เดิม)
                    <v-text-field
                      v-model="listwithdrawn.name"
                      color="blue"
                      solo
                      readonly
                    ></v-text-field>
                  </v-col>
                  <v-col cols="12">
                    เบิกเมื่อ
                    <v-text-field
                      v-model="listwithdrawn.created_at"
                      color="blue"
                      solo
                      readonly
                    ></v-text-field>
                  </v-col>
                  <v-col cols="12">
                    รายละเอียดการเปลี่ยนผู้ใช้งาน
                    <v-text-field
                      v-model="ChangUser.message"
                      color="blue"
                      placeholder="กรุณากรอก"
                      solo
                    ></v-text-field>
                  </v-col>
                  <v-col cols="12">
                    ผู้รับผิดชอบ (ใหม่)
                    <v-autocomplete
                      clearable
                      v-model="ChangUser.name"
                      :items="listusername"
                      item-text="name"
                      color="blue"
                      required
                      solo
                      deletable-chips
                    ></v-autocomplete>
                  </v-col>
                  <v-col cols="12">
                    แผนก
                    <v-autocomplete
                      placeholder="กรุณาเลือก"
                      clearable
                      v-model="ChangUser.departmentName"
                      :items="department"
                      item-text="position_name"
                      color="blue"
                      required
                      solo
                      deletable-chips
                    ></v-autocomplete>
                  </v-col>
                  <v-col cols="12">
                    ปักหมุด
                    <v-card @click="openMark2">
                      <GmapMap
                        v-bind:center="listwithdrawn.position[0]"
                        v-bind:zoom="14"
                        map-type-id="terrain"
                        style="width: 100%; height: 200px"
                      >
                        <GmapMarker
                          v-bind:position="listwithdrawn.position[0]"
                          v-bind:clickable="true"
                        />
                      </GmapMap>
                    </v-card>
                  </v-col>
                  <v-col cols="12">
                    อธิบายสถานที่เพิ่มเติม
                    <v-text-field
                      v-model="ChangUser.mark_name"
                      color="blue"
                      placeholder="ไม่จำเป็น"
                      hide-details
                      solo
                    ></v-text-field>
                  </v-col>
                  <v-col cols="12">
                    ยืนยันรูปภาพ (กรุณาเพิ่ม)
                    <div class="hidden-md-and-up">
                      <v-img
                        width="100%"
                        :src="
                          ChangUser.urlfile == ''
                            ? 'https://firebasestorage.googleapis.com/v0/b/np-storage-it.appspot.com/o/IT_ASSET-2021-01-29%3A13%3A35%3A121?alt=media'
                            : ChangUser.urlfile
                        "
                        @click="$refs.fileUploads.click()"
                      />
                    </div>
                    <div class="hidden-sm-and-down">
                      <v-img
                        width="50%"
                        :src="
                          ChangUser.urlfile == ''
                            ? 'https://firebasestorage.googleapis.com/v0/b/np-storage-it.appspot.com/o/IT_ASSET-2021-01-29%3A13%3A35%3A121?alt=media'
                            : ChangUser.urlfile
                        "
                        @click="$refs.fileUploads.click()"
                      />
                    </div>
                    <input
                      color="blue"
                      type="file"
                      class="form-control-file"
                      id="fileUploads"
                      ref="fileUploads"
                      hidden
                      @change="testimg1"
                    />
                  </v-col>

                  <v-col cols="12">
                    <v-btn
                      color="yellow"
                      block
                      :disabled="ChangUser.urlfile == ''"
                      class="my-3"
                      @click="ChangUsercheck()"
                    >
                      บันทึก
                    </v-btn>
                  </v-col>
                </v-row>
              </v-stepper-content>

              <v-stepper-content step="5" class="pa-2">
                <v-row no-gutters>
                  <v-col cols="12">
                    <v-card
                      class="pa-2 white--text"
                      style="font-size: 1.2rem"
                      color="blue"
                    >
                      <v-icon color="white" @click="e1 = 1"
                        >keyboard_arrow_left</v-icon
                      >
                      แจ้งซ่อม
                    </v-card>
                  </v-col>
                  <v-col cols="12">
                    อาการเสีย
                    <v-autocomplete
                      v-model="InsertRepair.values"
                      :items="InsertRepair.items"
                      chips
                      color="blue"
                      clearable
                      deletable-chips
                      dense
                      multiple
                      solo
                      label="เลือก"
                    ></v-autocomplete>
                  </v-col>
                  <v-col cols="12">
                    อาการเสียเพิ่มเติม
                    <v-textarea
                      solo
                      color="blue"
                      v-model="InsertRepair.message"
                      placeholder="อธิบาย"
                      rows="4"
                    ></v-textarea>
                  </v-col>
                  <v-col cols="12">
                    ข้อมูลผู้แจ้งเรื่อง
                    <v-textarea
                      color="blue"
                      solo
                      v-model="InsertRepair.reporter"
                      placeholder="กรอกชื่อและเบอร์โทรศัพท์"
                      hint="กรอกชื่อและเบอร์โทรศัพท์"
                      rows="3"
                    ></v-textarea>
                  </v-col>
                  <v-col cols="12">
                    <div style="font-size: 1.2rem">รายละเอียดสินทรัพย์</div>
                  </v-col>
                  <v-col cols="12">
                    ชื่อสินทรัพย์
                    <v-text-field
                      :value="listwithdrawn.asset_name"
                      color="blue"
                      solo
                      readonly
                    ></v-text-field>
                  </v-col>
                  <v-col cols="12">
                    รายละเอียด
                    <v-textarea
                      color="blue"
                      rows="2"
                      solo
                      readonly
                      :value="
                        listwithdrawn.description + ' ' + listwithdrawn.detail
                      "
                    ></v-textarea>
                  </v-col>
                  <v-col cols="12">
                    <div v-if="listwithdrawn.serial_number !== ''">
                      ซีเรียว
                      <v-text-field
                        v-model="listwithdrawn.serial_number"
                        color="blue"
                        readonly
                        solo
                      ></v-text-field>
                    </div>
                  </v-col>
                  <v-col cols="12">
                    ผู้รับผิดชอบ
                    <v-text-field
                      v-model="listwithdrawn.name"
                      color="blue"
                      solo
                      readonly
                    ></v-text-field>
                  </v-col>
                  <v-col cols="12">
                    เบิกเมื่อ
                    <v-text-field
                      v-model="listwithdrawn.created_at"
                      color="blue"
                      solo
                      readonly
                    ></v-text-field>
                  </v-col>
                  <v-col cols="12">
                    <v-btn color="yellow darken-2" block class="white--text"
                      >แจ้งซ่อม</v-btn
                    >
                  </v-col>
                </v-row>
              </v-stepper-content>
            </v-stepper-items>
          </v-stepper>
        </v-form>
      </v-row>
    </v-container>

    <v-container grid-list-xs v-if="status === 1">
      <v-row no-gutters>
        <v-col cols="12" align="center">
          <v-card
            class="pa-2 white--text mb-2"
            style="font-size: 1.5rem"
            color="blue"
          >
            เบิกใช้สินทรัพย์
          </v-card>
        </v-col>

        <v-col cols="12">
          ผู้รับผิดชอบ
          <v-text-field
            color="blue"
            hide-details
            :value="itemdata.name"
            readonly
            solo
          ></v-text-field>
        </v-col>
        <v-col cols="12">
          รายละเอียด
          <v-textarea
            color="blue"
            :value="itemdata.description + ' ' + itemdata.detail"
            rows="2"
            hide-details
            solo
            readonly
          ></v-textarea>
        </v-col>
        <v-col cols="12">
          <div v-if="itemdata.serial_number !== ''">
            ซีเรียว
            <v-text-field
              color="blue"
              :value="itemdata.serial_number"
              hide-details
              readonly
              solo
            ></v-text-field>
          </div>
        </v-col>
        <v-col cols="12">
          เบิกใช้เพื่อ
          <v-text-field
            v-model="InsertApprove.message"
            color="blue"
            hide-details
            solo
          ></v-text-field>
        </v-col>
        <v-col cols="12">
          ผู้รับผิดชอบ
          <v-autocomplete
            clearable
            v-model="InsertApprove.username"
            :items="listusername"
            item-text="name"
            color="blue"
            required
            solo
            deletable-chips
          ></v-autocomplete>
        </v-col>
        <v-col cols="12">
          แผนก
          <v-autocomplete
            clearable
            v-model="InsertApprove.departmentName"
            :items="department"
            item-text="position_name"
            color="blue"
            required
            solo
            deletable-chips
          ></v-autocomplete>
        </v-col>
        <v-col cols="12">
          ปักหมุด
          <v-card @click="openMark">
            <GmapMap
              v-bind:center="InsertApprove.Position"
              v-bind:zoom="14"
              map-type-id="terrain"
              style="width: 100%; height: 200px"
            >
              <GmapMarker
                v-bind:position="InsertApprove.Position"
                v-bind:clickable="true"
              />
            </GmapMap>
          </v-card>
        </v-col>
        <v-col cols="12">
          อธิบายสถานที่เพิ่มเติม
          <v-text-field
            v-model="InsertApprove.mark_name"
            color="blue"
            hide-details
            solo
          ></v-text-field>
        </v-col>
        <v-col cols="12">
          ยืนยันรูปภาพ (กรุณาเพิ่ม)
          <div class="hidden-md-and-up">
            <v-img
              width="100%"
              :src="
                InsertApprove.urlfile == ''
                  ? 'https://firebasestorage.googleapis.com/v0/b/np-storage-it.appspot.com/o/IT_ASSET-2021-01-29%3A13%3A35%3A121?alt=media'
                  : InsertApprove.urlfile
              "
              @click="$refs.fileUpload.click()"
            />
          </div>
          <div class="hidden-sm-and-down">
            <v-img
              width="50%"
              :src="
                InsertApprove.urlfile == ''
                  ? 'https://firebasestorage.googleapis.com/v0/b/np-storage-it.appspot.com/o/IT_ASSET-2021-01-29%3A13%3A35%3A121?alt=media'
                  : InsertApprove.urlfile
              "
              @click="$refs.fileUpload.click()"
            />
          </div>
          <input
            color="blue"
            type="file"
            class="form-control-file"
            id="fileUpload"
            ref="fileUpload"
            hidden
            @change="testimg"
          />
        </v-col>
        <v-col cols="12">
          <v-btn
            color="yellow"
            block
            class="my-3"
            @click="withdrawReqcheck()"
            :disabled="InsertApprove.urlfile == ''"
          >
            บันทึก
          </v-btn>
        </v-col>
      </v-row>
    </v-container>

    <v-container grid-list-xs v-if="status === 2" style="padding-top: 15rem">
      <v-row align="center">
        <v-col cols="12">
          <v-img
            src="../../../src/assets/cancel.png"
            max-width="30%"
            class="mx-auto"
          ></v-img>
        </v-col>
        <v-col cols="12" align="center" style="font-size: 25px">
          ไม่มีสินทรัพย์นี้ในระบบ
        </v-col>
      </v-row>
    </v-container>

    <v-container grid-list-xs v-if="status === 4" style="padding-top: 15rem">
      <v-row align="center">
        <v-col cols="12">
          <v-img
            src="../../../src/assets/stopwatch.png"
            max-width="30%"
            class="mx-auto"
          ></v-img>
        </v-col>
        <v-col cols="12" align="center" style="font-size: 25px">
          แจ้งส่งคืนสินทรัพย์แล้ว
          <div>รอการอนุมัติ</div>
          <v-btn class="mt-4" color="yellow" @click="$router.push('/login')">
            เข้าสู่ระบบ
          </v-btn>
        </v-col>
      </v-row>
    </v-container>

    <v-container grid-list-xs v-if="status === 7" style="padding-top: 15rem">
      <v-row align="center">
        <v-col cols="12">
          <v-img
            src="../../../src/assets/time-management.png"
            max-width="30%"
            class="mx-auto"
          ></v-img>
        </v-col>
        <v-col cols="12" align="center" style="font-size: 25px">
          แจ้งซ่อมสินทรัพย์แล้ว
        </v-col>
        <v-btn class="mt-4" color="yellow" @click="$router.push('/login')">
          เข้าสู่ระบบ
        </v-btn>
      </v-row>
    </v-container>

    <v-container grid-list-xs v-if="status === 6" style="padding-top: 15rem">
      <v-row align="center">
        <v-col cols="12">
          <v-img
            src="../../../src/assets/package.png"
            max-width="30%"
            class="mx-auto"
          ></v-img>
        </v-col>
        <v-col cols="12" align="center" style="font-size: 25px">
          สิทนทรัพย์ไม่พร้อมใช้งาน
        </v-col>
      </v-row>
    </v-container>

    <v-dialog v-model="dialog1" width="300">
      <v-card color="white" height="250" class="pa-10">
        <v-row no-gutters justify="center">
          <v-img src="../../../src/assets/checked.png" max-width="50%"></v-img>
          <v-col
            cols="12"
            class="py-7 grey--text"
            style="text-align: center; font-size: 1.5rem"
          >
            {{ responMessage }}
          </v-col>
        </v-row>
      </v-card>
    </v-dialog>

    <v-dialog v-model="dialog" width="300">
      <v-card color="white">
        <v-row no-gutters justify="center">
          <v-img
            src="../../../src/assets/warning.png"
            max-width="30%"
            class="mt-6"
          ></v-img>
          <v-col
            cols="12"
            class="my-6 grey--text"
            style="text-align: center; font-size: 1.2rem"
          >
            สินทรัพย์นี้กำลังใช้งานอยู่ ต้องการเปลี่ยนผู้ใช้งานหรือไม่?
          </v-col>
          <v-col cols="6" class="pa-2">
            <v-btn block @click="dialog = false" color="red" outlined>
              ยกเลิก
            </v-btn>
          </v-col>
          <v-col cols="6" class="pa-2">
            <v-btn
              block
              @click="(dialog = false), (e1 = 4)"
              color="blue"
              outlined
            >
              ใช่
            </v-btn>
          </v-col>
        </v-row>
      </v-card>
    </v-dialog>

    <v-dialog max-width="900" v-model="Mark_group">
      <ScanMarkposition :Asset="group_data" @close="closeMark" />
    </v-dialog>

    <v-dialog max-width="900" v-model="Mark_group2">
      <ScanMarkposition2 :Asset="group_data" @close="closeMark2" />
    </v-dialog>

    <v-dialog max-width="300" v-model="popupload">
      <PopupApprove />
    </v-dialog>
  </div>
</template>

<script>
import api from "../../services/asset";
import PopupApprove from "../../components/Popup/PopupApprove";
import ScanMarkposition from "../../components/User/ScanMarkposition";
import ScanMarkposition2 from "../../components/User/ScanMarkposition2";
export default {
  name: "Approverequest",
  data() {
    return {
      e1: 1,
      responMessage: "",
      group_data: "",
      itemdata: {},
      department: [],
      InsertApprove: {
        username: "",
        mark_name: "",
        departmentName: "",
        message: "",
        Position: { lat: 18.807993528073183, lng: 99.01390420890557 },
        imagefile: "",
        urlfile: "",
        img:
          "https://firebasestorage.googleapis.com/v0/b/np-storage-it.appspot.com/o/IT_ASSET-2021-01-29%3A13%3A35%3A121?alt=media",
        urlFromApi: "",
        itemImg: "",
        genimg: "",
      },
      Mark_group: false,
      Mark_group2: false,
      popupload: false,
      value: null,
      listusername: [],
      panel: [0, 1],
      description: "",
      status: "",
      resultdata: [],
      valid1: true,
      heighttext: "",
      dialog: false,
      dialog1: false,
      listwithdrawn: {
        id: "1",
        asset_name: "aa",
        description: "aa",
        detail: "aa",
        serial_number: "1sd",
        name: "a",
        created_at: "2012",
        Position: [{ lat: 18.807993528073183, lng: 99.01390420890557 }],
      },
      InsertRepair: {
        items: ["เปิดไม่ติด", "ไฟไม่เข้า", "เครื่องรวน", "Error"],
        tempdata: "",
        values: [],
        message: "",
        reporter: "",
      },
      InsertDeposit: {
        message: "",
        name: "",
        departmentName: "",
      },
      ChangUser: {
        name: "",
        mark_name: "",
        departmentName: "",
        message: "",
        Position: { lat: 18.807993528073183, lng: 99.01390420890557 },
        imagefile: "",
        urlfile: "",
        img:
          "https://firebasestorage.googleapis.com/v0/b/np-storage-it.appspot.com/o/IT_ASSET-2021-01-29%3A13%3A35%3A121?alt=media",
        urlFromApi: "",
        itemImg: "",
        genimg: "",
      },
      messageRules: [(v) => !!v || "กรุณากรอกรายละเอียด"],
    };
  },
  components: { ScanMarkposition, ScanMarkposition2, PopupApprove },
  methods: {
    // ส่งซ่อม
    check() {
      this.popupload = true;
      if (this.InsertRepair.values == "" || this.InsertRepair.message == "") {
        this.InsertRepair.tempdata =
          this.InsertRepair.values + " " + this.InsertRepair.message;
        this.SendMaintenanceReqData();
      } else {
        this.InsertRepair.tempdata =
          this.InsertRepair.values + "," + this.InsertRepair.message;
        this.SendMaintenanceReqData();
      }
    },
    openMark() {
      this.Mark_group = true;
    },
    closeMark(val) {
      this.InsertApprove.Position = val;
      this.Mark_group = false;
    },
    SendMaintenanceReqData() {
      api.InsertScanMaintenance(
        {
          user_code: this.listwithdrawn.user_code,
          asset_id: this.listwithdrawn.asset_id,
          asset_item_id: this.listwithdrawn.id,
          location_pined_id: this.listwithdrawn.location_pined_id,
          message: this.InsertRepair.tempdata,
          reporter: this.InsertRepair.reporter,
        },
        (result) => {
          this.popupload = false;
          this.responMessage = result.message;
          location.reload();
        },
        (error) => {
          console.log(error);
        }
      );
    },
    // เบิกใช้
    withdrawReqcheck() {
      this.popupload = true;
      if (this.InsertApprove.urlfile == "") {
        this.withdrawReq(this.InsertApprove.img);
      } else {
        this.uploadimage();
      }
    },
    async testimg() {
      try {
        const formData = new FormData();
        formData.append("file", this.InsertApprove.selectedFile);
        formData.append("type", "customer");
        this.InsertApprove.imagefile = document.querySelector("#fileUpload");
        this.InsertApprove.urlfile = URL.createObjectURL(
          this.InsertApprove.imagefile.files[0]
        );
      } catch (error) {
        console.log(error);
      }
    },
    uploadimage() {
      const header = {
        headers: {
          "Content-Type": "multipart/form-data",
        },
      };
      const formData = new FormData();
      formData.append("file", this.InsertApprove.imagefile.files[0]);
      api.genItem(
        header,
        formData,
        (result) => {
          if (result.response === "success") {
            this.InsertApprove.urlFromApi = result.data.url;
            this.withdrawReq(this.InsertApprove.urlFromApi);
          } else {
            // result.message
          }
        },
        (error) => {
          alert(JSON.stringify(error));
        }
      );
    },
    withdrawReq(val) {
      api.InsertScanWithdraw(
        {
          confirmed_image: val,
          name: this.InsertApprove.username,
          position_name: this.InsertApprove.departmentName,
          asset_item_id: parseInt(this.itemdata.id),
          message: this.InsertApprove.message,
          mark_name: this.InsertApprove.mark_name,
          lat: this.InsertApprove.Position.lat,
          lng: this.InsertApprove.Position.lng,
        },
        (result) => {
          this.popupload = false;
          this.responMessage = result.message;
          location.reload();
        },
        (error) => {
          console.log(error);
        }
      );
    },
    // ส่งคืน
    DepositReq() {
      this.popupload = true;
      api.InsertScanDeposit(
        {
          name: this.InsertDeposit.name,
          asset_item_id: this.listwithdrawn.id,
          position_name: this.InsertDeposit.departmentName,
          message: this.InsertDeposit.message,
        },
        (result) => {
          this.responMessage = result.message;
          this.popupload = false;
          location.reload();
        },
        (error) => {
          console.log(error);
        }
      );
    },
    // เปลี่ยนผู้ใช้งาน
    ChangUsercheck() {
      this.popupload = true;
      if (this.ChangUser.urlfile == "") {
        this.ChangUserAssetItem(this.ChangUser.img);
      } else {
        this.uploadimage1();
      }
    },
    openMark2() {
      this.Mark_group2 = true;
    },
    closeMark2(val) {
      this.listwithdrawn.position[0] = val;
      this.Mark_group2 = false;
    },
    async testimg1() {
      try {
        const formData = new FormData();
        formData.append("file", this.ChangUser.selectedFile);
        formData.append("type", "customer");
        this.ChangUser.imagefile = document.querySelector("#fileUploads");
        this.ChangUser.urlfile = URL.createObjectURL(
          this.ChangUser.imagefile.files[0]
        );
      } catch (error) {
        console.log(error);
      }
    },
    uploadimage1() {
      const header = {
        headers: {
          "Content-Type": "multipart/form-data",
        },
      };
      const formData = new FormData();
      formData.append("file", this.ChangUser.imagefile.files[0]);
      api.genItem(
        header,
        formData,
        (result) => {
          if (result.response === "success") {
            this.ChangUser.urlFromApi = result.data.url;
            this.ChangUserAssetItem(this.ChangUser.urlFromApi);
          } else {
            // result.message
          }
        },
        (error) => {
          alert(JSON.stringify(error));
        }
      );
    },
    ChangUserAssetItem(val) {
      api.ChangUserItem(
        {
          confirmed_image: val,
          name: this.ChangUser.name,
          position_name: this.ChangUser.departmentName,
          asset_item_id: parseInt(this.listwithdrawn.id),
          message: this.ChangUser.message,
          mark_name: this.ChangUser.mark_name,
          lat: this.listwithdrawn.position[0].lat,
          lng: this.listwithdrawn.position[0].lng,
        },
        (result) => {
          this.popupload = false;
          this.responMessage = result.message;
          location.reload();
        },
        (error) => {
          console.log(error);
        }
      );
    },
    MaintenanceSuccessPopup() {
      this.dialog1 = true;
      setTimeout(() => {
        this.dialog1 = false;
      }, 3000);
    },
    ListApprovewithdrawndata() {
      api.SelectMaintenance(
        {
          id: parseInt(this.$route.params.id),
        },
        (result) => {
          this.status = result.status;
          if (this.status == 1) {
            //
          } else {
            this.listwithdrawn = result.data;
          }
        },
        (error) => {
          console.log(error);
        }
      );
    },

    SelectItemDetailData() {
      api.SelectItemDetail(
        {
          id: parseInt(this.$route.params.id),
        },
        (result) => {
          this.itemdata = result.data[0];
        },
        (error) => {
          console.log(error);
        }
      );
    },
    handleResize() {
      this.width = window.innerWidth;
      this.height = window.innerHeight;
      this.heighttext = "height:" + this.height + "px;";
    },
    ListDepartmantdata() {
      api.ListDepartment(
        {
          id: 0,
        },
        (result) => {
          this.department = result.data;
        },
        (error) => {
          console.log(error);
        }
      );
    },
    ListUsernamedata() {
      api.ListUsername(
        {
          id: 0,
        },
        (result) => {
          this.listusername = result.data;
        },
        (error) => {
          console.log(error);
        }
      );
    },
  },
  mounted() {
    this.ListUsernamedata();
    this.SelectItemDetailData();
    this.ListDepartmantdata();
    this.handleResize();
    this.ListApprovewithdrawndata();
  },
};
</script>

<style>
</style>