<template>
   <v-app id="app">
    <div id="nav"></div>
    <router-view />
  </v-app>
</template>

<script>
export default {
  name: "App",
  data: () => ({
    user: sessionStorage.userAccess,
  }),
  methods : {
    checkAuth() {
      this.user = parseInt(sessionStorage.userAccess)
    }
  },
  mounted(){
    this.checkAuth()
  },
  watch:{
    user(val){
      if(val){
        this.user = val
      }
    }
  },
};
</script>

<style>

@font-face {
  font-family: "Kanit-ExtraLight";
  src: url("assets/fonts/Kanit-Light.ttf");
}

#app {
  font-family: "Kanit-ExtraLight", sans-serif;
  color: #2c3e50;
  font-weight: 10;
}
</style>
